[2019-05-13 08:41] #3671 closed

[2019-05-13 13:20] jsnellbaker commented on #3803
@Vikramvijay6

Can you list out which adapters and modules you had used when building this file?  I tried to make a basic build with just a few adapters and modules, and it worked fine with a test page I loaded.

That said - I am seeing the error you noted when attempting to use your file, so I wanted to replicate making a build with the same parameters you used to investigate further.

[2019-05-13 15:00] bretg commented on #3796
Good find. Prebid.org doc updated http://prebid.org/dev-docs/modules/userId.html#examples

[2019-05-13 17:38] jsnellbaker commented on #3813
Hi @khatibda,

Do you have a URL available with the setup (and issue) you mentioned above so I can review further?  Thanks.

[2019-05-13 19:01] jsnellbaker commented on #3799
Hi @rhythmonebhaines

Sorry for the delay on this question...

I use the following when I need to debug some tests:
- add the following line of code somewhere in the unit test I plan to check: `debugger; //eslint-disable-line`
- run the following gulp command `gulp serve --watch --browsers=Chrome`

This command should launch a new headless Chrome and open the Karma debug page under `http://localho

[2019-05-14 08:16] woggle23 opened #3823 "Request for Bid "Streaming""
## Type of issue
Feature

## Description
At present Prebid doesn't provide a means to obtain the _current_ highest bidder at anytime during an auction, it's only available once the auction has completed. However, in some situations we don't control the auction timeout, as such, (previously) we weren't able to return any bids to the client. To resolve this, we updated our approach to listen to each

[2019-05-14 12:14] zsavishinskyCafeMedia commented on #3726
This is still relevant.

[2019-05-14 15:30] JulieLorin opened #3826 "When auction timeouts, all noBids are considered as nobids + timeout"
## Type of issue
I think this is a bug

## Description
When an auction ends because of a timeout, we will receive a BID_TIMEOUT event, with the list of all timeout bidders.
In this list, there will be timeout bidders, as well as "no bid" bidder (i.e. bidder for which we already received a NO_BID event)

## Steps to reproduce
You need a placement with two bidders, and a low timeout.
If you have one

[2019-05-14 17:28] bretg commented on #3818
Wow - that's an unfortunate one. Hard to believe no one caught that in several reviews. Ultimately it's my fault because that's how the original issue specified it. https://github.com/prebid/Prebid.js/issues/3046

At least the documentation is aligned with the code.

@idettman - please modify the code to look for both `usersync` and `userSync`, explaining in a comment that a future major release w

[2019-05-14 18:02] khatibda commented on #3813
@jsnellbaker.  i don't have a live url at present because we resolved why including the timeout property explicitly.  are you able to reproduce locally?  if not, i can look into pushing a test page with the bug still present.

[2019-05-14 18:08] jsnellbaker commented on #3813
I was trying some ways to artificially induce the scenario, but I was seeing the auctionEnd event emit successfully during those attempts.  If you can put something together that reliably reproduces the behavior, I would greatly appreciate it.

[2019-05-14 23:59] khatibda commented on #3813
@jsnellbaker here's your test page:
https://www.workandmoney.com/s/best-emerging-college-majors-394f2c2138404506?dbg_tests=pbjsTimeoutOff-enabled&pbjs_debug=true

notice how the auctionEnd doesn't get logged.

if you toggle into the control bucket (with the timeout property explicitly included in requestBids), you should see auctionEnd get logged.

https://www.workandmoney.com/s/best-emerging-coll

[2019-05-15 18:04] snapwich commented on #3795
It sounds like things are working as they should.

Prebid.js isn't a normal npm package, as you've probably noticed, in that it requires a parameterized build process to create a useable package (specifying only prebid modules you intend to use).  You probably shouldn't be listing Prebid.js as a direct npm dependency _unless_ you are using it as one: https://github.com/prebid/Prebid.js#usage-as-a-

[2019-05-15 19:55] tandrewnichols commented on #3795
Ok, let me clarify. The last case is the one I'm interested in. We have a custom build script to generate our prebid script using gulp. I'm personally not interested in a submodule. In my experience that doesn't do anything except cause pain. I've never tried a subtree. Specific implementation isn't the issue though. Something definitely _isn't_ working "normally" (even if it's "as it should" from

[2019-05-15 19:56] tandrewnichols commented on #3795
I definitely wouldn't advocate for moving gulp to `dependencies` as it's not a production dependency.

[2019-05-16 07:31] gs-ysingh commented on #3557
I am also facing this issue and tried reducing the cpm but still not luck. `pbjs.getAllPrebidWinningBids()` returns one bid but pbjs.getAllPrebidWinningBids() is empty.

[2019-05-16 07:31] jbartek25 commented on #3746
*ping*

[2019-05-16 15:18] jsnellbaker commented on #3813
@khatibda Thanks for providing the test pages.  I believe I found the cause for the auctionEnd event to not fire.

Basically, the event is hidden by a flag that's only active when you pass a function in the `bidsBackHandler` in the `pbjs.requestBids` function.

In the case of your first page, it's only passing the `adUnitCodes` property on the `requestBids` call.  Whereas your second page, is pass

[2019-05-16 16:44] khatibda commented on #3813
you are absolutely right, and we should have micro-tested this double difference.  in my local environment, if we include bidsBackHandler and not the timeout property, it works (auctionEnd fires).  if we include only the timeout and not the bidsBackHandler, it doesn't work.  so this confirms your theory.

that said...does this mean any pub who doesn't include bidsBackHandler isn't firing auctionEn

[2019-05-16 16:47] snapwich commented on #3795
Can you try installing `jasmine` in an empty directory?  e.g.
[code]

If I do that then `grunt` is not installed in either `node_modules` or `node_modules/jasmine/node_modules` even though it is listed as a devDependency of `jasmine`.

If I had to guess you're either seeing implicit dependencies that have been hoisted by other dependencies or there's something different about your package's config

[2019-05-16 17:54] tandrewnichols commented on #3795
Ok, I stand corrected. You're correct, grunt is not there. Maybe older versions of npm installed dev dependencies by default. Or maybe I'm crazy.

[2019-05-16 22:29] snapwich commented on #3795
Cool, let me know if you have anymore issues related to creating a custom build script for Prebid.js, I might be able to provide advice as I have undertaken similar tasks before, including creating the Prebid.js packager (I can answer any questions you might have there as well).

[2019-05-16 22:29] #3795 closed

[2019-05-17 14:55] jsnellbaker commented on #3813
I'm not sure that it's most pubs.  That said, I'll take a look at the logic and see if it can be handled better.

[2019-05-17 21:03] rhythmonebhaines commented on #3799
Awesome. Worked the first time. Thanks!

[2019-05-17 21:03] #3799 closed

[2019-05-17 23:35] pm-harshad-mane opened #3837 "Bug: bid.getCpmInNewCurrency does not use latest bid.cpm value and returns value as per original bid value."
## Description
Bug: bid.getCpmInNewCurrency does not use the latest bid.cpm value and returns value as per original bid value.
We need an API to convert bid from one currency to another.

## Scenario
I have set ad-server-currency in the config to INR, let's say USD to INR rate is 1:100.
I want to send bid value in INR to my ad-server but I want to send bid value in USD to my analytics.

The partne

[2019-05-18 04:25] mgarabedian commented on #2259
For anyone coming across this error message from DFP, you cannot manually display or refresh ads before googletag.pubadsReady is true. It will result in this error.

[2019-05-20 19:15] bretg commented on #3818
Confirmed that this is part of PR 3831. Closing this issue.

[2019-05-20 19:15] #3818 closed

[2019-05-20 19:16] bretg commented on #3796
Confirmed that this issue is resolved in PR #3831

[2019-05-20 19:16] #3796 closed

[2019-05-20 21:58] snapwich commented on #3837
I don't like the idea of modifying `bid.getCpmInNewCurrency` to accept multiple arguments.  It is a method of a bid instance and the instance should know what currency it is holding so the `fromCurrency` is redundant _unless_ you're giving it a currency that it's _not_ holding; but then why are you calling `bid.getCpmInNewCurrency()`?

I might be okay with having `bid.getCpmInNewCurrency()` acting

[2019-05-20 23:16] snapwich commented on #3746
Sounds like a bug to me.

All syncs coming from the bidderAdapter's `getUserSyncs` are registered on this `userSync` instance created here: https://github.com/prebid/Prebid.js/blob/master/src/userSync.js#L281

However, each userSync instance [keeps a flag on whether it's fired _all_ its syncs (as a whole)](https://github.com/prebid/Prebid.js/blob/master/src/userSync.js#L28) and then [won't fire ag

[2019-05-20 23:22] snapwich commented on #3746
It looks like the primary responsibilities of the userSync code is to enable/disabled, filter, and limit syncs across the board and per bidder.  If that's the case it probably makes sense in creating separate userSync instances per auction since I don't think we want the syncs fired from one auction limiting syncs from another auction?

[2019-05-20 23:40] pm-harshad-mane commented on #3837
Hello @snapwich ,

Thank you for your feedback.
I am also not in favor of Approach 1.
I will prefer Approach 2, as we already have the necessary data available for converting cpm value from one currency to another, I think we can provide an API in pbjs namespace.

I also agree that if someone changes bid.currency upon getting the bid it may be a very messy scenario, let's exclude this scenario in

[2019-05-21 09:46] couchcrew-thomas opened #3842 "Unit Test: How to test ajax calls"
## Question: How to test calls to `src/ajax` in unit tests?

## Description
I want to test that calls to `src/ajax` are called with the correct parameters for my custom adapter. The ajax request is used in the `onTimeout` and `onBidWon` callback. Because the ajax method is an exported function, it is not possible to stub it with sinon.

### Example Adapter Spec
[code]

### Intended Unit Test
[code

[2019-05-21 16:01] belezebu opened #3843 "AuctionInit event is not triggered when there are no bidders configured"
## Type of issue
Bug

## Description
I'm developing an analytics module and when I'm requesting bids for adunits without any bidder configured, the auctionInit event is not triggered but the auctionEnd event is. Is this the expected behaviour of the Prebid?

## Steps to reproduce
Request bids using adunits that don't have any bidders configured causes the auctionInit event to not be triggered but

[2019-05-21 21:48] pm-harshad-mane commented on #3837
Hello @snapwich ,

This is a bug when one used bidCpmAdjustment to update the bid.cpm.

[2019-05-21 22:11] #3790 closed

[2019-05-21 23:25] pm-harshad-mane commented on #3837
Hello @snapwich ,

I have made changes to solve the issue, #3845 , can you please review the changes?
I have just made a change to use the latest value of bid.cpm and bid.currency than using a cached value of both params. The change is not changing the definition of the API.

[2019-05-22 06:40] joycetsaiLTN opened #3847 "Can't download the wrapper"
## Type of issue
Ran into an issue when downloading the wrapper file.

## Description
Ran into an issue when downloading the wrapper file.

## Scrennshoot
https://drive.google.com/file/d/1MxtD8guw2l_GFir6GNNAUwlhpKAzRuTz/view?usp=sharing

[2019-05-22 19:58] bretg opened #3852 "Proposal: Standardizing COPPA"
## Type of Issue
Feature

## Description
Several bidders have ways for prebid users to pass the COPPA flag, but Prebid.js hasn't specified a standard way to specify it such that all bid adapters can access it.

## Proposal

This doesn't fit into the First Party Data `context` framework because the COPPA flag is always public and should be known to all adapters, while other first party data might b

[2019-05-22 20:33] bretg opened #3853 "Feature: s2sTesting support for suppressing client-based bids"
## Type of issue
Feature

## Summary
Support a mode in the s2sTesting module where only server-side bids will be made

## Description
One of the greatest limitations of client-side integrations is its reliance on the browser to process many responses. To improve publisher's ability to measure the impact of server-side header bidding, we've been asked to support a scenarios where *all* bidders happ

[2019-05-22 23:20] pm-harshad-mane opened #3855 "When currency module is enabled, all bid object should have originalCurrency and originalCpm properties"
## Type of issue
BUG

## Description
When we enable the currency module, the currency module adds originalCurrency and originalCpm properties to the bid object. But these properties are not added when bid.currency is same as config.currency.adServerCurrency. This makes some bid objects inconsistent with other bid objects. This makes it difficult for the bid object consuming codes like bidResponse

[2019-05-22 23:40] pm-harshad-mane commented on #3837
Test Page: http://jsfiddle.net/tfsercgk/

[2019-05-23 05:08] #3794 closed

[2019-05-23 14:48] chratcliff commented on #3847
Same for me, for a couple days now. It fails to generate the list of versions.

[2019-05-23 15:07] durangatan commented on #3847
Likewise!

[2019-05-23 15:58] adopsgal commented on #3847
Me as well, I've been trying for a few days.

[2019-05-24 16:57] millieone opened #3859 "30% Revenue Drop when upgrading from .34 to 2.16"
## Type of issue

## Description
We finally decided to upgrade. We were hesitant to upgrade above .34 as we had heard of revenue drops from people upgrading to 1.X. Upgraded from .34.16 to 2.16 yesterday on part of the site. Only one day of data but a 30% drop in revenue.  Should this correct itself over time?

Would like tips on what to do to optimize. We are getting bids from all our partners. 8

[2019-05-24 21:04] adopsgal commented on #3847
Still seeing the following error in console:

Access to XMLHttpRequest at 'http://js-download.prebid.org/download' from origin 'http://prebid.org' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.

[2019-05-28 04:01] Vikramvijay6 commented on #3803
@ Team

The adaptor which I have selected is below in the file and no module I have
selected:

appnexus
andbeyond
criteo
pubmatic
rubicon project

Regards
Vikram Vijay

On Mon, May 13, 2019 at 6:50 PM jsnellbaker <notifications@github.com>
wrote:

[2019-05-28 08:55] benjaminclot commented on #3226
I've recently come accross a new "pull your hair out" use case and what may be a solution.

MediaQuery | Banner Size
---------- | -----------
(min-width: 1200px) | 728x90
(min-width: 768px) and (max-width: 1199.98px) | 468x60
(min-width: 320px) and (max-width: 767.98px) | 300x250

MediaQuery | MPU Size
---------- | -----------
(min-width: 992px) | 300x250

Both the banner and the MPU are on the sa

[2019-05-28 16:14] JulieLorin commented on #3826
The issue is still relevant

[2019-05-29 08:31] jdelhommeau commented on #3226
to add to @benjaminclot's point, ability to declare same adUnit code multiple time and prebid then merging all response under same adUnit is pretty useful in numerous cases. It allows to circumvent some limitation from prebid, such as different mediaType declaration per bidder for same adUnit, different size per bidder for same adUnit, etc.
I made some test few weeks ago on this and this is workin

[2019-05-29 17:00] matsaman commented on #340
@sameerr25
You're probably using an old or customized `gpt.js`.

[2019-05-29 22:48] pm-harshad-mane opened #3870 "Proposal: Add support for passing SupplyChain Object to all bidders"
## Type of issue
Proposal New Feature

## Description
With Supply Chain Object coming as a new standard, Prebid should have a way to allow publishers to pass the first node of the supply chain object as mentioned in the examples on https://github.com/InteractiveAdvertisingBureau/openrtb/blob/master/supplychainobject.md

We can have an option through setConfig API to pass Supply Chain Object which

[2019-05-30 00:33] bretg commented on #3852
This was discussed in the Prebid.js committee meeting today. Rubicon will put it into our next sprint.

[2019-05-30 13:33] benjaminclot commented on #340
@matsaman why would you say that? `getSlots()` is an official method of the GPT Reference:
https://developers.google.com/doubleclick-gpt/reference#googletag.Service_getSlots

[2019-05-30 14:39] adxcgcom opened #3873 "Proposal: set cookie domain in pubcid / userid on main domain, not subdomain"
## Type of issue
Feature request

## Description
It is useful to have one pubCommonId for domain, not for each subsite.

As a possibile solution: in pbjs.setConfig publisher should set storage domain for cookie.

## Steps to reproduce
In fresh browser open Prebid auction with pubCommonId / unifiedId module enabled.

After checking LOCAL set cookies in Chrome: Application->cookies we see that both

[2019-05-30 19:28] headerbidding commented on #3859
My Chrome HeaderbidExpert plugin says:

Under Monetized
Problem: Rubicon, Openx, Pubmatic, Criteo had less time to bid, because they loaded much later than the other bidders.
How to fix: Load all bidders together.
Problem: AppNexus, Rubicon, Pubmatic, Criteo's bids did not count, because they responded later than the ad server request was sent out.
How to fix: Load these bidders earlier, or experi

[2019-05-31 11:24] #3742 closed

[2019-05-31 17:39] khatibda commented on #3813
test page is coming down, this feels like it was reviewed/addressed.

[2019-06-03 12:56] jsnellbaker commented on #3800
Implemented through https://github.com/prebid/Prebid.js/pull/3825

[2019-06-03 12:56] #3800 closed

[2019-06-03 16:51] jsnellbaker commented on #3803
@Vikramvijay6 Thanks for providing the modules.  I generated build files using this list through the download link on prebid.org/download.html as well as through a local version of the project.  In both cases, the generated files worked fine with the hello_world test page.

Have you seen this behavior occur with more recent versions of Prebid.js?  If so, which method from the two listed above are

[2019-06-03 17:51] pm-harshad-mane commented on #3837
Hello @snapwich,

We can close this issue as we have merged the  #3845 .

[2019-06-03 17:51] #3837 closed

[2019-06-04 09:16] benjaminclot opened #3878 "Automated building fails since 2.12"
## Type of issue
Since Prebid 2.12, our automated building process has been failing. It runs on a GitLab worker with a Docker node:latest image.

## Description
The culprit is the `fibers` module:
[code]
## Steps to reproduce
As far as I can tell, this module started to appear with the inclusion of the `wdio-mocha-framework` module.

## Other information
- [Request for an update of the `fibers` mo

[2019-06-04 10:05] 580 opened #3879 "rhythmoneBidAdapter alias issue"
## Type of issue
rhythmoneBidAdapter return bid response with incorrect bidderCode when alias on rhythmone.

## Description
rhythmoneBidAdapter return bid response with alias discarded, which cause an uncaught error:
`cannot read property 'bids' of undefined`.

## Steps to reproduce

1. Define an alias like:  pbjs.aliasBidder('rhythmone', 'rhy');

Excepted: bidder code from bid response should be

[2019-06-04 12:51] #3726 closed

[2019-06-04 14:41] millieone commented on #3859
Thanks for the info @headerbidding   The headerbidding expert tool is picking up partners that are from the waterfall. You said, "Rubicon, Openx, Pubmatic, Criteo" all were late bidding but none of them are in the HB setup.

I may try adjusting some of the setting that some people did when upgrade to 1.X

pbjs.setConfig({ userSync: { syncsPerBidder: 50 }, maxRequestsPerOrigin: 1, timeoutBuffer: 40

[2019-06-04 15:55] headerbidding commented on #3859
I think the defaults currently are:
syncsPerBidder: 5, syncDelay: 3000, maxRequestsPerOrigin: 4, enableSendAllBids: true, timeoutBuffer: 400
(I am not an expert. Let me know if you come across anything.)

[2019-06-04 19:18] patmmccann opened #3882 "Out of date user id module support documentation"
## Type of issue

## Description
Multiple pull requests for adapters supporting the user id module have not updated the documentation

## Test page
http://prebid.org/dev-docs/modules/userId.html

### Expected results
Index, sharethrough, pubmatic list which id's are supported

### Actual results

Bidder | IDs Supported
-- | --
beachfront | unifiedId/tradedesk
conversant | pubCommon
livewrapped | p

[2019-06-04 20:36] jaiminpanchal27 opened #3883 "User id module remove storage requirements"
## Type of issue
Feature request

## Description
1. Remove storage requirements from User id module. I have an id system which cannot store user id in local storage or cookie for more than 1 hour. It needs to hit the endpoint once every hour and get the latest user id.

[2019-06-05 15:19] bretg commented on #3882
Looking at PR #3744, IX doesn't actually support the UserID module.

The other two added to the docs site in https://github.com/prebid/prebid.github.io/pull/1339 and are now showing on http://prebid.org/dev-docs/modules/userId.html#adapters-supporting-the-user-id-module

[2019-06-05 15:19] #3882 closed

[2019-06-06 06:41] millieone commented on #3859
@headerbidding as for letting them drop 50 cookies, we have not implemented that. But there was this thread:
https://github.com/prebid/Prebid.js/issues/2648#issuecomment-401735019
which talked about a revenue drop from going to 0.x to 1.X  And that was a suggested solution. Also it is discussed here: https://www.reddit.com/r/adops/comments/9tcgwm/upgrading_to_prebid_1x_leads_to_20_drop_in/

Perhap

[2019-06-06 10:47] manuelhoyoarold opened #3887 "Feature request: Smart call mode: 'std' and 'onecall'."
## Description
I think it's not possible using 'onecall' mode as described here http://prebid.org/adops/setting-up-prebidjs-with-Smart-Ad-Server.html#setup only setting up bid params (without code).
I think it shoud be a bid param called 'callMode' or similar that accepts values 'std' and 'onecall' and other called 'formats' in case you use 'onecall' mode.
PD: These are current bid params: http://

[2019-06-06 19:05] headerbidding commented on #3859
Perhaps someone more experienced here can help?
By the way, why do you have prebid header bidding AND a waterfall?

[2019-06-06 19:10] r-schweitzer opened #3888 "SendAllBids Bid Cap"
## Type of issue
Feature

## Description
This the same issue as described in #3800

In certain scenarios, Prebid may generate a large number of targeting keys after an auction has completed. An issue could arise when Prebid needs to send all these keys (and their values which can vary in length) to GAM or any other ad server, as this data is typically sent over as query-data in the ad server's req

[2019-06-07 02:52] pm-harshad-mane commented on #3855
we can close this issue as we have merged the changes to master.

[2019-06-07 02:52] #3855 closed

[2019-06-07 02:54] pm-harshad-mane commented on #3883
Hello @jaiminpanchal27 ,
if the end-point needs to be hit every hour and not on every impression then the id-provider will need to store the id for at least an hour, then I think we need to store it somewhere (cookie, local-storage).
Am I missing something?

[2019-06-07 02:57] pm-harshad-mane commented on #3566
Hello @jaiminpanchal27 ,

I think the issue is fixed and can be closed,
Refer https://github.com/prebid/Prebid.js/blob/master/modules/sortableBidAdapter.js#L138

[2019-06-07 19:23] bretg commented on #3852
Reviewed with Eve. We're planning on moving forward with this.

[2019-06-08 05:16] pm-harshad-mane commented on #3888
Hello @r-schweitzer ,
Can you please share a test-page where with this scenario?

@mkendall07 @jsnellbaker I think the issue is due to large values stored in native assets key-value pairs as other key-value pairs do not have large values. Can we avoid sending native assets in key-value pairs and share an API which will return requested asset from a specified creative(using bid-id)? this will help

[2019-06-10 14:00] GLStephen commented on #3746
Is there a technical reason to have the same bidder sync on multiple auctions? Do bidders currently each sync multiple times in the same auction for some reason?

I think that many people may be expecting the userSync code (at least in part) to limit the total syncs and the associated requests, bandwidth, page load, etc. Given that, it would make sense to still treat it globally and ensure that ea

[2019-06-10 19:30] r-schweitzer commented on #3888
@pm-harshad-mane I believe in CafeMedia's case it has more to do with the number of bidders we use and number of ad slots we can have on a page when sendAllBids is enabled with SRA. I do not have a test page where this is occurring currently but I ran a test locally on the following url:

https://www.comicsands.com/chick-fil-a-rodney-bullard-2637626462.html?utm_content=inf_10_3759_2&utm_source=fac

[2019-06-10 19:47] jsnellbaker opened #3894 "sizeConfig and multiformat"
## Type of issue
Bug or Feature Request

## Description
**note - made some updates based on further review and testing out potential fixes**

The sizeConfig logic is currently configured to allow bids of either a `video` or a `native` mediaType effectively a free-pass through its checks/filters.  This makes sense to a degree, as these bid types don't generally rely on size dimensions being a key p

[2019-06-11 07:11] AntoineJac commented on #3894
@jsnellbaker , I have tested and confirmed the issue.
When using several mediaTypes with labelAll or LabelAny, the sizes will always be the intersection of banner.sizes and sizeConfig.sizesSupported. The label name and condition is not taking into account.

[2019-06-11 11:07] #3842 closed

[2019-06-11 17:07] #3843 closed

[2019-06-11 19:32] snapwich commented on #3746
Yeah I think I agree with you here @GLStephen, I think this logic needs to be updated.

There is #3320 that now has the syncs firing for each auction unless [`enableOverride`](http://prebid.org/dev-docs/publisher-api-reference.html) is enabled, but as you mention that will cause syncs to fire multiple times for the same bidder.  The bug here is that a bidder that wasn't included in the first aucti

[2019-06-11 19:43] donthexyz commented on #3859
We had similar issues of loss in revenue when upgrading from Prebid 0.34. The only reason we did upgrade is that Amazon AUM more than made up the loss from Prebid so our overall Revenue even increased slightly.

See here: https://www.reddit.com/r/adops/comments/a42ki1/prebid_1x_upgrade_ab_test_with_aum_amazon_prebid/

We did initially have `maxRequestsPerOrigin : 1` but after A/B testing saw no pe

[2019-06-11 21:35] headerbidding commented on #3859
@donthexyz: Have you done the "AUM Parallel Integration alongside Prebid" exactly per the Amazon suggested script?

[2019-06-11 21:53] donthexyz commented on #3859
Amazon actually did it for me and yes it was the parallel integration. I have not tweaked it.

[2019-06-12 15:31] benjaminclot commented on #3266
_ping_
Same question with the universal creative.

[2019-06-12 15:40] belezebu opened #3898 "Currency conversation rate"
## Type of issue
Question

## Description
Hello guys!
I'm trying to convert back the bids back to e.g. USD dollars and I can't find an easy way to get the current currency being used.

There is any way to get the currency rate used by the currency module for a given currency?

E.g. Prebid is emitting events in INR at the bidWon event, how do I know the currency rate to convert it back to USD (or a

[2019-06-12 16:05] benjaminclot opened #3899 "Deal specific line items don't work"
## Type of issue
Deals don't work as advertised in the [docs](http://prebid.org/adops/deals.html).

## Description
When creating a deal specific line item, that LI wins but the [Universal Creative](https://github.com/prebid/prebid-universal-creative) code doesn't support it and only uses `hb_adid` which may not be the deal's ad ID.
My guess is that it's not possible to know why GAM elected a LI to

[2019-06-12 16:14] benjaminclot commented on #3878
As per [this post](https://github.com/webdriverio-boneyard/wdio-mocha-framework/issues/155#issuecomment-501193766) (and others in the project), it is recommended to upgrade WebdriverIO to v5.

[2019-06-12 17:24] adxcgcom opened #3900 "Proposal: Standardizing UserId module OpenRTB format"
## Type of issue
Discussion

## Description
After evaluating 3 different manuals for UserId module or similar functionality we see, that we have 3 different definitions of how data should be written in OpenRTB format.

If Prebid can put together and in future merge all ideas, it would benefit all the community and simplify daily AdOps and development in OpenRTB community.

prebid:
WHO :user.ext.tp

[2019-06-13 10:21] kenju opened #3903 "adUnits.sizes is overwritten when mediaType.banner.sizes & mediaType.video.playerSize coexists"
## Type of issue

A question (this can be a bug I think)

## Description

Let's say, we define both

- `mediaTypes.banner.sizes`
- `mediaTypes.video.playSize`

[code]

This is because, `src/Prebid.js` overwrites `adUnits.sizes` with `mediaType.video.playerSize` once after `mediaType.banner.sizes` are set.

https://github.com/prebid/Prebid.js/blob/5ba930d20f2aeb4318372af9afda0b676fc820e0/src/prebid

[2019-06-13 17:19] webdeveloperpr opened #3904 "Optimera adapter fails to build."
## Type of issue
bug @mcallari

## Description
Cannot use Optimera bid adapter because if an incorrect file reference.

**index.js**

This is what my file looks like:

[code]

## Where is the issue

here: https://github.com/prebid/Prebid.js/blob/master/modules/optimeraBidAdapter.js#L1

You can see the other adapters referencing this line relative instead of absolute.
ex: https://github.com/prebid/

[2019-06-13 18:04] #3904 closed

[2019-06-13 20:29] bretg commented on #3898
See this example in the Rubicon Project analytics adapter -- https://github.com/prebid/Prebid.js/blob/master/modules/rubiconAnalyticsAdapter.js

It converts the bid cpm to USD by calling a function in the currency module.
[code]
Not sure, but I this might only work to convert back to USD and GPB if you're using the prebid-hosted currency file. If you need another currency, you may need to host you

[2019-06-13 20:29] #3898 closed

[2019-06-13 20:43] millieone opened #3907 "Oustream video error: Error processing command : prebid.js TypeError: Cannot set property 'h' of undefined"
Using prebid 2.16. Only were using banners.

Tried to implement oustream videos by solely adding a video media type as below. Nothing else was changed with the bidders.
`
mediaTypes: {
banner: {sizes: [[300, 250]] },
video: { context: 'outstream',playerSize: [300, 250] }
}
`
In response we get this error:
ERROR: Error processing command : prebid.js TypeError: Cannot set property 'h' of undefined

[2019-06-13 20:45] millieone commented on #3859
@donthexyz  did you do anything with the  { syncsPerBidder: 50 }, or timeoutbuffer? or just leave at defaults?

[2019-06-13 21:22] bretg commented on #3899
Sorry for the silence on this issue @benjaminclot. The answer in #3266 is close to correct, but it's not quite as bad as it sounds:

Really it's just a unique line item and creative per bidder, not for every deal. e.g. targeting could be to hb_deal_BIDDERCODE in (1111,2222,3333).

I've updated the deals page on prebid.org -- http://prebid.org/adops/deals.html#step-4-attach-creatives-to-line-items

[2019-06-13 21:40] bretg commented on #3900
Would have been nice to have this feedback during the (lengthy) comments period on https://github.com/prebid/Prebid.js/issues/3046, but I guess better late than never. :-)

Overall, I agree with you that we should adopt the user.ext.eids[] approach since that seems to be a standard we were unaware of. (I only referenced the OpenRTB spec while writing the original issue.)

Unclear that we need to c

[2019-06-13 21:46] donthexyz commented on #3859
we left it at defaults

[2019-06-13 21:58] bretg commented on #3900
Since we're about to work on DigiTrust, looked it up and found their standard is different. https://github.com/digi-trust/dt-cdn/wiki/OpenRTB-extension

I don't see a standard for how PubCommon ID is supposed to be represented in OpenRTB. @pycnvr - any pointers? (Asking because you seem quite involved in the pubcommon effort)

So here's a full OpenRTB example for TDID, PubCommon, and DigiTrust --

[2019-06-13 22:21] benjaminclot commented on #3899
@bretg as much as I do agree with your statement and solution, this doesn't work with `sendAllBids: false` as the adid for the deal is not being sent as far as I can tell.

[2019-06-13 23:42] snapwich opened #3908 "userID and adpod modules being included in prebid-core"
## Type of issue
bug

## Description
The userId and adpod modules are being included in prebid-core:
<img width="433" alt="Screen Shot 2019-06-13 at 5 15 35 PM" src="https://user-images.githubusercontent.com/551085/59473260-e5e96a80-8dfe-11e9-8099-d270fdc05d93.png">

This is happening because the modules are being referenced from other modules directly:
https://github.com/prebid/Prebid.js/blob/mas

[2019-06-14 09:47] salvoaranzulla opened #3909 "Bug in currency module"
## Type of issue

Bug

## Description

There is a bug in currency module. If you specify "rates" manually and "defaultRates" at the same time, "defaultRates" overwrites "rates".

## Steps to reproduce

## Test page

### Expected results

I think you should fix this line:

https://github.com/prebid/Prebid.js/blob/master/modules/currency.js#L63

with

if (typeof config.defaultRates === 'object' && !

[2019-06-14 14:35] jaiminpanchal27 commented on #3908
I tried one approach to solve this in one of my PR here https://github.com/prebid/Prebid.js/pull/3787/files#diff-583ded51e69735951bd128c9066eca2fR31

I added a common folder inside modules which will be a place to keep all shared code for modules. Intent here is that for any publisher they should only specify what id system they want to use in --modules. userId module is the base of it and should

[2019-06-14 17:56] goosemanjack commented on #3908
The userId system was designed with each IdSystem operating as a submodule of the userId module. In order to avoid build breaks where an IdSystem submodule is included in the build, but the userId is not explicitly included the userId gets automatically pulled in. If you don't want this included you should be able to exclude the digiTrustIdSystem to remove this dependency.  So to be clear, this is

[2019-06-14 18:07] goosemanjack opened #3911 "DigiTrustIdSystem does not build facade object if an ID is found by the userId system"
## Type of issue
Bug.

## Description
The slim deployment of DigiTrust via the userId system only builds the facade when an ID must be generated. If an ID is already present at load all the DigiTrust APIs are not available.

## Steps to reproduce
1. Deploy prebid
2. Open digitrust_Simple.html page. In JS console check window.DigiTrust to confirm object exists.
3. Reload page. In JS console check w

[2019-06-14 19:52] webdeveloperpr opened #3912 "Error tryin to use prebid.js with SSR rendering where the window object is not available"
## Type of issue
Feature

## Description
Seems like prebidJS assumes that the window object is always available on the client. We have a React SSR application that imports prebid and it fails on the server because window is not available

### Expected results

I am expecting the application to still be running even without the window object, or maybe a function that to initiate prebid instead of r

[2019-06-14 19:54] snapwich commented on #3908
I'm not sure I follow. If the modules ends up in prebid-core (like they are doing) that means they are included in all prebid.js bundles whether the digiTrustIdSystem system is included or not. Sounds unexpected considering you just described a different expected behavior.

@jaiminpanchal27 I'm checking out your code and taking a look right now. My intuition is saying this is going require either

[2019-06-14 19:55] pycnvr commented on #3900
Hi @bretg, agreed.  This doesn't sound like it will affect prebid.js user id module, but prebid-server instead.  My understand is that example in [UserId Module](http://prebid.org/dev-docs/modules/userId.html) is just a suggestion.  Not all bidders use OpenRTB, and the IDs can be repackaged accordingly.  The UserId and its submodules does not dictate or use OpenRTB formats.

The user.ext.eids appr

[2019-06-14 20:52] bretg commented on #3908
@jaiminpanchal27 - agree with @snapwich here -- userId and sub-mods can't be included by default.

[2019-06-14 21:05] goosemanjack commented on #3908
@bretg  That would actually be a fairly significant behavioral change to the existing build process. Per build instructions in Readme:

_The standard build output contains all the available modules from within the modules folder._

In order to exclude these modules you must specifically identify the modules you do want to include. EX:
[code]
https://github.com/prebid/Prebid.js#user-content-build-o

[2019-06-14 21:19] #3847 closed

[2019-06-14 21:44] snapwich commented on #3908
@goosemanjack the standard build output isn't meant for production use.  It's for testing and development. To get an actual _production_ build people either: download through the download page (which is essentially an abstraction over `gulp build --modules=...`), include prebid-core and modules individually through npm into their application, or build their own prebid.js bundle from command line u

[2019-06-14 22:37] snapwich commented on #3909
I agree that `rates` should ideally trump `defaultRates` although I'm kind of curious on your use case where you're using both?  I've always seen these two features as mutually exclusive.

[2019-06-14 22:44] snapwich commented on #3912
I can look into this.  Ideally it should probably be using `global` rather than `window` and I can probably fix that, however I'm not positive that you won't run into further issues with Prebid.js exporting itself onto the server-side global.  Usually when it comes to SSR applications there are methods to avoid code execution in certain contexts (client vs server), does your SSR framework provide

[2019-06-17 14:17] mkendall07 commented on #3873
@idettman
can you take a look at this?

[2019-06-17 14:28] bretg commented on #3900
Thanks @pycnvr. Noted.

Also - we discussed in the Prebid Server committee last week and approved this change.

[2019-06-17 15:47] DecayConstant opened #3917 "EMX Digital import reference error"
## Type of issue
Bug @EMXDigital

## Description
The EMX Digital adapter has reverted to importing files by absolute paths, not relative paths.  They had fixed the issue previously: https://github.com/prebid/Prebid.js/pull/3731#discussion_r274086132

## Steps to reproduce
Try importing the EMX Digital adapter.
[code]

That results in this error message:
[code]

## Other information
The regression

[2019-06-17 18:38] bretg commented on #3899
Not quite following @benjaminclot.

1) enableSendAllBids was built for deals. `hb_adid` is always for the bid that had the highest CPM. If the deal wasn't the highest bid, it will still be sent as hb_deal_BIDDER and hb_adid_BIDDER.
2) line items in the ad server should target to hb_deal_BIDDER. The creatives would refer to hb_adid_BIDDER
3) I verified the behavior here works as expected in the ena

[2019-06-17 19:08] bretg commented on #3894
Am ok with this feature @jsnellbaker . Thanks for expanding the requirements to make the feature work for multi-size.

I don't think we can change the behavior of the labels without becoming quite confusing. A label check failing means the adunit/bid is rejected.

Do you have cycles to update the prebid.org docs?

http://prebid.org/dev-docs/publisher-api-reference.html#setConfig-Configure-Responsi

[2019-06-18 10:38] benjaminclot commented on #3899
I understand where my explanations might not be clear @bretg so let me try again.

Take these bid response: ```
appnexus
* bid: 1.00
* deal ID: 12345
* ad ID: abcde

rubicon
* bid: 1.10
* no deal
* ad ID: fghij
[code]

Whereas with `enableSendAllBids: false`, we get:```
hb_deal_appnexus = 12345
hb_pb = 1.10
hb_bidder = rubicon
hb_adid = fghij
[code]

On a side note, I'm also wondering how is handl

[2019-06-18 14:36] jsnellbaker commented on #3894
Thanks for the feedback @bretg
I'll start putting the changes together, as well as the docs changes.

[2019-06-18 15:41] jsnellbaker commented on #3917
@DecayConstant Thanks for raising this issue; I found there were import syntax issues for several other adapters as well.  I'll put together a fix for this in a bit.

[2019-06-18 16:04] #3813 closed

[2019-06-18 16:14] #3917 closed

[2019-06-18 17:25] webdeveloperpr commented on #3912
I ended up using `require` statements to load prebid inside a function. This seems to work fine.

[code]

[2019-06-18 17:41] #3826 closed

[2019-06-19 08:00] JulieLorin commented on #3826
still relevant

[2019-06-19 13:18] #3912 closed

[2019-06-19 14:58] bretg commented on #3899
Thanks for the explanation -- we'll discuss what to do about this: understood that targeting values come in sets, and if we're only providing one element of the set, that's bad.

Only the highest bid from each bidder is considered.

[2019-06-19 21:19] mannzer opened #3931 "Update AppNexus test params"
## Type of issue
The AppNexus adapter does not meet the stated requirements at http://prebid.org/dev-docs/bidder-adaptor.html

## Description
The requirements state: "A test ad unit that will consistently return test creatives. This helps us to ensure future Prebid.js updates do not break your adapter. Note that if your adapter supports video (instream and/or outstream context) or native, you must

[2019-06-19 21:25] mkendall07 commented on #3931
Hi @mannzer
Thanks for letting us know. We'll take a look and see if they need updated.

BTW I think if you audited the adapters you'd find a majority do not have live params. it's a big issue unfortunately

[2019-06-20 00:08] bretg commented on #3899
We discussed in the meeting today and resolved:

1) We'd like to address this, but we don't want to make any breaking changes until the next major release.
2) This topic is related to the general recent concern around how many ad targeting parameters are being sent to the ad server.
3) We want to require a config change that will be needed to change the current behavior.

Proposed config:

[code]

[2019-06-20 15:26] Soben opened #3933 "Running `gulp build` produces no errors, but no files."
## Type of issue
Bug, I think?

## Description
I'm running `gulp build` with 4 modules, and it doesn't throw any errors, but I don't have any /dev/ folder in /build and /dist contains every single bid adapter.

## Steps to reproduce
[code]

### Expected results
I expected to see /dev and /dist folders

### Actual results
/dist shows up in build, but it's including far more than expected

## Platfo

[2019-06-20 15:50] mkendall07 commented on #3899
Hey @bretg . We already have a `targetingControls` attribute: http://prebid.org/dev-docs/publisher-api-reference.html#setConfig-targetingControls
[code]

[2019-06-20 17:11] jsnellbaker commented on #3933
Hi @Soben,

Just to clarify - did you want to make a dev build with these modules?  Or a prod build?

The `gulp build` makes the production version of the build file, and that gets placed into the `dist` folder.

If you want to make a dev build (so you can debug the code), you can run `gulp build-bundle-dev` (note you may want to run `gulp clean` first to clear out older build files).

As a separa

[2019-06-20 17:24] lanceloti opened #3934 "Rubicon Outstream & Prebid Universal Creative: Cannot read property 'crid' of undefined"
## Type of issue
Bug

## Description
I don't know if it is a Rubicon adapter problem or Prebid Universal Creative one.

Prebid Univeral Creative is trying to get the VAST response intead of calling custom render of adunit.

If I use the older prebid creative it works fine.

## Steps to reproduce
Configure one Outstream adunit with Rubicon as bidder. DFP creatives must use safe-frame and Prebid Uni

[2019-06-20 17:37] jsnellbaker commented on #3931
Hi @mannzer

Can you provide a copy of the test-page you used (or at least a copy of the request's data payload object)?

I setup a test with the hello_world using all the adUnit examples from the `appnexusBidAdapter.md` file and the response from the AN endpoint didn't show the member errors.  Did you happen to have another appnexus adUnit/bid present at the same time you did your test?

[2019-06-20 18:12] Soben commented on #3933
Hey @jsnellbaker

We have a hosting provider for a site that requires a unminified copy of the file, so I need to run both production and development.

Unfortunately, the README.md did not clarify the need to run `gulp build-bundle-dev` which is why I missed that.

Thanks for that, as I do now see it working with the /dev folder.

However, when looking at the built `prebid.js` file, I am not findi

[2019-06-20 18:13] Soben commented on #3933
it says that it's concatenating

[code]

but I'm just not seeing it like if I went through the "Download" process on prebidjs.com

[2019-06-20 18:24] Soben commented on #3933
Looking at it again, and it appears to be working. Thanks for the hint on the dev mode. I'll mark this as closed.

[2019-06-20 18:24] #3933 closed

[2019-06-20 18:42] bretg commented on #3852
Based on feedback from code inspection, we've changed the design back to having the bid adapters each call `getConfig` instead of having core put it on the bidrequest object.

[2019-06-21 10:52] benjaminclot commented on #3899
As a temporary fix, I've enabled `enableSendAllBids: true` for now and added some new creatives like @bretg [suggested](http://prebid.org/adops/deals.html#step-4-attach-creatives-to-line-items). Lots of key-values but that's better than nothing.

Talking about the future, I think the goal for deals should be to get them all. In the case of deals, you can't let Prebid decide: the ad server should g

[2019-06-24 07:15] tkwillis opened #3939 "Prebid.js SSP impression tracking and viewability broken since v2.3.0 on Edge and IE11"
## Type of issue
Bug

## Description
On upgrading from Prebid 1.37 to 2.11.0 we encountered a large discrepancy between DFP and all ur Prebid Partners. We isolated to IE11/Edge. Impressions for these browsers in SSP consoles were effectively 0 on v2.11.0.  Upon further investigation DFP/GAM viewability for Edge/IE11 was zero. Roughly 10% of impressions for us, so small but not insignificant. We ro

[2019-06-24 17:13] #3803 closed

[2019-06-24 20:25] webdeveloperpr opened #3942 "index bidder placement mapping"
## Question

## Description
Right now we have over 200+ different placements on our page, and it is very painful to map them or update them on our side. I was wondering it it was possible to somehow be able to use a single siteID and just pass the sizes like Criteo does.

[2019-06-25 07:18] ssick commented on #3939
I can confirm this issue. We rolled back the prebid.js version from 2.9.0 to 1.21.0 eventually after we had discovered that there were problems with viewability.

Thanks for the detailed analysis!

[2019-06-25 11:16] #3879 closed

[2019-06-25 12:51] GLStephen commented on #3226
@jdelhommeau @benjaminclot we are using this technique and it seems to work. We're working with 100s of sites and the variety of configurations is impressive to say the least. The option to declare size configs in a more GAM/GPT sort of way would ultimately be ideal, but this approach of double declaration allows us to implement some scenarios we are encountering more easily.

@bretg It would be g

[2019-06-25 14:18] lanceloti commented on #3931
Hi, this member error occurs when you mix placements from different accounts.

[2019-06-25 14:56] sgallo0692 commented on #3939
can you clarify on the firefox example provided? This doesn't impact firefox, does it?

[2019-06-25 15:00] GLStephen commented on #3939
@sgallo0692 this  was the code added in #3524
'''
doc.open('text/html', 'replace');
'''
I think that @tkwillis suggestion is to wrap it in a browser check since the unintended consequence seems to be an IE/Edge issue.

[2019-06-25 23:44] mannzer commented on #3931
I was using just the ids listed on the example, no others from other accounts.  This also happens when just a single ID is used.  I do notice they seem to work here: http://prebid.org/examples/native/ but can't reproduce that response anywhere else.

[2019-06-26 08:49] nikkoi opened #3945 "Currency module issue with EUR"
## Type of issue

Error caused by the currency module.

## Description
We're seeing and error being thrown when updating from Prebid 1.4 to the latest
(2.2) using the currency module. Earlier everything worked as expected, now we see the following error:

![currency-error](https://user-images.githubusercontent.com/1727721/60165521-20440600-9808-11e9-94d7-cd7d9fd60029.png)

Removing this makes the

[2019-06-26 09:25] nikkoi commented on #3945
Tested backwards, and first version where I don't get this is 2.17.0. I assume this has to do with this: https://github.com/prebid/Prebid.js/pull/3845 , but can't seem to understand why.

[2019-06-26 14:32] mannzer commented on #3931
This seems to have been remedied on the upstream side as I now see test bids working (with no changes to my code).  Thank you!

[2019-06-26 14:34] #3931 closed

[2019-06-26 22:12] tkwillis commented on #3939
Yep, that right, the bugfix for a firefox issue, caused the issue on IE/Edge

[2019-06-27 11:23] #3934 closed

[2019-06-27 12:04] #3887 closed

[2019-06-28 08:22] smenzer opened #3952 "Support a delayAuction config flag for userId module to prefetch user ids"
## Type of issue
Feature Request

## Description
Today, the userId module waits `syncDelay` ms after the bid requests are sent to demand partners before it attempts to retrieve user ids from id providers that the publisher has configured. This means that, on the first page view for a user (and potentially more depending upon timeouts, etc), ids from the userId module will never be available for bi

[2019-06-28 19:28] goosemanjack commented on #3911
I am currently working through an updated unit test fixture and should submit soon.

[2019-06-28 19:43] bretg commented on #3852
Released

[2019-06-28 19:43] #3852 closed

[2019-06-28 19:55] bretg commented on #3815
So any suggestions for what this would actually entail? Prebid.org cannot make assumptions or modify the endpoints for 200+ adapters, nor control what usersync pixels they return.

The only thing that seems practical is to attempt to communicate a "best practice" to the adapter community through the prebid.org website.

[2019-06-28 19:59] bretg commented on #3900
This was done with https://github.com/prebid/Prebid.js/pull/3935

[2019-06-28 19:59] #3900 closed

[2019-06-28 20:00] bretg commented on #3790
I believe we addressed this with https://github.com/prebid/Prebid.js/issues/3900 and https://github.com/prebid/Prebid.js/pull/3935

[2019-06-28 20:56] bretg commented on #3859
Re-read last year's impression thread. It boiled down to:

1) everyone's a little different -- folks will need to try various parameter settings, preferably with A/B testing
2) `maxRequestsPerOrigin:1` seemed to help some
3) raising the `timeoutBuffer` helped others. The default in recent versions is 400ms. (This essentially gives bidders more time, so makes sense that bid rates would go up)
4) ma

[2019-07-01 17:51] jsnellbaker commented on #3939
Hi @tkwillis,

Wanted to give an update here; I did some digging into this issue and your suggested fix.  The code you provided looks like it could address the tracking problem in Edge browsers.

Given the nature of the fix, I need to sync with the rest of the Prebid group to see if this type of browser-specific approach is the way we want to implement the fix or if there's another way that should

[2019-07-01 20:38] #3888 closed

[2019-07-01 21:57] tkwillis commented on #3939
Hi @jsnellbaker,

Thanks for the update. Yeah, I understand about the need to discuss, that's what I kind of meant when I said will the fix suffice.

At any rate it tested ok and I put it into production with v2.18.0 late last week. We checked yesterday and so far GAM looks fine and SSP consoles are within an acceptable discrepancy range.

Thanks for picking this up. Looking forward to see it fixe

[2019-07-02 14:20] headerbidding opened #3958 "Question: Can someone explain in simple terms what "concurrent auction" means?"
## Type of issue

Question:
Can someone explain in simpler terms (and with an example) what "concurrent auction" means?

Ref: https://gist.github.com/mkendall07/3dd690e7f624b61cb364fbf8a4ba8dbb

[2019-07-03 14:42] racc-oo-n opened #3962 "Question: is there a way to use prebid with native GPT lazy loading?"
## Type of issue
Question

## Description
I know we can do lazy loading with prebid [example](http://prebid.org/dev-docs/examples/adunit-refresh.html). And it works great.
But there is a new feature in GPT how to do [lazy loading natively](https://developers.google.com/doubleclick-gpt/reference#googletag.PubAdsService_enableLazyLoad). And adOps tell that this method will increase fill-rate and it'

[2019-07-03 19:44] jaiminpanchal27 opened #3964 "Extend ESLint"
## Type of issue
Feature Request

## Description
With new submodules pattern implemented recently here, we are not allowing any module to import other modules. Modules can only import what is in src folder. Contributors adding code to modules may not know of this requirement and reviewers too may miss while approving pull requests. I think eslint can rescue us here.

Extend ES lint to throw error

[2019-07-03 19:54] jaiminpanchal27 commented on #3958
@headerbidding
In 0.x all calls to requestBids were queued so at a time only one auction could run. Subsequent calls to requestBids would have to wait for previous auction to finish. With concurrent auction we removed this and allowed each auction to start as soon as requestBids is executed.

[code]

[2019-07-04 02:43] headerbidding commented on #3958
Hmmm. I thought there is just one auction for each ad and the highest bidder wins.

[2019-07-04 11:35] #3903 closed

[2019-07-04 21:35] #3907 closed

[2019-07-05 13:34] bretg commented on #3899
Following up and referencing https://github.com/prebid/Prebid.js/pull/3906

I think what we're facing here is the general desire for more flexibility in deciding which bids go to the ad server. In some cases there are too many KVPs, so there's a desire to control how many are going out.

But previous efforts to limit the KVPs haven't provided a lot of flexibility in controlling which go out. One o

[2019-07-05 14:40] Fawke commented on #3964
Hi Jaimin,

I've submitted a PR https://github.com/prebid/Prebid.js/pull/3970 for this issue. Unfortunately, Circle CI is failing, I've to figure out why.

[2019-07-05 23:04] #3908 closed

[2019-07-06 00:04] #3909 closed

[2019-07-07 11:50] benjaminclot commented on #3899
When using an ad server, I'm not a big fan of having a client-side function as It prevents adops from doing their job because they don't have access to the Prebid config... and don't know how to code. Also, it's not good for maintainability -- in the case of this issue, editing the function each time you get a new "win-them-all" deal would quickly become a nightmare.
Priority rules are the ad serv

[2019-07-08 03:04] ekg987 opened #3971 "Malware - Auto Redirect Ads"
## Type of issue
Question

## Description
Mobile Auto Redirect Ads

## Platform details
~~The site experiencing this issue is currently running with prebid 0.  Update to the latest prebid version will be live any day now.~~ Multiple sites using both both prebid 0 and prebid 1.X.

## Other information
We just started seeing a major uptick in these mobile redirect ads.  I've read through the discuss

[2019-07-09 18:14] mkendall07 commented on #3899
@benjaminclot I generally agree with you, however, if prebid sets too many keys than it completely breaks the ad server call. So some control is needed, to prevent catastrophic failure.

[2019-07-09 18:42] benjaminclot commented on #3899
@mkendall07 yes, of course. My proposal was that when `enableSendAllBid` is set to `false`, only top bids are sent _along with all bids containing a deal ID_ (that means every key value for these specific deals).

[2019-07-09 18:57] #3939 closed

[2019-07-09 18:59] jsnellbaker commented on #3939
This issue should be fixed via the PR https://github.com/prebid/Prebid.js/pull/3980

This change has been approved and should be part of the Prebid.js 2.23.0 release (scheduled to go out later today).

[2019-07-10 15:39] #3964 closed

[2019-07-10 15:49] jccomet commented on #1424
Hi,

I've got a quite similar issue.
For a given adunit :
1. I add an adunit into predbid adunits.
2. I run a first prebid auction.
3. After ad has been rendering by DFP (whether prebid has won or not), I remove the adunit from prebid.
After a while, I do refresh the positions, by
4. Adding again the adunit into prebid adunits (same code but it has been removed and added again)
5. Running another

[2019-07-10 20:08] snapwich commented on #3945
Is this within a custom analytics adapter?  I can't see any obvious issue that would cause that error with the public analytics adapters, but since that commit changed from using a closed over variable to a property on `this` that error _could_ be caused by calling `getCpmInNewCurrency` directly or using as a callback somewhere.  If that's the case, the calling code should be updated to bind to th

[2019-07-10 20:25] bretg commented on #3859
@millieone - any update on your experience here?

[2019-07-11 13:01] #3894 closed

[2019-07-11 13:11] GLStephen commented on #3962
@racc-oo-n As far as I know the answer is no. There is no hook into the lazy load logic to insert the auction. There are ways that get close (like run all auctions early and have them ready for the lazy load), but none are predictable or without major downsides (like creating a race condition and creating a major overbid situation). In our PubWise integration scripts our answer was to create an AP

[2019-07-11 14:25] jaiminpanchal27 commented on #3883
Merged in #3930

[2019-07-11 14:25] #3883 closed

[2019-07-11 18:37] smenzer opened #3989 "Add a refreshes option to userId module"
## Type of issue
Feature request

## Description
Today in the userId module, there is an option to set the expiration of the cookie that stores the provider's user ID. Some providers, though, may need to be called regularly (every hour, every day, etc) to refresh the user ID due to rotating IDs (e.g. the user's ID is encrypted per publisher, and the key used to do the encryption rotates every day

[2019-07-11 19:24] jaiminpanchal27 commented on #3989
I think it is little confusing to keep refresh and expire together. If the user id needs to be refreshed in an hour doesn't it mean that it is expired. For instance, lets consider expire as 1 day and refresh as 30 min. In this case User id module should refresh the user id every 30 minutes and store it in cookie/localstorage. So What is the use for expire here ? What should happen after 1 day ?

W

[2019-07-11 19:42] smenzer commented on #3989
@jaiminpanchal27 so if storage is marked as option, then within the ID5 submodule, we can dictate how the id is stored (cookie, local storage, etc (potentially via a param flag to give pubs control if they want it)) as well as when we need to refresh?

I want to make sure that even if we handle expiration on our own, that we still don't lose the cookie. Here's an example with the same refresh (30

[2019-07-11 20:10] racc-oo-n commented on #3962
That’s what I thought 😔
Thanks a lot for your answer!

[2019-07-11 20:10] #3962 closed

[2019-07-11 20:58] jaiminpanchal27 commented on #3989
@smenzer Thanks for explanation. It makes complete sense how refresh and expire work together. If multiple id systems need refresh then adding refresh property and making it the responsibility of base user id module is a good idea.

Yes with optional storage you can dictate in module with cookie or localStorage. What you explained above can be done without adding refresh as well.
`ID5.getId` metho

[2019-07-11 21:46] webdeveloperpr opened #3991 "Kargo Bidder tries to define _sessionId in frozen spec object."
## Type of issue
Bug

## Description
Looks like kargoBidAdapter is crashing when fetching bids because it tries to update the spec object. The spec object gets frozen by the registerBidder() fn.

<img width="822" alt="Screen Shot 2019-07-11 at 5 08 27 PM" src="https://user-images.githubusercontent.com/7534346/61087155-cdbb3a00-a402-11e9-85cb-120284da0485.png">

I tracked that fn call in the kargoB

[2019-07-12 19:56] goosemanjack commented on #3911
There is an active PR. I am waiting for review. The CircleCI has an intermittent timeout failure on Safari that I'm not sure is tied to our unit test. Will make a couple more checks.

https://github.com/prebid/Prebid.js/pull/3918

[2019-07-15 20:20] andyblackwell commented on #3700
The fix was reverted, so the problem still exists, can this be re-opened?

[2019-07-15 20:32] andyblackwell opened #3997 "Debug logging not displaying the prebid version since 2.0"
## Type of issue
Bug

## Description
After version 2.0 the prebid version is not being logged to the console

## Steps to reproduce
Import the project as suggested in the example available in http://prebid.org/dev-docs/examples/basic-example.html
and notice that e.g. "INFO: Prebid.js v2.18.0 loaded" is not showing.

## Other information
dupe of closed bug #3700
This issue was fixed in #3714 but th

[2019-07-15 21:57] #3942 closed

[2019-07-16 13:42] generic10one opened #3999 "Issues with Multi-Format requests to AppNexus"
## Type of issue

Bug

## Description

Using mediaTypes native+banner literally always responds with a banner ad. If I switch to native only, I instantly get native ads (with rates > than the banner ads). It seems like the only way to get native and banner demand to compete on a given ad unit is to use the same ad unit code twice with two different mediaTypes. I'm either missing something very sim

[2019-07-16 18:24] snapwich commented on #3997
Did you reference the correct pull-request?  I don't see the revert in 3776.

[2019-07-16 18:30] jsnellbaker commented on #3997
This was the revert PR https://github.com/prebid/Prebid.js/pull/3736 @snapwich

[2019-07-16 18:39] andyblackwell commented on #3997
whoops, thanks! updated in description

[2019-07-16 18:52] snapwich commented on #3945
@nikkoi did this pull-request fix your issue? #3996

[2019-07-16 23:28] snapwich commented on #3997
why was it reverted @jsnellbaker ? there's not much of a description in the pull-request.

[2019-07-17 12:33] jsnellbaker commented on #3997
I think there were build issues at the time (I think they were in circleci) that resulted from this line of code:
https://github.com/prebid/Prebid.js/pull/3714/files#diff-9d9a6cd82f41984872a66a3ab0d440c4R16

I was trying to recreate/retest the changes yesterday, but I had to change gears after something came up.  I can take another look if you want.

[2019-07-17 16:33] mkendall07 opened #4005 "I2I: Require all SSPs to use secure endpoints (3.x)"
## Type of issue
I2I

## Description
Using relative protocols is now considered an anti-pattern (https://www.paulirish.com/2010/the-protocol-relative-url/). We recently saw issues with SafeFrame and non secure creatives causing discrepancies. As a result, we would like to propose all bidder adapters need to use a secure endpoint at all times (regardless if the webpage is secure or not).

We are pu

[2019-07-17 17:21] bretg commented on #3226
I didn't know that matching adunits with the same `code` would be merged, but I just confirmed it myself too. Cool. @mkendall07 -- let's make sure we leave this as a feature.

Anyhow, having "duplicate" ad units that support different bidders/params was the intention all along -- the intention was that labels would choose between which of the adunits was relevant. If the merging of adunits is usef

[2019-07-17 20:51] snapwich commented on #3997
yeah that'd be great.  I don't see why that change should cause any issues and I don't think it would have merged if it was causing CI issues.  but if it is causing issues, it'd be nice to know what they are so I can fix them.

[2019-07-18 14:05] webdeveloperpr commented on #3991
Looks like it was fixed by #3998

[2019-07-18 15:29] jsnellbaker commented on #3997
@snapwich I setup the changes again in this branch `debug_updates`.  The build compiles fine and works successfully on test pages.  The circleci tests also pass fine (which I saw after creating the above PR).

However when digging more into my past messages, I found the cause for the revert.  When running `gulp test-coverage` with these changes, it causes a number of exception errors to be thrown.

[2019-07-18 16:34] headerbidding commented on #3958
I still dont understand

[2019-07-18 17:12] snapwich commented on #3997
I'll dig in.  We're definitely experiencing the same thing as this: https://github.com/webpack-contrib/istanbul-instrumenter-loader/issues/83

Although that has no fix.  But at least we know what tool the issue is coming from.

[2019-07-19 21:45] #3815 closed

[2019-07-20 02:48] bretg commented on #3899
@mkendall07 - the `auctionKeyMaxChars` is a sub-optimal solution because it can break up bids. i.e. it might have hb_pb_bidderA, but then run out of chars and not add hb_adid_bidderA.

IMO, either we need to fix `auctionKeyMaxChars` to keep all bid attributes together or add the `bidLimit` option.

And I'm ok with what @benjaminclot suggests here and adding deal KVPs for enableSendAllBids=false.

[2019-07-22 15:15] #3746 closed

[2019-07-22 19:12] kayhia opened #4014 "Audience Network 320x50 Size / format"
## Type of issue
Question: What's the correct way to request bids for the 320x50 size/format from Audience Network?

## Description
In the prebid params, I see Audience Network has: format and placementId. We're currently trying to bid for 320x50 size. Is this achieved through "format: 320x50"? We've done it this way for the 300x250. What happens if the format is 320x50, but the placement from Aud

[2019-07-24 12:32] BartVB commented on #3878
Also ran into this.
Trying to build Prebid on MacOS with NodeJS v12.6.8 which results in the errors mentioned above.

[2019-07-24 15:20] Jlaw007 opened #4020 "DFP API directly into prebid Library"
## Type of issue

question
## Description

Looking if anyone has integrated DFP API directly into thier prebid library so that prebid bidding only happens when there is no direct ad.
## Steps to reproduce

## Test page

### Expected results

### Actual results

## Platform details

## Other information

[2019-07-24 17:07] benjaminclot commented on #4020
Like [postbid](http://prebid.org/dev-docs/examples/postbid.html)?

[2019-07-24 17:24] Jlaw007 commented on #4020
Reviewing this now, let me see if this gets us what we need!

Jeff

On Wed, Jul 24, 2019 at 1:08 PM Benjamin Clot <notifications@github.com>
wrote:

--
Jeff Lustig
Manager, Programmatic Operations
News Corp|NewsIQ
212-416-3729

--

This message and its attachments may contain legally privileged or
confidential information. It is intended solely for the named addressee. If
you are not the addressee

[2019-07-24 18:28] bwoolcott commented on #4005
@mkendall07 were there any changes recently (GPT changes or something along those lines?) that led to the increase in discrepancies? Or has this potentially been happening for a while now on non-secure pages that are using safeframes?

[2019-07-24 19:45] snapwich commented on #3997
should be fixed by #4007 , let us know if that is not the case.

[2019-07-24 19:45] #3997 closed

[2019-07-24 21:51] Jlaw007 commented on #4020
Not exactly, as we would still want the other benefits of headerbidding
that this does not not have. Idea is to just only run prebid demand when
there is no direct demand, because there are certain scenerios where prebid
demand cannot acutally win the impression, so why call it?

To clarify idea is for this as a feature that we could turn on and off?

not sure if that makes sense...

On Wed, Jul 2

[2019-07-25 10:05] xavierleune opened #4025 "Appnexus outstream should not check if renderer is defined server side"
## Type of issue
Bug

## Description
When creating a placement through the API on appnexus, no renderer is associated to this placement. This is the field ad_types on the placement.
When using this placement on a bid request with an outstream media type, no renderer is defined in the server bid response. Appnexus adapter actually checks only if a renderer has been defined on server side to add the

[2019-07-25 12:06] spormeon opened #4027 "userSync only fire once when using refreshes"
is there a way to make userSync only fire once on first load, as when using refreshes it fires the userSync again and this is now throwing as a warning in 2.25.0,  can there be a setting in the config or something?  There is no benefit in firing the userSync on every refresh, only needs to fire once on first load?

userSync: {
        iframeEnabled: true,
        syncsPerBidder: 10, // and no more

[2019-07-26 23:25] mannzer opened #4031 "Criteo violates the required adapter conventions by loading external libraries"
## Type of issue
BUG

## Description
Criteo violates the required adapter conventions by loading external libraries

## Steps to reproduce
1. Read http://prebid.org/dev-docs/bidder-adaptor.html#required-adapter-conventions
2. note: "In order to provide a fast and safe header bidding environment for publishers, the Prebid.org team reviews all adapters for the following required conventions:"
...
"N

[2019-07-27 22:21] bretg commented on #3859
@millieone - going to let stalebot close this one out if we don't get an update. Or anyone else having issues after upgrade and tuning.

[2019-07-28 18:12] bretg commented on #4027
Asking @msm0504 to take a look in our next sprint.
Requested behavior is that there's a new flag on the `userSync` config object that defines whether only the first call to `requestBids()` executes userSync or whether all invocations do. Default would be `true`.
Use a GLOBAL state variable that allows for multiple instances of PBJS running in the page.

[2019-07-28 18:17] bretg commented on #4020
Agree that the solution here is postbid.

[2019-07-28 18:17] #4020 closed

[2019-07-28 18:18] bretg commented on #4014
Adding @lovell

[2019-07-28 18:18] bretg commented on #3991
Yup fixed with #3998

[2019-07-28 18:18] #3991 closed

[2019-07-28 18:24] bretg commented on #3989
@smenzer - this an interesting use case, but seems rather specific to your ID system, so would like to suggest that the fastest way to implement would be for you to open the PR.

[2019-07-28 18:25] bretg commented on #3971
Sorry, Prebid.js can't help with the scourge of auto-redirect ads. Safeframes are the way to go.

[2019-07-28 18:25] #3971 closed

[2019-07-28 18:30] bretg commented on #3958
There is just one auction per adunit. But there are use cases like infinite scroll where there's a series of calls to `pbjs.requestBids()`

1. pbjs.requestBids() - covers the initial adunits on the page
2. pbjs.requestBids() - covers the first 300x250 in a dynamic div on scroll
3. pbjs.requestBids() - covers the second 300x250 in a dynamic div on scroll
4. pbjs.requestBids() - covers the third 300

[2019-07-28 18:37] bretg commented on #3945
@nikkoi - as you pointed out, #3845 was the cause of this -- fixed in 2.18. May we close?

[2019-07-28 18:37] bretg commented on #3911
#3918 merged.

[2019-07-28 18:37] #3911 closed

[2019-07-28 18:49] lovell commented on #4014
`[300, 250]` and `[320, 50]` are `sizes` provided via `addAdUnits`. This is the same way that all prebid adapters work and is documented at http://prebid.org/dev-docs/publisher-api-reference.html#module_pbjs.addAdUnits

For Audience Network, the `format` property is optional, if specified should be one of “native”, “fullwidth” or “video”. This is documented at http://prebid.org/dev-docs/bidders/au

[2019-07-28 19:01] bretg commented on #3899
I've opened an internal Rubicon ticket to do this in our next sprint starting Aug 7

[2019-07-28 19:08] bretg commented on #3687
Obviously, we got delayed on this implementation, but as @jaiminpanchal27 is questioning the design, let's discuss in this week's PBJS meeting.

We considered the security angle, and thought that was easily solvable with code inspections. Adapters simply shouldn't be looking in the `context` object and we can prevent that.

[2019-07-28 19:12] bretg commented on #3823
@mkendall07 - is this true?

I thought that targeting was available at any time. i.e. if the page wanted to close the auction early, it could call `setTargetingForGPTAsync` and get whatever bid were back.

[2019-07-28 21:38] headerbidding commented on #3958
Thank you. Now I got it 👍 -)

[2019-07-28 23:44] bretg commented on #3958
Cool

[2019-07-28 23:44] #3958 closed

[2019-07-29 08:22] smenzer commented on #3989
Hi @bretg I agree...we'll put in a PR for it for our own submodule.  Thanks!

[2019-07-29 08:22] #3989 closed

[2019-07-29 14:25] mkendall07 commented on #4005
@bwoolcott my understanding is that GPT made a change that made all safeFrames use secure connections regardless of the parent page being secure or not. This led to non secure creatives being rejected.

[2019-07-29 14:28] mkendall07 commented on #4031
Hi @mannzer
We have an exception to the policy if the bidder submits their code and follows the process outlined here: https://github.com/Prebid-org/prebid-js-external-js-template#policy

I'll link this to the adapter page so it doesn't cause confusion in the future. Thanks

[2019-07-29 14:28] #4031 closed

[2019-07-29 17:10] snapwich commented on #4027
Can you clarify on what warning you're seeing? i'm wondering if it is related to: #3984

If you're refreshing an adUnit then the syncs should not fire again unless you added bidders since the last auction. If the warning you're referring to is `utils.logWarn(`already registered syncs for "${bidder}"`);` that shouldn't be an issue as it doesn't mean the sync is actually firing but being prevented f

[2019-07-29 17:34] spormeon commented on #4027
here is the warning:
prebid2.25.0adyjs.js:3 Prebid WARNING: already registered syncs for "somoaudience"
F @ prebid2.25.0adyjs.js:3
prebid2.25.0adyjs.js:3 Prebid WARNING: already registered syncs for "districtmDMX"
F @ prebid2.25.0adyjs.js:3
prebid2.25.0adyjs.js:3 Prebid WARNING: already registered syncs for "triplelift"
F @ prebid2.25.0adyjs.js:3
prebid2.25.0adyjs.js:3 Prebid WARNING: already regi

[2019-07-29 17:47] snapwich commented on #4027
Thanks, that's what I had assumed and that's expected behavior after the userSync update in #3984.  I'll update it to be a logMessage rather than a warning and update the verbiage of the message to clarify that the sync is not firing again.

[2019-07-29 17:50] spormeon commented on #4027
ok sure, thanks

[2019-07-29 18:28] spormeon opened #4035 "Uncaught TypeError: Cannot read property 'map' of undefined"
started getting this in v 2.20 onwards, not a clue what it is:
Uncaught TypeError: Cannot read property 'map' of undefined
    at Object.getUserSyncs (prebid2.25.0adyjs.js:4)
    at Object.p [as registerSyncs] (prebid2.25.0adyjs.js:3)
    at prebid2.25.0adyjs.js:26
    at Array.forEach (<anonymous>)
    at prebid2.25.0adyjs.js:26
    at prebid2.25.0adyjs.js:26
    at Object.success (prebid2.25.0ad

[2019-07-29 18:35] jaiminpanchal27 commented on #3004
Done here https://github.com/prebid/Prebid.js/blob/master/src/config.js#L25

[2019-07-29 18:35] #3004 closed

[2019-07-29 19:05] snapwich commented on #4035
What bidders are you using?  This is a specific error inside of a bid adapter.

[2019-07-29 19:25] spormeon commented on #4035
![workspace-sts-3_8_3_RELEASE_-_Java_-_prebid-header-bidding_prebid_timhanlon_tweaktownhjgjhg756676_js_-_Spring_Tool_Suite](https://user-images.githubusercontent.com/8503167/62076228-09496700-b23f-11e9-84b8-2955fcb2138f.png)

![workspace-sts-3_8_3_RELEASE_-_Java_-_prebid-header-bidding_prebid_timhanlon_tweaktownhjgjhg756676_js_-_Spring_Tool_Suite-2](https://user-images.githubusercontent.com/850316

[2019-07-29 20:08] snapwich commented on #4035
Given those bidders I would have to guess the issue stems from the recent changes to the `33acrossBidAdapter` in #3944

Specifically the unsafe access of `adapterState.uniqueSiteIds.map` [here](https://github.com/prebid/Prebid.js/blob/master/modules/33acrossBidAdapter.js#L321).

You can try removing that bidder to see if that fixes your issue.

cc: @curlyblueeagle

[2019-07-29 20:12] spormeon commented on #4035
ye, it was 33across, any fix for it?

[2019-07-29 20:22] snapwich commented on #4035
The immediate fix would probably be adding safe lookup to check for an `undefined` property, however the bug highlights a more serious code smell in that shared state is being stored outside `buildRequests` and `getUserSyncs`. This pattern could lead to unexpected behavior depending on run order (in this case I think you may be using prebid-server so `buildRequests` is never called since there are

[2019-07-29 20:26] spormeon commented on #4035
ok, yes using prebid-server.   One other odd thing noticed,  is 33accross makes bids on S2S and is quite often the highest bidder but it never wins a bid or renderers an ad

[2019-07-30 08:41] jbartek25 opened #4036 "Native 1.2 assetsurl"
## Type of issue
question

## Description
[OpenRTB native ads spec 1.2](https://www.iab.com/wp-content/uploads/2018/03/OpenRTB-Native-Ads-Specification-Final-1.2.pdf) defines _assetsurl_ field which if present should be called to fetch the actual native ad assets. The actual call should be made from the client device to give a buyer access to cookie and header data. I've been thinking where to imp

[2019-07-30 13:46] curlyblueeagle commented on #4035
@snapwich we could fix the bug in the short-term by adding a safe lookup check. But we are forced to use shared state because we require parameters from all bid requests during user sync. I believe the utils library used to expose a method to obtain this during pre v1 days, but no longer. We tried to do user sync during `interpretResponse` #2024 , but that wasn't the ideal solution since we wanted

[2019-07-30 14:29] jsnellbaker commented on #4036
@snapwich Would you be able to take a look at this and help comment?

[2019-07-30 15:34] snapwich commented on #4035
I believe most bidders return custom sync urls in their bid responses if they require custom sync data (beyond cookie data). You could do the same.

[2019-07-30 16:01] snapwich commented on #4027
The updated messaging has been merged and will go out in the next release so I'm going to close this issue unless you have any other questions.

[2019-07-30 16:01] #4027 closed

[2019-07-31 10:02] spormeon commented on #3999
i've got a similar problem to this but i'm one iteration on, as in I have banner & video working but when I add native,  I only ever get banner or video in a multi format unit
@generic10one did you find a fix?

[2019-07-31 14:40] curlyblueeagle commented on #4035
copying @thomas-33across since he will be following up on this issue.

[2019-07-31 14:47] curlyblueeagle commented on #4035
hmm @thomas-33across says he is unable to add comment to this thread. Why?

[2019-07-31 19:07] pm-harshad-mane commented on #4005
Chrome 80, scheduled to release on 4th Feb 2020 needs all third party cookies to be marked as **Secure** and with **SameSite=None**. To get cookies marked with **Secure** attribute, the call from browser to server should be Secure(HTTPS) so we should prioritize the HTTPS support from all adapters.
Also, publishers may not update the Prebid code quickly so having these changes ready sooner will giv

[2019-07-31 20:25] sgagnier-l3g3media opened #4045 "When getting native ads, adserverTargeting is ignored"
## Type of issue
Bug

## Description
When having a native ad, adserverTargeting is ignored

## Steps to reproduce
Get a native ad, set key { key: 'hb_native_linkurl', val: function (bidResponse) { return ""; } }, and it will still return original

### Expected results
I expected the return of 0

### Actual results
original data

## Platform details
Any

## Other information
Reason why I am doing t

[2019-08-01 12:49] spormeon opened #4047 "WARNING: Invalid bid sent to bidder quantcast:"
quantcast seems to be throwing this warning, where as all other bids i have don't, when using multi format boxes

WARNING: Invalid bid sent to bidder quantcast: {"bidder":"quantcast","params":{"publisherId":"XXXXXXX"},"crumbs":{"pubcid":"fdccbcf6-8042-459d-b72e-6f1f8ea123a4"},"nativeParams":{"image":{"required":true,"sizes":[150,50]},"title":{"required":true,"len":80},"sponsoredBy":{"required":tru

[2019-08-01 13:13] aszydlo opened #4048 "referenced 'registerAdserver' but it was never created"
## Type of issue
bug/question

## Description
When I add a dfpAdServerVideo to my modules I get ``Warning`` in the console. I don't use this module in my webpage, it is only included into Prebid.js library.
![blad-prebid](https://user-images.githubusercontent.com/38684131/62294759-ff587b80-b46b-11e9-9514-f5bdf07f0abb.jpg)

## Steps to reproduce
1. Use: gulp serve --modules=consentManagement,rubico

[2019-08-01 13:31] jsnellbaker commented on #3999
@generic10one Sorry about the delay here; I was taking a look at your first test page and I don't see anything inherently wrong about the setup that should prevent the multi-format request from working.

There are some factors to consider though:
- what are CPM values associated to the banner and native creatives you're testing?  Are they both using the same value or differing values?
- for the na

[2019-08-01 13:48] jsnellbaker commented on #4047
@jacekburys-quantcast @dpapworth-qc
Could you take a look into the above?

[2019-08-01 15:07] jsnellbaker commented on #4045
Hi @sgagnier-l3g3media

Currently this is expected behavior; the `adserverTargeting` part of the `bidderSettings` only covers the base keys that are sent with each bid (like `hb_adid`, `hb_bidder`, `hb_pb`).

There are some alternative features that may help you with the keyword limit issues you're experiencing with native bids.  I provided some links below if you want to look at them further:
- h

[2019-08-01 15:08] jaiminpanchal27 commented on #4048
@aszydlo Thanks for reporting this, I will check and get back to you.

[2019-08-01 15:19] sgagnier-l3g3media commented on #4045
Thanks @jsnellbaker this helps a lot. I will have a look.

[2019-08-01 16:03] dpapworth-qc commented on #4047
@spormeon the bid looks like native inventory. The quantcast adapter only supports display and video inventory.

[2019-08-01 16:08] dpapworth-qc commented on #4047
i will check to see how we support multiformats.

[2019-08-01 16:12] spormeon commented on #4047
@dpapworth-qc       its a multi format unit, so banner, native & video,  all other adapters fall gracefully where they don't have vid, native or banner

[2019-08-01 16:25] dpapworth-qc commented on #4047
@spormeon thanks for flagging, I will look into what's going on.

[2019-08-01 17:00] dpapworth-qc commented on #4047
@spormeon so, it looks like we are rejecting the bid request because the video included is outstream. I don't think this is the correct way to filter outstream video (so something we should fix on the adapter), but is this something you can disable in the interim?

Are you able to provide a test page where I can see how you are configuring Prebid? My email is dpapworth@quantcast.com, if you want t

[2019-08-01 18:14] snapwich commented on #4036
Sounds like this should happen in the `pbjs.renderAd` call so you can fetch the creative assets upon display. Is it possible to use a custom Renderer @jaiminpanchal27 ? I wasn't involved with that code but it looks like it can be used to do custom ad rendering?

[2019-08-01 19:05] jaiminpanchal27 commented on #4036
As far as I know, for native we cannot use custom rendering as of now because we use universal creative to render native. See template here http://prebid.org/adops/setting-up-prebid-native-in-dfp.html

[Renderer module](https://github.com/prebid/Prebid.js/blob/master/src/Renderer.js) in Prebid is not tied to any format so we can extend this if publishers want custom native rendering.

[2019-08-01 22:55] snapwich commented on #4036
possibly related: #3366

[2019-08-02 04:49] pm-harshad-mane commented on #3870
Hello @mkendall07 , @jsnellbaker ,
Any thoughts on supporting schain?

[2019-08-02 11:35] spormeon commented on #4048
+1, i get this as well and no idea if its something to worry about?

[2019-08-02 15:04] jsnellbaker commented on #3870
I'm not sure at this time, but will keep the ticket open so it can be reviewed more formally.

[2019-08-02 15:41] #3566 closed

[2019-08-02 16:22] dpapworth-qc commented on #4047
@spormeon I have created a fix that filters the unsupported video context, rather than marking the bid request as invalid. I will try to submit a patch on Monday, after we have reviewed internally at QC.

[2019-08-02 22:39] snapwich commented on #4048
Just FYI, the warning is because the `registerAdserver` hook is defined in the `categoryTranslation` module (which isn't in your build) but is referenced in other modules such as the `dfpAdServerVideo` that are in your build.

[2019-08-03 06:57] spormeon opened #4059 "multiple hb_native_image & hb_native_linkurl in native ads"
i'm not sure where to ask this, so asking it here,  i'm trying to get native ads working and im coming across some unusual things in that i keep getting multiple hb_native_image & hb_native_linkurl  returns, such as:

hb_native_image:104df19a869aa2c3,hb_native_image:109d7bfc7d44dc13,hb_native_image:114a333a1bc49e34,hb_native_image:1189017d48786a57,hb_native_image:159909171c973231,hb_native_image:1

[2019-08-03 17:33] vladgurgov commented on #3878
@BartVB I run into the same issue. I got no time looking into that (seems I need to upgrade WebdriverIO somewhere?) but i just wanted to point out that switching to node v11.6.0 solves that issue. Hope that helps.

[2019-08-04 09:21] GgermanCrunchmind commented on #3903
Having the same problem, still relevant.

[2019-08-04 22:39] spormeon commented on #4047
@dpapworth-qc   great, also for native as think it throws the same if native in there?

[2019-08-05 09:20] dpapworth-qc commented on #4047
@spormeon I will make sure that we ignore all inventory types that we don't currently support.

[2019-08-05 12:57] benjaminclot commented on #3878
Still fails with the node:latest Docker image (NodeJS v12.7).

[2019-08-05 14:08] thomas-33across commented on #4035
Hello @spormeon can you tell me your prebid.js setup page so I can try to reproduce the issue and make the code change?  Thank you

[2019-08-05 14:10] spormeon commented on #4035
@thomas-33across   unfortunately not, as its on test pages behind logins, where i test out new prebid releases not live sites

[2019-08-05 15:36] spormeon commented on #4059
bit more info on this, it seems to be sending 'all the bids" info in the targeting , not the "winning bids" one, most unusual to me?

![DevTools_-_adops_golfwrx_com_tweaktownhjgjhg756676native_html-2](https://user-images.githubusercontent.com/8503167/62476591-39dd5380-b79f-11e9-8265-507d275d41aa.png)

[2019-08-06 13:39] jbartek25 commented on #4036
How about extending [assetRequest handler](https://github.com/prebid/Prebid.js/blob/master/src/secureCreatives.js#L48) called by universal creative when replacing native asset placeholders? _assetRequest_ would call _assetsurl_, map oRTB fields to Prebid native KVPs and respond back to universal creative. This would work with existing renderer. The limitation is that _assetsurl_ would only be call

[2019-08-06 14:29] mkendall07 commented on #3687
one possible solution would be to make `context` a "special" case that cannot be accessed by the adapters. So the interface to the publisher seems consistent, while we control the adapter interface and only pass the data allowed to each bidder.

Thoughts?

[2019-08-06 16:51] #2953 closed

[2019-08-07 04:42] pm-harshad-mane commented on #3870
Hello @jsnellbaker and @mkendall07 ,

PubMatic wants to support the schain object soon so we are thinking of allowing pubs to set it as follows so that adapters can consume it.

We will make the code changes ready in the next few days.

Let us know your thoughts.

[code]

[2019-08-07 13:13] omerko opened #4069 "Is there a way to read prebid build version from adapter code?"
## Type of issue
Question

## Description
Is there a way to read the prebid build version from adapter code so that I can sent it to my server to know of the client version?

[2019-08-07 16:43] mkendall07 commented on #3870
this seems like a reasonable proposal. @bretg for visibility

[2019-08-07 16:44] mkendall07 commented on #4069
You can access `$$PREBID_GLOBAL$$.version` which will have the build version automatically populated.

[2019-08-07 18:22] pm-harshad-mane commented on #3870
Thank you @mkendall07 for the feedback.

[2019-08-08 08:56] dpapworth-qc commented on #4047
@jsnellbaker are you able to review the above PR?

[2019-08-08 14:28] jsnellbaker commented on #4047
@dpapworth-qc I will take a look

[2019-08-08 16:15] omerko commented on #4069
thanks

[2019-08-08 16:15] #4069 closed

[2019-08-09 09:01] spormeon commented on #3769
was this ever properly fixed as i get exactly the same as this, would rather use a proper fix, than a work around if possible

[2019-08-09 12:21] #4047 closed

[2019-08-09 17:44] briandamaged commented on #3870
I agree that this proposal seems reasonable.  It would be great if this could get officially adopted ASAP so that we can begin updating the adapters accordingly.

[2019-08-09 18:28] pm-harshad-mane commented on #3870
Hello @briandamaged ,

We have started the work, will keep you all posted.

[2019-08-09 18:57] patmmccann commented on #3115
we'd really love it if hb_adomain was a possible targeting key

[2019-08-12 21:03] pm-harshad-mane commented on #3870
Hello @briandamaged ,

I have made some code changes related to schain here,
https://github.com/prebid/Prebid.js/compare/master...pm-harshad-mane:small_changes

Please note that changes in utils.js and adapterManager.js are only related to schain.

Flow:
- adapter manager will validate the schain object
- if it is valid then only it can be passed on to all bidders
- bidders do not need to validate

[2019-08-13 11:18] generic10one commented on #3999
@jsnellbaker
Sorry for the delay as well.
The test order in DFP was paused for a while, now it is active again.

I don't think the icon asset is the issue here, since native ads are being displayed on the second [test page](https://www.phonearena.com/tests/partners/prebid_native_multisize_same_unit_twice.html?pbjs_debug=true)

-----------------------------------------------------------------------

[2019-08-13 11:26] spormeon commented on #3999
@generic10one
no i haven't yet as i'm using multi format units,  one thing i have noticed though, is if i just have native and outstream,  i get lots of native bids on good cpm 1-8 range,  as soon as i add the banner mediaType back in, the bids all pretty much go to banner and on alot less cpm 0.10-0.50 range, so there seems something funny going on somewhere?
my multi format setup:
code: 'inreedv

[2019-08-13 11:44] spormeon commented on #3999
can confirm i see that behaviour now, split the bids to banner & outstream, native on own and it bids for all, the offset of that is that nows endId: true  doesn't seem to be being obeyed, where as it was when native, banner & outstream all in 1 multi format.:

![DevTools_-_adops_golfwrx_com_golfwrxarticlewedge-native_html](https://user-images.githubusercontent.com/8503167/62938984-15e5c780-bdc8-1

[2019-08-13 12:01] generic10one commented on #3999
@spormeon

I had the same issue with sendID - moving mediatypes:native above my banner bidders fixed it.

[2019-08-13 12:13] spormeon commented on #3999
@generic10one
again confirm, native first order,  banner and outstream and sendid  works again.  offset again then though, is if you have more than one native bidder, you need to add, as without, it puts all the bids strings of url, image etc in the targeting: ( its all a bit of a mess really)

adyjs.bidderSettings = {
standard: {
adserverTargeting: [
{ key: "hb_bidder", val: function(bidResponse)

[2019-08-13 12:23] spormeon commented on #3999
another offset, this method breaks S2S bidding with:
Invalid request: request.imp[0].id and request.imp[1].id are both "inreedvid4Slot". Imp IDs must be unique.

[2019-08-13 13:53] jsnellbaker commented on #4059
@spormeon thanks for reporting this issue.

I was able to replicate it on my end and I'm working on putting together a fix so that the winning's bid info is set in the main key and the bidder data is set properly in the bidder specific variant.

[2019-08-13 14:23] spormeon commented on #4059
@jsnellbaker ok, thanks.  more info over on this issue as well:

https://github.com/prebid/Prebid.js/issues/3999

[2019-08-13 19:35] #4045 closed

[2019-08-14 05:33] pm-harshad-mane commented on #3870
Hello @mkendall07 , @jsnellbaker , @bretg
I think we need to support schain parameter from Prebid-server JS adapter so that Prebid-server(Go component) can pass it to server-side adapters to forward to respective servers.
What do you suggest?

[2019-08-14 21:04] bretg commented on #3870
Sure, should be easy enough for the prebidServerBidAdapter call getConfig('schain') and add it to the openRTB in source.ext. I don't think any changes would be needed to Prebid Server code at all -- it passes everything through to adapters.

[2019-08-14 23:22] jsnellbaker commented on #3999
@generic10one Just to update, I'm still investigating into this behavior.  I was having some trouble initially getting ads to return from appnexus while on my work network, but at home I am getting them near consistently.

I am seeing the reported behavior with the multiformat test page you created originally and the consistent delivery of the banner and native bids when you had them split apart.

[2019-08-15 00:47] pm-harshad-mane commented on #3870
Sounds good @bretg , I will add the changes in the same PR

[2019-08-15 17:37] snapwich commented on #4036
Seems like it would work? Although I'm probably not familiar enough with Native to be making the final call.

[2019-08-15 19:37] mkendall07 commented on #2524
is this still an issue or should it be closed?

[2019-08-15 19:38] #2854 closed

[2019-08-15 19:39] mkendall07 commented on #2902
yes #3573 solved this.

[2019-08-15 19:39] #2902 closed

[2019-08-16 16:01] #3277 closed

[2019-08-17 22:40] #3859 closed

[2019-08-18 18:52] #3945 closed

[2019-08-18 19:52] #4014 closed

[2019-08-19 08:40] xavierleune commented on #4025
This is still an issue.

[2019-08-19 16:13] AskRupert-DM opened #4098 "Can a bid-adapter write a data-object within the pbjs data object (or a standalone object)"
Had a question around bid-adapters.

Wanted to see if there was any guidelines or restrictions around adapters exposing a data object with request/response information available beyond the standard 'pbjs' data that's available.

Notably wanted to expose publisherId, auctionId and storedRequestId for example that can be exposed for other non-prebid analytic adapters to be able to use/reference with

[2019-08-19 19:32] jsnellbaker commented on #4025
@xavierleune

Sorry for the delayed response on this issue.

When you're using PBS (Prebid Server) to serve outstream video, Prebid expects that the `renderer` object should be defined within the associated adUnit.

PBS is not capable of handling the renderer object in the same manner as it's done through normal client-side adapters (where the Prebid.js adapter is able to directly read it from the

[2019-08-20 12:19] #4059 closed

[2019-08-20 22:55] harpere commented on #3853
@bretg is the converse true?  if some bidders are server only (in `bidders` list but not in `bidderControl`), the `testServerOnly` flag is `true`, and s2sTesting returns `client` - should it do `client` only?  Or in that case should there be a mix of `client` and `server`?

[2019-08-21 02:36] bretg commented on #3853
When testServerOnly flag is true, there should never be a client-side activity.

[2019-08-21 14:52] mcallari opened #4105 "Optimera Bid Adapter: add a device param."
## Type of issue
Feature request

## Description
Add an optional device param to the Optimera Bid Adapter which will return device-specific data from the network request.

## Other information

[2019-08-21 15:49] harpere commented on #3853
I got it now - the `testServerOnly` flag only comes into play when there are bidders in `bidderControl` that choose "server".  Otherwise nothing changes.

[2019-08-21 17:03] mhlm opened #4107 "Error in yieldmo adapter when synchronously executing code in html head"
When synchronously executing the code in html head, the DOM is not yet formed, therefore window.document.body will be null. Because of this, an error first appears in this line (https://github.com/prebid/Prebid.js/blob/20969809c65a2e8d6f16069432135f98386e4900/modules/yieldmoBidAdapter.js#L307
), and then in this (https://github.com/prebid/Prebid.js/blob/801f0fb3ad9b8891cced991bf35095db4c2084a7/mod

[2019-08-21 19:49] bretg commented on #3899
Update: this was pushed out of last sprint, but is in our current sprint

[2019-08-22 23:12] #3590 closed

[2019-08-23 10:27] xavierleune commented on #4025
Hi @jsnellbaker,
Thanks for your feedback. Actually the workflow you describe for appnexus does not reflects how things are implemented, this is the point of the actual issue.
This issue applies to appnexus specifically. The adapter actually checks if a renderer has been defined in the server (here: the appnexus server) response bid and totally ignores the renderer defined in the adunit. It does n

[2019-08-23 12:32] spormeon commented on #4047
@dpapworth-qc The latest release seems to have fixed the "Invalid bid sent to bidder quantcast"  but now there seems to be a "Invalid bid from quantcast. Ignoring bid: Bidder quantcast is missing required params"  quantcast is only bidding on "banner" now using publisherId: xxxxxx , not video
prebid 2.29.0

[2019-08-23 13:20] dpapworth-qc commented on #4047
@spormeon are you able to share the configuration you are using?

[2019-08-23 13:35] dpapworth-qc commented on #4047
So having looked at the code, the error appears to stem from the response that QC is sending on receiving the bid from the browser. I will check what's being sent back for video creatives.

[2019-08-23 13:36] spormeon commented on #4047
@dpapworth-qc just on a "normal banner" like this:
{
code: 'XXXXXXXX',
mediaTypes: {
banner: { sizes: [[300, 600],[300, 250],[250, 250],[1, 1]] },
},
bids: [

[2019-08-23 13:36] dpapworth-qc commented on #4047
@spormeon are you able to include the response you are seeing from qcx.quantserve.com/qchb?

[2019-08-23 13:39] spormeon commented on #4047
@dpapworth-qc
{"bidderCode":"quantcast","bids":[{"height":250,"statusCode":0,"width":300}],"requestId":"321b0c2b79d7c17e"}

[2019-08-23 13:42] jakubkowalczyk-pl opened #4110 "Missing ucTagData.env"
## Question
## Description
I have created the creative in the google ad manager.
I don't know if something went wrong, but some properties of ucTagData object are empty.
I attached the screen from the website where the creative was rendered(for example "env" property is empty). Is it bug?

![2019-08-23 15_11_02-Window](https://user-images.githubusercontent.com/5808163/63596774-4a256900-c5bc-11e9-9

[2019-08-23 13:42] dpapworth-qc commented on #4047
ah. thanks. looks like an empty bid - i suspect we don't have any inventory available. this isn't an error with the adapter, but we should probably be sending an empty object in this case.

[2019-08-23 13:45] spormeon opened #4111 "ERROR: in response for districtm adapter: no bids"
prebid 2.29.0
ERROR: in response for districtm adapter: no bids

this is being thrown, should it not just be a warning, if Dm arn't bidding on that auction?

[2019-08-23 13:47] spormeon commented on #4047
or a warning , rather than an error?, such as:

WARNING: No valid banner bids from xxxxx bidder
my OCD goes wild looking at errors lol

[2019-08-23 13:49] dpapworth-qc commented on #4047
:) This error is generated by the Prebid code, and not the adapter itself. I am looking at fixing this on our end.

[2019-08-23 16:00] jbartek25 commented on #4036
Thanks for the input

[2019-08-23 16:00] #4036 closed

[2019-08-24 10:21] spormeon opened #4113 "error with adsparc"
i get this error when adsparc in enabled:
prebid2.29.0adyjs.js:36 Uncaught (in promise) TypeError: Cannot read property 'BASE_URI' of undefined

i built prebid 2.29.0 with the adsparc adapter in it, so don't think its because thats not there?

[2019-08-26 06:31] mutdmour commented on #3952
PR still WIP. Will try to finish this soon. https://github.com/prebid/Prebid.js/pull/4115

[2019-08-26 15:30] #4035 closed

[2019-08-26 17:44] mkendall07 opened #4118 "3.0 list of deprecated APIs/functions internal/external"
This issue tracks the items to be deprecated as part of 3.0 release of Prebid.js

**following is for external functions/API**

**several items in the userSync API**

- `iframeEnabled`
- `pixelEnabled`
- `enabledBIdders`

`adUnit.sizes`

`pbjs.loadScript() `

**following is for internal functions**

- adloader.loadScript()

5 domain/referrer type functions in utils:

- `getTopWindowLocation()`
- `g

[2019-08-27 09:32] benjaminclot commented on #3899
This seems like a good option to me.

[2019-08-27 14:49] tornajoe opened #4120 "'makeWebpackPkg' errored... Error in plugin 'webpack-stream', modules not found"
## Type of issue
Bug/build failure

## Description
When I go to build a prebid.js file from mac terminal using `gulp build --modules=/path_to_file/pbModules.json` I get a very long error that starts with an error in the *makeWebpackPkg* and *webpack-stream* plugins
[code]

## Steps to reproduce
The last time I used terminal to build prebid was 2018 when my download was version 1.25.
I typed `git p

[2019-08-27 15:57] spormeon commented on #3769
i think you got it fixed in last release 2.29.0 as I've taken out the 'work around" and now get a single id on each bid/ targeting

[2019-08-27 20:51] spormeon opened #4121 "Rubicon video error"
this error seems to have appeared since v 2.29.0:
ERROR: Got error from PBS Java openRTB: [object Object]

[2019-08-29 13:21] jsnellbaker commented on #4025
@xavierleune Do you have a test page available with this setup so I can review and see where it may be going wrong?

[2019-08-29 14:07] xavierleune commented on #4025
@jsnellbaker Yes, I just created a copy of [the demo page](http://prebid.org/examples/video/outstream/outstream-no-adserver.html). I changed the placement (line 26) and added the renderer (lines 33-41) and  debug option (line 45) so you can reproduce the issue with [this gist](https://gist.github.com/xavierleune/f72d4e34db0b8a2ea264afbcbd97aebf).

Here is the error:
![image](https://user-images.gi

[2019-08-29 14:49] #3353 closed

[2019-08-29 14:51] #3459 closed

[2019-08-29 14:52] mkendall07 commented on #3515
@bretg @robertrmartinez
I believe this is fixed now? can you confirm?

[2019-08-29 14:54] #3769 closed

[2019-08-29 19:26] jsnellbaker opened #4129 "I2I - updates and new logic for sizeConfig feature"
This I2I documents the (currently) planned updates to the sizeConfig feature for Prebid.js 3.0.  It is open to feedback, so please share any thoughts/concerns/ideas/questions in regards to the outlined approach.

## Table of Contents
- [Status of sizeConfig feature](#Status)
    - [Context for change](#Context)
- [Proposed updates for sizeConfig feature](#Proposal)
    - [Primary Goals](#Goals)

[2019-08-30 09:41] muuki88 opened #4131 "ShowHeroes only seem to support Instream"
## Undocumented behaviour

## Description

The showheroes adapter introduced in #3733 doesn't support `oustream`, but doesn't state this in the documentation nor does it valdidate the `mediaTypes.video.context`

## Steps to reproduce

Configure a showheroers bid

[code]

### Expected results

1. The adapter documentation states that only `outstream` is supported
2. The adapter ignores `mediaType.v

[2019-08-30 10:24] GeneGenie opened #4132 "Eplanning bid adapter will never return test bid."
### Type of issue
Bug

### Description
Eplanning adapter has  "t" bid param which should return test bid from cdn in any case.

### Steps to reproduce
Add two eplanning bids with params:
{t:1}
and
{ci:"123"}

### Expected results
adapter should return static sample response from http://i.e-planning.net/layers/t_pbjs_2.json
### Actual results

## Other information
[Function that checks that request

[2019-08-30 11:33] pm-shashank-jain opened #4133 "IdentityLink Id not syncing due to CORS error from Endpoint"
## Type of issue
Bug

## Description
IdentityLink Id config is set in config but not synced due to CORS error from the api endpoint -> https://api.rlcdn.com/api/identity/envelope?pid=999

## Steps to reproduce
1. Include latest prebid
2. Set config for IdentityLink in pbjs.setConfig
3. Observe Network Pane/ console for CORS error in endpoint

## Test page
https://jsfiddle.net/shashankjain/w6bgehun

[2019-08-30 12:10] patrickjae commented on #4131
Hi!
Thanks for bringing this up. Could you please confirm the reported behavior when changing the parameter value of mediaTypes.video.playerSize to a simple list as documente [here](https://github.com/showheroes/Prebid.js/blob/master/modules/shBidAdapter.md).
I.e. does the configuration

[code]
also not work?
Thanks,
Patrick

[2019-08-30 14:03] ethyde opened #4135 "Filter with labelAll or labelAny doesn't work for media type video"
## Type of issue
Bug

## Description
When I am in the mediatype video, I want to filter the bidders configurations according to the device using the information of sizeConfig and labelAny or labelAll.

But that does not seem to apply

## Steps to reproduce
1. add a sizeConfig with desktop, tablet or mobile
2. add 2 videos adunits, with 2 bidder config : one with `labelAny: ["desktop"]`, and one wi

[2019-08-30 14:13] tornajoe commented on #4120
@jsnellbaker I read the pull request about this and made changes based off of that but the problem still persists (the same exact errors coming back). I tried again starting fresh, doing a `git pull`, and the other steps you mentioned earlier.

I'll revisit this in a bit, but for right now, I was able to download off of prebid.org/download since the new partner I was trying to add is now available

[2019-08-30 15:49] elberdev commented on #4107
@jaiminpanchal27 We're looking to revise this to create a safer fallback

[2019-08-30 20:20] mgriego commented on #3870
Hey all, curious about one thing.  I saw that the first round of schain support was merged.  I have a concern about bidder instances that might need a different schain object.  From what I can see, it looks like schain is currently implemented as a global setting.  I can, however, have a couple of different bidders that are set up for different partners.  Since each partnership would constitute a

[2019-08-30 20:55] robertrmartinez commented on #3899
Have a PR open and waiting for review.

https://github.com/prebid/Prebid.js/pull/4136

[2019-09-03 08:56] xavierleune commented on #4025
@jsnellbaker friendly ping before the stale bot wants to close it ^_^

[2019-09-03 14:23] jsnellbaker commented on #4120
Hi @tornajoe

Can you clarify - did you pull my PR directly or just replicate the changes on your end?

In either case - did you also verify the node environment (at least 8.9) and reinstall the project dependencies?

I've tried the build command with the list of modules you were using (both as a list in the build command and as a .json file), and it successfully creates the build for me with the

[2019-09-03 14:30] Martin468 commented on #3740
Hi @Jrex90  How did you solve mentioned issue?

I guess, I have the same problem with size mapping as you did. I know how to implement size mapping in regular GPT tags but it doesn't work with prebid setup. I tried to use prebid solution: [http://prebid.org/dev-docs/prebid-1.0-API.html](http://prebid.org/dev-docs/prebid-1.0-API.html) , but the size mapping does not work in case prebid returns noBi

[2019-09-03 15:26] mike-chowla commented on #3870
@mgriego I can see two ways to handle this.  Either the bidders can just support their own schain config per ad unit or someone does another PR to enhance the schain support to be scoped per bidder and support multiple schain objects.

[2019-09-03 15:40] #4120 closed

[2019-09-03 17:17] mkendall07 opened #4148 "Remove BID_TARGETING_SET as criteria for a "used bid""
## Type of issue
I2I.

## Description
Currently we mark bids as used if they are rendered or set in an auction (`BID_TARGETING_SET`). This means that we will not be able to use a bid (aka, via bid caching) if it is not ultimately rendered in the 1st auction. [code link](https://github.com/prebid/Prebid.js/blob/master/src/targeting.js#L25)

This makes bid caching somewhat ineffective in most cases

[2019-09-03 17:19] bretg opened #4149 "Pre-Auction Filters and the Prebid Ad Slot"
# Feature Overview

The Prebid AdUnit 'code' is a mixed attribute that can be either the GPT slot name or the div ID. The undecided nature of this value makes the 'code' harder to utilize for reporting and targeting.

This feature proposes a resolution to the long-running issue of the confusing AdUnit `code` value by establishing conventions for passing in something more descriptive and stable. It

[2019-09-03 17:45] jsnellbaker commented on #3364
This issue was actually related to the `appnexusBidAdapter`.  I reviewed the setup and created a PR to address the issue.

Since we're receiving vast XML code instead of a vast URL, I updated the bid field the adapter populates to `bid.vastXml` and fixed where we're looking in the raw bid response to get the data.

[2019-09-03 18:12] pm-harshad-mane commented on #4148
Looking at the risk of rendering the same bid twice, can we add a logic to use a bid in one auction only at a given time, maybe something like ```bid.inUse = true``` flag.

[2019-09-03 18:15] mkendall07 commented on #4148
That is basically the same thing that `BID_TARGETING_SET` does. So the question becomes, when does the status change to `bid.inUse = false`  if we don't get a callback that the ad did not render?

[2019-09-03 18:27] pm-harshad-mane commented on #4148
Mostly after getting the bids from Prebid, a publisher would call the guaranteed server (say GAM).
If bid from Prebid is rendered then we can know that now we need to unset bid.inUse for other bids in a given auction.
But if a bid from Prebid is not rendered then we do not have a way to know when to unset bid.inUse.
To handle the above scenario, can we add a timeout based logic that assumes the ma

[2019-09-03 18:33] pm-harshad-mane commented on #3870
I agree with @mike-chowla 's suggestion.

[2019-09-03 21:37] pm-harshad-mane commented on #3790
We can ask User Id submodules to decide the format they want to use, if adapter wants to change the format then the adapter can make changes in adapter code.
Now, adapters like PubMatic, Rubicon, Pulsepoint need to create the OpenrRTB user.ext.eids object and need to make code changes to support each new userId submodule

[2019-09-04 01:53] bretg commented on #4098
Assigning to @mkendall07 - my take is that data general to the auction would be ok. The forbidden thing is for bid adapters to try to grab bids, parameters, etc from other adapters.

[2019-09-04 01:54] bretg commented on #4105
Closing this issue -- covered by the PR https://github.com/prebid/Prebid.js/pull/4106

[2019-09-04 01:54] #4105 closed

[2019-09-04 01:56] bretg commented on #4110
@jakubkowalczyk-pl  - e.g. the cacheHost, cachePath, and uuid fields will only be populated for video. Can we close this?

[2019-09-04 02:07] bretg commented on #4113
@aleksatr, @naegelin, @musikele - adsparc is an alias for aardvark, which you guys have touched recently.

[2019-09-04 02:10] bretg commented on #4121
@spormeon - this is from the Rubicon adapter. We need either a page where this is happening or the ext.errors.rubicon from the response to prebid-server.rubiconproject.com/openrtb/auction

[2019-09-04 02:16] bretg commented on #4132
@matimar , @Nistenf - can you help here?

[2019-09-04 02:17] bretg commented on #4133
@mamatic - please take a look

[2019-09-04 02:20] bretg commented on #4135
@ethyde - in your expected results section you mention 'ad for the media type banner', but the title notes that the problem is in media type video.

It makes sense that sizeConfig doesn't consider playersize - I suspect we never considered that scenario. But I think it should work for mediatype banner.

[2019-09-04 09:21] spormeon commented on #4121
this what you need?
{"id":"f12ae546-30c6-452a-91a7-1813e15cd37e","seatbid":[],"cur":"USD","nbr":2,"ext":{"debug":{"httpcalls":{"rubicon":[{"uri":"https://exapi-eu.rubiconproject.com/a/api/exchange.json?tk_sdc=eu","requestbody":"{\"id\":\"f12ae546-30c6-452a-91a7-1813e15cd37e\",\"imp\":[{\"id\":\"inreedvid5Slot\",\"video\":{\"mimes\":[\"video/x-flv\",\"video/mp4\",\"application/x-shockwave-flash\",\

[2019-09-04 09:24] jdelhommeau commented on #3870
Just to emphasize on @mgriego 's point. Current implementation (prebid global config to set schain) seems quite wrong. That assumes that only one seller is implemented prebid side. If that was the case, we wouldn't have needed to come up with standard like sellers.json. The reason we need sellers.json is that in most cases, publishers will work with many different resellers (most of them implement

[2019-09-04 09:27] haroldpussat commented on #3769
Hi, I can confirm the issue is solved with a 2.30 Prebid.js version. The only winning asset is sent to DFP. We will be able to add more than one partner in native prebid competition.
Thanks

[2019-09-04 14:29] mike-chowla commented on #3870
@jdelhommeau I agree that the current implementation doesn't cover the use case you are describing and that's probably a valid use case.   When we inventoried our publisher use cases, the every bidder needing the same supply chain object was the common one.

No one has any objection to further enhancement of the schain module to support additional use cases.  Since the schain object is passed as p

[2019-09-04 14:39] jsnellbaker commented on #4025
Hi @xavierleune

Thanks for the details and the test page.

I created a PR that should address the issue.  Please let me know if you have any questions.

Thanks,
Jason

[2019-09-04 14:51] jdelhommeau commented on #3870
Thank you @mike-chowla . It may varies per market, but in France, I don't think any of the top 100 publishers doing prebid would have a single schain node for his setup. They would all work with direct integration and at least 1 intermediary partner (MSQ, Sublime, Gravity, teads, etc.), so would need at least two different schain node.

Agree that the schain module is probably the best place to do

[2019-09-04 14:55] Nistenf commented on #4132
Yep, that isTestRequest function looks wrong. I'll report it internally so we can fix it. Thanks for letting us know.

[2019-09-04 14:57] ian-lr commented on #4133
Hi @pm-shashank-jain,

Two questions for you:
- Are you using the pid "999" in the call? If so, we'll need to provide you with a live pid to work properly.
- What geoIP are you calling us from? This will currently only return envelopes in the US and Canada.

Thanks!

[2019-09-04 15:05] dpapworth-qc commented on #4047
@spormeon i've deployed a fix for the above error, so you shouldn't see an error when quantcast returns no bids.

[2019-09-04 16:25] musikele commented on #4113
Hi @spormeon , can you tell me the steps to reproduce the error?

[2019-09-04 16:32] spormeon commented on #4113
umm, its pretty much as simple as opening a page and maybe doing a refresh to get new bids on the page, not sure what else to tell you?

[2019-09-04 16:34] musikele commented on #4113
I mean, how did you configure prebid?

[2019-09-04 16:36] spormeon commented on #4113
{ bidder: 'adsparc',      labelAny: ['desktop', 'tablet', 'phone'], params: { networkId: '9969', siteId: '1019801' } }, /*one placementId for all sizes*/

[2019-09-04 16:43] musikele commented on #4113
Thank you, will reach you out asap!

[2019-09-04 18:18] Nistenf commented on #4132
@bretg how important is this fix? We probably have a PR incoming (in about a month, month and a half) for our adapter and we could include this fix in it.

[2019-09-04 19:54] bretg commented on #4132
Medium priority

[2019-09-04 20:13] bretg commented on #4121
So 8 days ago, Rubicon had performance problems that would have resulted in `open circuit` errors like this. Those errors should have subsided as capacity was added. Are you still receiving them?

In any case, that error message was pretty useless and shouldn't be at the error level. I've opened https://github.com/prebid/Prebid.js/pull/4157 to tune the Rubicon logged messages.

[2019-09-04 20:20] spormeon commented on #4121
Yep I was still seeing it today

On Wed, 4 Sep 2019 at 21:13, bretg <notifications@github.com> wrote:

[2019-09-04 20:35] npeceniak opened #4158 "s2sConfig adapterOptions are not being added to request JSON"
## Type of issue
Question

## Description
I am trying to test out a new prebid server adapter that requires a few bidder specific parameters in the JSON request.ext.{BIDDER} object and based on the documentation it looks like I should be able to use the adapterOptions object in s2sConfig to add the parameters I need however the adapterOptions object I set seems to be ignored.

## Steps to reproduc

[2019-09-04 21:06] jaiminpanchal27 commented on #4158
@npeceniak
1) You need to also include `spotxBidAdapter` while downloading prebid. As of now there is a dependency on client side adapter even we you are doing just server side header bidding.

2) Prebid server adapter does not ignore adapter options. It copies the value in setConfig to `imp[0].ext.spotx`. In above shared sample snippets, if you update the value in setConfig you will see the resul

[2019-09-04 21:30] bretg commented on #4121
Can you give me another URL where it's happening? adops.golfwrx.com is password protected.

[2019-09-04 21:32] spormeon commented on #4121
It's on my test bed which is password protected.

On Wed, 4 Sep 2019 at 22:30, bretg <notifications@github.com> wrote:

[2019-09-04 21:43] npeceniak commented on #4158
@jaiminpanchal27  Thank you for such a quick reply. I did download a the latest prebid.js and included both the `spotdBidAdapter` and the `prebidServer` so this latest test was done on version 2.32.0. I also tried using the extPrebid object as you suggested but that results in my spotx object being a child of the `request.ext.prebid` object and the server adapter expects the spotx object to be a s

[2019-09-04 22:58] bretg commented on #4121
Please capture the JSON that's posted to the endpoint and paste it here?

[2019-09-04 23:44] #3999 closed

[2019-09-05 08:40] pm-shashank-jain commented on #4133
Hello @ian-lr ,
To answer your questions :
1. Yes I used pid 999. If this can not be used , can you please provide working Id for testing and validtion.
2. I've used geo of Both APAC and US and still getting the same error.

[2019-09-05 10:16] benjaminclot opened #4159 "PChain integration"
## Type of issue
Question

## Description
Is PChain integration planned? Along with [sellers.json](https://iabtechlab.com/wp-content/uploads/2019/07/Sellers.json_Final.pdf), PChain seems required by TTD and many SSPs.

[2019-09-05 12:28] xavierleune commented on #4025
Thanks for the pull request. I think we can close this issue.

[2019-09-05 12:28] #4025 closed

[2019-09-05 12:45] spormeon commented on #4121
it seems to have gone today, although i did update to 2.30.0 yesterday if there was anything in there that could of fixed it?
p.s i'm in the UK

[2019-09-05 12:51] spormeon commented on #4121
oh, hang on its back, what bit do you need? what i put above but for today?

[2019-09-05 14:08] musikele commented on #4113
Hey @spormeon I tried to replicate the issue but with no success. Here's the code i tried.

prebid: 2.29 + adsparc adapter, generated from prebidjs.org website

index.html: the one below
[code]

[2019-09-05 14:26] spormeon commented on #4113
no error but it did bid?

[2019-09-05 15:24] bretg commented on #4121
I'm looking for the request body.

1) bring up dev tools, search for a call to prebid-server.rubiconproject.com/openrtb2/auction
2) find the POST body
3) paste here

thanks

[2019-09-05 15:32] spormeon commented on #4121
enough, or need more of it?
{id: "9625f7b3-9a1a-497c-ae98-14d1ed2036e6", seatbid: [], cur: "USD", nbr: 2,…}
cur: "USD"
ext: {debug: {,…}, errors: {rubicon: [{code: 999, message: "open circuit"}]},…}
debug: {,…}
httpcalls: {rubicon: [{uri: "https://exapi-eu.rubiconproject.com/a/api/exchange.json?tk_sdc=eu",…}]}
rubicon: [{uri: "https://exapi-eu.rubiconproject.com/a/api/exchange.json?tk_sdc=eu",…}]

[2019-09-05 15:36] jaiminpanchal27 commented on #4158
@npeceniak I looked at `prebidServerAdapter` again and conclude that we cannot add object as sibling as of today. Can you create a feature request explaining your use case ? Prebid core team will take a look and get back to you.

[2019-09-05 15:38] musikele commented on #4113
Since adsparc is an aardvark alias, you should use [Aardvark](http://prebid.org/dev-docs/bidders.html#aardvark) parameters `ai` and `sc`. So the right configuration would be
[code]

The right values for `ai` and `sc` should be asked to adsparc.

[2019-09-05 17:35] HuddledMasses opened #4164 "Colossus adapter question"
## Colossus adapter is not listed across bidders with native and video demand

## Description
As Colossus adapter supports both video and native, should it be listed here as well?
http://prebid.org/dev-docs/bidders.html#bidders-with-video-and-native-demand
or it is not necessary? our initial pull request was located here: https://github.com/prebid/Prebid.js/pull/2281

## Steps to reproduce

## Tes

[2019-09-05 17:42] bretg commented on #4121
That's the response -- looking for the request. Or the full response from the `resolvedrequest` attribute on down.

[2019-09-05 19:44] ian-lr commented on #4133
Thanks, @pm-shashank-jain. I'll create and send you a working pid for the configuration. Can you email me directly -- ian (at) liveramp.com ?

[2019-09-05 20:24] spormeon commented on #4121
try this one, that it?
{"id":"ff01ac3f-1b62-4ae5-bd19-2f47f3e98c00","test":1,"cur":["USD"],"source":{"tid":"ff01ac3f-1b62-4ae5-bd19-2f47f3e98c00"},"tmax":1000,"imp":[{"exp":300,"id":"inreedvid10Slot","secure":0,"ext":{"rubicon":{"accountId":16924,"siteId":151312,"zoneId":896644,"video":{"language":"en","size_id":203}}},"video":{"context":"outstream","playerSize":[[300,250]],"mimes":["video/x-flv",

[2019-09-05 21:32] bretg commented on #4121
I'm getting a Rubicon error status 16 out of that request:
[code]
Status 16 means that your combination of account/site/zone/size isn't recognized:
[code]
I ran this several times and am not seeing the 'open circuit' error.

In any case, I agree that the Rubicon setup is incorrect here, but it isn't a Prebid issue. I've merged https://github.com/prebid/Prebid.js/pull/4157 to downgrade the javascri

[2019-09-05 21:32] #4121 closed

[2019-09-05 21:51] pm-harshad-mane opened #4166 "PrebidJS User Id module should share userIds in ORTB Eids format as well"
## Type of issue
Prebid JS User Id module shares all user Ids with bidders in an object like below.
[code]

## Description
Then each bidder needs to pass these IDs to adapter server end-point in a preferred format.
Some bidders like PubMatic, PulsePoint, Rubicon, PrebidServerBidAdapter use ORTB format, these bidders need to put the UserIds in ORTB.user.ext.eid format.
For each new UserID these bid

[2019-09-06 09:11] oscarmarimrf commented on #4159
Any news about this? We'd need to integrate PChain too.
Thanks!

[2019-09-06 11:21] pm-shashank-jain commented on #4133
@ian-lr dropped you an email

[2019-09-06 22:42] pm-harshad-mane commented on #4118
Hello @mkendall07 ,
if we are going to deprecate ```iframeEnabled``` does that mean adapters does not need to check this config or we are not going to allow iframe-based syncup?

[2019-09-09 05:25] j03w commented on #4159
there is this https://github.com/prebid/Prebid.js/blob/master/modules/schain.js but only pubmatic and oneVideo supports it

[2019-09-09 07:27] bretg commented on #4113
@musikele - the documentation for adsparc is quite different -- https://raw.githubusercontent.com/prebid/prebid.github.io/master/dev-docs/bidders/adsparc.md

@spormeon - let us know if you determine that ai and sc work. If so, someone will have to enter a PR to update the docs.

[2019-09-09 09:03] ethyde commented on #4135
Thanks for your answer, and sorry for delay. I have updated description and expected result.

[2019-09-09 12:05] jsnellbaker commented on #4164
Just to clarify on this issue, I left a comment on the original PR with some notes on how to have the bidder appear on that table.
https://github.com/prebid/Prebid.js/pull/2281#issuecomment-528849139

If you have any questions on the process, please let me know and I'll be happy to help.

[2019-09-09 14:50] mkendall07 opened #4171 "I2I - remove `min` from priceGranularity"
## Type of issue
I2I

## Description
Currently the custom `priceGranularity` bucket object looks like this:
[code]
This proposal would drop the `min` attribute - since this doesn't support any use cases and can be confusing and easy to mis-configure (such as a gap in the price buckets configured) The `min` value will be assumed as the previous bucket `max` - this is how PBS implements the feature

[2019-09-09 14:54] mkendall07 opened #4172 "I2I remove PBS legacy endpoint support in PBS adapter"
## Type of issue
I2I

## Description
The legacy endpoint is deprecated in favor of the ORTB2 endpoint(s). This will remove support from the Prebid.js adapter for the legacy endpoint.

Specifically, the code starting here (https://github.com/prebid/Prebid.js/blob/master/modules/prebidServerBidAdapter/index.js#L302) will be removed.

[2019-09-09 16:19] jsnellbaker commented on #4118
Hi @pm-harshad-mane,

Iframe based syncs will still be allowed in 3.0.  The public API for the `userSync` feature will no longer have the boolean field `iframeEnabled`, so that would affect publishers.

For adapters, the plan is to have the call signature of the `getUserSyncs` function to remain the same; it will continue to use the `iframeEnabled` and `pixelEnabled` boolean fields within a `syncO

[2019-09-09 17:41] pm-harshad-mane commented on #4118
Thank you @jsnellbaker for the explanation.
One more question, How Prebid will derive which types of syncing are allowed (for the auction)?

[2019-09-09 18:14] jsnellbaker commented on #4118
There's some logic [here](https://github.com/prebid/Prebid.js/blob/master/src/adapters/bidderFactory.js#L333) that does the resolution.

It's currently using both sets of variables that would be involved (the deprecated fields and the future fields), so this may be tweaked a bit as part of the 3.0 release.

[2019-09-09 22:03] pm-harshad-mane opened #4175 "Prebid JS UserId hashed email id sub-module"
## Type of issue
Feature request: Prebid User Id sub-module to add hashed email id

## Description
- Create a submodule which will expose an API say ```pbjs.storeHashedEmail```
- publisher will pass user's email id to  ```pbjs.storeHashedEmail('my.loyal.user@not-so-great-mail.com')```
- the sub-module will create a one way encrypted hash value of the given email id
- store the hash value in a firs

[2019-09-09 23:42] pm-harshad-mane commented on #4175
I was looking at the code of UserId module and I think it is easier to include this feature in UserId module itself than creating a submodule.

[2019-09-10 14:43] muuki88 commented on #4131
Hi @patrickjae :smiley:

Sorry for the late reply.

Changing the `playerSize` setting doesn't  change anything. I updated the initial report with the log message.

[code]

The request is sent and a response comes back, but it's not what prebid expects. I must have overlooked [this line here|https://github.com/prebid/Prebid.js/blob/master/modules/shBidAdapter.js#L52-L54], which indicates that outst

[2019-09-10 16:44] #3364 closed

[2019-09-11 04:34] pm-shashank-jain commented on #4133
Thanks @ian-lr for the help
Closing this issue as was able to get identityLink working after a valid pid, geo(US,Canada) and certain required cookies.

[2019-09-11 04:34] #4133 closed

[2019-09-11 15:09] bretg commented on #4159
My understanding is that TradeDesk prefers schain and will be converting any pchains they get into schain format.

Obviously Prebid would rather not build support for pchain if schain is going to be the preferred solution.

If anyone has data to back up building out pchain, please share.

[2019-09-11 15:23] benjaminclot commented on #3899
That's great! Now all that's missing is support of this by the [Universal Creative](https://github.com/prebid/prebid-universal-creative)...

[2019-09-11 17:20] DecayConstant opened #4186 "OpenX Adapter's video `openrtb` parameter doesn't behave as documented"
## Type of issue
Bug in OpenX Adapter or incorrect documentation about the video `openrtb` parameter.

## Description
The documentation for OpenX video bid requests (Here: https://docs.openx.com/Content/developers/containers/prebid-video-adapter.html and here: https://github.com/prebid/Prebid.js/blob/master/modules/openxBidAdapter.md ) indicates that the proper structure of the requests looks like

[2019-09-11 18:03] bretg commented on #4159
I'm with Rubicon Project -- our exchange will support schain in Q4. In the meantime, we're exploring options with TradeDesk: either we'll get an extension on the deadline for key supply or we'll reformat schain to pchain in our adapters so TradeDesk can convert it right back to schain.

[2019-09-11 18:26] bretg commented on #4158
You're right @npeceniak that the prebid.org documentation was wrong on this. The adapterOptions setting affects request.imp[].ext.BIDDER. Doc has been fixed.

So we currently support defining
- ext.prebid.BIDDER (with `s2sConfig.extPrebid`)
- imp[].ext.BIDDER (with `s2sConfig.adapterOptions`)

Sounds like you're asking for adding `ext.BIDDER` as an option. I suppose that could be a new `s2sConfig.

[2019-09-13 17:07] jsnellbaker commented on #4129
Thanks for the feedback and consideration.  I do understand your points against the original proposal in its attempts 'to stay the same and be different'.

The suggested alternative has merit, though I need to digest it a bit more.

A few initial questions:
- the property `minViewPort`, would it be easier setup-wise to also include a `maxViewPort` for that tier?  it would save the need to declare

[2019-09-16 00:37] bretg commented on #4129
- I'm fine with `maxViewPort`
- I don't think we should make conversion any harder than needed. My (unproven) assumption is that sizeconfig works as-is for many pubs. There have been only a few more complex use cases that have requested a more sophisticated design. I don't see the need to make the silent majority change.
- labels: I think you have the use case correct, but getting picky about the

[2019-09-16 10:52] HuddledMasses commented on #4164
Thanks @jsnellbaker
we have updated PR: https://github.com/prebid/prebid.github.io/pull/1484
Will you be able to take the look?

Thanks!

[2019-09-16 15:21] bretg commented on #4113
@spormeon - the docs have been updated for adsparc. Closing this issue. Re-open if this doesn't address your issue.

[2019-09-16 15:21] #4113 closed

[2019-09-16 18:10] bretg commented on #4164
Docs PR merged and confirmed that Colossus is on the list now.

[2019-09-16 22:37] jimee02 commented on #4186
@DecayConstant, I've created a ticket to updated our docs page and have updated prebid and our adapter to match the code.

[2019-09-17 09:50] muuki88 commented on #4131
As an example on how to define a renderer

- [AppNexus Adpater `newRenderer`](https://github.com/prebid/Prebid.js/blob/master/modules/appnexusBidAdapter.js#L428-L452) and [AppNexus Adapter `oustreamRenderer`](https://github.com/prebid/Prebid.js/blob/master/modules/appnexusBidAdapter.js#L829-L841)
- [SpotX Adapter](https://github.com/prebid/Prebid.js/blob/master/modules/spotxBidAdapter.js#L276-L309

[2019-09-17 10:03] patrickjae commented on #4131
Thanks for the pointers, I have passed this on to our developers, they will take over from here as soon as possible.
Best,
Patrick

[2019-09-17 10:25] vadim-mazzherin commented on #4131
Thanks for the pointers, I'm working on this issue.

[2019-09-18 12:52] pm-shashank-jain opened #4202 "Should UserId module include Default idSystems?"
## Type of issue
Question

## Description
As can be seen here -> https://github.com/prebid/Prebid.js/blob/ebf4272e4d96119070e43d7a83da56b74fc3e0ba/modules/userId/index.js#L81
By default if you include userId in build, both unifiedId and pubCommonId are being included. Should they be included in modules.json instead of having them implicitly so that user can build only modules which are required.
T

[2019-09-19 05:06] harpere commented on #4129
Agree with what's been said:

- also ok with `maxViewPort`, but think we should make it optional.
- labels: like bret said, your use case makes sense to me.  I think the proposal is to leave the current functionality as is, including the sizeConfigs with mediaQueries and labels, in case people are using it, and just add the new "minViewPort" (and maxViewPort) sizeConfig feature in addition to it.

[2019-09-19 09:50] Swiiip opened #4211 "[Feature] User Module should be able to get the top frame url"
## Description
With the deprecation of the getTopFrameReferrer (https://github.com/prebid/Prebid.js/blob/master/src/utils.js#L249) function, we can no longer access the top frame url from within the User Module without reimplementing it. The top frame url is only accessible from within bid adapters through the bidderRequest.refererInfo parameter. It woud be interesting to expose an api in User Mod

[2019-09-19 13:07] OG84 opened #4214 "Currency module error: Cannot read property 'cpm' of undefined"
## Type of issue
Bug

## Description
We see the following error

[code]

![image](https://user-images.githubusercontent.com/5689965/65246605-356ebf00-daef-11e9-8028-95cfe3123449.png)

We have a fingerprinted prebid js with following adapters:
[code]

## Steps to reproduce

## Test page

### Expected results

### Actual results

## Platform details
Prebid 2.23.0 / Chrome 76

## Other information
Co

[2019-09-19 13:29] jsnellbaker commented on #4214
Hi @OG84

Can you provide a copy of your prebid setup (or preferably a test-page/jsfiddle) that demonstrates the error so we can review?  Thanks.

[2019-09-19 13:43] OG84 commented on #4214
Thx for the quick reply. I cannot reproduce it anymore with the latest version 2.32.0

So i guess i just close and reopen if necessary.
thx 👍

[2019-09-19 13:43] #4214 closed

[2019-09-20 09:44] throne1986 opened #4216 "Is it possible to intergrate prebid.js with fluid video player js?"
Is it possible to integrate prebid.js with fluid video player js? I am using fluid video player for displaying my ads using VAST xml

Here is my live demo: https://royaladvastplayer.videomill.pl/vastvideoplayer/

If it's possible, what do I need to do to integrate with prebid? Here is my prebid.js demo config

    var pbjs = pbjs || {};
    pbjs.que = pbjs.que || [];

    var tempTag = false;

[2019-09-20 09:45] pm-shashank-jain commented on #4202
I see docs are updated in this PR -> https://github.com/prebid/prebid.github.io/pull/1498/files
Hence closing this issue.

[2019-09-20 09:45] #4202 closed

[2019-09-20 13:06] throne1986 opened #4218 "Why my video ads are not displaying ?"
I am using prebid js to display my ads, I am using the fluid video player to invoke the video player.

Here is my demo : [demo][1]

Here is my js

     <head>
             <script>
                var pbjs = pbjs || {};
                pbjs.que = pbjs.que || [];

                console.log(pbjs);

                // define invokeVideoPlayer in advance in case we get the bids back from prebid befo

[2019-09-20 16:39] #4107 closed

[2019-09-20 18:04] jsnellbaker commented on #4129
Hi @bretg @harpere

Just to confirm, I understand the desire to not impact existing users too much by proposing that we keep the existing function intact while adding this new logic.  But how long would we plan to maintain the 'current' logic?  Are we eventually going to deprecate the `setConfig` approach?

I wanted to explicitly clarify this point, since the feedback so far is that it appears to

[2019-09-20 20:19] bretg commented on #4129
It's a good question, but one I don't think we have enough data on. It's not clear to me what proportion of publishers are happily using the current approach vs those struggling with complex use cases. I propose we leave the global setConfig approach until we get feedback from pubs. I've set up a meeting with the 3 pubs that are Prebid.org members.

[2019-09-20 20:59] jimee02 commented on #4186
@jsnellbaker, can we consider this issue closed?

[2019-09-23 14:01] #4186 closed

[2019-09-23 15:39] bretg commented on #3899
@benjaminclot - I'm not seeing a Prebid Universal Creative issue.

As noted in the comment way above, I updated the [documentation](http://prebid.org/adops/deals.html#step-4-attach-creatives-to-line-items) to reflect how deals need to be set up. You're right that won't work without hb_adid_BIDDERCODE, but the `alwaysIncludeDeals` flag should fix that.

Note also that I submitted a docs PR to revis

[2019-09-23 19:59] robertrmartinez commented on #3515
@mkendall07

Is there a link to the PR?

I tried with Prebid `2.32.0` and it still does not work.

[2019-09-24 14:03] benjaminclot commented on #3899
OK this is good @bretg. Thanks!

[2019-09-25 02:41] #4098 closed

[2019-09-25 02:41] #4110 closed

[2019-09-25 03:41] #4111 closed

[2019-09-25 12:26] bretg commented on #3226
@eliseumds , @benjaminclot , and @GLStephen - please take a look at https://github.com/prebid/Prebid.js/issues/4129. There are two rather different approaches outlined there. Seeking your opinion about the direction.

[2019-09-25 14:27] GLStephen commented on #4129
@bretg I spoke to three people here who work with our config builder and our publishers to manage their configs. The consensus was the more explicit, purpose built, number two option would be preferred.  Making it similar to that other ad server is good from the standpoint of applying an understandable config in a complex site.

However, there was explicit feedback that:

1. The same config should

[2019-09-25 14:48] bretg commented on #4171
Confirmed that PBS-Java ported the PBS-Go change that eliminated the 'min' attribute.

[2019-09-25 14:48] #3853 closed

[2019-09-25 15:48] mkendall07 commented on #4171
@bretg - cool. Does that mean we can go ahead with this change in PBJS?

[2019-09-25 15:51] GLStephen commented on #3226
@bretg I responded in the #4129

[2019-09-25 16:52] bretg commented on #4129
Thanks for the thoughtful response @GLStephen .

1) We did allow for sizeConfig to be at the bidder level. See the 'left-square' example -- bids[].sizeConfig is a thing. However, maybe you're worried about duplication -- like having 10 adunits on the page, with every instance of bidderA replicating the same sizeConfig? So you'd be looking for some kind of 'macro'? If so, one approach would be some

[2019-09-25 17:52] bretg commented on #3899
Cool. So we can close this @benjaminclot ?

[2019-09-25 18:16] benjaminclot commented on #3899
Yes, I'll close it.

[2019-09-25 18:16] #3899 closed

[2019-09-26 13:27] benjaminclot commented on #4129
@bretg's proposal has my preference overall. A few remarks:
- I do prefer minViewport over maxViewport, mainly because the 'well-known ad server' uses this and it allows for a faster check of rules if they're written the same way
- I want to still have the possibility to have duplicate ad units (same codes), as sometimes it's easier to read (and also allows easily readable grouping of configs, lik

[2019-09-26 17:17] robertrmartinez commented on #3515
@jaiminpanchal27 Was this actually fixed or just still waiting to be fixed?

I do not think it is super high priority but wanted to make sure cuz I could not find an associated PR

[2019-09-26 17:51] jaiminpanchal27 commented on #3515
@robertrmartinez Not fixed. Thanks for taking it.

[2019-09-26 18:09] DecayConstant opened #4237 "schain module breaks in IE11"
## Type of issue
Bug

## Description
The schain module uses `Object.values` which is not supported in IE11: https://github.com/prebid/Prebid.js/blob/master/modules/schain.js#L136

This crashes the prebid code when running in IE11.

## Steps to reproduce
Try to use the schain module in IE11.

[2019-09-26 18:18] bretg commented on #4129
Thanks @benjaminclot - I think we got you covered.

1) we prefer minViewPort for the same reason.
2) consider duplicate adunits a thing
3) excluding the adunit based on size was part of the 'leaderboard' example. Here, the adunit is only relevant 750px and up:
[code]
The remaining 2 questions:
- whether we need the 'macro' idea suggested (indirectly) by @GLStephen - I would propose that we save th

[2019-09-26 18:25] ehoch commented on #4237
@pm-harshad-mane

[2019-09-26 18:43] pm-harshad-mane commented on #4237
Looking into it on priority 👍

[2019-09-26 19:17] jsnellbaker commented on #4129
I am still willing to make the changes for sizeMapping.  I'm trying to consolidate the feedback provided here (thanks all for the varied perspectives, please keep it coming) to iron out what should be included and key scenarios to verify.

My rough plans are to start working on the proposed changes in the next week or so.

[2019-09-30 09:46] jianfai opened #4244 "Changing globalVarName as an option during dowloading?"
Type of issue:
Feature request

Description:
As we run Prebid on publisher's website that also runs Prebid, we need to change the globalVarName from 'pbjs' to 'abc_pbjs' to avoid conflicting with Publisher's Prebid. We do this during compiling Prebid.

Would it be possible to have this feature available as an option when downloading Prebid.js on http://prebid.org/download.html?

[2019-09-30 10:18] benjaminclot commented on #4129
@bretg I may not have been clear with (3): I still want to be able to disable an adunit whatever its mediatype is, not only if it's a banner. Having a sizeconfig per mediatype is nice, but there should also be the possibility to define one for the adunit itself.

[2019-09-30 17:07] pm-harshad-mane commented on #4237
Hello @ehoch and @DecayConstant ,
Code changes are merged to PrebidJS master.

[2019-09-30 19:49] jsnellbaker commented on #4129
@bretg

In looking overall at the collected feedback, there are points about the scope of feature in how it interacts with an adUnit and its mediaType(s) that need to be clarified.

Imagine if you had the following type of adUnit using the new logic:
[code]

How should the different mediaTypes work together (or work separately) when one qualifies and the other doesn't (especially around `native`)?

[2019-10-01 09:50] spormeon opened #4248 "any plan for native video"
is there an plan/ time frame for "native video", do any demand partners currently support it apart from google?

[2019-10-01 11:23] tandalevaibhav commented on #4048
I am using Prebid 2.34.0
Getting the same warning as well as on other:-
"fun-hooks: referenced 'registerAdserver' but it was never created"
"fun-hooks: referenced 'adpod' but it was never created"
Is there anything I should worry about ?

[2019-10-01 11:58] muuki88 commented on #4131
dear stale bot. This issue is not stale. A pull request is reviewed :stuck_out_tongue_closed_eyes:

[2019-10-01 11:58] muuki88 commented on #4131
Thanks :kissing_closed_eyes:

[2019-10-01 15:31] bruceheller commented on #4135
Hello, we have the same issue.

[2019-10-01 16:55] mkendall07 commented on #3556
closing this in favor of using labels. Link to see 3.0 features:
https://github.com/prebid/Prebid.js/labels/3.0%20API%20Change

[2019-10-01 16:55] #3556 closed

[2019-10-01 16:56] mkendall07 commented on #3366
Closing this as we introduced the `sendId` method:
http://prebid.org/dev-docs/show-native-ads.html#1-configure-which-assets-to-send-as-placeholders

[2019-10-01 16:56] #3366 closed

[2019-10-01 17:01] mkendall07 opened #4252 "i2i: Unbundle PubCommon ID and Unified ID from the User ID module build"
## Type of issue
I2I

## Description
Unbundle PubCommon ID and Unified ID from the User ID module build. That is, when building the with the userId module, PubCommon and Unified ID will not automatically be included in the prebid.js build

[2019-10-01 19:28] mkendall07 commented on #4244
seems like a reasonable thing to do. We'll add it to the backlog.

[2019-10-01 19:39] mkendall07 opened #4254 "I2I: Create a `pbjs_global` that would store pbjs globals on page"
## Type of issue
Feature

## Description
Since renaming of the pbjs global is a supported feature, it would be nice if we had a reference on a page to what the global entry was.
Proposal: Store each pbjs global name in a `pbjs_global` array.
ex:
[code]

[2019-10-01 23:07] iantri commented on #4159
Hello,

Centro's view is also that SupplyChain is optimal. While pchain similar in concept (and definitely an inspiration in building SupplyChain), there are various usability reasons why the SupplyChain spec more clearly addresses DSP needs.

If the resulting pchain uses domains as advertising system identifiers (as opposed to TAG ID), then it's workable to convert on receipt of a bid request, bu

[2019-10-01 23:11] iantri commented on #3870
Just wanted to offer support from Centro for the view that SupplyChain should not be global -- we definitely see scenarios like described above by @jdelhommeau.

I do also appreciate the effort made with support for it thus far.

[2019-10-02 02:28] jaiminpanchal27 commented on #4048
@tandalevaibhav We have verified this and not a bug. This warning appears when an optional module is adds a hook on hook point which does not exist.

In this case, [dfpAdserverVideo here](https://github.com/prebid/Prebid.js/blob/master/modules/dfpAdServerVideo.js#L114) is trying to add hook on [categoryTranslation here](https://github.com/prebid/Prebid.js/blob/master/modules/categoryTranslation.js

[2019-10-02 04:10] harpere commented on #4252
thoughts on standardizing the `userIds[].name` param naming format?  Currently some of the names end with `Id` and others don't, while all of the corresponding module names end with `IdSystem`.

[2019-10-02 16:24] harpere commented on #4129
@jsnellbaker could you provide an example of what you're thinking in the _Tangent Thought_ section?

[2019-10-02 16:47] pm-harshad-mane commented on #4237
Hello @DecayConstant ,

Can you please close the issue?

[2019-10-02 17:15] bretg commented on #4129
Agree with Eric that an example counter-counter proposal would be helpful.

Let me see if I understand the scenario:
1) at small screen sizes, some media types and bidders are relevant
2) at medium screen sizes, different media types and bidders are relevant
3) at large screen sizes, still different media types and bidders are relevant

Honestly, I'm not qualified to talk about Native use cases in

[2019-10-02 17:31] bretg commented on #3870
Sorry, I don't have a good context here, so I'm a good naive party who can ask you guys to better document the use cases you're concerned about.

My foggy understanding is that each player should be be adding its own node in the chain. I fail to understand why the publisher would need to create separate schains for each bidder before it's sent to each bidder.

In my head, the flow is like this:

1

[2019-10-02 18:19] bretg commented on #3687
This item has been on the PBJS agenda every 2 weeks since august and we've never gotten to it. We're going to move forward with building this feature as specified in the description.

1) adding new APIs (e.g. setFirstPartyData()) isn't desirable, IMO. We got away from that in the early days of PBJS to avoid proliferation of external functions.
2) having per-bidder set-config seems like a useful fe

[2019-10-02 19:11] #4158 closed

[2019-10-02 20:18] mkendall07 commented on #3687
I agree with points 1 and 2 but not on point 3. We don't want to continue to add burden on core team reviewers to enforce a set of rules. We need to do things programmatically. I prefer a solution that enforces on the code level.

[2019-10-02 20:54] bretg commented on #3687
What does enforcement look like for this rule? Javascript doesn't know who's calling it.

We could take this opportunity to create a separate adapter scanning utility integrated into the build. Every time there's a build, this utility would automatically check certain rules about every file with the naming pattern *BidAdapter.js:
1) there are no calls to getConfig("context")
2) there are no refere

[2019-10-03 13:36] markd-sortable commented on #3870
@bretg your flow assumes that each bidder account used for a publisher's stack is owned by the same entity. This is not always the case.

For example, here at Sortable, we partner with publishers to include some of their own direct relationships with exchanges, and some of ours, to fill out their desired prebid configuration (managed by us). So bidder A may include Sortable as an intermediary in t

[2019-10-03 20:24] bretg commented on #3687
@msm0504 and I came up with a different way to handle the security here. The drawback is that bidder adapters will need to look in two places for first party data.

1) when setConfig() is called with a list of allowedBidders, that data is not merged with the global config data.
2) such protected data is not available via getConfig()
3) protected data is made available only on `bidrequest.protected

[2019-10-03 22:08] iantri commented on #3870
So let me give a story that perhaps illuminates one of these scenarios.

I'm a publisher. I work with SuperAds, a fictitious monetization platform who provides me prebid.js implementation and access to multiple exchanges. SuperAds does this by configuring prebid.js for me, with multiple bidders (Exchanges A and B), making use of the seller account (publisher ID) for SuperAds on those exchanges.  H

[2019-10-04 01:05] bretg commented on #3870
Helpful - thanks @iantri and @markd-sortable.

So interestingly, this could be another use case for the "protected" setConfig() that we came up with over on https://github.com/prebid/Prebid.js/issues/3687#issuecomment-538113373

[code]
According to that proposal, the adapters would find the schain in `bidrequest.protected.schain`.

[2019-10-04 13:35] bretg commented on #4218
Not enough info. Do you see the call to your ad server? If so, are the bid targeting values there? If so, do you have a line item in your ad server set up properly? http://prebid.org/adops/setting-up-prebid-video-in-dfp.html

[2019-10-04 13:46] spormeon opened #4260 "emx_digital error in 2.34.0"
hi,   this error has started appearing in prebid 2.34.0  any ideas what is wrong?

![DevTools_-_adops_golfwrx_com_ulrick_newsbreak_html](https://user-images.githubusercontent.com/8503167/66212413-c5973180-e6b5-11e9-85bb-b374351a0e58.png)

[2019-10-04 14:42] spormeon opened #4261 "ERROR: Sub-optimal JSON received from Quantcast server"
as in the tilte, not sure if its anything to worry about/ how to fix it?
ERROR: Sub-optimal JSON received from Quantcast server

[2019-10-04 15:40] svyoung opened #4262 "Bidders not coming in/showing until I open devtools, Appnexus adapter returns parse error"
## Type of issue
Bug, Question

## Description
Very new to Prebid/Header bidding. I've done the basic set up with Prebid.js and am facing 2 issues I cannot find the solution for.

1. Headerbid Expert extension shows that there are 0 bidders on page load, with DFP showing as a listed bidder:
![image](https://user-images.githubusercontent.com/4993501/66220145-56074f00-e681-11e9-896d-a8ef874a14d4.png

[2019-10-04 18:18] throne1986 commented on #4218
Hi, I solved the problem, thanks for your reply

[2019-10-04 18:34] EMXDigital commented on #4260
Thanks for bringing this to our attention. We are investigating this ticket and will confirm when we have more information. It is our understanding this does not occur on every bid response, but for only certain small % of creatives. Thanks.

[2019-10-04 20:28] bretg commented on #3870
Had an internal conversation that filled in a few more gaps. In the case of superads.com, seems like updating the schain config every time there's a new bidder would be annoying. Perhaps what's needed is a default schain (just what exists now) and an schain override available per-bidder.

Here are some ways to model this that could work for both schain and for first party data:

1) two separate po

[2019-10-04 21:15] bretg commented on #3870
I guess we should assume that Prebid Server needs to support multiple schains as well. Which means that we'll need to create an openrtb extension. I would suggest

[code]
1) Prebid Server bid adapter would be updated to pass these `ext.prebid.schains` values
2) Prebid Server would be updated to pass the appropriate schain to each bidder on `source.ext.schain`

[2019-10-05 11:44] spormeon commented on #4260
ok, add to that , that some outstream ads seem to be loading and then only playing on float over, where as before they we're auto playing, with sound off in P2.34.0

[2019-10-07 16:33] Jobeso commented on #3934
Did you find a solution for that?

[2019-10-07 17:16] #4237 closed

[2019-10-07 17:25] mkendall07 commented on #3687
@bretg
I like this protected approach with sending privileged data on the bid request object 👍

[2019-10-07 21:01] msm0504 commented on #3687
I've opened a pull request with my implementation of this proposal:
https://github.com/prebid/Prebid.js/pull/4268

There is one potential issue that I know of. After the protected data is
stored, I needed to create a way for the adapter manager to get the
appropriate piece for an adapter. There is a new function called
getProtectedData that will return the accessible protected data for a given
bid

[2019-10-08 03:03] bretg commented on #4218
glad to hear.

[2019-10-08 03:03] #4218 closed

[2019-10-08 12:17] lanceloti commented on #3934
@Jobeso nop... I'm using legacy creative for now.

[2019-10-08 12:45] jsnellbaker commented on #3627
@bretg @idettman

It looks like this currency request/issue was addressed by:
https://github.com/prebid/Prebid.js/pull/3951

Can you confirm when you have the chance?
Thanks.

[2019-10-08 15:22] vkimcm opened #4272 "Safeframe resize fix not working properly on safari"
## Type of issue
bug

## Description
https://github.com/prebid/Prebid.js/pull/3988

Above fix is not working properly because last-child is not supported in safari.

This causes PreBid ads to not show up because containers do not get resized.

## Platform details
safari

[2019-10-08 15:24] benjaminclot commented on #4129
Based on the [latest blog post](http://prebid.org/blog/pbjs-3), are we to understand that this feature (sadly) won't make it to 3.0?

[2019-10-08 15:35] jsnellbaker commented on #4129
@benjaminclot It's been scoped out of 3.0 as the new design being discussed wouldn't be considered a breaking change.  It will instead be part of a regular release as a new feature.  It should be coming sooner rather than later, so I hope that helps.

@bretg @harpere
I haven't yet had the chance to review/respond due to something else coming up.  I'll try to follow-up soon so we can keep this movi

[2019-10-08 17:28] bszekely1 opened #4273 "Price Floor Module"
## Type of issue

As the ad tech ecosystem moves to a first price model, buyers are starting to adjust to this new model. Publishers will need a mechanism to maintain a market rate for their inventory to prevent eroded valuation. Today publishers have to set floors in each platform they work with, where many of the platforms are not self-serve and each have various levels of control and configurat

[2019-10-08 17:45] lutzklai commented on #2959
I like the of auction specific functions. It seems like a cleaner declarative approach. The current way I'm handling this is to tag the bid if it has gone through my bidsBackHandler
[code]

I'm not a huge fan of it playing off the bid reference, but it works for my use case.

[2019-10-08 18:41] madma commented on #4148
Bad practice but seen quite often in production on publisher sites. Personally, I have seen as bad as 30sec refreshes / re-running of the auction. It would be nice to see support for observables so AJAX requests could be terminated. That or something like others suggested using `setTimeout` in order to effectively expire a bid if it has not been rendered within a certain amount of time .

[2019-10-08 18:46] EMXDigital commented on #4260
Can you share the pbjs request with video settings for the ad unit? Or a page we can look at? Our exchange listens for these values to determine if we should send back an auto play/click to play/etc video ad.

Thanks!

Nick Colletti || Senior Software Engineer ||
EMX Digital
T +1 646 868 7379
M

From: spormeon <notifications@github.com>
Reply-To: "prebid/Prebid.js" <reply@reply.github.com>
Date: S

[2019-10-08 21:29] jaiminpanchal27 opened #4275 "Widespace adapter unit test error in IE 11"
## Type of issue
Bug

## Description
@mizmaar3 Our unit tests are not triggered in IE 11 because of some issue with localStorage access in Widespace adapter. This behavior is random. Can you please check below logs and try to fix unit tests

[code]

## Steps to reproduce
Command to run `gulp test --browserstack`

## Test page
NA

### Expected results
All unit tests should pass

### Actual results

[2019-10-09 06:00] pm-shashank-jain opened #4278 "[Question] Sync userId even without AUCTION or before AUCTION_END?"
## Type of issue
Question

## Description
I've a scenario where publisher don't want to display ads at the first page and only load ads when user scrolls to second page. I am wondering if it is possible to have all userIds sync at first page and on second page userIds will be sent to bidders.

Currently UserId sync only happens at AUCTION_END event [https://github.com/prebid/Prebid.js/blob/f7e5de7

[2019-10-09 10:05] mizmaar3 commented on #4275
@jaiminpanchal27 I no longer work for `Widespace` so sorry cannot help with this. may you you contact support@widespace.com

[2019-10-09 17:33] arjitsachdeva opened #4279 "Appnexus logging video media type requests as banner instead"
## Type of issue
Bug

## Description
I have set up only one mediaType = video in the prebid configuration, with context = instream. The problem is that most of the Impression requests are appearing as 'banner' media type on the Appnexus reporting panel instead of video.

## Steps to reproduce
This is the prebid code I have used:

`
      pbjs = pbjs || {};

      pbjs.removeAdUnit();

      pbjs.q

[2019-10-09 18:54] goosemanjack opened #4280 "DigiTrust Id submodule fails if site intializes outside the Prebid module"
## Type of issue
This is an unanticipated use case where a site has taken the DigiTrust Prebid integration, but has the older DigiTrust initialization code still in place. The site is using the Prebid integration, then explicitly calling DigiTrust.initialize instead of initializing with Prebid. That is outside our instructions and anticipated usage patterns. The mock DigiTrust object should be ext

[2019-10-10 11:37] spormeon commented on #4279
is you're appnexus placement setup for "video" or is it a sizeless by any chance and its thinking its a 419x236 banner?

[2019-10-10 11:47] thewizarodofoz commented on #4118
Hello @mkendall07 , I hope this is the right place for this question.
In the Release notes for v3.0 it says that adapters maintainers should "Verify adapter reads sizes from mediaTypes.banner.sizes [because] we are telling pubs that they need to confirm that their adUnits define sizes in mediaTypes.banner.sizes instead of just sizes.".

In the ["Add a New Bidder"](http://prebid.org/dev-docs/bidder

[2019-10-10 11:58] arjitsachdeva commented on #4279
@spormeon : Appreciate the response. The media type in the placement has been setup as 'Standard VAST' (screenshot attached). Do you see any other anomalies here?
<img width="824" alt="Screen Shot 2019-10-10 at 5 28 00 PM" src="https://user-images.githubusercontent.com/5327819/66566752-58870e80-eb83-11e9-97a9-b97301c537bf.png">

[2019-10-10 12:05] spormeon commented on #4279
can you screenshot all the tab, think there is about 4 of them?

[2019-10-10 12:12] spormeon commented on #4279
then fill the video tab in as required:
![Screenshot_2019-05-04_09_46_38_png](https://user-images.githubusercontent.com/8503167/66567685-aab63880-eb5f-11e9-88aa-3c24b1dbd0be.png)

[2019-10-10 12:15] arjitsachdeva commented on #4279
These are the screenshots of all the tabs in the settings panel:

<img width="1653" alt="Screen Shot 2019-10-10 at 5 42 01 PM" src="https://user-images.githubusercontent.com/5327819/66567778-8ff6ba80-eb85-11e9-98bc-beda0ef56eb4.png">
<img width="1652" alt="Screen Shot 2019-10-10 at 5 42 12 PM" src="https://user-images.githubusercontent.com/5327819/66567780-908f5100-eb85-11e9-8a50-dcca4d9a2ec9.png"

[2019-10-10 12:19] spormeon commented on #4279
ye its video 4 i  think you need, i'd try like i put above, add them all basically and sizeless, then vast 2 click all the frameworks & all the mime types.  Get it going , then work back on turn stuff off dont need?

[2019-10-10 12:20] spormeon commented on #4279
if you got a Im , i.M. happy to chat on there through it? whattsapp or something?

[2019-10-10 12:24] arjitsachdeva commented on #4279
Got it. So it's something to do with the Appnexus dashboard settings in your opinion, right? The prebid code seems correct?

Also, Skype would be great if you're on it! I'm at: sachdeva.arjit

[2019-10-10 15:44] jsnellbaker commented on #4129
@bretg
Thanks for the feedback on the multi-media type question.  I think the idea you proposed for the bidder level config should work out.  If there's a use-case later on for specific sizes, we can review it then and may make some additional updates down-the-road.

I still think we should have some flag for the native field to allow some control how that's handled.  If we're continuing with the

[2019-10-10 19:46] mkendall07 commented on #4118
@thewizarodofoz  For now you can continue to use `validBidRequest.sizes` since the core will copy the sizes from the `mediaTypes` object.

[2019-10-10 19:55] mkendall07 commented on #4279
hey @arjitsachdeva
Please open a support ticket with AppNexus if you need more support.

[2019-10-10 19:55] #4279 closed

[2019-10-10 22:33] aasmyan87 opened #4285 "IE10 js error - prebit core"
there is an error in IE 10 version
https://www.screencast.com/t/ucG2MLI9
since USA users use IE a lot I think it does worth fixing

[2019-10-11 11:28] #4216 closed

[2019-10-14 10:36] muuki88 opened #4293 "Unruly Adapter logs unnecessary warnings"
## Type of issue

The unruly adapter logs errors when there's no bid. This is not an error, but an expected behaviour and the error logs suggest that something is wrong.

## Steps to reproduce

Go to a page with unruly and turn on the debug mode. Example:

https://www.gutefrage.net/frage/kann-ich-ohne-abi-aber-mit-einer-pta-ausbildung-medizin-studieren?pbjs_debug=true

## Test page

https://www.gu

[2019-10-14 13:37] sumit116 opened #4297 "c1x adapter - Update all end points to https"
## Type of issue

Improvement
## Description

While doing an internal review for point 2 of the adapter’s section of http://prebid.org/blog/pbjs-3, I observed something unusual in your adapter.  I saw you have registered for userSync with `pixelUrl` in buildRequest(). Can you clarify on why we need to have this change here or submit a PR with the updates yourself?

### Following changes need to be

[2019-10-14 13:39] sumit116 commented on #4297
Hi @CathyHuangtw, can you check this issue?

[2019-10-14 14:27] #4132 closed

[2019-10-14 15:46] bretg commented on #4159
Going to close this one out -- if anyone needs pchain, we'll review the PR for a new module.

[2019-10-14 15:46] #4159 closed

[2019-10-14 16:04] bretg commented on #4285
Please provide more info -- the screenshot shows amazon-adsystem.com, which isn't Prebid.js.

[2019-10-14 16:09] bretg commented on #4280
Are you planning on submitting a PR for this @goosemanjack

[2019-10-14 16:14] bretg commented on #4278
I think maybe the `triggerUserSyncs` function is what you're looking for?
[code]
See http://prebid.org/dev-docs/publisher-api-reference.html#setConfig-Configure-User-Syncing

Go ahead and re-open with more detail if this doesn't address the use case.

[2019-10-14 16:18] bretg commented on #4261
Adding @dpapworth-qc, @jacekburys-quantcast to comment

[2019-10-14 16:41] goosemanjack commented on #4280
Yes, I will be. I just needed a tracking issue to ensure it doesn't get lost. This is an edge case we didn't account for, but saw in the wild.

[2019-10-14 16:43] dpapworth-qc commented on #4261
@spormeon not sure what you mean by this. Could you provide an example response?

[2019-10-14 16:46] spormeon commented on #4261
its an error that console throws

[2019-10-14 16:49] dpapworth-qc commented on #4261
OK, I see that's a log message generated by our adapter, presumably because we're not sending any bid responses. We shouldn't be logging anything unless the response is an error. I will look at creating a PR for this. Thanks for flagging.

[2019-10-14 16:56] spormeon commented on #4261
ok, its in the errors not warnings,  think you had another one like this about a month back and was me that flagged it up then?

[2019-10-14 17:13] dpapworth-qc commented on #4261
i think so, i can see any reason why we would want to log an error when we return no bids - that's expected behaviour.

[2019-10-14 21:05] throne1986 opened #4302 "Get prebid js adapter using js"
I have app in which I want user to add adapters via select options, and download the prebid js based on adapters he selected is it possible to apply this using JavaScript??

[2019-10-14 22:07] pm-harshad-mane opened #4304 "LiveIntent call not executing"
## Type of issue
While using LiveIntent user-id submodule, I do not see the call made to the respective end-point.
I suspect that the getId function should have been returning an object with a callback, ``` {callback: function(){} } ``` , whereas the function is returning a function.
Refer: https://github.com/prebid/Prebid.js/blob/master/modules/identityLinkIdSystem.js#L58
 When I made this change

[2019-10-15 04:30] pm-harshad-mane commented on #4304
Hello @jankoulaga ,
Can you share a valid ```publisherId``` to test the module?

[2019-10-15 05:53] pm-shashank-jain commented on #4278
Hello @bretg,
This question was regarding the UserId module (http://prebid.org/dev-docs/modules/userId.htm) not user sync calls.
Let me know if you need more details

[2019-10-15 08:49] sumit116 opened #4307 "freewheel-ssp adapter - Update all end points to https"
## Type of issue

Improvement
## Description

While doing an internal review for point 2 of the adapter’s section of http://prebid.org/blog/pbjs-3, I observed something unusual in your adapter. I saw more endpoints than the usual bid endpoint and usersync endpoint. Can you clarify on that all these endpoints are needed and whether they can be updated to `https` protocol or may be you can make the

[2019-10-15 08:51] sumit116 commented on #4307
Hi @guillaume-sticky, can you check this issue?

[2019-10-15 08:58] sumit116 opened #4308 "quantcast adapter - Update all end points to https"
## Type of issue

Feature Request
## Description

While doing an internal review for point 2 of the adapter’s section of http://prebid.org/blog/pbjs-3, I observed something unusual in your adapter. I saw more endpoints (test url) than the usual bid endpoint and usersync endpoint. Can you clarify on that all these endpoints are needed and whether they can be updated to https protocol or may be you

[2019-10-15 09:01] sumit116 commented on #4308
Hi @dpapworth-qc, can you check this issue?

[2019-10-15 09:16] dpapworth-qc commented on #4308
👍 i will investigate this and make a PR the changes required for pbjs-3.

[2019-10-15 09:24] sumit116 opened #4309 "outcon adapter - Update all end points to https"
## Type of issue

Improvement
## Description

While doing an internal review for point 2 of the adapter’s section of http://prebid.org/blog/pbjs-3, I observed something unusual in your adapter. I saw more endpoints than the usual bid endpoint and usersync endpoint. Can you clarify on that all these endpoints are needed and whether they can be updated to `https` protocol or may be you can make the

[2019-10-15 09:26] sumit116 commented on #4309
Hi @TinchoF , can you check this issue?

[2019-10-15 09:32] sumit116 opened #4310 "zedo adapter - Update all end points to https"
## Type of issue

Improvement
## Description

While doing an internal review for point 2 of the adapter’s section of http://prebid.org/blog/pbjs-3, I observed something unusual in your adapter. I saw secure and non-secure urls used for all endpoints and no protocol (http or https) is prefixed with the urls. Can you clarify on that all these endpoints are needed and whether they can be updated to `

[2019-10-15 09:33] sumit116 commented on #4310
Hi @skazedo , can you check this issue?

[2019-10-15 13:52] muuki88 commented on #4131
we'll close this ticket once the PR is merged

[2019-10-15 14:50] bretg commented on #4278
Ok, so you're requesting something like `pbjs.triggerUserSyncs()` but for userId modules.

Happy to take help here.

Option 1: update pbjs.triggerUserSyncs to check for the optional UserId module and trigger those too.

Option 2: Add a new function in the User ID module, e.g pbjs.userId.triggerSync()

[2019-10-15 15:38] derdeka opened #4312 "[Question] Using custom renderer for InPage ads"
## Type of issue
Question or Feature Request

## Description
Currently it is possible to set a custom renderer per `AdUnit` (see [renderer docs](http://prebid.org/dev-docs/publisher-api-reference.html)) register an renderer in an `BidAdapter` implementation. This is indended to use for `outstream ads` (see [Outsteam documentation](http://prebid.org/dev-docs/show-outstream-video-ads.html)).

We wou

[2019-10-15 17:24] #4304 closed

[2019-10-15 18:20] AskRupert-DM opened #4313 "setting custom Key Value via adapter even if no bid exists"
I had a question regarding bid-adapters setting (custom) key-value pairs/ad-server targeting when no bid is returned ?

A publisher recently asked if we could set a kvp to tell them when a bid was not returned for instance due to invalid traffic as well as timeout information as key-value pairs so wanted to see if this would be allowed as typically keys are only sent when a valid bid response exis

[2019-10-16 03:59] pm-harshad-mane opened #4316 "Parrable User Id Submodule param "partners""
## Type of issue
Probable documentation issue with Parrable User Id sub-module:

https://github.com/prebid/Prebid.js/blob/master/modules/userId/userId.md mentions a Parrable User Id sub-module parameter ``` partners ``` with data type ``` array ```.
But in code, I see mention of a parameter named ``` partner ``` which seems to be consistent in other references and documentation.
Refer: https://git

[2019-10-16 04:31] eyas-ranjous commented on #4316
hi @pm-harshad-mane thanks for spotting this.

it was forgotten as an old implementation we had before we pushed our PR. I pushed a fix for it. here https://github.com/prebid/Prebid.js/pull/4317

Cheers.

[2019-10-16 18:05] romanych commented on #81
@xavierleune, have you succeeded with this?

[2019-10-16 22:21] pm-harshad-mane commented on #4285
I suspect the issue with auction.js using a Set, https://github.com/prebid/Prebid.js/blob/master/src/auction.js#L107
I think we can use Set as it is used in adpod module https://github.com/prebid/Prebid.js/blob/master/modules/adpod.js#L23

[2019-10-16 22:24] pm-harshad-mane commented on #4302
@throne1986 are you trying to build something like http://prebid.org/download.html ?
If yes, then you may refer to https://github.com/prebid/prebid-js-build-generator this is the Repo that powers download link.

[2019-10-16 22:37] pm-harshad-mane commented on #3870
I liked the 2nd approach and agree with prebid-server adapter changes.

[2019-10-16 22:52] pm-harshad-mane commented on #4285
@aasmyan87 I do not have a machine with IE 10 so I couldn't test.
I have made change here https://github.com/pm-harshad-mane/Prebid.js/tree/set_fix
Diff is simple: https://github.com/prebid/Prebid.js/compare/master...pm-harshad-mane:set_fix
Can you verify on your end and let us know?

[2019-10-17 00:14] bretg commented on #4312
What's the use case -- some kind of rich media?  How would the renderer be defined -- in the bid response or by the publisher? If by the publisher, what if there were competing renderers for different types of richmedia? We need to understand the big picture of what you're trying to do before recommending an approach.

[2019-10-17 00:19] bretg commented on #4313
The right way to solve the publisher's desire for reporting is for them to use an analytics module. See http://prebid.org/overview/analytics.html. Smaller pubs may be able to use a free Google Analytics account which would provide some nice reports covering no-bids, timeouts, response times, etc. http://prebid.org/overview/ga-analytics.html. Mid-size and larger pubs have a range of interesting ana

[2019-10-17 00:24] bretg commented on #4302
The Prebid.org download page uses a server-side build script to combine desired modules. Doing it purely in-browser javascript may be possible, but may take some hacking and we can't promise we won't break it in the future. We recommend you use `gulp build` with our gulpfile.

[2019-10-17 00:24] #4302 closed

[2019-10-17 00:40] bretg commented on #4285
Thanks for looking into this @pm-harshad-mane, but how big is that library? I'm not fond of the idea of adding any bytes at all to support IE10:
- it's 7 years old
- it's under 0.5% of web traffic
- it's already end-of-life on all popular versions of Windows
- it will only be supported on its last versions of Windows (Server 2012 and Embedded 8 Standard) until Jan. 31, 2020

I think we need to let

[2019-10-17 00:44] bretg commented on #3952
Released with 2.35

[2019-10-17 00:44] #3952 closed

[2019-10-17 00:46] bretg commented on #3870
Update - we've met a couple of times debating how to handle this within Prebid.js. @snapwich is going to prototype a smart `getConfig` that would be the path forward if it works.

[2019-10-17 00:58] bretg commented on #3823
Found this code snippet that makes me agree this does seem to be an issue:
[code]
So I agree there should be an option to take whatever bids are back when the page calls `setTargeting`.

[2019-10-17 01:02] bretg commented on #3627
Yup, fixed with 2.26. the prebidServerBidAdapter will automatically take the `currency.adServerCurrency` and forward to PBS as `cur`

[2019-10-17 01:02] #3627 closed

[2019-10-17 01:06] bretg commented on #3115
@Slind14 - is this issue ready to close?

@patmmccann - what is hb_adomain? Can you explain in a new issue?

[2019-10-17 03:13] pm-harshad-mane commented on #4285
I agree with you @bretg .
If the shared code works then @aasmyan87 can copy those changes in his local environment.
Also, shall we remove the said library reference from https://github.com/prebid/Prebid.js/blob/master/modules/adpod.js#L23

[2019-10-17 04:19] topRTB opened #4326 "Adding topRTB adapter in Prebid.org"
Hi,
  Our adapter topRTB has not been listed in http://prebid.org/download.html. But added in Prebid.js
  Could you please tell us what we have to do to add the adapter in http://prebid.org/download.html.

[2019-10-17 04:21] pm-harshad-mane commented on #4278
Hello @bretg and @pm-shashank-jain ,

There is a function in userId module ``` pbjs.getUserIds() ``` it needs to be modified a bit, I am making respective changes, will update you soon.

[2019-10-17 13:47] bokos opened #4330 "Ablida Bid Adapter"
## Type of issue
Question, feature request

## Description
Hello,
sorry to be a bother. I was asked to open an issue regarding my pull request. It hasn't been reviewed yet after 14 days. Can you give an estimate when I can expect some progress?

## Other information
PR: https://github.com/prebid/Prebid.js/pull/4256

[2019-10-17 16:26] #3628 closed

[2019-10-18 04:28] 7XBID00 commented on #4275
@mizmaar3
I also have trouble with Widespace not pass unit test on IE 11.0 (Windows 10.0.0)
Can you fix unit test?

[2019-10-18 06:46] throne1986 commented on #4302
@pm yes exactly like the prebid.hs download, thank you I Will check it out

[2019-10-18 07:40] spormeon opened #4340 "smartRTB not building in 2.36.0"
it seems smartRTB wont build for 2.36.0 on the download page, someone else has told me it does but for me it doesn't ( in uk if makes any difference)

[2019-10-19 09:14] vesper8 opened #4342 "how to set up with Vue/React SPA/PWA ?"
It's been asked before how to set this up with a single-page-application or progressive-web-app built with popular frameworks such as React, Angular or Vue.. but the issue was either ignored and closed by the stale bot or with some promising replies that were never followed up on.. these questions are very old in any case.. with all that's changed since.. is it now possible to use this feasibly an

[2019-10-19 14:09] Slind14 commented on #3115
Hi @bretg,

this is still pending proper implementation. Being added to the docs and becoming mandatory.

[2019-10-21 08:45] derdeka commented on #4312
Yes, the idea is to create rich media ads for special deals, based on dealId or any other criteria provided when receiving the bid. We tried the existing renderer implementation for this by hardcoding the renderer name in a bidder implementation. Ideally we would not need to modify the bidder implementation. The only part which is missing is a dynamic way to switch the renderers at runtime.

[2019-10-21 08:56] JohanC-WS commented on #4275
Thank you for bringing this to our attention.
At Widespace we work with mobile so we can easily overlook Internet Explorer.
We're looking into it.

[2019-10-21 13:17] bretg commented on #4326
You need to submit a docs PR to create a file similar to https://github.com/prebid/prebid.github.io/blob/master/dev-docs/bidders/aardvark.md

This was mentioned (briefly) at http://prebid.org/dev-docs/bidder-adaptor.html#submitting-your-adapter

[2019-10-21 13:17] #4326 closed

[2019-10-21 14:17] mkendall07 opened #4348 "Stabilize circleci tests"
## Type of issue
21 of the last 30 builds failed on master. We need to pinpoint and fix the issues to make tests stable again.

https://circleci.com/gh/prebid/Prebid.js/tree/master

[2019-10-21 15:19] mkendall07 commented on #4285
@aasmyan87
We no longer support ie 10, we are currently supporting modern browsers and IE 11. Thanks

[2019-10-21 15:19] #4285 closed

[2019-10-21 17:30] pm-harshad-mane opened #4349 "Feature: Support position parameter in adUnit"
## Type of issue
Feature request

## Description
Many bidders support the ```position``` parameter in ORTB 2.5 format.
The position is a piece of valuable information.
We can pass this in adUnit object, a common-place for all bidders,  http://prebid.org/dev-docs/adunit-reference.html#adunit
It can be made a mandatory parameter considering the importance of the information.

[2019-10-21 18:07] lanceloti commented on #3607
I'm havving same issue with call to action button (hb_bidder_cta).

cta text is "Try it now!" and DFP doesn't support "!" (exclamation), so I changed to sendId = true and now cta is "undefined".

![Screenshot_624](https://user-images.githubusercontent.com/17436827/67230748-407d7d80-f414-11e9-9b37-a5eae4577dfa.png)
![Screenshot_623](https://user-images.githubusercontent.com/17436827/67230749-407d7d

[2019-10-21 20:07] jsnellbaker commented on #3607
@lanceloti Can you open this as a new issue and provide a test page (or a copy of the adUnit config) so we can investigate?

Thanks!

[2019-10-21 22:28] DecayConstant opened #4351 "Should pbjs.requestBids return the auction object?"
## Type of issue
Maybe a bug fix, maybe a feature request.

## Description
Because of the way hooks are created for `pbjs.requestBids`, it fails to return auction object that the code tries to return.

https://github.com/prebid/Prebid.js/blob/d266e0d23b5d01cb075ec33f68402e3134ae5bca/src/prebid.js#L331

On this line Prebid adds hooks to `pbjs.requestBids`.  It calls `hook('async, ...)`.  Switching

[2019-10-22 11:44] AskRupert-DM commented on #4313
that makes sense thanks  - happy to close this

[2019-10-22 12:49] xavierleune commented on #81
Hi @romanych
Sure, I did it for outstream. This was pretty easy after all. I never shared it but I will. I'll try to do it next week, please ping me again if you don't hear back from me :)

[2019-10-22 14:12] #4248 closed

[2019-10-22 14:56] bretg commented on #4129
I don't understand why we'd want to make size primary over mediatype. The sense I got from this rather long thread is that we shouldn't be making any assumptions that pubs line up screen size behavior in a clean way. If they did, then the current global approach should work just fine. i.e. it's not necessarily the case that banner/video/native treatments all fall on the same neat screen size bound

[2019-10-22 14:59] benjaminclot commented on #4129
I'm good with @bretg's suggestions.

[2019-10-22 15:15] jsnellbaker commented on #4129
Thanks @bretg for the feedback and putting together the updated example.  I agree with your points and we'll start to work on the changes going with this model.

[2019-10-22 19:12] bretg commented on #4340
The problem is that your doc file has the alias listed backwards.

This file:
https://raw.githubusercontent.com/prebid/prebid.github.io/master/dev-docs/bidders/smartrtb.md

Contains this line: `aliasCode: smrtb`

That causes the download page to refer to `modulecode="smrtbBidAdapter"`

Which doesn't exist.

I'll fix this by removing the aliasCode, but you should confirm what you want to do with th

[2019-10-22 19:16] bretg commented on #4340
Fixed.

[2019-10-22 19:16] #4340 closed

[2019-10-22 19:16] bretg commented on #4330
Sorry for the delay. The PR has been re-assigned.

[2019-10-22 19:16] #4330 closed

[2019-10-22 19:45] bretg commented on #4349
Option 1) consider position a piece of adunit-specific first party data. Pubs would set `adunit.context.position` and adapters would read from that conventional location.

Option 2) position is important enough that it should be standalone. Pubs would set `adunit.position` and adapters would read from that conventional location.

In either case, the values are 'atf' or 'btf'. If unknown, nothing s

[2019-10-23 09:08] josepowera opened #4364 "Prebid 3.0 - Native 1.2 has imptrackers and jstracker marked as deprecated. Move to EventTrackers?"
## Type of issue

## Description
Native 1.2 has marked native fields for imptrackers and jstrackers as deprecated and provided solution in "eventrackers"

Since Prebid 3.0 is changing formats it would be probably great to support this change.

### Expected results
Support Eventtrackers in Prebid Native and deprecate imptrackers and jstrackers.

[2019-10-23 09:12] josepowera commented on #4175
This should probably also define some enum for hashType

Currently used in some major platforms are:
Plain,
Md5(email)
Sha1(email)
Sha256(email)

[2019-10-23 20:15] vkimcm opened #4371 "update addEventListener in secureCreatives.js to window.addEventListener"
## Description
addEventListener in listenMessagesFromCreative function in secureCreatives.js might need to be changed to window.addEventListener.  We had some issues where request_ad messages from safeframe creatives where not being received, causing big discrepancies, and this update fixed the issue. (especially with connatix javascript)

## Other information

[2019-10-24 16:56] bretg commented on #3687
Updated the design to utilize the new `setBidderConfig` design described in https://github.com/prebid/Prebid.js/pull/4334

[2019-10-24 22:47] patmmccann commented on #3115
If each bidder set key hb_bidder_adomain with the advertiser domain, we
would find that incredibly useful.

On Wed, Oct 16, 2019, 6:07 PM bretg <notifications@github.com> wrote:

[2019-10-25 18:58] eyang414 opened #4381 "Failed to execute 'postMessage' on 'DOMWindow': The target origin provided ('https://tpc.googlesyndication.com') does not match the recipient window's origin"
## Type of issue
Bug

## Description
It looks like prebid.bidWon() event is trying to fire, but throws this error when trying to run _sendAdToCreative(), which has a source.postMessage() function.
![image](https://user-images.githubusercontent.com/22535690/67594657-d5dd8200-f732-11e9-88b4-b68fb4390a53.png)

Line 64:
[https://github.com/prebid/Prebid.js/blob/a1ccdf0f6d390dcddc595e4e9d7492ec7b377944

[2019-10-28 03:13] bretg commented on #3115
Would you agree that hb_adomain_BIDDER could be optional as a targeting variable? We're already getting some pressure on how much data is going to the ad server.

@mkendall07 - making these fields mandatory or strongly encouraged seems like a candidate for 4.0?

[2019-10-28 16:16] bretg commented on #4149
We discussed this last week and determined that we would add a `“onBeforeRequestBids” external event and pass through args for mutation.`

The proposal is that this event will be fired after conditional adunit processing but before adunits are copied to bidrequests. It will pass in the array of adunits and allow the page function to alter the contents.

For example:
[code]

[2019-10-28 16:41] alexkh13 opened #4384 "Count winning bids in a bid adapter"
Hi,

I need your support for a planned PR on improving Cedato adapter.

I'm looking for a legit approach on how to get not only the number of `bidRequestsCount` per adUnit, but also how many of these requests actually won.

I know there is the `onBidWon` handler which seems like the only place to know about wins. The problem is that in order to use this handler to count the wins, I'll have to keep

[2019-10-28 17:24] bretg commented on #3870
The approach we settled on in https://github.com/prebid/Prebid.js/pull/4334 is that bid adapters will be modified to read schain data from `getConfig` rather than the bidrequest. As part of this change, we will update all bidder adapters that current read schain from the original location.

The work for the setConfig updates will be done as part of https://github.com/prebid/Prebid.js/pull/4334

@p

[2019-10-28 19:01] vkimcm commented on #4272
actually last-child seems to be supported in safari.  Viewability is still low on safari though, we will investigate more

[2019-10-28 19:01] #4272 closed

[2019-10-28 19:10] goosemanjack commented on #4280
Touching issue. There is a PR #4369
https://github.com/prebid/Prebid.js/pull/4369
This is a minor, isolated change and should just require a quick review.

[2019-10-28 22:21] pm-harshad-mane opened #4393 "How to find original cpm value after using bidCpmAdjustment?"
## Type of issue
Need Help OR a feature request

## Description
As an analytics adapter, I want to be able to know the actual cpm value of each bid along with the cpm value after it is modified using bidder bidCpmAdjustment.
Please note that in this scenario, the Currency module is not included.
The Currency module creates a copy of cpm and currency @ https://github.com/prebid/Prebid.js/blob/maste

[2019-10-28 22:26] pm-harshad-mane commented on #4393
Hello @bretg , @jaiminpanchal27
Can you help me with this query?

[2019-10-28 23:31] pm-harshad-mane commented on #4393
I think we can create originalCpm and originalCurrency attributes here https://github.com/prebid/Prebid.js/blob/master/src/bidfactory.js#L21

[2019-10-29 14:48] #4262 closed

[2019-10-29 15:58] PascalSalesch opened #4394 "BidderDone is emitted when bid request errors"
## Type of issue
Question

## Description
[https://i.imgur.com/c7HwZfr.png](https://i.imgur.com/c7HwZfr.png)

As you can see right after the failing request, bidderDone is emitted, before all bids are received.
I didn't test this on master, yet. I'm creating this issue so I don't forget.

## Steps to reproduce
-

## Test page
-

### Expected results
-

### Actual results
-

## Platform details
-

[2019-10-29 18:29] skazedo commented on #4310
@sumit116  - I have submitted a pull request for this. Can you check it. Thanks

[2019-10-29 21:33] #4260 closed

[2019-10-30 14:27] sumit116 opened #4398 "districtmdmx adapter - ensure adapter returns secure inventory only"
## Type of issue
bug

## Description
Adapter passes `secure` field in request payload based on which adapter server might return insecure inventory if the field is set to `false`. So we should assign only `true` to
`obj.secure = window.location.protocol === 'https:' ? 1 : 0;` in districtmDMXBidAdapter.js.

## Platform details
Prebid-3.0

## Other information
https://github.com/prebid/Prebid.js/pul

[2019-10-30 14:55] jaiminpanchal27 commented on #4398
@stevealliance Can you review

[2019-10-30 15:55] stevealliance commented on #4398
Ok I will open a PR can I send this to the current version of prebid? ... I believe you will use the same version since it will be compatible?

Thanks

[2019-10-30 16:08] AskRupert-DM commented on #4313
Sorry - reopening this as I have a further question. As an SSP we want to provide publishers with a status code for no bid - eg: no inventory match, no bid due to IVT (Invalid/bot traffic), invalid stored request, etc, etc - what/where would we return this information from PBS for analytics adapters to pick this up ?

Otherwise thought was we'd just return a ext object with the status code/reason

[2019-10-30 18:03] bretg opened #4399 "Bug in mediaTypePriceGranularity for outstream video"
## Type of issue
Bug

## Description
[mediaTypePriceGranularity](http://prebid.org/dev-docs/publisher-api-reference.html#setConfig-MediaType-Price-Granularity) is a feature added a while back to support the scenario where pubs want to have different sets of line items for banner and for video.

The logic implemented is simple:
- if the bid is mediaType banner, use the priceGranularity defined for

[2019-10-30 18:11] bretg commented on #4149
Proposal is that we limit this to cover just the stated use case. We call the event `onBeforeRequestBids` and it fires just before copying the adunits to the bidRequest object.

If there are other use cases in the future that require updating the ad units _before_ conditional logic, that person can figure out the details.

[2019-10-30 19:54] wx0122 commented on #4307
Hi @sumit116 , guillaume does not work in the company at all. In our current adapter, we support both HTTP and HTTPS. Do you mean we should only pass HTTPS urls?

[2019-10-30 20:00] xwang202 commented on #4307
Hi @sumit116 , guillaume does not work in freewheel-ssp adapter anymore. In our current adapter, we support both HTTP and HTTPS. Do you mean we should only pass HTTPS urls?

[2019-10-30 23:27] mkendall07 commented on #4275
Thanks @JohanC-WS
Unfortunately, since we still support IE 11 all tests need to pass in that browser, even if your adapter doesn't target it.

[2019-10-31 08:12] sumit116 commented on #4307
Hi @xwang202, Yes, as a part of work for the next release of prebid (3.0), we are updating all adapters to use only secure urls for all endpoints and any other urls used by them.

[2019-10-31 10:51] 7XBID00 opened #4403 "Problem when Circle CI test fail with adagioAnalyticsAdapter_spec when I create pull request"
## Type of issue

## Description

I have just create new PR for my adapter, but I fail in Circle CI step, when it said that fail in `adagioAnalyticsAdapter_spec.js` , could anyone in adagio check it?
## Steps to reproduce

## Test page

### Expected results

### Actual results

## Platform details

## Other information

[2019-10-31 14:21] #3759 closed

[2019-10-31 15:37] #4381 closed

[2019-10-31 16:13] jaiminpanchal27 commented on #4399
Another approach can be to add context to video
[code]

[2019-10-31 17:41] r-schweitzer opened #4408 "Prevent Duplicate Alias User Syncs"
## Type of issue
Bugfix

## Description
Prebid currently registers and limits userSync calls based on the bidder name. When Aliases are used, this causes duplicate sync requests as the sync URL is the same as in the original adapter.

## Proposed Solution
This fix will instead look at how many times the URL is used instead of how many times a bidder name was used in determining how to limit syncs.

[2019-10-31 19:59] patmmccann commented on #3115
Certainly makes sense for it to be optional

On Sun, Oct 27, 2019 at 11:13 PM bretg <notifications@github.com> wrote:

[2019-10-31 21:24] khatibda opened #4411 "getting video duration in the bid response"
clarifying question or feature request...

for prebid video bid responses, are there no duration properties specified/required?  i don't see any way to know the duration of these bids before rendering them.  is this right or am i missing something?

i can't manage for this just by setting max duration.  here's a super simple use case.  for the same bid price, i'd rather show a 15 second ad than a

[2019-11-01 08:58] 7XBID00 commented on #4403
My PR is merged so I close this issue

[2019-11-01 08:58] #4403 closed

[2019-11-01 22:41] andyblackwell opened #4415 "Bug: AudienceNetwork (api change) bid responses not consistently matching to correct bid requests"
## Type of issue
Bug

## Description
If more than one placement id is sent in a request, the adapter no longer consistently matches the responses back to the correct bid request. I think there must have been an api change at some point to trigger this, I believe the api used to respond in with the bids in the same order they were sent, but that is no longer the case. And I'm not 100% sure, but I a

[2019-11-04 12:18] #4293 closed

[2019-11-04 18:18] #4261 closed

[2019-11-04 19:57] vkimcm opened #4418 "Safeframe resize fix doe not select correct element"
## Type of issue
bug

## Description
https://github.com/prebid/Prebid.js/pull/3988

There were still issues with above fix, our footer was not getting resized because footer div was not the last element of the parent, rather close button element is.  We need different solution that does not use last-child css.

[2019-11-05 18:51] stevealliance commented on #4398
PR #4406 was closed and that update https was inforced!
@jaiminpanchal27  please closed this one

[2019-11-05 18:52] #4398 closed

[2019-11-05 19:17] #4297 closed

[2019-11-05 19:47] andyblackwell commented on #4415
here's a diff of the changes I made to fix this you could use as a starting point: https://www.diffchecker.com/8fGOSoem

[2019-11-05 20:05] andyblackwell commented on #4418
In case you happen to use a custom build and also use GAM like us, we changed the selectors to this, which works better for us:
`['div[id^="google_ads_iframe"]', 'iframe[id^="google_ads_iframe"]']`

[2019-11-06 08:38] harpere opened #4425 "CCPA (US Privacy)"
## Type of issue
Feature

## Description
The objective is to provide a mechanism within PBJS that follows the IAB specification for complying with the CCPA law that goes into affect Jan 2, 2020.  The requirements and general approach are similar to that of GDPR, but there are some key differences.  Note that the IAB specification defines standards for a general API they call USP (US Privacy) to ho

[2019-11-06 16:16] bretg commented on #4415
Adding @lovell

[2019-11-06 17:52] bretg commented on #4384
Yes, bad practice because some pubs run multiple wrappers. In addition, many pages don't last past the first auction, so keeping a counter like this seems to have limited value.

@alexkh13 - what are you really trying to do here?

Are you aware that your adapter will only receive `onBidWon` when you win? i.e. you don't get notified when another bidder wins.

It's come to our attention that loss-no

[2019-11-06 18:39] pm-harshad-mane commented on #4425
Thank you @harpere for sharing notes 👍

[2019-11-06 18:47] pm-harshad-mane commented on #4425
I agree with the idea of dividing GDPR and USP into sub-modules.

[2019-11-06 20:52] bretg commented on #4425
@pm-harshad-mane - we want to build out sub-modules at some point, but given the tight timeline, we're proposing to combine them for now into the ConsentManagement module. We can split them out in 1Q20.

FYI - I added a section on supporting Prebid Server.

[2019-11-06 21:26] bretg commented on #4399
I like the general idea of this suggestion @jaiminpanchal27 , except would prefer not to make a breaking change. Even if we found a way for the code to properly distinguish between mediaTypePriceGranularity.video-as-a-customGranularity and mediaTypePriceGranularity.video-as-an-object-of-granularities, I think it could be confusing for pubs.

Another option is:
[code]
When PBJS core goes to determi

[2019-11-07 11:11] alexkh13 commented on #4384
@bretg - we're trying to adjust the CPM by knowing how many times we won the same spot on the website.

A thing that should probably be handled by our server, since it receives the winning notifications. But this process is currently very slow in the backend and we're willing to improve that by giving it as much info as we can.

Even if this number is going to be inaccurate in some situations, it'

[2019-11-07 20:24] lovell commented on #4415
Thank you for reporting this Andy, I expect to update the AudienceNetwork adapter at some point within the next few weeks to address it.

[2019-11-07 20:43] mgriego commented on #2959
I've run into this as well.  One other thing I've noticed that feels somewhat related is that there doesn't seem to be *any* garbage collection of old auctions.  The auctionManager keeps every auction indefinitely.  On long-running pages where there might be slot refreshes, infinite scroll, single page apps, etc, this can lead to some serious memory leaks.

[2019-11-08 01:52] bretg commented on #4384
We discussed this and are willing to allow it to happen because it does not strictly break the code of conduct. It will need to be done in a technically acceptable way with the lightest possible browser impact.

Looking in the modules directory, I see other modules storing things on 'this'. Go ahead and open a PR and the engineers can debate the technical correctness.

[2019-11-08 04:49] pm-harshad-mane commented on #4393
code changes are merged to master, so closing the issue