[2020-05-18 14:59] bretg commented on #5194
We met last week and have significantly revised the proposed handling of TCF2 defaults. See https://docs.google.com/document/d/1fBRaodKifv1pYsWY3ia-9K96VHUjd8kKvxZlOsozm8E/edit# -- will leave the changes highlighted for a week or so

[2020-05-18 15:04] bretg commented on #5143
@curlyblueeagle - I would suggest that it's not correct behavior to log this warning on every page that's not running GPT.

[2020-05-18 15:05] bretg commented on #4989
Any status here?

[2020-05-18 15:09] spormeon commented on #5143
sorry, i forgot to reply to this,  I do use gpt to define ad unit path

[2020-05-18 16:32] wqi1972 commented on #5242
Yes, you are correct. `slotOnLoad` is fired when ads creative's iframe fires its load event, it suppose to wait for ads html loading complete, but is not guaranteed.
And `pbjs.onEvent('bidWon', function(e){} )` is for sure works for you. Since inside prebid.js, inside renderAd, the code is:
[code]
`bidWon` event triggers after `addWinningBid` function call. Glad you figured it out.

[2020-05-18 16:34] smenzer commented on #5246
@aprakash-sovrn or @sovrnoss could you help out here, please?

[2020-05-18 20:23] jrosendahl commented on #5246
We are looking into this issue.  @smenzer can you contact me directly so we can get further details? (jrosendahl@sovrn.com)

[2020-05-18 22:05] raz-adroll commented on #5211
Iit's due the `preprocessors` only works for `'test/test_index.js'` in the `karma.conf.maker.js`

https://github.com/prebid/Prebid.js/blob/334cb01b3753cb9e9c331e52be7f59c59fc01538/karma.conf.maker.js#L138-L140

It should be:
[code]

I make a PR to fix this, but not sure how to add testing or coverage for this.

[2020-05-19 08:36] smenzer commented on #5246
@jrosendahl the issue was originally submitted by @spormeon, so he is probably who you want to talk to.

[2020-05-19 09:10] smenzer commented on #4987
Any status here?

[2020-05-19 09:11] smenzer commented on #5026
Any updates on this?

[2020-05-19 09:24] smenzer commented on #5072
Any updates here? Is this issue still happening for you @musikele ?

[2020-05-19 09:25] smenzer commented on #5106
looks like https://github.com/prebid/Prebid.js/pull/5122 was merged. Can we close this one out?

[2020-05-19 13:37] bretg commented on #5026
We've become aware of a situation that's going to drive this change -- probably as a fire drill. @harpere to post a proposal soon.

[2020-05-19 17:33] jeremiegirault commented on #5117
I switched node version and fixed tests

[2020-05-19 21:40] bretg commented on #4796
I don't really see this as a breaking change. It's another in the growing list of standard conventions that bidders ought to be aware of and should take advantage of.

A few things need to be fleshed out about the proposal.

1) The setConfig:
[code]

2) The values for video/banner/native can be:
- "none": no bidder's creatives will be placed in a safeframe
- "all": all bidders creatives will be pl

[2020-05-19 22:35] patmmccann commented on #4796
That's really helpful; and yes the thought is that bidders would pass it
along to buyers so that noncompliant or nonfunctioning demand doesn't end
up just filtered out. One thing of note is there should be a version on the
safeframe when true. Gam currently returns a version 1.1 safeframe, but
version 2.0 is coming soon and might not be compatible. I think the ideal
scenario would be the publisher

[2020-05-20 01:20] bretg commented on #5194
The committee met again and approved the following:

1) Purpose 4 does not imply the removal of User Ids
2) Prebid.js will not remove User IDs. This is left up to server-side code which can deal with the IAB Global Vendor List
3) Prebid Server will remove User IDs when there is no legal basis for any Purpose from 2-10. Purpose 1 is device access, which is about setting User IDs, not using them. It

[2020-05-20 05:10] #5173 closed

[2020-05-20 05:10] #5115 closed

[2020-05-20 06:21] res-io commented on #5106
Yes the issue has been resolved.

[2020-05-20 06:21] #5106 closed

[2020-05-20 15:45] musikele commented on #5072
No, I don't see this issue anymore, neither on firefox developer edition. Going to close this one

[2020-05-20 16:54] katiestroudpro commented on #4796
Bret, thanks for fleshing this out. To Patrick's comment on version, that is something we'll need. SafeFrame 2.0 won't be compatible with v1.1.

This feature will go a long way to supporting SafeFrame and encouraging wider adoption. I'll work with IAB Tech Lab on adding support in OpenRTB and anywhere else we need it.

[2020-05-20 19:13] patmmccann commented on #5237
I think this covers what we use at Cafemedia, do you think we should add 'linearity' ?

[2020-05-20 20:29] robertrmartinez commented on #5149
https://docs.google.com/document/d/1IgyZqUVh6ms3Tlf-IrFUAsMi8gV7n9lV9vM1zwp4Pr0/edit?usp=sharing

Here is a consolidated spec with the inputs from all three proposals.

Please leave comments and provide any feedback!

[2020-05-20 22:27] pm-harshad-mane commented on #5234
Thanks @Fawke , we are working on it, code changes are in QA

[2020-05-20 22:32] pm-harshad-mane commented on #4166
This is supported now, https://github.com/prebid/Prebid.js/blob/master/modules/userId/eids.md

[2020-05-20 22:32] #4166 closed

[2020-05-21 03:55] jddeleon commented on #5234
Tagging @susyt for GumGum adapter.

[2020-05-21 11:53] zhew1118 opened #5280 "Instream Video and Banner Ads demo page not working"
## Type of issue
Instream Video and Banner Ads demo page not working

## Description
We want to follow the logic of http://prebid.org/dev-docs/examples/instream-banner-mix.html but we noticed that the preroll ad is not playing.

## Steps to reproduce
Visit http://prebid.org/dev-docs/examples/instream-banner-mix.html.

## Test page
http://prebid.org/dev-docs/examples/instream-banner-mix.html

### E

[2020-05-21 12:04] ehoch commented on #5237
@patmmccann Not sure what the demand will be for non-linear, but added!

[2020-05-21 19:37] harpere commented on #5026
addressed in this PR:  https://github.com/prebid/prebid-universal-creative/pull/104

[2020-05-21 21:22] khatibda opened #5287 "Considering a "consumer" version of npm package"
We just transitioned from building an offline bundle of prebid.js (using cloned repo) to using prebid via npm, and it's almost the best thing since sliced bread.  But I have some questions / feedback on the process.

The current npm process feels geared towards "developer" and opposed to "consumers" (e.g. publishers).  Bet let's walk through the details in case I'm missing something.

First, we've

[2020-05-21 21:56] khatibda commented on #5287
cc @mkendall07 as per discussion

[2020-05-22 03:10] goosemanjack commented on #5141
Had to clear some items off my plate. Tomorrow looks promising to work on this.

[2020-05-22 03:10] goosemanjack commented on #5141
(From Sam) not sure if it is the same issue, but #5141 provides a public test page at https://www.warhistoryonline.com/videos/digitrust.fail.v0.html?pbjs_debug=true

[2020-05-22 07:02] #5180 closed

[2020-05-22 07:40] onaydenov opened #5292 "TCFv2 consent string issue once prebid in an iframe."
## Type of issue
Bug

## Description
TCFv2 does not work properly, does not return the consent string, in a case when prebid is in an iframe, loaded from another domain. It worked with TCFv1
Quantcast Choice CMP used

## Test page
http://myguitar.co/tcf2/test_tcf2.html?pbjs_debug=true

### Expected results
consent_str: COzyttOOzyttOAKACAENAnCMAP_AAAAAACKgF-tX-T5eL2vjO2Zdt5JkaYwfZxyzgOwDhgSIsW4NwIe

[2020-05-22 15:05] smenzer commented on #5292
@jaiminpanchal27 could you or someone on your team take a look at this, please?

[2020-05-23 14:26] ydennisy commented on #4610
@bretg looks good to me!

[2020-05-23 16:32] bretg commented on #4610
Development timeline will come from @omerBrowsi and @pm-harshad-mane

[2020-05-23 18:31] GLStephen opened #5300 "Clarify AMP Support"
## Type of issue
Feature Request

## Description
AMP pages are supported and the delivery is via Prebid Server. However, the list of Prebid server supported bidders is not the same as those that support AMP. This page seems to have a list, but I'm not sure how accurate it is. The current Prebid documentation does not list AMP support. It would be a good thing to list for clarity.

## Steps to repr

[2020-05-26 15:02] khatibda commented on #5001
if not switching entirely to a universal openRTB adapter (quite like this broad direction), is there a roadmap to iteratively reduce the footprint of each/all of these adapters?  some are getting to be over 5kb, and there has got to be a way to tighten the scope of what's needed or allowed in an adapter, on a feature by feature basis.

as for prebid server, it simply doesn't perform as well as cli

[2020-05-26 15:22] bretg commented on #5001
Sort of. The new 'module rules' draft puts controls around loading external code and phoning home for analytics. But adapter size isn't a rule. The last time I heard anyone mention about overall wrapper size is that the difference between a code size of 100KB and 300KB isn't really that big for most clients.

However, as far as I know, no one's shared a detailed breakdown of where browser time is

[2020-05-26 17:51] zshnr opened #5305 "Using prebid.js in integration tests in a CI environment"
## Type of issue
Question

## Description
We have an SDK that. allows integration with prebid. In the integration tests for our SDK, we essentially load it on a page along with any other external scripts we need, access the page via puppeteer and make different assertions.

We're using the example from the [Getting started](http://prebid.org/dev-docs/getting-started.html) guide as is without modif

[2020-05-26 21:57] #5117 closed

[2020-05-26 22:26] gglas commented on #5149
Hello Everyone!  We're planning on moving forward with the consolidated proposal at the end of this week.  If anyone has any questions or comments please try to have them in by Friday May 29th.

[2020-05-27 00:23] pm-harshad-mane opened #5308 "Need a way to track in-stream rendering creative in analytics adapter not supporting vasttrack"
## Type of issue
Feature Requirement by PubMatic Analytics Adapter

## Problem:
- Not all analytics adapters can support vasttrack approach mentioned on http://prebid.org/dev-docs/publisher-api-reference.html#setConfig-vast-cache
- vasttrack supports limited params
- vasttrack does not allow analytics adapter to add additional params
- An analytics adapter should be able to add a tracker using bid

[2020-05-27 00:23] pm-harshad-mane commented on #5308
@jsnellbaker @bretg @mike-chowla please share your suggestions.

[2020-05-27 00:26] mike-chowla commented on #5308
We should support error trackers as well.  There's a good case that analytics adapters should be able to insert any tracker defined in the VAST spec (quartiles, etc)

[2020-05-27 13:07] Nicola1976 commented on #5241
Hi Fabio! just another perfomance question about thi issue.
With cmpApi configuration actived (in static mode if euconsent already present) the requests tracked by the platforms implemented in prebid recorded a drop between 20% and 30%, slightly less then without cmp object in prebid configuratio.

Have you ever heard of such problems and know if there is a way to optimize latency with cmpApi acti

[2020-05-27 13:22] fcurti commented on #5241
Hi Nicola,
using the static cmpApi should reduce the latency inherited of __cmp.
I do not expect a drop as you measured.
It sounds strange,I think you must proceed with more detailed investigations about this drop.

[2020-05-27 13:43] Nicola1976 commented on #5241
Thanks Fabio, yes it is true. With static cmpApi I have less latency then with IAB cmpApi, but the 30% drop is between

**with cmpApi iab/static in config object**

[code]

**end without cmpApi in config**

[code]

I think a good solution to balance could be to anticipate the  prebid.js request, but it is not related to cmp latency.

[2020-05-27 17:34] kizzard commented on #5229
hi @webdevinci , we are determining what the future of multi-size support will look like in the IX adapter. This may alter the current behavior. We will update this ticket with more information soon.

[2020-05-28 13:43] sbrosinski opened #5311 "How do I generate ad markup within a bid adapter?"
## Type of issue
question

## Description
I'm working on a bid adapter which will receive ad markup which I can't pass back directly within the Prebid bid, since it's a JSON that looks like this:

[code]

So I'm thinking I will have to generate HTML (an img tag for the ad, pixel images for the impression trackers) and pass it in `bid.ad`. How would I go about adding event handlers to img tags or s

[2020-05-28 15:51] lanceloti opened #5314 "Prebid crashes with "Uncaught URIError: URI malformed" when URL contains some words in querystring"
## Type of issue
Bug

## Description
Prebid crashes with "Uncaught URIError: URI malformed" when URL contains some words in querystring

## Test page
Any page containing this querystring for example:
https://www.apolo11.com/efemerides.php?uf=RS&cidade=RS+-+Salto+do+Jacu%ED

## Platform details
Prebid 3.21 using sample script https://acdn.adnxs.com/prebid/not-for-prod/1/prebid.js

![Screenshot_293]

[2020-05-28 15:57] lanceloti commented on #5026
I've created a log in ucTag.RenderAd try/cath and I'm receiving this error somethimes: "TypeError: Cannot read property 'postMessage' of undefined"

[2020-05-28 16:21] ehoch commented on #4824
@jaiminpanchal27 @mkendall07 Can we also add a recommendation to consume Video OpenRTB params from `mediaTypes.video` and deprecate doing it as part of the bidder params?

I'd really like to see 5.0 make this a required change for adapters and 4.0 could really help with this encouragement.

I'll be updating the documentation hopefully this week, but here's an issue to reference what the heck I'm t

[2020-05-28 17:34] jsnellbaker commented on #5314
I think the issue is tied to the `%ED` at the end of the query string.  That doesn't appear to be a normal encoded character.  Is that part correct, or was it somehow a typo?

[2020-05-28 20:03] lanceloti commented on #5314
@jsnellbaker you are right. Think the ploblem is that this site doesn't use utf-8.

[2020-05-29 06:50] khatibda commented on #5001
omg this is terrifying if true.

thank u for the detailed cookie explanation!  helpful to understand.

[2020-05-29 15:11] AskRupert-DM commented on #4796
I have a question - apologies if its covered/basic - but will prebid core handle writing out adapters respective renderers to the safe-frame document as opposed to the parent document or will adapters/renderers require updating to handle this ?

[2020-05-29 18:06] #5103 closed

[2020-06-01 14:20] jaiminpanchal27 commented on #5237
@ehoch Would there be any enforcement programmatically in Prebid core for this ? We do not do any kind of checks for bidder params.
I am understanding that this would just be a recommendation and would come under module rules which will be out very soon.

[2020-06-01 14:25] ehoch commented on #5237
@jaiminpanchal27 I don't think we should. My suggested plan would be entirely just a change in documentation and rules.

[2020-06-01 14:37] jsnellbaker commented on #5314
Hi @lanceloti
I'm going to close this issue for now, since it appears to be a site-based issue rather than Prebid.js specific.  Please let us know if there are any further questions/concerns on this topic.

[2020-06-01 14:37] #5314 closed

[2020-06-01 14:38] bretg commented on #5241
@Nicola1976 - please help us understand what metric you're measuring. It doesn't make sense that the existence of consentManagement in static mode should change the number of outgoing requests.

However, it could easily change the number of bid responses. The Rubicon exchange is quite strict about GDPR, so a dropoff when gdprApplies is expected.

[2020-06-01 14:40] jaiminpanchal27 commented on #5232
@brondsem Question about the cmp in use here.
I tested the test page shared by you. So you are starting prebid as soon as the tcloaded event is emitted by cmp. Now when prebid reads the config and see that consent management is configured, it adds the callback on event listener here https://github.com/prebid/Prebid.js/blob/master/modules/consentManagement.js#L155

The callback is executed immediat

[2020-06-01 14:42] bretg commented on #5245
Going to close this one out - re-open as needed.

[2020-06-01 14:42] #5245 closed

[2020-06-01 14:43] bretg commented on #5280
Fixed - there was an issue on the ad server side.

[2020-06-01 14:43] #5280 closed

[2020-06-01 14:46] jsnellbaker commented on #5305
Hi @zshnr

Can you confirm from looking at the console logs if the auction is completing with an actual bid (ie do you see the log lines that describe the targeting keys getting set)?  They should look something like the following:
<img width="983" alt="Screen Shot 2020-06-01 at 10 43 36 AM" src="https://user-images.githubusercontent.com/31102355/83420530-c626ca00-a3f4-11ea-92e8-39be7bb9e46a.png">

[2020-06-01 14:49] bretg commented on #5300
@GLStephen - there's a pretty big difference between the bidders supported by Prebid-Server and which companies are hosting Prebid Servers and offering a managed service for AMP.

So the list in rtc-publisher-implementation-guide is host companies. If someone connects their AMP pages to the AppNexus or Rubicon Prebid Servers, they would be able to work with that host company to connect on the back

[2020-06-01 14:52] robertrmartinez commented on #5242
@fcurti

Has @wqi1972 helped solve your issue, or do you still wish to keep this open?

[2020-06-01 15:03] bretg commented on #5311
So basically you need a custom 'renderer' to parse the JSON and make something that can be displayed. This is a topic we've discussed, and our draft position is detailed in https://docs.google.com/document/d/1kK0ifXV-vzyV7VchPKoyGuz375H7fzbTJFt_oWeCiRo/edit#

One adapter we're aware of that does something along these lines is astraoneBidAdapter.js. We caution against copying this adapter's approac

[2020-06-01 15:09] patmmccann commented on #5287
I think the discussion in committee was around the popularity of this change to the build process. My assessment so far chatting with others is that we may have underestimated the popularity and this is actually quite useful. Will raise in the pub committee on June 4

[2020-06-01 15:22] jsnellbaker commented on #5292
Hi @onaydenov
Sorry for the delay here.  I took a look at the test page and I was having some trouble trying to interact with the CMP widget/menu.  It would not load/open for me at all.

When I debugged the prebid auction, I observed the following log messages:
<img width="1680" alt="Screen Shot 2020-06-01 at 11 19 34 AM" src="https://user-images.githubusercontent.com/31102355/83424014-cd040b80-a3

[2020-06-01 15:37] onaydenov commented on #5292
<img width="1277" alt="image" src="https://user-images.githubusercontent.com/11557435/83425558-2be37800-a42e-11ea-8c60-f424d754a066.png">
Hi @jsnellbaker
I'm using a VPN to get CMP work. See screen, right bottom corner, blue banner and script in console responds with the cmp id. Is this what you are trying to see?

[2020-06-01 17:36] bretg commented on #5194
Closing out this issue as it's been approved and is in the implementation phase.

[2020-06-01 17:36] #5194 closed

[2020-06-02 12:21] ademozkur opened #5325 "Winning bid comes after refresh"
## Type of issue
I mostly use default codes. I did not make changes to not much. But, the actual winning bid comes after the ad is refreshed. I created a trial banner from Adform SSP. In the first view comes Google. The trial banner comes after it was refreshed. However, I also found out why this problem was caused. This problem occurs if there is another Google ad on the page. No problem when the

[2020-06-02 15:10] brondsem commented on #5232
Hi.  I read the [spec about addEventListener](https://github.com/InteractiveAdvertisingBureau/GDPR-Transparency-and-Consent-Framework/blob/master/TCFv2/IAB%20Tech%20Lab%20-%20CMP%20API%20v2.md#addeventlistener) and its not clear to me what should happen when `addEventListener` is called after the load event already happened.  Some CMPs might not even run the callback at all because the spec says:

[2020-06-02 15:31] jaiminpanchal27 commented on #5232
Thanks @brondsem. Let us know what CMP provider say.

We tested our test page with two cmp's and callback was invoked immediately.
- Test page in this https://github.com/prebid/Prebid.js/issues/5292.
- https://cmp.sirdata.com/#/. I cannot share the page as it is paid version. We were given the scripts to test internally.

[2020-06-02 17:08] curlyblueeagle commented on #5143
@bretg I think the warning is appropriate because the adapter needs the
elementI D for a feature (measuring view-ability). And GPT path to element
ID is our only means to obtain an Ad Unit's element ID.

@spormeon can you share a test page? Hard to debug otherwise.

On Mon, May 18, 2020 at 11:09 AM spormeon <notifications@github.com> wrote:

--

*Aparna Hegde* | Senior Software Engineer | 33Across

[2020-06-02 17:11] idettman commented on #3873
The file `modules/userId/index.js` contains the setCookie call used by all the submodules, so the main domain could be passed as the `domain` argument for `setCookie(key, value, expires, sameSite, domain, done)`. I'll create a PR for this fix

[2020-06-02 17:15] spormeon commented on #5143
no test page sorry, it was 2 months ago lol

[2020-06-02 19:39] khatibda commented on #5287
great, fingers crossed!

[2020-06-02 20:22] wqi1972 commented on #5325
I believe the trouble is:
prebid bidding code is inside `pbjs.que.push` queue, and GAM ad call is inside windows load event `window.addEventListener('load'`, there is no guarantee that windows load event happens after prebid bidding finish.
When there is another google ad, it impacts javascript execution sequence, so gpt ad call for slot1 get triggered before prebid bidding returns.
I believe the

[2020-06-02 20:35] ademozkur commented on #5325
1.

Thanks.
However, when I changed the codes in this way, it did not run the bidders. Only Google worked.
Can you share please JSFiddle demo? For your solution.

Although I use the Default Prebid code, if there is another Google code on the page, the winning bid comes after the refreshed. It doesn't come on the first impression.

[2020-06-02 20:56] GLStephen commented on #5300
@bretg  I see the distinction on the rtc page now that I've reviewed it a bit more, but I was sort of searching for what would make a Prebid client side adapter *not* work with Prebid AMP through server. I have received feedback that the assumption that a Prebid bidder is supported on server is true for web, but not for AMP.  I'll keep an eye out on the update and contribute as able.

[2020-06-02 21:54] wqi1972 commented on #5325
Please push your change to http://www.thegeyik.com/prebid-with-another-google-ad/, let me see where possibly goes wrong.

[2020-06-02 22:01] ademozkur commented on #5325
I did. Can you check please?

[2020-06-02 23:46] wqi1972 commented on #5325
A couple of issues in your new code.
1) you need call
[code]
after
[code]
2) change code
[code]
to
[code]
3) I believe you don't need code
[code]
anymore.

[2020-06-03 07:07] ademozkur commented on #5325
Thanks for all.
I did. But the problem still continues. Can you check please?

[2020-06-03 07:47] fcurti commented on #5242
Hi @robertrmartinez
I found the solution using pbjs.onEvent('bidWon', function(e){} )

Of course, using previous version of prebid.js, the pbjs.getAllWinningBids() function, was not empty when GTP slotRenderEnded triggered.

In this time i do not have time to rollback the prebid.js version in order to understand starting from which version this issue appear.

Definetely the ticket can be closed

[2020-06-03 08:34] #5242 closed

[2020-06-04 01:25] wqi1972 commented on #5325
I think I figured out.
In the page, it calls `googletag.enableServices();` twice. And call to `googletag.pubads().disableInitialLoad();` is after first `enableServices`.

[2020-06-04 07:33] ademozkur commented on #5325
Thanks for all. I made it from scratch with default codes. And as you said, the problem was solved. First googletag.pubads (). DisableInitialLoad (); needs to take place. But there is a problem like this. It is not always possible for my script to work first order on the site. The site can have its own ads. As an agency, we send extra ads or buy banner areas from the site. In this case, what kind

[2020-06-04 09:27] Nicola1976 commented on #5241
Hi,
we analyzed both impression and request data  Rubicon and Pubmatic.

In both cases it seems that the drop is rather linear (drop of request/responses 20-30%) on both bidder when the cmp is activated.

We are currently testing with allowAuctionWithoutConsent: true, to test if could be a cmp error issue that does not allow some request.

you can check our configuration on this site: https://gazz

[2020-06-04 14:20] Elisa004 opened #5332 "GDPR consent Prebid.js"
Hi, everybody.

We are having problems with GDPR consent with Prebid.js
We have implemented everything correctly but by debugging we find two errors (I enclose ss).
Suggestions on how to solve the problem?
Thanks

![Schermata 2020-06-04 alle 13 02 33](https://user-images.githubusercontent.com/66425759/83768560-3cd6f800-a67f-11ea-9f9d-892c440374d9.png)
![Schermata 2020-06-04 alle 13 02 59](https://

[2020-06-04 17:17] wqi1972 commented on #5325
Try wrap up all your code inside an iframe, so that the ads on site and additional prebid ad you provided run on different pages.

[2020-06-04 17:56] curlyblueeagle commented on #5143
ha! if it's not an issue to you anymore can I request the issue to be closed?

[2020-06-04 19:09] goosemanjack commented on #5141
There was a null check missing in the call chain. A PR has been submitted:
https://github.com/prebid/Prebid.js/pull/5333

[2020-06-04 19:24] goosemanjack commented on #4989
Issue #5141 was not related and a fix has been submitted. I have gotten some time to investigate this further and will update when I have something.

[2020-06-04 19:51] ademozkur commented on #5325
I did. It really worked.
But, there is a question I can think of. Is it a problem for Google ads to run in an iframe? After all, it's not the original domain. And do we need to have ads.txt ids in the domain where the code comes from?

[2020-06-04 20:12] ademozkur commented on #5325
and of course the other ssp's. not only google. for example criteo.

[2020-06-04 21:46] goosemanjack commented on #5234
Hold off on any further DigiTrust integration work. We are evaluating some extensive changes that may be breaking.

[2020-06-05 05:57] ydennisy commented on #4610
@omerBrowsi @pm-harshad-mane just wondering if you guys have any timelines planned for working on this issue?

[2020-06-05 11:40] smartclip-adtech opened #5335 "Our ci/circleci: build always fails. smartclipBidAdapter #5275"
## Type of issue
Question

## Description
Our ci/circleci: build always fails.
  350:7  error  Identifier 'sc_smartIntxtStart' is not in camel case  camelcase

  351:7  error  Identifier 'sc_smartIntxtNoad' is not in camel case   camelcase

  352:7  error  Identifier 'sc_smartIntxtEnd' is not in camel case    camelcase

We can't rename the sc_smartIntxt function to camelcase.
This is a function we

[2020-06-05 13:57] GeneGenie commented on #5014
Why is it stale? I vote for rolling back these changes https://github.com/prebid/Prebid.js/pull/4435

[2020-06-05 15:36] bretg commented on #5014
@gglas to discuss with the team and figure out a path-forward

[2020-06-05 19:03] bszekely1 opened #5339 "Price Floors Module: Multiple Floor Model Selection"
## Type of issue

Intent to implement

## Description

The intent of this ticket is to provide a method for [Floor Providers ](http://prebid.org/dev-docs/modules/floors.html#floor-data-provider-interface)to apply and A/B test different models when implemented in the [Prebid Floors Module](https://github.com/prebid/Prebid.js/blob/master/modules/priceFloors.js). Today Floor Providors are limited to

[2020-06-05 20:51] acework commented on #5001
Wanted to chime in here - from our perspective, a jump from 100kb to 300kb is a no-go - we get push back from our sites for increases much less than that. We're interested in ways for Prebid to get slimmer.

[2020-06-05 21:12] wqi1972 commented on #5325
Good question. I believe yes.

[2020-06-05 23:52] mike-chowla commented on #5001
One of things that would help to cut down adapter size is the ability to compile out code for formats the publisher is not using.  PubMatic's adapter code size would drop about 40% if we could exclude native code at build time.  Most publishers don't use native so being able to exclude it in those cases would be big win.

Another idea is to post list of list of adapter code size with largest first

[2020-06-05 23:59] mike-chowla commented on #5001
One idea to improve Prebid Server match rates:  The Prebid Server match rate gets better the more sites are running a vendor's Prebid server.  What if all member companies run their Prebid servers under a prebid.org domain and thus sync their server cookies into that domain.  There would be a bunch of details to work out.  We'd probably need to use delegated DNS sub-domains so everyone can managed

[2020-06-06 09:01] #5207 closed

[2020-06-06 20:12] ademozkur commented on #5325
I emailed you.

[2020-06-07 13:43] DunnCreativeSS opened #5340 "Which adapters are instant signup and/or support smaller publishers"
## Type of issue
Question

## Description
Most bidder adapters require a signup process that's not full-serve. Which have full-serve, no review? Which promote small publishers? I just introduced some web apps to http://jare.cloud and my viewership has gone from a handful of visitors a day to ~1000/day, and want to integrate prebid,.js, but don't have the time to google each bidder adapter to see w

[2020-06-08 10:35] agammathur opened #5341 "Proposal - Implement a default outstream renderer"
## Type of issue
Feature Request

## Background
Currently, Prebid doesn't have a default video player which can be used to play out-stream video ads, in case no renderer has been provided by publisher or demand partners.

## Proposal
We should use open source projects like 'video.js' and 'videojs-vast-vpaid' plugin to implement an out-stream video player. If no renderer has been provided by publis

[2020-06-08 17:12] mike-chowla commented on #5341
I've created a new repo for the Oustream project
https://github.com/prebid/prebid-outstream

[2020-06-08 21:55] bretg commented on #5300
@GLStephen wrote:

Would need more details about the specific case you're dealing with. There is one known scenario, which is ix -- PBS isn't currently sending source.tid for AMP, which they require. This is covered by https://github.com/prebid/prebid-server/issues/1337

Going to close this issue - please open another if you find which specific server adapter doesn't like AMP

@mlapeyre3 wrote:

D

[2020-06-08 21:55] #5300 closed

[2020-06-09 07:27] Nicola1976 commented on #5241
Hi @bretg
we verified that with this configuration (allowAuctionWithoutConsent: true) the requests have no drop. Do you confirm that with allowAuctionWithoutConsent: true in any case the consent is still passed (undefined if there is an error [like described in documentation](http://prebid.org/dev-docs/modules/consentManagement.html#tcf-v11-examples)) and we are therefore compliant with respect to

[2020-06-09 10:52] #4987 closed

[2020-06-09 15:16] bretg commented on #5216
Ok, we need to hammer out the config for this. Here's a straw:
[code]

Notes:
- There's precedence for putting functions in config. See s2sConfig. syncUrlModifier
- Debating the name of this data: `gpt-pre-auction`?  Or `gptPreAuction`? Or add another layer like `modules.gptPreAuction`?

[2020-06-09 15:33] msm0504 commented on #5216
@bretg I'd prefer to call it `gptPreAuction` since all of the other config properties are camelcase.

Also, a couple notes on the custom function params:

`customGptSlotMatchingFunction` should be function(adUnitCode). For targeting, each slot is being matched to an ad unit. Since the input from the hook is the list of ad units, this module will work the other way: loop over the ad units and try t

[2020-06-09 21:06] bretg commented on #5239
As a result of a recent review, added one more:

[code]

[2020-06-09 21:11] bretg commented on #5332
@Elisa004 - these look like timeouts, which are more-or-less expected on the first page load.

For both GDPR and CCPA, Prebid.js depends on the output of IAB-defined functions. PBJS will wait a certain configurable amount of time, but a response from those functions comes from the CMP (Consent Management Platform), which in turn depends on the user. You've implemented a CMP, yes?

If you're receiv

[2020-06-09 21:22] bretg commented on #5340
This isn't a request that Prebid.org can help with. There's a good reason that most bidders review content before agreeing to monetize -- they don't want to bid on inappropriate or fraudulent traffic.

It would be fine if someone outside the org were to make such a list.

[2020-06-09 21:22] #5340 closed

[2020-06-09 21:28] bretg commented on #5325
Are we good here? Please close the issue if resolved. Thanks.

[2020-06-09 21:29] bretg commented on #5311
The originator gave a thumbs up on the explanation, so closing this. Thanks.

[2020-06-09 21:29] #5311 closed

[2020-06-09 21:30] #5143 closed

[2020-06-09 21:47] ademozkur commented on #5325
Yes @wqi1972 solved all problems.

[2020-06-09 21:47] #5325 closed

[2020-06-10 06:51] natanavra opened #5355 "bidsBackHandler arguments are incomplete"
## Type of issue
Bug

## Description
`bidsBackHandler` is called with an empty object when no bids are available (added after #3197).
`bidsBackHandler` should be called with the auction object to allow to refresh relevant slots.
e.g. if several auctions are initiated one after the other on multiple dynamically loaded slots, each slot / group of slots should be refreshed separately, calling a gener

[2020-06-11 10:32] spormeon opened #5362 "IAS: https://dt.adsafeprotected.com/ cert errors!!!"
firstly , sorry for putting this here, bit hoping someone from IAS is here and sees,  there have been cert errors on this domain for over a week now,  I believe it is creating havoc with video ads.

Anyone here got contact with them/   know whats going on:  just look at the amount of errors its throwing lol:

![DevTools_-_www_smokingmeatforums_com__and_B3_Performance_by_Media_Type___Domain_-_Distr

[2020-06-11 22:15] vitorhenrique123 opened #5367 "Prebid Video Appnexus + ImaSDK+ Admanager + VAST"
## Type of issue
Question/Bug

## Description
I'm using the Appnexus bidder with ima sdk from google + VAST URL's. However, for some reason,
about 60% of the videos even with the skippable object set to false, deliver with the skipp button anyway

IMASDK: https://developers.google.com/interactive-media-ads/docs/sdks/html5

Do I need to use a client-side apdater officially supported by the prebid?

[2020-06-12 13:12] spormeon opened #5368 "pbjs.markWinningBidAsUsed(adId); for outstream video"
Hi

Can this be used as following, so as to mark winning outstream bids used as we are getting discrepancies for outstream with appnexus:  I'm also using
useBidCache: true  , so will the two work together so as bidcache also work propley?

pbjs.aliasBidder('appnexus','districtm');

 // marks winng video bids as used
    pbjs.markWinningBidAsUsed(adId);

    pbjs.bidderSettings = {.............

UP

[2020-06-12 13:25] jarnix commented on #4815
Hi,
This forces to do a creative per bidder and it's a not easy to maintain. Did you find a better solution?

[2020-06-12 13:31] nanek commented on #4815
Agreed. I just revert #4706 in my custom build.

[2020-06-15 13:32] bretg opened #5370 "Merge quantumdex and valueimpression adapters"
## Description
As found in #5356 The valueimpressionBidAdapter is completely identical to quantumdexBidAdapter except, of course, bidder code.

@thuyhq has expressed a willingness to merge these adapters at some point, though they're not able to do this at the moment as it will affect their business.

This issue tracks the open item.

[2020-06-15 23:22] MarcelloVertemati opened #5375 "Bidder specific renderer"
Hello. I am new here, but I have an issue and I read some related articles about this: [4312](https://github.com/prebid/Prebid.js/issues/4312), [2668](https://github.com/prebid/Prebid.js/issues/2668), [1924](https://github.com/prebid/Prebid.js/issues/1924) and a few others.

My situation is: I need to put together 3 bidders in an outstream format: rubicon, appnexus and teads. Rubicon doesn't have

[2020-06-16 16:57] spenser-roark opened #5380 "Insticator adapter causing build error"
## Type of issue
* Bug

## Description
Attempting to download prebid.js with insticator causes an error message, the other bidders I've attempted seem to work fine

## Steps to reproduce
* Select Insticator as a bidder adapter
* Attempt to download

## Test page
* N/A

### Expected results
* Download prebid.js

### Actual results
* Error message: {"error":"Prebid file not built properly","requestI

[2020-06-16 17:53] GeneGenie commented on #5014
Hello @bretg, any news about this?

[2020-06-16 17:57] gglas commented on #5014
hey @GeneGenie we have discussed internally and are sharing thoughts with the larger group - expect updates this week

[2020-06-16 18:26] NCal opened #5382 "Audience Network throwing CORS error"
## Type of issue
Audience Network throwing CORS error

## Description
Noticed audienceNetwork adapter giving me a CORS error all of a sudden in prebid 3.6.0
` No 'Access-Control-Allow-Origin' header is present on the requested resource.`
No other adapter is having this issue.
Is audienceNetwork no longer supported?

## Platform details
prebid 3.6, macOS, node 10.6

[2020-06-17 17:26] idettman commented on #3873
PR will be opened shortly

[2020-06-17 18:36] #5229 closed

[2020-06-17 19:12] brondsem commented on #5232
Waiting for response from my CMP still.

I was able to test Quantcast's free CMP it currently fires "tcloaded" right away, which is incorrect when there is no previous consent string.  So can't even accurately test this scenario with that CMP.  https://output.jsbin.com/cicirek/?pbjs_debug=true

So in general may have to deal with varying implementations from different CMPs :/

[2020-06-17 23:24] bwschmidt opened #5389 "Google’s Additional Consent Mode"
## Type of issue
Feature Request

## Description
Google has released specs on the additional consent mode described at https://support.google.com/admanager/answer/9681920. We are getting questions from our publishers if we intend to support specification through supply paths other than Google, i.e. Prebid. I did not see an issue about this, so I created this issue to kick off discussion on whether

[2020-06-18 01:30] andyblackwell commented on #5232
Yeah Quantcast has had several bugs since they deployed their TCF 2.0 version, I’ve been working back and forth with them for a few weeks with issues, it’s not in a usable state yet. Waiting for a fully working version so we can implement. They currently have a feature request open with the IAB to get around some of their issues with the core cmp api.

[2020-06-18 06:08] robertrmartinez commented on #5339
https://github.com/prebid/Prebid.js/pull/5390

[2020-06-18 08:59] lucas-sm commented on #4796
I second @AskRupert-DM 's question. I would love to hear how outstream video would be working with safe-frames and if there are any roadmap plans around it.

[2020-06-18 11:08] tiago-snigel opened #5393 "setting userid for digitrust on page stops all prebid requests"
## Type of issue
bug

## Description
Until at least prebid 3.14.0 it was possible to set the digitrust id on usersync using the pbjs.setConfig on prebid.js, compile it and then if needed it could be overwritten on the script calling the prebid using the pbjs.setConfig once again. But right now with 3.23.0 it's not possible anymore, I've reviewed a couple of old version 3.22.0 and 3.20.0 and they a

[2020-06-18 13:22] smenzer commented on #5393
i don't really have any thoughts on what's happening or how to fix it, but just a comment that the IAB Tech Lab formally announced they are sunsetting Digitrust as of July 31, 2020; they also have a PR in to remove digitrust ID module, so I would make a bet that this isn't fixed and instead is just removed going forward. just wanted to share so you don't kill yourself trying to fix this when it wo

[2020-06-18 17:30] tiago-snigel commented on #5393
Thank you very much, most likely we'll do the same

[2020-06-19 04:28] dlackty commented on #5382
According to [Facebook's annoucement](https://www.facebook.com/business/help/645132129564436?id=211412110064838), since Apr 11 2020, Audience Network no longer fills any ad requests to web and in-stream.

[2020-06-19 13:56] brondsem commented on #5232
Response from our CMP:

[2020-06-20 22:03] bretg commented on #4796
If there aren't any volunteers to finish fleshing this out, @gglas will have to find one. I'm not a candidate - don't grok either safeframes or outstream renderers.

[2020-06-22 15:16] bretg commented on #5362
Adding @raguilar-ias @bengel-ias @katzhang-ias to take a look

[2020-06-22 15:44] mike-chowla commented on #5375
One option is to have a config flag where the ad unit renderer is only used where a bidder renderer is not present

[2020-06-22 15:49] bretg commented on #5380
This is an interesting one. 'insticator' was one of the aliases of serverbid, which was not ported to Prebid 3.x as noted in https://github.com/prebid/Prebid.js/issues/4650

I don't know specifically what aspect of 3.0 they didn't conform to -- the list is at https://github.com/prebid/Prebid.js/pull/4580 - probably related to deprecation of functions in utils.js

Adapters not ported were still lef

[2020-06-22 15:51] richccalkins commented on #5389
Hey @mkendall07 @bretg , any thoughts on the above? OpenX is getting a lot of questions about this from EMEA publishers.

[2020-06-22 15:54] bretg commented on #5332
@Elisa004 - is your issue resolved?

[2020-06-22 16:08] patmmccann commented on #5375
@mike-chowla this is the same as the 2668 proposal

[2020-06-22 19:12] bretg commented on #5389
Anyone is welcome to work through the development process: post a detailed spec, get community feedback, develop a module, write the documentation.

We would be willing to support an OpenX development team with pre-reviews of any proposed spec, which should include education on the background.

[2020-06-22 20:00] robertrmartinez commented on #4273
Done

[2020-06-22 20:00] #4273 closed

[2020-06-22 20:03] robertrmartinez commented on #5382
@NCal As @dlackty stated facebook has begun or finished the process of deprecating the aduienceNetwork adapter.

We should be removing (or have already) remove it from future Prebid.js releases.

closing this issue.

[2020-06-22 20:03] #5382 closed

[2020-06-22 20:03] robertrmartinez commented on #5393
Assigned to Isaac as he is familiar with the User Id module.

[2020-06-22 20:05] robertrmartinez commented on #5389
Adding help wanted label.

Maybe @richccalkins you can gather more information on if you or your team at Openx would be willing to kick off the conversation with a requirements / spec as Bret has mentioned?

[2020-06-22 20:08] robertrmartinez commented on #5375
@MarcelloVertemati

Yeah this is an interesting use case, and as adapters begin to support outstream more and more this will need to be something we need to support.

We will take this up as a topic in the next Prebid.org meeting.

For now, can you try the following workaround and let me know if it works?

https://github.com/prebid/Prebid.js/issues/2668#issuecomment-443371325

[2020-06-22 20:09] robertrmartinez commented on #5370
Thank you @thuyhq for taking this!

https://github.com/prebid/Prebid.js/pull/5405

[2020-06-22 20:10] robertrmartinez commented on #5368
Adding @mkendall07 for an appnexus perspective.

[2020-06-22 20:11] robertrmartinez commented on #5367
Adding @jsnellbaker for appnexus support. Assign as needed.

[2020-06-22 20:15] robertrmartinez commented on #5246
@spormeon @jrosendahl Has this been resolved? Assigned to @jrosendahl to confirm.

[2020-06-22 20:15] robertrmartinez commented on #5287
Assigning to @patmmccann for visibility.

[2020-06-22 20:22] robertrmartinez commented on #5241
@Nicola1976

By setting `allowAuctionWithoutConsent: true` you are allowing a prebid auction to ALWAYS run, regardless if the user has not selected consent yet, or it was not able to be found by prebid (wether that be an error, or timeout). Prebid will, in these cases, pass `undefined` to bid adapters, and it is up to each bidder to do whatever they see fit as "compliant".

Thus "are we therefore

[2020-06-22 20:24] robertrmartinez commented on #5237
@ehoch @jaiminpanchal27

Have we decided the result of this?

Do we want to implement some sort of `required` params for video objects like we do with `native`

Or will this be handled with offline documentation?

[2020-06-22 20:26] robertrmartinez commented on #5234
I have created an internal ticket for the Rubicon bid adapter changes.

[2020-06-22 20:27] robertrmartinez commented on #5216
Assigning to @msm0504 as I believe he has begun the work

[2020-06-22 21:59] spormeon commented on #5246
John was looking into it on email three weeks ago, not heard a thing from him since.

[2020-06-22 23:48] MarcelloVertemati commented on #5375
@mike-chowla , is there a way to automatically tell if a bidder has or doesn't have a renderer? Or I would have to know it beforehand?

@robertrmartinez yes, it works. The format appears twice inside pbjs.adUnits, but apart from that, everything seems to work fine. There is only one adserver call with all keywords from all the bidders. I use sendallbidders, so I am not sure what would happen if I

[2020-06-23 07:02] #5241 closed

[2020-06-23 07:02] Nicola1976 commented on #5241
Thank you so much for the detailed clarification @robertrmartinez.
We can close the ticket.

Nicola Colombo

[2020-06-23 07:05] Caspervw commented on #5368
@spormeon  Yes, it should.

What happens is that you are using a bidCache and video. Video, unlike display, doesn’t tell Prebid it has been shown on your website. Display uses the Prebid `renderAd` function, which can do the internal administration, while for video you use some VAST parser/player/sdk to show the ad. That player doesn’t tell Prebid what happened.

The discrepancies arise when you p

[2020-06-23 07:35] spormeon commented on #2282
@Caspervw ( from the info you put on the #5368 how do I use this then to just mark the winning outstream bid as used when using bidcache= true and  multi boxes bids (banner, native & outstream),  if i mark adId  , don't i "wipe" banner and native out of bidcache?

[2020-06-23 13:48] patmmccann commented on #5234
fyi @ix-prebid-development

[2020-06-23 14:45] patmmccann commented on #5375
I think the problem is line 42 here https://github.com/prebid/Prebid.js/blob/master/src/Renderer.js

[2020-06-23 15:27] patmmccann commented on #5375
Perhaps  line 118 could be changed to add a config option check?

 return !!(adUnit && adUnit.renderer && adUnit.renderer.url && adUnit.renderer.render);

[2020-06-23 16:02] mike-chowla commented on #5375
@patmmccann I started working on this but haven't had time to finish it and have not been able to get tests working either though I think that's a problem with the tests and not actual code

https://github.com/mike-chowla/Prebid.js/commit/d0509f9cba1d47be57e7a5e1cfa25b872e2268d1

[2020-06-23 17:01] patmmccann commented on #5375
is it the renderer spec that fails? https://github.com/mike-chowla/Prebid.js/blob/d0509f9cba1d47be57e7a5e1cfa25b872e2268d1/test/spec/renderer_spec.js line 135?

[2020-06-23 22:10] ix-prebid-support commented on #5234
@patmmccann

While it is correct that the IX Adapter reads Authenticated Signals made available on the page by the IX Identity Library javascript, the IX Identity Library is already fully privacy compliant with GDPR (TCF 1 and 2) as well as CCPA. Therefore, it's our position that:

* When we source IDs from the IX Identity Library - these IDs are subject to consent guidance that is collected and c

[2020-06-24 12:45] sbrosinski opened #5415 "First party data has types which are incompatible with the OpenRTB types"
## Type of issue
Enhancement

## Description
So the docs for how to configure first party data states:

"The First Party Data JSON structure reflects the OpenRTB standard. Keywords, search, content, gender, yob, and geo are special values in OpenRTB."

The adapter I'm working on talks to an OpenRTB based bidder. My initial assumation based on the examples given was, that I can just call e.g. `conf

[2020-06-24 17:21] tiago-snigel commented on #5393
Thank you very much, since Digitrust will be discontinued soon I'm doing some tests without the digiTrustIdSystem module and everything seems to work fine, I'll let you know if I find anything else, otherwise, I'll be closing this to not waste anyone's time.

[2020-06-25 08:18] fcurti opened #5417 "Conditional adUnit does not work in prebid video"
## Type of issue
BUG or Feature request

## Description
The configuration of prebid video bidders using **labelAny** does not work.
The customSizeConfig is loaded in prebid

customSizeConfig:[
		{
			 'mediaQuery': '(min-width: 1025px)',
			 'sizesSupported': [ [1800,1000],[1200,90],[970,250],[970,90],[728,90],[640,480],[300,600],[300,250],[100,200],[1,1] ],
			 'labels': ['desktop']
		 }, {
			 '

[2020-06-25 12:55] smenzer opened #5420 "Intent to Implement: Changes to consent should trigger call to userId modules"
## Type of issue
Intent to Implement

## Description

The userId module provides consent data to each idSystem when requesting a new/refreshed ID (via the `getId()` method). On subsequent page views, if the ID system does not need a refresh, the userId module will optionally make calls to the idSystem with `extendId()` method (if it exists), followed by a call to `decode()` to pull out the ID valu

[2020-06-25 12:56] smenzer commented on #5420
@olafbuitelaar fyi

[2020-06-25 15:53] GLStephen commented on #4824
This was merged as well. https://github.com/prebid/Prebid.js/pull/5402

[2020-06-25 17:30] patmmccann commented on #4824
as was #5401

[2020-06-25 19:22] #5339 closed

[2020-06-26 03:44] #5305 closed

[2020-06-26 09:06] smartclip-adtech commented on #5335
Hi,

thanks.
But now we have another issue.
The adapter is still "in review" -  i don't know why.
Is there anything we have to do now?

Best Regards

[2020-06-26 13:18] jbartek25 opened #5424 "Bugs in sendBidsControl.dealPrioritization"
## Type of issue
Bug

## Description
`sendBidsControl.dealPrioritization` doesn't work.

## Steps to reproduce
Enable `sendBidsControl.dealPrioritization` and run a HB auction as usual. This will lead to a syntax error:

![Screenshot 2020-06-24 at 12 29 06](https://user-images.githubusercontent.com/31618107/85846287-e05e8880-b7a5-11ea-8986-eb82b8eef94e.png)
This can be easily fixed by `bucketBids.

[2020-06-26 20:31] ian-lr commented on #5389
@bwschmidt @richccalkins Our Privacy/CMP team would be happy to help think through requirements -- let me know if that would be helpful to you and I can put you in touch.

[2020-06-28 12:58] #5141 closed

[2020-06-29 13:17] jsnellbaker commented on #3878
This should be fixed with Prebid.js 3.22.0 where a number of the packages were updated to support newer node versions.

Closing this for now.

[2020-06-29 13:17] #3878 closed

[2020-06-29 18:41] jsnellbaker commented on #5335
@smartclip-adtech I'll grab the PR and give it a review today.

[2020-06-30 14:10] jsnellbaker commented on #5335
I'm going to close this issue for now since it seems the lint errors were addressed in the PR and the review has started.

[2020-06-30 14:10] #5335 closed

[2020-06-30 14:14] jsnellbaker commented on #5367
Hi @vitorhenrique123 ,

Is there a test page available that delivers the ads in question?  I'd like to review the setup (as well as the `placementId` to check in the ad-server) to get a better idea here.

[2020-06-30 16:37] ronzilca opened #5440 "CCPA support for SPA or refresh ad units"
## Type of issue
Feature (it's a bug, I think, but according to the code, it was planned this way).

## Description
Within CCPA states, the default _usprivacy_ string is 1YNN.
But, users can choose to opt-out and avoid using cookies. Then, the _usprivacy_ string becomes 1YYN.

The problem is when I want to refresh ad units, according to the _consentManagementUsp_, the _usprivacy_ won't update.

##

[2020-06-30 19:36] bretg commented on #5415
@sbrosinski - sorry for the confusion. This is mostly just a docs issue. I fixed `yob` (type is integer) and `keywords` (type is comma-separated string)

Within Prebid.js, First Party Data is entirely convention:
1) the idea is the OpenRTB attributes go into the root level (keywords, search, content, gender, yob, geo and data)
2) all others go into context.ext.data or user.ext.data
3) it's up to e

[2020-06-30 20:33] sbrosinski commented on #5415
@bretg thank you for the explanation. I requested access to the Prebid Server First Party google doc.
We're also in the process of implementing fpd handling for a prebid-server adapter, so I have seen both sides now.

I guess good docs are really needed also for the publisher. I'm not validating the root level attributes and depend on the publishers to configure the correct values/types. Once I ga

[2020-06-30 21:10] bretg commented on #5415
Would certainly appreciate any help you can offer with documentation @sbrosinski .

- `device.geo` isn't part of the Prebid FPD feature
- I'm surprised user.geo is of interest in the Prebid.js context. Would think very few websites have that data. Expected it to be of more interest in a mobile scenario.
- Would advise publishers to be careful to specify only non-precise geo attributes or they'll n

[2020-07-01 12:00] jbartek25 commented on #5424
Test page: https://test-hb.improvedigital.com/tmp/prebid-deal-issue/issue.html

[2020-07-01 12:52] EskelCz opened #5447 "User ID module not getting data from GDPR consent module"
## Bug or unhandled corner case of implementation

## Description
We're using OneTrust CMP (to provide us with consent string from TCF API v2) first as a fast loaded stub (tcf.stub.js), which gets filled later on. This works great for bid requests, adapters seem to be getting the consent correctly. Problem comes with passing the string into user ID module ID5. The module is not getting the consent

[2020-07-01 13:41] smenzer commented on #5447
Thanks @EskelCz for writing this up.

Prebid team - I've debugged this a bit and I can see that calls to [getId()](https://github.com/prebid/Prebid.js/blob/master/modules/userId/index.js#L431) are actually happening before the call to the [cmpCallMap](https://github.com/prebid/Prebid.js/blob/master/modules/consentManagement.js#L270), which means the userId module has no way of getting consent. I c

[2020-07-01 14:10] EskelCz commented on #5447
I should also add that we had this issue even with TCF 1.1 and our in-house built CMP which was loaded more synchronously, so it's probably a problem specifically with the consentModule->ID5 interaction.

[2020-07-01 15:39] katiestroudpro commented on #4796
Apologies for dropping off the thread here. We're looking at using Intersection Observer to support page-scroll. For outstream video, I can bring it up in today's (7/1/2020)meeting. I'll let you know what is discussed. Also, I'll see what I can do about finding someone to flesh this out.

[2020-07-01 16:01] gglas commented on #4796
Thanks so much Katie!  Let's definitely discuss - but I believe the next
PMC meeting is on 7/8 not 7/1 -- look forward to chatting with you then.

On Wed, Jul 1, 2020 at 11:40 AM Katie Stroud <notifications@github.com>
wrote:

[2020-07-01 16:32] patmmccann commented on #4796
@AskRupert-DM rendering scripts being attached inside frames is part of the new prebid code of conduct but is not yet implemented.

[2020-07-01 18:44] AskRupert-DM commented on #4796
Thanks @patmmccann - are there any proposed timeframe for when that implementation may be done ?

Also is there a place that I can read up on for the 'code of conduct'  you mention anywhere ?

[2020-07-01 20:20] patmmccann commented on #4796
https://github.com/prebid/Prebid.js/issues/5239

On Wed, Jul 1, 2020 at 2:44 PM AskRupert-DM <notifications@github.com> wrote:

[2020-07-02 22:35] patmmccann commented on #5440
According to issue #4425 it was not planned this way:

"Because the USP API does not wait for a user response, if it was not successfully obtained before the first auction, we should try again to retrieve privacy data before each subsequent auction."

and this indeed appears to be a bug.

[2020-07-02 23:56] patmmccann commented on #5287
is this actually a duplicate of your proposal on #2949 @snapwich ?

[2020-07-03 12:45] smenzer commented on #5447
I think this is more general than just ID5, I think it's the entire userId module that is impacted

[2020-07-05 18:08] Slind14 opened #5456 "AppNexus Meta Data"
@jaiminpanchal27  @jsnellbaker @sumit116

Would you be so good to add the additional data which is already sent in the bid response to meta?

See: https://github.com/prebid/Prebid.js/issues/3115

![image](https://user-images.githubusercontent.com/3914677/86539230-35637280-befb-11ea-967b-eac5a2135e29.png)

[2020-07-06 11:34] benjaminclot opened #5458 "Advanced Size Mapping Module bug empties config on refresh"
## Type of issue
When a config has an empty `sizeConfig.sizes` property set, `[]` becomes `[[]]` so on the next refresh, this adunit's sizeConfig becomes invalid and it gets "deleted". I have been able to trace the problem back to this test: https://github.com/prebid/Prebid.js/blob/master/modules/sizeMappingV2.js#L109

## Test page
https://jsfiddle.net/Lmw0zrp5/
Have the window below 768px and hit

[2020-07-07 11:40] chrissjhitc opened #5462 "Prebid not waiting for TCF2.0 consent string from Quantcast CMP"
## Type of issue
Question

## Description

We're trying to set up TCF2.0 with the Quantcast CMP but have ran into an issue with Prebid not waiting for consent and requesting the first set of bids with an undefined consent string. It is our understanding that Prebid should be waiting for consent from the CMP before proceeding with bids, so we're not sure if this is a bug with Prebid, Quantcast or a

[2020-07-07 13:34] jsnellbaker commented on #5456
I'll take a look at this request and follow-up.

[2020-07-07 13:56] Josh-G commented on #5462
We have experienced similar issues in their v1.1 implementation where certain values would not be initially available. We assumed this was a race condition and it was reported to them. They never resolved it and we implemented a workaround to delay calling their CMP until it started returning sane values.

It seems to me that this is a problem with Quantcast again, based on [this snippet from the

[2020-07-07 14:10] Josh-G commented on #5292
I have debugged this as we are experiencing the same issue with Quantcast. It seems that the Quantcast CMP returns `success: false` when `parameter` is set as null in this msg:
https://github.com/prebid/Prebid.js/blob/66d9e77bacf66c42fc67797325154188c19a3f5f/modules/consentManagement.js#L206-L212

In a test, I removed the parameter entirely, and found the Quantcast CMP successfully processed the c

[2020-07-07 14:59] bretg commented on #5216
Added a task to update the pbsBidAdapter so these values can make it server-side as well.

[2020-07-07 16:34] chrissjhitc commented on #5462
We do think this is an issue with the Quantcast CMP. According to our reading of the IAB specs the CMP should not be triggering a tcloaded event until the consent string is available, and gdprApplies should be undefined instead of false while it is pending determination.

We have tried a similar workaround of using a __tcfapi listener to wait for the consent string to be supplied before making the

[2020-07-08 07:57] mlapeyre3 opened #5469 "Prebid.js 4.x announcement"
## Type of issue
Question

## Description
Hello everyone! I can see there is a prebid-4.0 branch opened on the repository and during the last Prebid.org webinar, there was this announcement that prebid.js 4.x will come soon.

Do you have any approximative ETA when this new 4.X version will come out?

Thank you very much!

[2020-07-08 09:28] PrjAdv commented on #5462
Hi chrissjhitc, would you be kind enough to tell me how you did this workaround? I am not capable of doing something like that :-)
I have a Quantcast "universal tag" and i have the same problem.
Thanks

[2020-07-08 10:35] chrissjhitc commented on #5462
Hi PrjAdv,

We've used this code were you would normally make the call to pbjs.requestBids. We've not fully tested it yet but it does seem to work. I'd probably want to double check its not possible for the event with the tcData to come in before we add our event listener but you should be able work around that if it is an issue.

`function waitForConsent(tcData,success) {

	if (success && tcData.

[2020-07-08 13:38] patmmccann commented on #5237
I think the plan is to handle through documentation; perhaps with a pr changing http://prebid.org/dev-docs/bidder-adaptor.html#building-the-request

[2020-07-08 14:13] jsnellbaker commented on #5456
@Slind14 just to clarify the request here and what's listed on #3115, would you want the following fields from the bid to be set inside the meta field as:
[code]

I'm not entirely clear on the mapping given we have terms like 'buyer' and 'advertiser', but they're pointing to the same singular field called `buyerId` in the #3115 issue.

Please let me know your thoughts on this point.  Thanks!

[2020-07-08 14:45] PrjAdv commented on #5462
Thank's chrissjhitc!
Now it work correctly :-)
I'm waiting an answer from quantcast support...

[2020-07-08 14:46] Slind14 commented on #5456
If buyer_member_id is the DSP, then yes.

[2020-07-08 16:14] madwant commented on #4747
"PBJS should prevent header bidding activity from accessing the device."
"Header bidding activity" sounds broad - Does this mean: a) preventing bidders from dropping/updating cookies with the impression, b) preventing bid opportunities from being sent to bidders, or c) other?

[2020-07-08 17:06] gglas commented on #5014
hey @GeneGenie this was resolved in https://github.com/prebid/Prebid.js/pull/4879

[2020-07-08 17:06] #5014 closed

[2020-07-08 19:00] pycnvr commented on #5420
This approach ends up generating a new pubcommonid every time the consent string changes.  That's problematic.  Since only id5 applies additional consent checks in its getId call and has also implemented extendId, it's probably better to pass along consent data in extendId call so that id5, and other subsystems in the future, can applies specialized consent checks when needed.

[2020-07-08 19:42] dmdabbs commented on #5462
I've posted a link to this issue in the TechLab Slack channel that TCF and Quantcast folks frequent.

[2020-07-09 11:53] #5393 closed

[2020-07-09 13:09] salvoaranzulla opened #5475 "1x1 Creative size (delivered) with Prebid.js"
## Type of issue
Bug

## Description
If I generate a report on Ad Manager about the creative size (delived) by Prebid.js advertiser, I see just 1x1:

<img width="764" alt="Schermata 2020-07-09 alle 15 06 15" src="https://user-images.githubusercontent.com/5984607/87043710-c5543580-c1f5-11ea-8a67-64cb0ea0158c.png">

Prebid.js works fine. We use many sizes on our website (for example: 300x250, etc).

[2020-07-09 14:16] Fawke commented on #5458
Hi @benjaminclot,

Yeah, I see can that I'm getting an error on clicking "REFRESH" on your test page. Thanks for bringing this up, I think I've come up with a fix, and am working on some other optimizations, will raise a PR for this fix shortly.

[2020-07-09 14:31] jsnellbaker commented on #5456
buyer_member_id is the seat code/id used within the adserver for whoever served the bid (ie it's like the buyer's account).  So it sounds like it shouldn't be used here since it's not an exact match to that (or any) field?

I did look through that list, but I wasn't sure where this field would exactly fit in the scheme of things.

[2020-07-09 14:39] Slind14 commented on #5456
It looks like your seat code stretches across both DSP and buyer, that makes it tricky. With other exchanges it is clearly separated.

There are multiple seats with the same DSP and different buyer. So I would treat this as buyer. If there is another id for just the DSP that would be nice.

[2020-07-09 15:30] jsnellbaker commented on #5456
I'm not sure there's a value for the DSP specifically.

If we then treat the `buyer_member_id` as the `buyerId`, where you do think the `advertiser_id` should go then (since it's ear-marked to the same field in the list)?

[2020-07-09 16:00] mike-chowla commented on #5237
@robertrmartinez

We discussed this on the video task force call this morning and concluded for 4.0 we shouldn't make anything required since adapters may or may not need a parameter even if OpenRTB requires them.  We'll revisit for 5.0.

[2020-07-09 16:56] chrissjhitc commented on #5462
Thanks for the pointers @chrispaterson. We're hoping that Quantcast will look into it on their side and none of this will be necessary.

The initial tcloaded event from the Quantcast CMP is the source of our problem. It has grdpApplies set to false instead of undefined - which the checkV2Data function in the prebid consentManagement module interprets as being told GDPR does not apply. By the time

[2020-07-09 17:45] chrispaterson commented on #5462
There should be only either a `"tcloaded"`  **_OR_**  a `"useractioncomplete"` event for the entire lifecycle of the CMP – never more than one and never both.  If `gdprApplies=false` then the `tcData.tcString` will not be available.

I wrote the [@iabtcf/cmpapi library](https://github.com/InteractiveAdvertisingBureau/iabtcf-es/tree/master/modules/cmpapi) that Quantcast (and most CMPs) use and help

[2020-07-09 18:07] chrissjhitc commented on #5462
This is the behaviour we're seeing on the test page linked above, we're getting both events. We have contacted Quantcast support and are open to the issue being anywhere.

![grab-01](https://user-images.githubusercontent.com/17746536/87074675-1c1e3700-c217-11ea-8e47-7f1a69e0adf8.png)

[2020-07-09 19:21] wqi1972 commented on #5475
That is not a problem of Prebid, but a problem of GAM.
The 1x1 is the size of Prebid creative. Inside Prebid LineItems, it overrides 1x1 size with actual sizes you need, e.g. 300x250, and it works fine.
But GAM's report is only based on the creative size (1x1), not the actual size configured and targeted inside lineitems.

If you really need it, you can consider:
1) group different size into diffe

[2020-07-10 08:53] chrissjhitc commented on #5462
Good news on this, V6 of the CMP was released yesterday and looks to be giving us the correct behaviour. We're getting one tcloaded event with the consent details now The release notes mention a TCF API fix:

https://help.quantcast.com/hc/en-us/articles/360047357574-Quantcast-Choice-Code-Release-Notes-TCF-v2-0-

And thanks again @chrispaterson , that did narrow down exactly where our problem was.

[2020-07-10 11:24] jsonUK opened #5479 "If both CMP and TCF2.0 APIs exist, if no valid TCF2.0 response is found, it does not fallback to CMP"
## Type of issue
Bug

## Description
I am currently testing our CMP from https://www.consentmanager.net. Our CMP stub has both `__cmp` and `__tcfapi` present.

If both the `__cmp` and `__tcfapi` APIs are present, Prebid defaults to `__tcfapi` even when no consent string is returned.
We still have v1.1 `__cmp` running as we plan to switch to TCF2.0 at a later date.

Considering there is a transitio

[2020-07-10 13:50] PrjAdv commented on #5462
Hi all!
Thanks for the feedback and the good news.
On our side, we only must delete the hack in our prebid code, the cmp code automatically turn to the new version.

[2020-07-10 14:54] patmmccann commented on #5469
approximately july 14

[2020-07-10 14:56] patmmccann commented on #5475
You may wish to make hb_size one of your gam "custom dimensions"

[2020-07-10 15:02] patmmccann commented on #5479
How do you propose modifying https://github.com/prebid/Prebid.js/blob/master/modules/consentManagement.js#L58 ?

[2020-07-10 16:00] chrispaterson commented on #5462
Glad to hear it is resolved!

[2020-07-10 16:04] smenzer commented on #5420
@pycnvr if consent changes, though, isn’t it important to update the pubcommonid in case there should no longer be one? we're also not talking about a common occurrence, this is to be covered in case of changes, which is important.

[2020-07-10 17:36] tahanzania commented on #5479
@patmmccann would consentManagement.js work with CCPA?

[2020-07-11 02:00] #3873 closed

[2020-07-11 12:10] #5475 closed

[2020-07-11 12:12] salvoaranzulla opened #5484 "Do we need to use prebid universal creative?"
## Type of issue

Question

## Description

We erogate only display banner on our website without AMP and without SafeFrame. We are using right now the legacy rendering code:

`<script>
var w = window;
for (i = 0; i < 10; i++) {
  w = w.parent;
  if (w.pbjs) {
    try {
      w.pbjs.renderAd(document, '%%PATTERN:hb_adid%%');
      break;
    } catch (e) {
      continue;
    }
  }
}
</script>`

If

[2020-07-11 13:45] patmmccann commented on #5484
If you're not having a rendering problem, the universal creative is unlikely to solve it

However, you may wish to look at the integration examples and turn on safe frame, that code sample is deprecated in favor of one supporting safe frames.

[2020-07-11 13:47] patmmccann commented on #5375
As a note, this was discussed in both the js and video committees this week and is seen as quite important

[2020-07-13 08:09] #5462 closed

[2020-07-13 12:07] Fawke commented on #5417
Hi @fcurti,

Can you please provide a test page, currently, I'm not able to reproduce the behaviour that you're talking about by visiting https://video.virgilio.it/.

As far as I know, label should conditionally filter out the bidders which fail the label check, and this works for video as well. You can also try the new advanced size mapping [module](http://prebid.org/dev-docs/modules/sizeMappingV

[2020-07-13 16:44] #5380 closed

[2020-07-13 16:44] #5332 closed

[2020-07-13 21:44] #5362 closed

[2020-07-13 21:44] #5370 closed

[2020-07-13 21:55] patmmccann commented on #5479
that uses consentmanagementusp.js

[2020-07-14 05:34] #4989 closed

[2020-07-15 04:35] proxybee commented on #2113
There are different possible cause as discussed would just like to add this for someone who might have the same issue as mine.

In my case I had a missing close div as shown below

[code]

Missing a close div can result in disorganization of the transversal from child to parent or parent to child hence resulting in an error when you try to access an element in the DOM

[2020-07-15 20:57] patmmccann commented on #4610
just noting https://github.com/prebid/Prebid.js/pull/1617 and https://github.com/prebid/Prebid.js/pull/2056 and natural fits for this functionality

[2020-07-16 01:24] bretg commented on #5479
@jsonUK - this isn't a use case we thought anyone would do. Any chance you can submit a fix? We're rather backed up right now.

[2020-07-16 01:30] bretg commented on #5484
I'm not sure what you mean by "erogate", but no, you don't need to use the PUC unless you need to:

- load creatives from cache
- support safeframes
- support native

[2020-07-16 01:30] #5484 closed

[2020-07-16 01:42] bretg commented on #5026
@lanceloti - please open a new issue with whatever details you might have - a test page would be ideal.

[2020-07-16 01:42] #5026 closed

[2020-07-16 01:43] bretg commented on #4999
This was implemented in https://github.com/prebid/Prebid.js/pull/5288

[2020-07-16 01:43] #4999 closed

[2020-07-16 01:44] bretg commented on #4980
Closing this issue - will track with just the code PR

[2020-07-16 01:44] #4980 closed

[2020-07-16 05:54] salvoaranzulla commented on #5484
Hi @bretg, Thanks. What do you mean for "load creatives from cache"?

[2020-07-16 07:53] smenzer commented on #5479
AFAIK, TCF guidelines from the IAB Tech Lab are that a CMP is _either_ v1.x or v2.x, and that a single page should only have one. Therefore, this use case doesn't seem valid to me. That said, @jsonUK if you have example websites that are doing this in production, that would be interesting to review.

[2020-07-16 08:09] spormeon opened #5502 "Is appnexus prebid server still working?"
i've gone to 3.25.0 prebid and using prebid server: https://prebid.adnxs.com/ for a video unit,  its making calls etc and getting bids back and displaying some vides, but no stats are being recorded in the suppliers systems, so is this working properly with 3.25.0?

[2020-07-16 09:39] fcurti commented on #5417
Hi @Fawke,
here you can find a test page with 2 placement AppNexus configured:
one is for Desktop (labelAny: 'desktop')
one is for Tablet/Mobile (labelAny: 'tablet, mobile')
https://www.iolam.it/test/video/appnexus.html

Filtering for "ib.adnxs.com" on Network panel and navigate the "tag" object on Request Payload for this resource you wil find 2 configured Placement (1 for desktop, 1 for tablet m

[2020-07-16 18:56] janwinkler commented on #5479
@smenzer Unfortunately that is not correct. During the transition phase (started in April and ends in September 2020) a CMP can (should?) support both versions, especially as there will be vendors that still support v1 and others that already/only support v2. A vendor/technology could therefore check __tcfapi('ping',...) in order to see if the cmp is actually configured for supporting tcf v1 or v2

[2020-07-16 19:04] janwinkler commented on #5479
PS: not sure if prebid acutally tests this: __tcfapi('getTCData',2,function (x,y){console.log(x,y);}); --> y should return false in case when tcf v2 is not supported. in this case call __cmp(...)

[2020-07-16 19:13] patmmccann commented on #5479
it just tests to see if tcfapi is a function  https://github.com/prebid/Prebid.js/blob/master/modules/consentManagement.js#L58 ?

[2020-07-16 19:13] smenzer commented on #5479
@janwinkler I'll have to go back and look for the slack messages about this, but I recall being told that you can't support both versions because the UI/purposes/etc are different. So how/why would a CMP support both api's at the same time?

[2020-07-16 19:27] janwinkler commented on #5479
@smenzer Yes the purposes are different and cannot be mixed. hence a single user would always only see a v1 OR v2 message. But as the publisher cannot know if the user comes with an "old" or a "new" cookie on the website, the CMP could support both at the same time and simply display a different message depending on the user.

[2020-07-16 19:33] janwinkler commented on #5479
@patmmccann Not sure i read the code correct but there is a potential second issue: It seems prebid only calls addEventListener and then waits for the response. The issue with this is, that the initial TCF v2 spec does not give a statement what addEventListerner should return as "eventStatus" property. This means a CMP is also valid if addEventListerner calls the callback with eventStatus unknown

[2020-07-17 15:15] Fawke commented on #5417
Hi @fcurti,

I was able to reproduce the behaviour you're talking about. It seems that the "built in" `sizeConfig` feature in Prebid.js is limited and only works with banner mediaType and hence, you are not able to filter the bidders based on labels.

For your use case, a new add-on module, [Advanced Size Mapping](http://prebid.org/dev-docs/modules/sizeMappingV2.html) is ideally suited.

For examp

[2020-07-17 15:40] jbartek25 opened #5510 "TCFv2: potential bug - null passed as argument instead of undefined or []"
## Type of issue
Bug or spec clarification

## Description
The CMP API of our provider Onetrust doesn't work with Prebid when fetching consent inside an iframe. The reason is that Prebid sends parameter=null in the code [here](https://github.com/prebid/Prebid.js/blob/master/modules/consentManagement.js#L223). Onetrust team argues that _null_ is not a valid value and in order to declare no value fo

[2020-07-17 16:02] jaiminpanchal27 commented on #5510
@jbartek25 Thanks for opening up issue. Can you share the link of IAB spec as well ? We will look into this and update you.

[2020-07-17 20:50] bszekely1 opened #5511 "Floors Module: Analytics interface changes"
**Description of issue**
The goal of this ticket is to address a misrepresentation of an analytics condition within the Analytics Interface of the Floors Module as well as provide better logging for analytics adapters.

When the Floors Module uses the Fetch method to retrieve floors and a timeout occurs (when the auction delay time is realized before fetched floors is returned), today the Floors M

[2020-07-18 05:47] #5368 closed

[2020-07-18 11:17] spormeon opened #5512 "emx_digital bidder constantly timing out"
emx_digital bidder for video constantly timing out in 3.26.0  with change of global,  i get this error:

![Screenshot_18_07_2020__12_14](https://user-images.githubusercontent.com/8503167/87851423-8b1f1e00-c8f0-11ea-8211-a211dca0ad53.png)

[2020-07-18 14:05] bretg commented on #5484
In scenarios like AMP and Moble SDK, the creative stored server-side instead of taking up network and memory space on the client. If it wins in the ad server, PUC retrieves the creative from that server-side cache and then displays it.

[2020-07-19 13:02] sbrosinski commented on #5512
Looks like the SSL cert for their endpoint recently expired, @EMXDigital ?

[2020-07-20 07:30] jbartek25 commented on #5510
@jaiminpanchal27 thank you.
https://github.com/InteractiveAdvertisingBureau/GDPR-Transparency-and-Consent-Framework/blob/master/TCFv2/IAB%20Tech%20Lab%20-%20CMP%20API%20v2.md

[2020-07-20 07:59] AnilAdPushup opened #5515 "index exchange bid request url breaks for pages with multiple query parameters."
## Type of issue
Bug (in ixBidder)

## Description
ixBidder sends a `site.ref` key in it's bid request, this is read from `document.referrer`. But there is no url encoding done which results in breaking of bid request url for pages where the `document.referrer` consists of more than one query parameters.

Same is the case with `site.page`.

https://github.com/prebid/Prebid.js/blob/master/modules/i

[2020-07-20 16:49] EMXDigital commented on #5512
@spormeon ,

Thanks for bringing this to our attention. Due to some certificate updates, we had an outage in one of our regions 7/17-7/19. This issue was addressed by our team and should be resolved as of late 7/19 to early 7/20 and should be resolved moving forward.

Thanks,
EMX Team

[2020-07-20 16:52] spormeon commented on #5512
fair enough but how someone lets a ssl cert run out it beyond me

[2020-07-20 17:53] mike-chowla commented on #5502
@patmmccann sent me your test page.  Your are not getting bid information into the DFP url due to a ad unit name mismatch.  The ad unit is created with the name "video" but it should have have the DFP Ad Unit ID since that is what dfp.buildVideoUrl() will use to find the bids

![Screen Shot 2020-07-20 at 10 48 22 AM](https://user-images.githubusercontent.com/13356910/87969501-1de9c500-ca77-11ea-81

[2020-07-20 17:56] spormeon commented on #5502
i'm using a child ad unit

[2020-07-20 18:03] mike-chowla commented on #5502
The value of "code" which is set to "video" needs to match the iu value of dfp.buildVideoUrl

[2020-07-20 18:53] mike-chowla commented on #5502
My original diagnosis was incorrect.

The PubMatic is sending back the ad type was a "banner" which incorrect and causing the cache uuid to be undefined.  I'll look into that.

For the other SSPs, I'm not sure what is happening.

[2020-07-20 19:28] SKOCHERI commented on #5447
Debugging with the  https://demo.cpex.cz/cmp/ it does not seem to be an issue with Prebid.js.

Due the the way Prebid.js is integrated in your page, when prebid initializes after initial load (using pbjs.processQueue();), the configs are not set yet. At this point no prebid modules including userId are initialized.
However, during the course of your page load, cpexAnalyticsAdaptor.js makes an expl

[2020-07-20 20:25] patmmccann commented on #4148
pretty sure this is good to close, as it is now changed to rendered

[2020-07-20 20:30] patmmccann commented on #5440
should be solved by #5452

[2020-07-21 13:47] omerBrowsi commented on #4610
pull request - https://github.com/prebid/Prebid.js/pull/5519

[2020-07-21 13:59] smenzer commented on #5515
@ix-prebid-support can you take a look at this please?

[2020-07-21 14:00] smenzer commented on #5512
@sbrosinski / @spormeon is this resolved now?

[2020-07-21 14:00] smenzer commented on #5510
This looks to be addressed with https://github.com/prebid/Prebid.js/pull/5505

[2020-07-21 14:55] robhazan commented on #5515
Hey Scott - I'll have someone take a look. Thanks!

[2020-07-21 19:13] bretg commented on #5502
@spormeon - by "stats" do you mean video impressions? Are you sure it's PBJS 3.25 related or is it possible that it's just timing -- that when you upgraded to 3.25 it just happens that the PBS at adnxs.com was updated?

There was a change in Prebid.js 3.25 around s2sConfig, but it was around the PBJS cache length -- shouldn't affect rendering videos.

@SyntaxNode - heads-up. Let us know if there w

[2020-07-21 19:17] spormeon commented on #5502
the videos render and i have seen them,  its just that no stats are making it back to backend systems that i use,  as soon as i flip the setup to client side, the stats start making it back to backend systems.  I have no clue if its related to a version number, thats the version number i was using

[2020-07-21 23:15] kizzard commented on #5515
@AnilAdPushup Can you confirm which Prebid version you are using? This was caused by a breaking change to Prebid core in 3.16 that was [rolled back in 3.20](https://github.com/prebid/Prebid.js/pull/5230). I checked javatpoint.com and it appears to be running v3.16.0-pre. An update to 3.20 or later should fix this.

[2020-07-22 09:53] MattCharge opened #5529 "New IAB TCFv2.0 LiveRamp CMP live - revenue and CPM drops"
Hi,

I'm new to github and have run out of ideas on why I've seen a significant drop in prebid revenue and cpm since we released LiveRamp's CMP on our site earlier this week.

We're running Prebid version 3.18.0
We released the Liveramp CMP across our site (cv-library.co.uk) at the beginning of the week. Since then I have seen Prebid revenue drop off a cliff and both Google AdX and Adsense CPM's h

[2020-07-22 11:43] jbartek25 commented on #5510
Agreed. Closing. Thanks!

[2020-07-22 11:43] #5510 closed

[2020-07-22 12:51] MattCharge commented on #5529
Ok I may have found a fix related to the purposeOneTreatment:

Prebid receives a response from the CMP that has the following value:
addtlConsent: "1~"
cmpId: 3
cmpStatus: "loading"
cmpVersion: 1
eventStatus: "tcloaded"
gdprApplies: true
isServiceSpecific: true
listenerId: 1
publisher: {consents: {…}, legitimateInterests: {…}}
publisherCC: "aa"
purpose: {consents: {…}, legitimateInterests: {…}}
pu

[2020-07-22 15:58] dmdabbs commented on #5479
Correct. It isn't a valid use case for both the v2 and v1 APIs to be present on the same page.
A publisher may choose to "A/B test" for some time while v1 remains 'legal tender.' But on any given page only one API version should be available. Ideally, a pub/CMP testing both would ensure that a user exposed to v2 disclosures never has the v1 CMP used again.

The IAB EU released a spec clarification

[2020-07-22 16:18] spormeon commented on #5502
i've also noticed there is conflicting info on this page and no idea if it makes any difference which is used?

http://prebid.org/adops/setting-up-prebid-video-in-dfp.html

one says:
https://prebid.adnxs.com/pbc/v1/cache?uuid=%%PATTERN:hb_cache_id%%

then the actual actual picture on the step through shows:
https://prebid.adnxs.com/pbc/v1/cache?uuid=%%PATTERN:hb_uuid%%

which one is the right one

[2020-07-22 16:18] janwinkler commented on #5479
Yes, to check if the functio exists, but does not automatically mean, that it will reply with the info that we expect ;-)

I dont see any policy that says this.

[2020-07-22 16:19] patmmccann commented on #5479
are you able to open a second issue to track this?

[2020-07-22 17:04] patmmccann commented on #5529
If I were you, I would retest after enforcement module behavior changes with 4.0 tomorrow, or merge these changes in

https://github.com/prebid/Prebid.js/compare/prebid-4.0

[2020-07-22 17:40] MattCharge commented on #5529
Thanks very much for the heads up! So do you think the problem I've described can be attributed to the Enforcement Module then?

Thanks

[2020-07-22 18:58] patmmccann commented on #5529
I'm not sure, but it is quite possible. With the enforcement module changing so much with 4.0, I think it makes sense to retest there.

[2020-07-22 21:31] MattCharge commented on #5529
OK thanks, this is helpful, rollback will commence shortly....

[2020-07-22 22:41] andyblackwell commented on #5529
The main issue with LiveRamp is that prebid doesn't really have a good working case for when gdprApplies=false, I think partly because the IAB spec isn't super clear on that either.
LiveRamp triggers the event listener to fire, but with a nameless event. So prebid keeps waiting for a proper signal until the timeout hits and it gives up.
Here's a screenshot from your site, with the CMP timing out:

[2020-07-23 10:00] MattCharge commented on #5529
Hi Andy,

Sincere thanks for this, it's extremely helpful. Can I ask if you are actively working with LiveRamp now and is this with their US team?
We're rolling back today - we'll retest with 4.0 and I'll come back with any findings and I'm sure some further questions...

Thanks

[2020-07-23 10:04] EskelCz commented on #5447
@SKOCHERI Thank you, I wasn't aware that the internal flow wouldn't allow for something like that.
I agree that a hook will be a better solution for analytics.

[2020-07-23 12:23] #5458 closed

[2020-07-23 16:16] andyblackwell commented on #5529
We don't have anything live yet, but I'm actively working on integrating both Quantcast and LiveRamp so we can a/b test them. We have a US rep at LiveRamp, but have only really went through a demo with them, haven't had as much back-and-forth as we had with Quantcast.

[2020-07-23 17:39] snapwich commented on #5287
@patmmccann yeah, it's something I've suggested in the past. There's some considerations to consider if we did this though, such as what target we compiled for, updates to the build/publish process, and then still making the source files available on npm as well for those that wanted to compile their own build.

@khatibda

pbjs.processQueue();`

This is in the README.md file. I wasn't aware consum

[2020-07-23 19:03] Slind14 commented on #5239
Thank you for putting this up for community comments.

We are cutting out wasteful requests to specific bidders and want to integrate this on the adapter level. The classification is using machine learning. For optimal performance, this needs to run client-side where the model can be cached since it is doing a unique prediction for every single request.

The model is loaded from a CDN, the entire

[2020-07-23 23:08] ian-lr commented on #5529
@MattCharge @andyblackwell Hi both, LiveRamp here -- I have made my colleagues who work on the CMP aware of the behavior you're seeing. Let me know if I can help close the loop on some of those conversations and help get this resolved for you -- you can reach me directly over email at `imeyers (at) liveramp.com`.

[2020-07-24 02:40] bretg commented on #5239
@Slind14 - this was an anticipated usage of the ['real-time-data' module architecture](https://github.com/prebid/Prebid.js/pull/5519) -- the ability to optimize which bidders participate in a given auction given location, refresh count, number of bids, etc.

[code]
The idea is that an RTD module could listen to the `beforeRequestBids` event and modify the AdUnits based on the desired optimization

[2020-07-24 08:52] Slind14 commented on #5239
Yep, I understand that. From an SSPs side it is difficult to get all publishers to integrate the module.

So it would help a lot if it was allowed to be done inside the adapter where it is enabled by default.

Ofc. it could be done server-side which would be allowed per the terms but the performance and also cost is a lot worse in this case.

[2020-07-24 11:09] MattCharge commented on #5529
Hi Ian,

Thanks for this. I should state that LiveRamp have been very good in this process so far. I'll PM you separately Ian.

Thanks

[2020-07-24 13:27] diDNA-matt commented on #5511
In regards to:

Is there a desired default value for when none is set, or is an empty string fine? Also what would be an example of a value passed to it be?

[2020-07-24 13:30] bszekely1 commented on #5511
This should an empty string when none provided. It would be unfair to favor a particular vendor. The purpose of the string is to prevent an analytics adapter from reading floors from the Floors Module when that analytics adapter is not being used as a provider.

[2020-07-24 13:39] GLStephen commented on #5511
@bszekely1 is the desire to only block the floors INPUT from other providers, but not the outflow into the analytics data on the bidRequest and bidResponse objects?

[2020-07-24 15:12] andyblackwell commented on #5529
Hey @ian-lr, similar to Matt, LiveRamp has been the easiest CMP to implement for us so far for TCF 2.0. I think the main problem is the IAB core api didn't set a clear standard workflow for when gdprApplies=false, which has just caused everybody to handle that differently. The real fix to this I believe is for the IAB to actually set a standard and/or prebid to more flexibly handle when gdprApplie

[2020-07-24 16:01] bszekely1 commented on #5511
This allows the analytics adapter the option to ignore floors data but read standard bidRequest and bidResponse data if the floors data is not derived from them (i.e. floor provider). Rethinking this a bit more, it might be a good idea to block floors data from being read if you are not the provider.

[2020-07-24 16:08] GLStephen commented on #5511
@bszekely1 I think that sending the pre-floor data is critical, I would strongly advocate against blocking analytics access. The analytics provider should be considered the same as the publisher in terms of data visibility under the umbrella of transparency and hiding data from the publisher is not our goal. If a publisher is running two analytics vendors, one for floors, and one for other purpose

[2020-07-24 21:25] bszekely1 commented on #5511
After some reconsidering and speaking with someone internally here, yes, all the data relevant to the auction should be allowed to viewed by all analytics adapters. The goal for the provider field is not to block an analytics provider for ingesting data but to allow the analytics provider to not log floor data if it's not produced by them as a floor provider.

[2020-07-25 06:29] #5367 closed

[2020-07-26 03:40] bretg commented on #5239
Please elaborate a little more on what the vision is.

As I understand it, the part about "cutting out wasteful requests to specific bidders" is clear and wonderful. We want to support that ability.

"difficult to get all publishers to integrate the module" -- also totally agreed, but that's the nature of Prebid.js -- pubs are already wary of the overall PBJS package size. There's little chance we

[2020-07-26 10:05] Slind14 commented on #5239
Most SSPs and exchanges we talked with directly jumped to the best way of implementation being within the bid adapter. This ensures that nothing changes for the publisher and that it is automatically live with the next update.

By implementing it in the adapter, the prebid package size barely increases. It is just 5 lines of code.

Can you elaborate on what you mean here?

[2020-07-26 12:24] mlapeyre3 commented on #5469
Solved: https://github.com/prebid/Prebid.js/releases/tag/4.0.0 :)

[2020-07-26 12:24] #5469 closed

[2020-07-26 12:54] bretg commented on #5239
Let's step back. I don't understand what you're trying to do and how it breaks the proposed module rules.

What specific proposed rule are we talking about?

[2020-07-26 13:05] Slind14 commented on #5239
Number 4 of the bid adapter rules or would you consider this to be part of the auction request?

[2020-07-27 00:33] bretg commented on #5239
Trying to piece all this together, I've reverse engineered that the real request here is that some SSPs want to throttle incoming requests and can't handle this themselves like other SSPs do on the server-side.

I think there needs to be a broader discussion about the problem and possible solutions. Maybe the industry can solve this another way without affecting users and publishers. e.g. one of t

[2020-07-27 01:09] GLStephen commented on #5239
We've built Prebid deployment infrastructure around this at PubWise pre-RTD. Would be happy to work with SSPs that seriously want to explore leveraging it.

[2020-07-27 08:24] Slind14 commented on #5239
Yes, most do it server-side. We do as well. But doing it client side as well is a lot more efficient in terms of traffic and infrastructure.

[2020-07-27 09:16] MattCharge commented on #5529
Hi @ian-lr, for us the CMP appeared to work really well. 98% of our traffic is UK based and we were seeing consent rates of about 95% which is why the drop in revenue and CPM seemed so strange....
On further inspection this appears to be because our bidders are 'not allowed' to set their cookie on the browser even when the user has consented through the CMP. On our test page now we can the warning

[2020-07-28 00:55] ian-lr commented on #5529
Hey @MattCharge checking into this on my end to see if there are any meaningful changes to the event handling you pointed out as the potential issue. I'm also going to pull in the folks from the CMP team to see if they can point me in the right direction.

[2020-07-28 06:13] MattCharge commented on #5529
Hey @ian-lr sincere thanks for this, that would be extremely helpful.

[2020-07-28 12:05] jdelhommeau opened #5546 "TCF v2 logic question"
## Type of issue
question

## Description
in consentManagement.js file, the below logic is used to check if TCF v2 consent string is available:

` else if (tcfData.eventStatus === 'cmpuishown' && tcfData.tcString && tcfData.purposeOneTreatment === true) {
        cmpSuccess(tcfData, hookConfig);
      }`

So it seems like, in case a TCString is already available, but user is currently editing his

[2020-07-28 14:05] Fawke commented on #5529
Hi @MattCharge, I can help you understand the changes to the `enforcementModule` in Prebid 4. Here are the major changes:

- Purpose 2 ('basicAds') enforcement can be done now. (v3, you could only enforce Purpose 1 ('storage')).
- Purpose 1 and Purpose 2 enforcement is **turned ON** by default. What this means is that your gdpr.rules will look like this: (if you've included the `gdprEnforcement` m

[2020-07-28 15:37] dfnkdhkhfjkdhkafhk opened #5548 "Bidding not working as expected"
## Type of issue
Issue

## Description
CCPA Prebid is not bidding as expected

## Steps to reproduce
1.  CCPA Consent Management module was added to v2.44.0 Prebid.

2. When we debugged the Prebid, we did notice the Prebid loading but there is no bidresponses or bidrequests.

## Sites with the issue:
https://www.hometalk.com/?fc=8643,8856 as well as https://www.hometalk.com

### Expected results :

[2020-07-28 22:20] bszekely1 commented on #5511
I removed the requirement to set `skipRate` to undefined when it's not defined. This is request is not a valid request because the Floors Module defaults (or defines a value) to 0 when not supplied by the publisher or a floors provider. The only scenario `skipRate` would be undefined is if the Floors Module code was not invoked.

It should be the job of the Analytics Adapters to log as they like w

[2020-07-29 07:02] MattCharge commented on #5529
Hey,

Many thanks for this, it's good to know what the default settings will be in 4.0. We're going to take a look at this internally and make a final decision on this in the next few days.

[2020-07-29 09:42] dfnkdhkhfjkdhkafhk commented on #5548
Can I please get an update on this issue.

[2020-07-29 15:11] jsnellbaker commented on #5548
@Fawke Can you please investigate into this setup and comment?

[2020-07-29 16:05] Trendqube-ssp opened #5551 "Bidder adapter and prebid.js versions compatibility"
## Type of issue

question
## Description

If Prebid bidder adapter was released with Prebid.js adapter version 3.27, however, wrapper on publisher's end is using Prebid.js with lower version, is there any chance to connect Prebid bidder adapter to wrapper with older version of prebid.js adapter without updating it?

[2020-07-29 23:57] bszekely1 commented on #5511
Added the flexibility to set floorProvider to be within the `floors.data` object as well. This is to accommodate signaling of self-dececlared floorsProvider configuration. Additionally, a publisher could A/B test different floor providers and allow for only the provider's floors to be logged if they wish. We are following a very similar approach as skipRate.

[2020-07-30 07:40] smenzer commented on #5551
Hi @Trendqube-ssp - no, if the publisher is not using a version of Prebid equal to or newer than the version that the bidder adapter was released with, then they won't be able to enable that bidder adapter. The only way to do this would be to fork Prebid and then cherry-pick the specific commits that added the bidder adapter and build from there...a lot of work and if not done right could mess up

[2020-07-30 09:07] dfnkdhkhfjkdhkafhk commented on #5548
I just wanted to add upon that when I checked the config ( i.e. using pbjs.getConfig() on the Console) . I did not notice any details related to Consent Management related module, should that be in there?

[2020-07-30 10:35] kirly-af opened #5554 "TCFv2 - Fallback to getTCData"
Hi,
Inside #4801 I could read from @harpere comment:

I disagree it is not necessary because the module may not be ready when the event (tcloaded for example) is triggered. getTCData being synchronous, it does not seem to be a big deal to add a call as a fallback.

[2020-07-30 14:14] Fawke commented on #5548
Hi @dfnkdhkhfjkdhkafhk,

I visited the page at https://www.hometalk.com and I can see no auction getting initiated. (essentially, I don't see a call to `pbjs.requestBids()`, that's why we have no bid requests and no bid responses). I also do not see any error messages thrown by Prebid.

Can you provide an unminified version of your Prebid.js setup which can help me identify any potential issues wi

[2020-07-30 14:37] jbartek25 opened #5555 "Criteo ID module throws error in unfriend iframe when third-party cookies are blocked"
## Type of issue
Bug

## Description
When running Prebid inside an unfriendly iframe with Criteo ID module enabled and third-party cookies blocked, Criteo attempts write in local storage. This throws an unhandled exception, the auction won't run and no ads will load.

## Steps to reproduce
Test page: http://test-hb.improvedigital.com/tmp/criteo-id-error.html

In Google Chrome make sure third-party

[2020-07-30 17:18] khatibda commented on #5287
yep i see it in the README.md file now, thx for pointing it out. all good on that front.

[2020-07-31 08:59] dfnkdhkhfjkdhkafhk commented on #5548
Hi Fawke,

Thanks for the update.

We did noticed the same issue on another Website : https://venturebeat.com/  and they are also using CCPA Prebid but of a different version i.e. 3.22.0. Here the details of the Consent Management have been specified in the pbjs.setConfig().

[2020-07-31 10:41] WanchangLiu opened #5560 "."
.

[2020-07-31 10:42] WanchangLiu commented on #5560
Sorry, it's missed

[2020-07-31 10:42] #5560 closed

[2020-08-01 09:00] #5456 closed

[2020-08-01 09:00] #5237 closed

[2020-08-01 11:00] #5420 closed

[2020-08-01 15:00] #5375 closed

[2020-08-02 18:10] saileshd opened #5562 "Upgrading from prebid version 3.27 to 4.1 not working"
## Type of issue

Question

## Description

Prebid version 3.27 is working perfectly for us. However, when we upgrade to the version 4.0 or 4.1 or 4.11 it is not working at all.

These are the bidders we are including:

appnexus
beachfront
gumgum
ix
lkqd
oneVideo
openx
pubmatic
pulsepoint
rhythmone
rubicon
sonobi
spotx
telaria

Consent Management - GDPR
Consent Management - US Privacy
DFP Video
Su

[2020-08-03 14:30] ian-lr commented on #5529
@MattCharge @andyblackwell Quick update here-- sounds like your hypothesis was correct regarding prebid processing the gdpr_applies=false event. We opened up a PR to address this behavior https://github.com/prebid/Prebid.js/pull/5564

[2020-08-03 16:22] dfnkdhkhfjkdhkafhk commented on #5548
Hi Fawke,

Is there anything else that can be checked here in the meantime? because as mentioned I also noticed this issue on another Client site: https://venturebeat.com/

[2020-08-03 20:03] patmmccann commented on #5375
@mike-chowla can we put the feature req flag on this issue?

[2020-08-04 09:58] Fawke commented on #5548
Hi @dfnkdhkhfjkdhkafhk,

I didn't find Prebid.js getting used in https://venturebeat.com. (`pbjs` global object threw an `ReferenceError` on the console). Can you confirm?

[2020-08-04 11:14] dfnkdhkhfjkdhkafhk commented on #5548
Hi Fawke,

I have attached the unminified version of the Prebid script shared by Hometalk.
[prebid.js.unminified.zip](https://github.com/prebid/Prebid.js/files/5021757/prebid.js.unminified.zip)

I hope this helps.

[2020-08-04 16:41] patmmccann commented on #5562
perhaps a test page would help

[2020-08-05 11:07] Fawke commented on #5548
Hi @dfnkdhkhfjkdhkafhk,

I saw the unminified file that you shared, but I could not find or make out from it, how / when the publisher is calling, `pbjs.requestBids`.

Perhaps, a you can request specifically for these two pieces of code from them.

Their configuration of `pbjs.setConfig({})` & the part where they're calling `pbjs.requestBids()`

I wanted to see the config object that is getting pa

[2020-08-05 13:56] patmmccann commented on #5546
A lot of the discussion on this logic is on #5564 comments

[2020-08-05 14:10] #4371 closed

[2020-08-05 17:58] bretg commented on #5389
Details on additional consent is at https://support.google.com/admanager/answer/9681920?hl=en

Summary:
1. This hack is to accommodate bidders who refuse to pay to be on the IAB GVL
2. CMPs can inject an addtlConsent field in the TCData object
3. This field is a simple list of Google-Vendor-IDs the user has consented to. This consent is not linked to purpose.
4. The OpenRTB location for this field

[2020-08-05 20:10] patmmccann opened #5571 "Feature Request - Copy meta keywords to fpd.context"
## Type of issue
Feature request

## Description
 https://github.com/prebid/Prebid.js/pull/4488 added support for copying meta keyword fields to a bidder's keywords field. It was discussed that this might be desirable for all bidders to have access to via fpd.context, which was defined on https://github.com/prebid/Prebid.js/pull/4472 . This issue is to add that functionality, either via an RTD sub

[2020-08-05 20:12] patmmccann commented on #5571
fyi @sumit116

[2020-08-05 23:03] yieldlift opened #5572 "CMP not found error"
## Type of issue
bug, or maybe just a feature

## Description
When prebid is loaded on the page where there is **no CMP module present**, we're getting an error:

"ERROR: CMP not found. Canceling auction as per consentManagement config"

Our consent management config allows auction to continue without consent or cmp module present
gdpr: {
      cmpApi: 'iab',
      timeout: 8000,
       allowAucti

[2020-08-06 07:17] jbartek25 commented on #5562
might be the same issue as reported in https://github.com/prebid/Prebid.js/issues/5572

[2020-08-06 09:48] Elisa004 opened #5573 "Post-bid issues"
## Type of issue
Post-bid integration on AMP page

## Description
Hello I've a problem with AMP page integration. I've added the post-bid code in the page but it doesn't works well. Is there a different integration for AMP page? thanks

[2020-08-06 13:17] bretg commented on #5502
[Sorry, for the delay -- I've been OOO.]

The whole uuid-vs-cache_id thing is one of Prebid's 'original sins'. I went back through the mess and confirrmed:

- hb_uuid is for video. Consistent across PBJS, PBS-Go, and PBS-Java
- hb_cache_id is for AMP and Mobile.
- the Prebid Universal Creative maps hb_cache_id to hb_uuid
- the ad server creative needs to map hb_cache_id_BIDDER to ucTagData.uuid

T

[2020-08-06 16:34] patmmccann commented on #5572
set defaultgdprscope

[2020-08-06 16:36] patmmccann commented on #5573
http://prebid.org/formats/amp.html

[2020-08-06 17:29] bretg commented on #5417
I updated the docs to clarify that sizeConfig is banner-only. https://github.com/prebid/prebid.github.io/pull/2191

[2020-08-06 17:29] #5417 closed

[2020-08-06 18:44] bretg commented on #5239
The committee approved the module rules this week. Will be posting them on the web site in the near future. Will then add a link here and close this issue.

[2020-08-06 19:10] bretg opened #5578 "Convention for Page Position"
## Type of issue
Convention

## Description
Similar to First Party Data and Video Parameters, many bidder accept page position as bidder-specific parameters. Publishers need to pass the same information to each bidder, but often with different values for each bidder.

- Rubicon requires 'position' to be either 'atf' or 'btf'.
- AppNexus requires 'position' to be either 'above', 'below', or 'unknow

[2020-08-06 19:43] yieldlift commented on #5572
thanks for the feedback @patmmccann , but setting defautGdprScope didnt solve it

gdpr: {
       cmpApi: 'iab',
       timeout: 3000,
       defaultGdprScope: true
}

[2020-08-07 07:25] Elisa004 commented on #5573
So, the post-bid integration in AMP page is the same of prebid?

[2020-08-07 10:10] EskelCz commented on #5447
@SKOCHERI I'm not finding examples or documentation about the hooks in prebid. Could you please point me into the right direction? Thanks

[2020-08-07 16:00] bszekely1 opened #5580 "Floors Module: Publisher provided minimum floor"
## Type of issue

Intent to implement

## Description

When publishers work with Floor Providers using the Prebid Floors Module, publishers give them full trust and control of setting Prebid floors. There may be scenarios where publishers may wish to have floors higher than those provided by the floors provider such as:

- Channel conflict
- Publisher rate minimums
- Using their own floor model as

[2020-08-08 03:36] hnkhandev opened #5581 "npm install issue (jest/parse-domain?)"
## Type of issue
npm install issue

## Description
`Hussain@DESKTOP-MFR2DP6 MINGW64 ~/Desktop/prebid/Prebid.js-3.27.0
$ npm install

`win32-x64-72` exists; testing
Binary is fine; exiting

Thank you for using core-js ( https://github.com/zloirock/core-js ) for polyfilling JavaScript standard library!

The project needs your help! Please consider supporting of core-js on Open Collective or Patreon:

[2020-08-08 03:53] hnkhandev opened #5582 "npm install issue (jest/parse-domain?)"
## Type of issue
npm install issue

## Description
[code]

## Steps to reproduce
running: npm install
node version: v12.18.3
npm version: 6.14.6

## Platform details
prebid 3.27.0

[2020-08-08 03:53] hnkhandev commented on #5581
formatting messed up

[2020-08-08 03:53] #5581 closed

[2020-08-08 08:32] #5440 closed

[2020-08-08 09:04] #5234 closed

[2020-08-10 01:57] #5511 closed

[2020-08-10 15:13] patmmccann commented on #5580
On number three, it seems the integer requirement is strange, why not a float?

On number four, this seems like an opportunity to add a an option to the enforcefloors key-value pair in the config.

[2020-08-10 16:03] pm-harshad-mane opened #5588 "Instream video flow not working, GAM responds with HTTP 400"
## Type of issue
PBJS Instream not working, GAM responds with 400

## Description
Try to run the test page mentioned on http://prebid.org/dev-docs/examples/instream-banner-mix.html
JSFiddle http://jsfiddle.net/Prebid_Examples/nowfejh7/2/
GAM call returns HTTP 400

## Steps to reproduce
Try to run the test page mentioned on http://prebid.org/dev-docs/examples/instream-banner-mix.html
JSFiddle http:

[2020-08-10 17:59] pm-harshad-mane commented on #5588
The above  issue is fixed in #5591 and will be released with next version.

[2020-08-10 17:59] #5588 closed

[2020-08-10 20:04] bszekely1 commented on #5580
Number three was intended to be a float as point 2 referenced. This was a typo.

Regarding number four, I am not sure what you mean by adding an option to enforcement key-value. Are you suggesting to giving an option just to enforce the minFloor but not signal?

[2020-08-11 11:24] pnhegde opened #5595 "Passing additional data to dynamic floor provider"
## Type of issue

Feature Request / Question

## Description
In this example, is there a way to send additional data to a 3rd party floor provider's endpoint apart from appending params to the url?
[code]

[2020-08-11 15:47] jsonUK commented on #5479
Afraid changes to the codebase are no longer going to help us achieve a smoother transition in time - as we have picked August 15th as our transition date.

If additional checks are made for validating both v1.1 and v2.0 APIs being present, it may be helpful others who are possibly still waiting to transition at the end of September.

Sorry we did not offer any PR or changes - we opted for a hard-

[2020-08-11 16:37] GeorgiaREdwards opened #5596 "Is it possible to run two versions of Prebid in parallel?"
## Type of issue
Question

## Description
Is it possible to run two versions of Prebid in parallel? I can't find any documentation that references it as being possible.

[2020-08-11 22:10] mkendall07 commented on #5596
I don't think it's technically supported (as in we test to make sure there are no problems) but in theory I think it should be fine if your name the PBJS global differently for each instance (https://github.com/prebid/Prebid.js/blob/master/package.json#L20)

[2020-08-11 22:11] mkendall07 commented on #5555
@bmwcmw @afewcc for review

[2020-08-11 22:12] mkendall07 commented on #5562
Can you provide more details on what you are seeing vs what you are expecting?

[2020-08-12 09:37] beljul commented on #5555
Hello, thanks for reporting the issue. We will have a look.

[2020-08-12 15:45] bretg commented on #5180
This was merged.

[2020-08-12 15:47] patmmccann commented on #5580
I am suggesting that if you are choosing a behavior to avoid a breaking change, you can also have the preferred behavior available with an opt in config flag.

[2020-08-12 18:24] bretg commented on #5596
@mkendall07 is correct in that it's technically possible, but to give a little more detail, we don't recommend doing this:

- the code isn't small. for performance reasons you don't want to run two versions if you can help it
- we don't test concurrent versions
- we won't specifically support debugging problems caused by running two concurrent versions. We'll take PRs if someone finds an issue

I'

[2020-08-12 18:24] #5596 closed

[2020-08-12 18:35] bretg commented on #5596
http://prebid.org/dev-docs/faq.html#can-i-run-multiple-different-versions-of-prebidjs-concurrently

[2020-08-12 18:41] bretg commented on #5572
@yieldlift - yes, we always need a test page

[2020-08-12 19:05] jsnellbaker commented on #5554
As part of the IAB spec, the CMP is supposed to immediately respond to the addEventListener registration with the current status of the TC Data.

If the data was incomplete because the CMP was still partially loading, Prebid would get an idea that something is in the works and (in that case) ignore that temporary data and wait until a proper event is triggered.

If the consent data was already loa

[2020-08-12 19:43] GLStephen commented on #5572
@yieldlift I'm going to take a look at this, if you can provide a test page that would be very helpful

[2020-08-12 20:29] bretg commented on #4149
For the record, just found that the implementation was slightly mismatched from the original spec.

Originally the openrtb definition was imp[].ext.context.data.adslot, but it got implemented in pbsBidAdapter as imp[].ext.context.data.pbadslot.

Changing the spec and PBS because that's easier than upgrading clients to a patched PBJS.

[2020-08-12 20:47] chrispaterson commented on #5554
The [public libraries ](https://github.com/interactiveAdvertisingBureau/iabtcf-es) never utilize the `"loading"` state, in fact within the commit group there's a motion to [remove it entirely from the spec](https://github.com/InteractiveAdvertisingBureau/GDPR-Transparency-and-Consent-Framework/pull/225)

As far as the `'addEventListener'` vs `'getTCData'` I agree is @jsnellbaker `'addEventListener

[2020-08-13 11:40] GeorgiaREdwards commented on #5596
@mkendall07 @bretg Thank you both for your responses! I'm trying to gather a bit more information as we are currently running JW Player VPB alongside our own Prebid setup. The JW Player's set up is done in a very similar way as they include PBJS, and have renamed the global name. Preferably, we would like to have them both working alongside.

[2020-08-13 14:25] marcDigiteka opened #5601 "Renderer Global Variable not set at the time of the render function"
## Type of issue
BUG

## Description
Since 3.21 and the change on Renderer.js, if you need a specific renderer for outstream video bids, this Renderer is actually called a bit later than before and the global variable might not be set at the time of the render function.

I did a workaround wit an eventListener on the adUnit and a dispatch at the end of my Renderer.
`renderer: {
                url

[2020-08-13 21:21] bszekely1 commented on #5580
It was partially to avoid a breaking change but also to keep with a consistent clear behavior of floorValue. It's not an issue to leave the floorValue bahavior as is and provide an additional object for analytics adapters to read the flooRuleValue if present.

[2020-08-13 21:25] bszekely1 commented on #5595
Hi @pnhegde, the http fetch to 3rd party floor provider's endpoints only supports the GET method. Since that is the case, the only way to pass data is through a query parameter.

If you like, you can submit a proposal for review to support POSTs and work on a PR once the community has approved a design.

[2020-08-13 22:15] theighost commented on #4976
Hi,

I am having the same issue, did this get solved?

[2020-08-14 13:41] patmmccann opened #5607 "unit tests on dfp video module"
https://github.com/prebid/Prebid.js/pull/4821 and https://github.com/prebid/Prebid.js/pull/5487 broke this module without creating any unit test issues. This was later fixed on  https://github.com/prebid/Prebid.js/pull/5591

Perhaps we need better unit testing on this module to prevent future breaks?

[2020-08-14 13:47] patmmccann commented on #5607
The issue might be contained to https://github.com/prebid/Prebid.js/blob/master/test/spec/modules/dfpAdServerVideo_spec.js#L42 Why did this particular expect not get flagged with the merge of 5487?

[2020-08-14 15:15] #4824 closed

[2020-08-16 08:30] #5512 closed

[2020-08-16 08:30] #5515 closed

[2020-08-16 08:30] #5355 closed

[2020-08-17 14:29] ocm-peter opened #5615 "GDPR Enforcement warnings on criteo, id5Id and pubcommonId userSync modules"
## Type of issue
user Sync modules behavior through the GDPR Enforcement module

## Description
While the user gives consent for Purpose 1 and the "vendors" (criteo, pubcommon and id5Id) are both accepted in consent and in LI, the prebid debug logs show a warning.

## Steps to reproduce
Use prebid v4.4.0-pre, add criteo, id5Id and pubcommonId user syncs and make sure that criteo (can't find the ot

[2020-08-17 14:42] dmdabbs commented on #5615
Does the module provide any console output indicating what it read from the consent data? Was it v1 or v2, etc.

[2020-08-17 14:49] ocm-peter commented on #5615
Hello @dmdabbs,

I don't see anything from the modules themselves, but yes it's definitely a TCF2

![image](https://user-images.githubusercontent.com/64111309/90409502-e9871a00-e0b1-11ea-9631-3438f33049b4.png)

[2020-08-17 15:45] Swiiip commented on #5555
Hello, it seems linked to the fact that the storage access library does not check whether the storage is available before accessing it. I created a PR to fix this issue in the lib: #5616

[2020-08-18 00:36] yieldlift commented on #5572
@GLStephen here is the test page: https://cdn1.opstag.com/test/index.html?widgetId=13341&pbjs_debug=true

prebid is initialized inside of an iframe, so you would have to go there to see the config, example: document.getElementById('csci-9361a68b70d8-a1c446b4-8b2751bc-9b2e1f74-957c41b8e0b47fdf').contentWindow.pbjs.getConfig()

[2020-08-18 01:24] mike-chowla commented on #5601
My understanding is that there's never been a guarantee that the renderer url is loaded before the render function is called.  So I don't know if I'd call this a bug, in sense in operates as it always has and how the original developer intended.  It's more of a sub-optimal design choice about how have always renderers work.

I think of the AppNexus bidder and the reference implementation for how t

[2020-08-18 16:07] Fawke commented on #5615
Hi @ocm-peter,

Thanks for bringing this up. It's a bug in `gdprEnforcement` module. I'm currently working on a fix, which should be ready in a day or two.

[2020-08-19 14:40] #5216 closed

[2020-08-19 18:30] bretg opened #5637 "Overriding referrer: publisherDomain vs pageUrl"
## Description

We have two overlapping ways for publishers to override the results of [Prebid's attempt to derive the page's URL](https://github.com/prebid/Prebid.js/blob/master/src/refererDetection.js) that's stored in bidderRequest.refererInfo as described in https://docs.prebid.org/dev-docs/bidder-adaptor.html#referrers

Another use case here is that the publisher may want to suppress the full

[2020-08-20 04:14] patmmccann commented on #3231
So if a publisher were to define types in the ad unit renderer like this

`pbjs.addAdUnit({
    code: 'video1',
    mediaTypes: {
        video: {
            context: 'outstream',
            playerSize: [640, 480]
        }
    },
    renderer: {
        url: 'https://acdn.adnxs.com/video/outstream/ANOutstreamVideo.js',
        types: ['video'],
        render: function (bid) {
            ANOut

[2020-08-20 08:56] spormeon commented on #5502
@bretg ,  are you on the slack adops groups or anyway to contact you direct, I don't like  putting test pages up live for the world

@mike-chowla i tried this again a couple days ago, pubmatic is still doing the "declare as banner" thing

[2020-08-20 13:29] GeneGenie commented on #5239
@bretg  I also propose to add 1 more **must** to bidder adapter:
"While adding new or updating existing bid adapter, you should add **100% filling test params** to guarantee ease of integration with on a publisher side. Making sure everything works as expected"

[2020-08-20 22:17] patmmccann commented on #5601
interestingly an example of the queue is documented here as well https://docs.prebid.org/dev-docs/bidders/prebidServer.html

[2020-08-21 11:20] ocm-peter opened #5646 "[Ideas] GDPR data exposed by prebid API and maybe bidders should check against consent"
## Type of issue
Feature request, I guess :)

## Description
Just a thought to avoid the overkill of rechecking for consent data in the publisher's own script.

Might be a good idea for prebid to expose CMP data, such as cmp version, consentData so publishers can directly use its data (version and tcfData) for decision making and move forward as proposed by the user's consent.

A list of possible

[2020-08-21 13:37] monis0395 opened #5647 "Unable to run a single spec file"
## Type of issue
- Bug

## Description
Currently in Prebid.js, running test cases require some pre-processing i.e. removing import/require statements, etc.

Right now, this is only being done, when we are running all the spec files, but if someone tries to run a single spec file, we get an error saying that `Uncaught ReferenceError: require is not defined`. This happens because the *pre-processing

[2020-08-23 09:05] andreykuper opened #5652 "Outstream AdUnit - huge discrepancy"
## Type of issue
question

## Description
Recently we added an out-stream video media type in placements that shows display too (multi-format ad-unit). But we can see that the number of impressions collected by the bidders is almost half of the amount we counted in our tracking system. We think it's because the video player takes a long time to load - and when it's loaded it's not on the screen vi

[2020-08-24 14:59] muuki88 commented on #5097
Thanks @snapwich for the detailed explanation. We use typescript for all our ad tags we build and provide our own set of types for prebid.js.

Airbnb released an interesting tool that might make this more feasible.

https://github.com/airbnb/ts-migrate

I would heavily favor hosting this inside the prebid repository. This ties the types much closer to the actual releases

That would be amazing. We

[2020-08-24 20:21] ademozkur opened #5659 "Doesnt work "show all bids" when ads refreshed"
## Type of issue
The "Show all bids" function works properly when ads are first loaded. However, doesnt working after being ads refreshed. And it only brings bid information of 1 ad unit. It get 3 lines, all ad units are the same. Why is this happening? How do I fix it? I want to get bid informations.

Before Refresh:
https://i.ibb.co/VLzzG8f/before-refresh.jpg

After Refresh:
https://i.ibb.co/Cnx

[2020-08-25 03:07] saileshd commented on #5562
@patmmccann @mkendall07

Here are the test pages with the only difference being the 1st one uses prebid.js version 3.27 and the 2nd one uses prebid.js version 4.4.0

Test page 1 with prebid.js version 3.27 - https://a.jsrdn.com/test/saileshd/prebid/index.html?pbjs_debug=true
Test page 2 with prebid.js version 4.4.0 - https://a.jsrdn.com/test/saileshd/prebid/index2.html?pbjs_debug=true

[2020-08-25 14:03] GLStephen opened #5661 "Information: WSL2 Test Issue w/ Prebid"
## Type of issue

This issue is primarily informational since the fix is ultimately upstream, but I am adding it here in case people search for a fix. When running "gulp test" on WSL the is-wsl library may NOT return "false" when inside WSL Linux. Gulp is able to run just as it does on linux in WSL.

The error looks like this:

[code]

## Workaround

Apply this patch: https://github.com/sindresorh

[2020-08-25 15:09] GLStephen commented on #5572
@yieldlift based on this test page I think the issues is related to what @bretg has mentioned and the following from @jsnellbaker

1. the allowAuctionWithoutConsent field does not work for TCF2.  This was a relatively recent change, around the time I think we were implementing the gdpr enforcement stuff.
2. If they don’t have a CMP defined on the page, they should just remove the consentManagement

[2020-08-25 15:15] angelamerkelprebid commented on #5562
allowAuctionWithoutConsent is deprecated

[2020-08-25 15:18] Hamper opened #5663 "IX error after update"
## Type of issue
bug

## Description
Request error if banner.sizes is big, but only one size used for bidder params. I think problem is new missing sizes logic from ix module.

## Steps to reproduce
Add many sizes to mediaTypes.banner.sizes, add ix bidder settings with one size like [300, 250]

## Test page
https://jsfiddle.net/gv19koqt

### Expected results
Valid ix request with imps only for siz

[2020-08-25 20:27] muuki88 commented on #5652
In our experience this is depends heavily on the partner

- :+1:  Xandr / AppNexus works fine for us
- :+1: Teads works fine for us
- :-1: Unruly numbers don't match as they measure an impression only if the ad has been visible for a certain amount of time and percentage. This leads to discrepancies around ~30-40% depending on how well the ad slot is placed

[2020-08-25 20:28] muuki88 commented on #5615
CC @smenzer

[2020-08-25 20:38] bretg commented on #5646
This should be discussed in the Prebid Publisher Taskforce -- as a platform, I'm not crazy about being a passthrough for CMP data when the page could/should have direct access to the CMP. But if Prebid Pubs want this functionality, open to PRs.

Don't understand - this is of course what's happening. The design is:

- If the Publisher turns on enforcement at the Prebid level, enforcement happens
-

[2020-08-25 20:47] bretg commented on #5659
What do you mean by "show all bids" function -- the troubleshooting javascript that dumps bids to the console?

That function uses `pbjs.getBidResponses()`, which is scoped to the adunits from the most recent auctions.

Options:

1) Rewrite the troubleshooting function to use getBidResponsesForAdUnitCode(code) and call it for each adunit code you care about
2) Use HeaderBid Expert Chrome Plugin
3)

[2020-08-25 20:48] bretg commented on #5663
Adding @ix-prebid-development to take a look

[2020-08-25 20:52] bretg commented on #5573
If you want to try running postbid in AMP, you would paste the entire Prebid.js package+adunits+invocation code into your ad server creative, not the page itself.

Note that we don't support this scenario -- don't know if it will work. If it does, you're encouraged to submit a docs PR so others can benefit from your experience. Thanks.

[2020-08-25 20:52] #5573 closed

[2020-08-25 20:54] ademozkur commented on #5659
Actually, I am trying to collect bids informations with websocket with the help of the code in the link below. Isn't this the right method?

https://docs.prebid.org/troubleshoot/troubleshoot-guide.html#see-all-bids-in-the-console

However, this code cannot collect data when the ad is refreshed. What arrangement should I make for this? When an ad unit is renewed, I want to receive the data of the b

[2020-08-25 20:54] bretg commented on #5572
allowAuctionWithoutConsent was removed because it doesn't make sense in TCF2: use defaultGdprScope and enforcement flags instead to get the behavior you and your lawyers have defined.

[2020-08-25 21:00] bretg commented on #5548
@dfnkdhkhfjkdhkafhk - what's the status here? We can't debug without a test page (or a live site) and instructions for how to find the Prebid invocation.

[2020-08-25 21:01] bretg commented on #5546
Are we good here @jdelhommeau ?

[2020-08-25 21:03] bretg commented on #5529
Are we good here @MattCharge ?

[2020-08-25 21:13] bretg commented on #5502
Yes, I'm on redditadops

[2020-08-25 21:14] bretg commented on #5389
Closing this issue as complete with PR #5600

[2020-08-25 21:14] #5389 closed

[2020-08-25 21:16] bretg commented on #5292
@onaydenov - may we close this issue now that #5505 is in progress?

[2020-08-25 21:24] bretg commented on #5239
Going to close this issue -- Module Rules are published and the request for bidders to provide test params is at https://docs.prebid.org/dev-docs/bidder-adaptor.html#required-files already.

Bidders don't always provide them, and not all reviewers catch them. Will send another reminder to the reviewer team.

But even if test params work at the time of initial acceptance, they could stop working an

[2020-08-25 21:24] #5239 closed

[2020-08-26 02:13] bretg commented on #5659
The way `getBidResponses()` works is that it reports only the adunits that participated in the last auction. Think of it like get**Recent**BidResponses. This works for most use cases.

You need to work around that aspect. Four options come to mind, I'm sure there are more:

1) What you're trying to do sounds like an analytics adapter. Build one of them. https://docs.prebid.org/dev-docs/integrate-w

[2020-08-26 05:32] andreykuper commented on #5652
Did you needed a special implementation for outstream units? Providing renderer or something else?

In addition - maybe it's related or not - what creative code in your GAM are you using for prebid? Are you using universal creative code library?

[2020-08-26 07:27] onaydenov commented on #5292
Yes, close it please.

[2020-08-26 08:30] MattCharge commented on #5529
Hi,

I'm still working through this with LRamp. It appears that the problem lies with Google running ad unit code before the CMP stub file. Hopefully this should be rectified shortly, thanks for checking!!!

[2020-08-26 09:50] muuki88 commented on #5615
As a workaround we tried to configure the `gdpr` module like this

[code]

which at least removes the errors. `unifiedId` works now, but `criteo` still seems to have troubles. At least the `pbjs.getUserIds()` doesn't return any criteo ids.

[2020-08-26 09:59] muuki88 commented on #5663
We discovered this bug as well. It was introduced in #5436 ( 41f77997854ba86309a8cf2009bffb146e346308 ), which is released since 3.26.0.

The root cause is that the request URL gets too long as the complete payload is send as a encoded query parameter. This could be fixed by using `POST` and sending the payload as json body.

Our workaround is to define the same ad unit multiple times only with th

[2020-08-26 10:52] muuki88 commented on #5652
Nope. We only integrated partners that ship their own player, which are currently unruly, teads and xandr. Pubmatic has a player now and smartclip just added a prebid adapter.

We use the universal creative.

Maybe I should state what impression we compare. My numbers are related to GAM ad impressions vs Paid impressions from the partner.

[2020-08-26 12:32] Hamper commented on #5663
Are server support post requests? Can I just change method to 'POST' in buildRequest as workaround?

[2020-08-26 13:06] #5292 closed

[2020-08-26 13:13] patmmccann commented on #5562
appears to be a duplicate of #5572

[2020-08-26 13:42] patmmccann commented on #5663
@muuki88 the workaround seems to remove the need for the missingSizes part of the PR. Do you envision the workaround as temporary?

[2020-08-26 14:05] muuki88 commented on #5663
Yes. This doesn't seem correct to define a thing that should be unique (an ad slot) multiple times.

The IX adapter has caused quite some pain over the last 2 years.

- Not setting a bidder alias when the bidderCode was changed
- requests per size in the initial versions
- warnings if "sizes don't appear"
- a bid object per size where each sizes needs to be specified again
- and now this mess with

[2020-08-26 14:44] jsnellbaker commented on #5647
The linked PR has been reviewed and merged.

[2020-08-26 14:44] #5647 closed

[2020-08-26 15:39] jdelhommeau commented on #5546
Yes @bretg . Sorry about delay, the comments in #5564 fully answer my question. Thank you

[2020-08-26 15:39] #5546 closed

[2020-08-26 15:40] jdelhommeau commented on #5546
see #5564 for details

[2020-08-26 18:23] saileshd commented on #5562
@patmmccann even when I removed the allowAuctionWithoutConsent=true from my config it still does not work.

[2020-08-26 21:59] patmmccann commented on #5562
Try either installing a cmp or removing consent management module

On Wed, Aug 26, 2020 at 2:24 PM Sailesh Davuluri
<notifications@github.com> wrote:

[2020-08-26 21:59] patmmccann commented on #5562
Or setting gdpr applies to false.

On Wed, Aug 26, 2020 at 5:59 PM Patrick McCann <patmmccann@gmail.com> wrote:

[2020-08-26 23:34] kizzard commented on #5663
@Hamper @muuki88 Thank you for reporting this issue. We're evaluating it internally and will provide updates as soon as possible.

[2020-08-27 00:21] saileshd commented on #5562
@patmmccann
I'm including these 2 modules in my prebid.js download
Consent Management - GDPR
Consent Management - US Privacy

If I remove them, then how can I enable GDPR/CCPA where needed?

Also, shouldn't the configs work similar to how they work with the 3.x version?

[2020-08-27 10:04] jbartek25 commented on #5652
@muuki88 There will always be a significant discrepancy between GAM and SSP imp counts for outstream. The reason is that the GAM outstream creative is the same as display/banner creative meaning that GAM counts impression when the creative code is served but the video ad only fires SSP impression pixel when the player successfully starts playing the video ad. So you end up with Google counting the

[2020-08-27 13:10] patmmccann commented on #5562
See from 5572
https://github.com/prebid/Prebid.js/issues/5572#issuecomment-680084767 ; if
you have a consent management config, you should either have a cmp, a
consent object you are passing in, or a setting that says gdpr applies
isn't true.

On Wed, Aug 26, 2020 at 8:21 PM Sailesh Davuluri <notifications@github.com>
wrote:

[2020-08-27 13:22] muuki88 commented on #5663
Thanks @kizzard I'm sorry if my word choice was too harsh. In general we are happy with the
cooperation and the revenues :kissing_heart:

[2020-08-27 13:50] Sir-Will opened #5667 "How to disable consentManagement module for specific countries?"
## Type of issue

question
## Description
How do you disable the consentManagement module for specific countries?
I saw that you can set `gdprApplies` to false somewhere, but I was unable to find out where you are supposed to set that.

[2020-08-27 14:35] GLStephen commented on #5667
The recommended approach to disable the module is to send *no* Consent Management config at all.

The config you are referencing however is in the consentManagement config and is called "defaultGdprScope". More info here: https://docs.prebid.org/dev-docs/modules/consentManagement.html

[code]

[2020-08-27 14:41] Sir-Will commented on #5667
Currently, I'm not sending a config but it seems like prebid is sending that there is no consent from the user to the bidders resulting in almost no bids compared to older prebid versions.

[2020-08-27 14:48] GLStephen commented on #5667
Is this happening in non-GDPR countries? Do you have a test page?

[2020-08-27 15:45] Sir-Will commented on #5667
So it's always enabled for GDPR countries? Is it possible to disable it programmatically without the iab cmp?

[2020-08-27 17:47] ehudal22 commented on #5652
So how does one go about to best count SSP impressions? can anyone share a good multi format setup?

[2020-08-27 17:48] ehudal22 commented on #5652
Can you share the multi format/out stream implementation? How do you handle Unruly?

[2020-08-27 19:01] patmmccann commented on #5652
You just set an aggressive bidadjustment cpm for that format, and perhaps
have it contingent on bandwidth or device.

On Thu, Aug 27, 2020 at 1:48 PM ehudal22 <notifications@github.com> wrote:

[2020-08-27 23:28] mimenet opened #5670 "Intent to Implement: Allow selection of supported default targeting keys at configuration time."
## Type of issue

Intent to implement

## Description

Prebid default targeting includes keys that are not be needed by all publishers. The inclusion of these keys and their corresponding values can lead to /gampad/ads requests being truncated. Publishers in this situation would benefit from an option that allows them to select which default keys they would like to employ.
The proposal is to allow

[2020-08-28 02:02] saileshd commented on #5562
@patmmccann the config is set up at beginning of page. We won't know if the there is a cmp or not. The previous 3.x version was handling it correctly and the auction proceeded without any issues. Why is the auction aborting if there is no cmp on the page in the 4.x version?

[2020-08-28 02:03] saileshd commented on #5572
@GLStephen The previous 3.x version was handling it correctly if there is no cmp on the page and the auction proceeded without any issues. Why is the auction aborting if there is no cmp on the page in the 4.x version?

[2020-08-28 02:24] bretg commented on #5667
Prebid.js doesn't have any concept of the geographic region where it's running. It's up to the CMP and/or publisher to configure Prebid.js correctly. Here are some options for discussing with with your lawyers, engineers, and CMP provider:

In these scenarios PBJS config can be the same across all geos:
1) The CMP does the geo-detection and passes 'gdprApplies: true/false' as appropriate.
2) The C

[2020-08-28 03:22] bretg commented on #5572
I agree that we could consider refining the interface here -- if the CMP function doesn't exist at all, that could signal Prebid.js that it's not in GDPR scope -- consentManagement config with cmp: "iab" can be ignored.

Would like community input -- it's possible this weakens Prebid's enforcement regime, and a simple workaround would be to avoid calling setConfig when the function doesn't exist.

[2020-08-28 06:35] agammathur commented on #5341
Provided the PR (https://github.com/prebid/prebid-outstream/pull/1) for the first phase which can be merged to the https://github.com/prebid/prebid-outstream master branch.

We have created a framework to implement outstream video player using any open-source video player.  At present, we have added Fluid player support in the project and are looking forward to the community for adding new open-so

[2020-08-28 14:56] bretg commented on #5667
Closing this issue -- the concise answer to the original question is that Prebid.js doesn't provide a way to disable consentManagement module for specific countries.

As a result of this and other questions, we've started a page to serve as a repository of CMP best practices. https://docs.prebid.org/dev-docs/cmp-best-practices.html -- the community is encouraged to contribute there.

[2020-08-28 14:56] #5667 closed

[2020-08-28 15:18] bretg commented on #5562
Because TCF rules are enforced by default in 4.x if consentManagement config is provided. They weren't enforced in 3.x unless you turned them on.

You will need to work with your lawyers to determine how you want to handle the various scenarios. We've started to collect the different options available at https://docs.prebid.org/dev-docs/cmp-best-practices.html

Specifically, maybe this idea is wor

[2020-08-28 16:34] kizzard commented on #5663
@muuki88 @Hamper @patmmccann thanks for bearing with us on this. Can you share the date you first noticed the problem, and if it was noticed in production or caught in testing first? This will help us with the required impact analysis. Thank you!

[2020-08-28 16:36] saileshd commented on #5562
@bretg
Our ConsentManagement config contains both GDPR as well as USP. We can't just use the __tcpapi function. Is there a reason why the bidding aborts if the config is present but the __tcpapi function is not present? That won't work for CCPA

					"consentManagement": {
						"gdpr": {
							"cmpApi": "iab",
							"timeout": 10000,
							"defaultGdprScope": true
						},
						"usp": {

[2020-08-28 18:17] saileshd commented on #5562
@bretg this is how I worked around the issue. Is this the recommended way?

				var consentManagement = {};
				consentManagement.usp = {
					"cmpApi": "iab",
					"timeout": 10000
				};
				if (typeof __tcfapi === 'function') {
					consentManagement.gdpr = {
						"cmpApi": "iab",
						"timeout": 10000,
						"defaultGdprScope": true
					};
				}
				pbjs.setConfig({consentManagement});

[2020-08-28 18:17] saileshd commented on #5572
@bretg this is how I worked around the issue. Is this the recommended way?

				var consentManagement = {};
				consentManagement.usp = {
					"cmpApi": "iab",
					"timeout": 10000
				};
				if (typeof __tcfapi === 'function') {
					consentManagement.gdpr = {
						"cmpApi": "iab",
						"timeout": 10000,
						"defaultGdprScope": true
					};
				}
				pbjs.setConfig({consentManagement});

[2020-08-28 21:14] GLStephen commented on #5572
@saileshd this may result in no GDPR enforcement if the CMP just hasn't loaded yet

[2020-08-29 12:07] ehudal22 opened #5675 "Error 2.1.a with Google in EEA"
Heya,

Since the new TCF 2.0 regulations kicked in on the 15th, we started getting 2.1.a errors from Google, those errors basically say that we are sending requests to Google from EEA countries before receiving consent from users.
Does anyone have an example of prebid setup that forces the showing of no ads to users and no auctions started until consent is received with prebid?

An example of the

[2020-08-29 20:46] #5582 closed

[2020-08-29 20:46] #4610 closed

[2020-08-29 23:59] bretg commented on #4610
The first PR has been merged -- there will be followup PRs, but the issue can remain closed.

[2020-08-31 08:01] muuki88 commented on #5663
As mentioned before

I cannot give the exact number how much ad slots / sizes are required until the bug appears, but it's not that much. I guess 8 ad slots with each 4 sizes should be enough.

So there's no specific date as we rolled back the prebid, fixed the sizes and then rolled forward.

[2020-08-31 08:49] muuki88 commented on #5652
@ehudal22 we use the reported numbers from unruly. And we compare them to the ad manager.

So in general the discrepancy should stay the same. The discrepancy also let's you monitor improvements to

- your site, e.g. position has a higher viewability
- player improvements
- page speed

Another thing we haven't tried out yet is to use the `active view impressions` from GAM, which come closer to the

[2020-08-31 12:59] #5554 closed

[2020-08-31 13:21] giannoudak commented on #5572
@saileshd this will not work if the __tcfapi is defined in another window/iframe of the actual prebid code

[2020-08-31 16:55] muuki88 commented on #5555
Unstale :kissing_heart:

[2020-08-31 16:57] patmmccann commented on #5637
Requested not to be used at https://github.com/prebid/Prebid.js/pull/5674/files#r480260677

[2020-08-31 21:22] patmmccann commented on #5663
@kizzard we're catching this in upgrade tests. It seems the solution  might be to limit the number of iterations of this for loop https://github.com/ix-prebid-support/Prebid.js/blob/d93792d32845bedc32664ff72310307ad3c4ad72/modules/ixBidAdapter.js#L524

[2020-08-31 22:46] TLadd opened #5683 "Force refresh userId"
## Type of issue
Feature Request

## Description

I would like for there to be a way to force refresh userId values. Currently, if I update a stored userId value in a cookie or localStorage, that new value will get pulled in on future page loads, but not the current one. The old value remains since submodules [only get initialized once](https://github.com/prebid/Prebid.js/blob/40e5c7da5ee1ead9b29d

[2020-09-01 00:52] GLStephen commented on #5683
We have been looking at an option to reinitialize analytics for SPAs. It seems there is a cluster of information generally thought of as occuring on page load that should have a "reinitialization" hook.

[2020-09-01 01:52] patmmccann opened #5684 "Finteza analytics adapter making tests unstable"
## Type of issue
Basically a duplicate of https://github.com/prebid/Prebid.js/pull/4687 ; except can someone do this for Finteza?

[2020-09-01 01:55] #5684 closed

[2020-09-01 07:48] muuki88 commented on #5663
I wouldn't do that. With more ad slots this error still happens.

To be honest I don't quite understand the logic of adding missing sizes, requiring each size to be configure and log warnings if a size is missing. In my naive view a fix could look like this

1. Use `POST` instead of `GET` for ad requests (no caching issues, no query size length, easier to inspect)
2. Use the `mediaTypes.banner.siz

[2020-09-01 19:42] bretg commented on #5675
Skipping GPT ad calls isn't part of the Prebid setup... we can't help you there.

As for how to set up Prebid.js to enforce the blocking of auctions without consent, we think that's pretty clearly documented in:

https://docs.prebid.org/dev-docs/cmp-best-practices.html
and
https://docs.prebid.org/dev-docs/modules/gdprEnforcement.html

It there's an element not clear, let us know what can be clarif

[2020-09-01 19:42] #5675 closed

[2020-09-01 19:50] bretg commented on #5572
Ok, I stand corrected. The option of looking for `tcfapi()` has been removed from https://docs.prebid.org/dev-docs/cmp-best-practices.html

@yieldlift and @saileshd -- you're going to have to find a safe way with your specific CMP to determine whether it's active. Once you've confirmed a given approach with your CMP, we're willing to post the approach on the page to help other users. Of course its

[2020-09-01 19:51] bretg commented on #5562
Closing this issue as duplicate of the conversation in https://github.com/prebid/Prebid.js/issues/5572

[2020-09-01 19:51] #5562 closed

[2020-09-02 02:12] bretg opened #5687 "Pass video.placement through to Prebid Server"
## Type of issue
Enhancement

## Description
Prebid Server doesn't get any indication of whether a video request is instream or outstream, and what kind of "placement" it is.

## Proposal

1) We modify the PrebidServerBidAdapter to support setting imp[].video.placement

- if AdUnit.mediaTypes.video.placement is defined send that as imp[].video.placement
- else if AdUnit.mediaTypes.video.context="i

[2020-09-02 16:07] bretg commented on #5683
@jdwieland8282  - please take a look at this request and consider assigning if you agree with it

[2020-09-02 17:31] jdwieland8282 commented on #5683
Hi @TLadd, just want to make sure I understand this request. User ids available post page load, like ones derived from a login event, will be more persistent but are not available to the getId function bc, that function renders on page load.  The request is to design a feature that "reinitialization's" User ids, post page load?

[2020-09-02 20:53] bretg opened #5690 "Prebid Publisher-Provided User IDs"
## Type of issue
Proposed Convention

## Description

**Note:** major update to the proposal here -- replacing the original First Party Data-based proposal with a new UserID sub-module.

Recent identity discussions have suggested there would be value in allowing Publishers to communicate their own first party user IDs (PPUID = Publisher Provided User ID)  to some or all bidders.

The precise use c

[2020-09-02 21:00] mike-chowla commented on #5687
Approach looks to good to me.

[2020-09-02 21:06] TLadd commented on #5683
@jdwieland8282 Yep, that's correct. The goal is to be able to refresh a userId value that gets sent with bids without having to refresh the page.

Right now, it is technically possible to overwrite a user id value by directly accessing the cookie or key in localStorage dictated by [the config](https://github.com/prebid/Prebid.js/blob/master/modules/userId/userId.md#user-id-example-configuration).

[2020-09-03 09:34] smenzer commented on #5683
I think this request makes sense. Much like we refresh if consent changes, if there's another event that could improve the accuracy/value/etc of the IDs, there should be a way to update for future bid requests on the same page (or for future page loads, for that matter).

A few things to consider:
1. In some cases, the publisher's configuration for the userId submodules needs to be updated in orde

[2020-09-03 10:58] ocm-peter opened #5693 "Purpose 1 enforcement not respecting (?) config in gdprEnforcement"
## Type of issue
Bug

## Description
While gdprEnforcement module is used and purpose: "storage" is set to false in prebid setConfig(), prebid debugging in console reports "WARNING: TCF2: enforcing P1 and P2". I don't know if this is a bug on logging or it actually enforces P1 regardless of configuration.

## Steps to reproduce
Using gdprEnforcement module with the following configuration

[2020-09-03 11:30] modessef1 opened #5694 "Prebid doesn't wait with requests for close the GDPR window"
## Type of issue
question

## Description
We have a problem with the prebid not waiting for the GDPR window to close or until the set timeout is reached. It immediately sends the request and starts GAM. Could it be because when we display the GDPR window we have gdprApplies: false and only after closing the window gdprApplies changes to true?
If it matters, how to control it? We tried consentManag

[2020-09-03 15:26] patmmccann commented on #5690
@jdwieland8282 not sure if you're aware but I think you pinned the issue for everyone, not just yourself

[2020-09-03 16:03] patmmccann opened #5696 "Marking used bids for video"
## Type of issue
Feature request

## Description
https://github.com/prebid/Prebid.js/pull/5481 adds module support for detecting if a video bid won instead of just set targeting. https://github.com/prebid/Prebid.js/pull/2777 adds a function for publishers to mark bids as used upon set targeting. It seems with the addition of #5481 that a logical extension of #2777 is to add MarkRenderedBidsAsUsed

[2020-09-03 16:24] Fawke commented on #5693
Hi @ocm-peter,

I looked into this issue and tried to reproduce the same with a very similar config. It didn't log that warning message for me.

Ideally, when `gdpr.rules` is undefined, from Prebid v4.0 onwards, the default behaviour is to enforce TCF Purpose 1 and Purpose 2. You can turn a purpose enforcement off by explicitly stating it in your config. I don't see any problem with your config as

[2020-09-03 17:01] ocm-peter commented on #5693
Hello @Fawke,

The page, as I see, loads 2 different prebid instances, ours being the ocmpbjs instance on version 4.3
Try running ocmpbjs.version in the console. That's why the link I supplied uses the ?ocmpbjs_debug=true param,
because that will trigger only our prebid instance to log stuff.

I think I forgot one thing about my configuration.
I also have the old allowAuctionWithoutConsent set in

[2020-09-03 20:06] bretg commented on #5694
PBJS calls the __tcfapi() function if it exists -- if it gets a response right away, it starts the auction. To slow it down, you set the `timeout` value.

You need to follow the CMP spec defined by the IAB. https://github.com/InteractiveAdvertisingBureau/iabtcf-es

Here's a complicated flowchart I did for how this works. @Fawke - can you review it please? I think something may have changed recentl

[2020-09-04 08:49] modessef1 commented on #5694
we understand how it works. In prebid 3.x.x that worked for us, 4.x.x doesn't work anymore and we don't know why.

[2020-09-04 13:11] bretg commented on #5694
The difference between 3.x and 4.x is that gdpr enforcement for all purposes is on by default. Specifically, the "basicAds" (Purpose 2) is on. If you want auctions to happen even if the user has not yet provided consent even in the EEA, you would have to turn off the enforcement for "basicAds".

{code}
pbjs.setConfig({
  consentManagement: {
    gdpr: {
      cmpApi: 'iab',   // activates the enfo

[2020-09-04 13:23] Fawke commented on #5693
Hi @ocm-peter,

Now, am able to load your prebid at this page: https://www.gossip-tv.gr/?ocmpbjs_debug=true

When I did `pbjs.getConfig()`, I found that you have not stated `gdpr.rules` in the config. Here's the screenshot.

<img width="1680" alt="Screenshot 2020-09-04 at 6 41 53 PM" src="https://user-images.githubusercontent.com/14229985/92243373-078cb100-eedf-11ea-9c42-1b594f6482d0.png">

So, th

[2020-09-04 13:50] modessef1 commented on #5694
ok, that explains that the way the module works has changed but this has not been changed in the documentation.
The module is now not waiting for approval, although it is in the documentation:
`In the case of a new user, CMPs will generally respond only after there is consent information available (i.e., the user has made their consent choices). Making these selections can take some time for the a

[2020-09-04 15:21] bretg commented on #5694
It should be waiting up to the consentManagement.gdpr.timeout value.

When you hit https://parkiet.com?pbjs_debug=true, what messages do you see that indicate it's not waiting? I see this message immediately even though I delete cookies and local storage and don't touch the CMP popup window:

[code]

If you see a "CMP workflow exceeded timeout threshold" message immediately, that would indicate th

[2020-09-04 16:23] robertrmartinez commented on #5694
@modessef1 @bretg

The "issue" here is that your tcfApi "cmpUiIsShown" response is returning gdprApplies === false:

![image](https://user-images.githubusercontent.com/13972794/92262377-ddf86900-ee8f-11ea-9b74-a559618fe1aa.png)

So following the logic in the code:

[code]

We are under the first IF statement.

If the CMP tells us GDPR does not apply, then we will not wait around for more responses

[2020-09-04 16:27] robertrmartinez commented on #5694
Note: The above snippet of code has been altered in latest master.

(Although it does not change how it would work on the example page you provided)

[code]

You still would fall under the first check `tcfData.gdprApplies === false`

And thus, the consent module will exit and signal gdprApplies is false.

[2020-09-04 17:10] bretg commented on #5694
I tried VPNing to the EEA, removing all cookies and local storage and still received gdpApplies:false from the CPM immediately

[2020-09-05 19:33] #5479 closed

[2020-09-07 08:39] Fawke commented on #5694
Hi Bret,

This flowchart looks good, it just need one change. We're no longer listening to `cmpuishown` event. So, the check, `tcString exists and Purpose1 treatmean = 1` needs to go.

[2020-09-07 13:50] tandalevaibhav commented on #5572
Hello Guys, I don't have __tcfapi method defined in my code so the solution suggested by @saileshd  here https://github.com/prebid/Prebid.js/issues/5572#issuecomment-683027246 Seems like unreachable code for GDPR settings.
My previous settings,
`pbjs.setConfig({
          consentManagement: {
            usp: {
              timeout: 8000
            }
            gdpr: {
              cmpApi: 'ia

[2020-09-07 15:16] smenzer commented on #5694
FWIW...I just checked the test page (https://parkiet.com?pbjs_debug=true) from France and the CMP response shows `gdprApplies: true` in all responses:

![image](https://user-images.githubusercontent.com/624392/92401384-d524c300-f12d-11ea-938f-b413dcb843c5.png)

[2020-09-07 15:41] modessef1 commented on #5694
This morning we released a fix to our CMP. Previously It always returned gdprApplies: false on startup. It's okay now.

[2020-09-07 15:45] ocm-peter commented on #5693
Hey @Fawke ,

You are absolutely right. This particular implementation has a fallback for some non-supported browsers
and I missed the rules on the proper configuration script.

Excuse any inconvenience caused.

Thanks again.

[2020-09-07 15:45] #5693 closed

[2020-09-08 13:19] terrapop opened #5712 "How to reset/destroy pbjs.adUnits in a single page web app? Ads stacking up with every new page view."
## Type of issue
How to reset pbjs.adUnits in a single page web app?

## Description
We try to implement Prebid in a single page web app. Works on the first-page view, but then the pbjs.adUnits array is filled with more and more of the same ad unit with every page view and the call to the server to server bid handler fails:

Invalid request: request.imp[0].id and request.imp[1].id are both "adunit

[2020-09-08 14:01] terrapop commented on #4342
Similar problem problem here:

https://github.com/prebid/Prebid.js/issues/5712

[2020-09-08 14:44] terrapop commented on #5712
Update:

I hacked this code into prebid:

`S.destroyAdUnits=function(){E.logInfo("Destroying pbjs.addAdUnits"),S.adUnits = []}`

after

`S.addAdUnits=function(e){E.logInfo("Invoking pbjs.addAdUnits",arguments),E.isArray(e)?S.adUnits.push.apply(S.adUnits,e):"object"===v(e)&&S.adUnits.push(e),T.emit(j)}`

and call

[code]

on every virtual page view and this works now.

But I would love to have some

[2020-09-08 16:22] tandalevaibhav commented on #5572
@saileshd  Can you please tell me, Which solution you applied?

[2020-09-08 17:20] robertrmartinez commented on #5149
Assigning to @jaiminpanchal27 to close once Prebid.js and PUC changes are merged after his review.

Prebid.js: https://github.com/prebid/Prebid.js/pull/5411

PUC: https://github.com/prebid/prebid-universal-creative/pull/106

[2020-09-08 18:01] saileshd opened #5714 "Prebid 4.x adoption rate"
## Type of issue
Question

## Description
What is the adoption rate of prebid 4.x compared to 3.x?

[2020-09-08 20:38] bretg commented on #5714
Prebid.org does not and cannot track installs of any of its software -- we don't burden the community with any kind of centralized tracking at all.

That said, we do have numbers for how often Prebid.js versions are downloaded from the site -- 75% of the downloads in August were 4.x.

[2020-09-08 20:38] #5714 closed

[2020-09-08 21:21] harpere commented on #4342
For React applications there's this:
https://www.npmjs.com/package/react-prebid
https://github.com/eBayClassifiedsGroup/react-advertising#readme

[2020-09-09 07:28] smenzer opened #5718 "example pages are failing gdpr checks because they are using TCF v1"
## Type of issue
bug

## Description
The example pages that use a CMP are relying on TCF v1 and the original vendor list file originally located here: https://vendorlist.consensu.org/vendorlist.json (which is now a dead link). The TCF v2 vendorlist is https://vendorlist.consensu.org/v2/vendor-list.json and the CMP in the tests need to be updated to support it.

## Steps to reproduce
* `gulp serve`

[2020-09-09 14:31] bretg opened #5720 "Support arbitrary OpenRTB in s2sConfig"
## Type of issue
Enhancement

## Description
There's a desire to pass arbitrary values through the Prebid Server Bid Adapter. Currently there are a couple of piece-meal ways to pass values:

- `setConfig({s2sConfig.extPrebid})` option -- limits items to the `ext.prebid` object.
- `setConfig({site})` -- allows setting of openrtb.site values

## Proposal

1. Support an `openRtb` object on the s2sCon

[2020-09-09 15:17] jsonUK commented on #5572
Adding my answer to this question -- I was coming up with the same error whilst testing the new Prebid v4.

We also had the `allowAuctionWithoutConsent: true` flag to allow auctions on v3 if no consent existed, but was trying to create the same behaviour for v4.

As mentioned before, you should follow the advice given on this page:
https://docs.prebid.org/dev-docs/cmp-best-practices.html

**FYI**

[2020-09-10 04:36] patmmccann commented on #2668
solved bt #5638

[2020-09-10 04:36] #2668 closed

[2020-09-10 09:01] #5615 closed

[2020-09-10 09:31] ReinoutStevens commented on #5572
From what I see in the code of the consentModule:

The cmpVersion is set to 0, and then when __tcf is found is set to 2, or when __cmp is found it is set to 1.
When the timeout is hit, the cmpVersion should still be set to 0.

In the flow of cmpTimedOut -> cmpFailed and exitModule there are checks for when the cmpVersion is set to 1 to continue auctions without consent. This no longer works as the

[2020-09-10 13:41] #5687 closed

[2020-09-10 15:28] MikeSperone commented on #3231
Not sure if there's a use case for this - but what if you also needed a separate renderer for display or native (or both)?
@patmmccann would your solution allow for both separate 'banner' renderer and a 'video' renderer?

I was thinking the publisher could define it like this, and it could potentially cover additional use cases:
[code]

In which case, I think you could do something like this:
[cod

[2020-09-10 17:24] mhart opened #5729 "npm package is quite large (44MB on disk)"
## Type of issue
Feature request more than anything

## Description
Installing prebid.js includes 94 sub-packages, some of which are quite large, even though they're potentially unused for many projects. This adds necessary size to node_modules, as well as increasing the surface area for security issues.

Eg, `babel-plugin-transform-object-assign` is a hard dependency (although the docs suggest it

[2020-09-10 21:02] sulleh commented on #5663
Hi all - mikeosullivan from IX here.  Thanks for all the feedback!

First off, on this issue: For context, the reason we added support for detecting eligible sizes was to increase publisher monetization, and not rely on an IX-specific configuration for sizes, which can often fall out of date.

Unfortunately, we are hitting some character limits for publishers who have a high number of adunits + si

[2020-09-11 00:06] hnkhandev commented on #3231
Could a temporary fix (until the type check is implemented and merged) be something like just passing the bid through and checking if the mediaType is video in isRendererRequired?

https://github.com/prebid/Prebid.js/blob/466b49e85a1e173de255ef31c61a73f0cc4d8c57/src/Renderer.js#L100

[2020-09-11 03:09] #5694 closed

[2020-09-11 03:10] #5529 closed

[2020-09-11 07:00] ademozkur commented on #5659
Problem is solved.

[2020-09-11 07:00] #5659 closed

[2020-09-11 08:43] shainep opened #5733 "Include ip address in request to prebid server"
## Type of issue

Feature Request

## Description

Currently, pbjs prebid server adapter does not pass ip information in its request to Prebid Server. Could we have pbjs pass device.ip explicitly in the request to Prebid Server.

[2020-09-11 16:42] bretg commented on #5572
Place links in the left-nav and on the modules index page.

[2020-09-11 16:43] bretg commented on #5572
So where are we with this issue.

Is there anything requested here -- code or documentation?

[2020-09-11 18:33] ReinoutStevens commented on #5572
From the documentation it was unclear that you can disable the consent module by removing the consent part from prebid's config.

To elaborate, in our setup we have users for which we load in a CMP, and other for which we dont. At first I was afraid I'd have to build two versions of prebid, one with and one without the consent module, and serve the correct version because I couldnt configure prebi

[2020-09-11 18:52] MikeSperone commented on #3231
@patmmccann I actually think I got something that might work - it seems to be working so far.  I can create a PR, or first paste a link to it in my fork when it's ready.

[2020-09-12 20:13] #5601 closed

[2020-09-13 12:07] GLStephen commented on #5572
@ReinoutStevens I think this is covered in the CMP Best Practices, but I'm not sure. https://docs.prebid.org/dev-docs/cmp-best-practices.html Can you take a look and let us know if we need to make something clearer? This is in the page, but it's admittedly sort of buried. Maybe we need to make it a top order item like our explanation of gdprApplies is.

[2020-09-13 15:20] ReinoutStevens commented on #5572
@GLStephen The best practices covers it fairly well, but I only found that page after google pointed me to it ( via another github issue I think ), and I did not encounter it when reading the consent management documentation ( https://docs.prebid.org/dev-docs/modules/consentManagement.html ). The best practices are linked on the bottom of that page, but tbh 'best practices' does not really indicat

[2020-09-13 18:30] bretg commented on #5572
We can't call it an "implementation guide" because it's not really that. I've placed links to the doc in other prominent places, including the left nav bar. Willing to accept other suggestions.

[2020-09-13 20:15] patmmccann commented on #3231
Awesome, what have you got

On Fri, Sep 11, 2020, 2:52 PM Mike Sperone <notifications@github.com> wrote:

[2020-09-14 13:50] MikeSperone commented on #3231
@patmmccann I want to add a test case still, but this is working for me - and the existing tests still pass

https://github.com/MikeSperone/Prebid.js/commit/7b7dad6b456c9224f97e64525732d0287c2104c8

[2020-09-15 09:14] Nicola1976 opened #5747 "TCF2 cmpApi: 'static' error CMP"
HI!

With prebid version 4.0, **TCF2** framework and IAB compliant CMP, as described here I'm trying to use the "static" cmpApi to avoid waiting for the cmp to be ready to make prebid calls after the first user interaction and consent agreement. If the "euconsent" cookie is already available on the page I switch to cmpApi "static" and pass the cookie value with consent string directly to prebid (w

[2020-09-15 14:27] bretg commented on #5747
@Nicola1976  - the example at https://docs.prebid.org/dev-docs/modules/consentManagement.html shows that it wants the `purpose` and `vendor` parsed versions of the string too. See "Example 2 - Static CMP using custom data passing"

That said, the error is odd. Asking @Fawke to take a look.

[2020-09-15 14:31] modessef1 opened #5748 "ERROR: CMP workflow exceeded timeout threshold. Canceling auction as per consentManagement config"
## Type of issue
question

## Description
When the GDPR popup appears, I can see 3x prebid information about detected and received info from CMP.
Later there is the message "CMP workflow exceeded timeout threshold. Canceling auction as per consentManagement config"
and after closing the GDPR popup I can see 3x prebid information about the popup's status change to eventStatus: "useractioncomplete".

[2020-09-15 14:58] Nicola1976 commented on #5747
OK thanks a lot @bretg,
please, can you show me an example to pass a purpose and vendor parsed versions of the string inside te getTCData?

What is the most compact object for purpose and vendors with the consent string?

`getTCData: {
                                                            tcString: euconsentStored,
                                                            gdprApplies: true

[2020-09-15 15:10] modessef1 commented on #5748
I changed cmp timeout from 10000 to 99000 and now the error after 99s appears more times

[2020-09-15 15:20] bretg commented on #5733
@shainep - there's no need for explicitly adding IP address -- it happens automatically in the HTTP headers part of the browser making an HTTP request.

Prebid Server makes a fairly valiant effort to find the best address to use from the headers, including parsing X-Forwarded-For. See https://github.com/prebid/prebid-server/issues/1332 for the algorithm.

[2020-09-15 15:20] #5733 closed

[2020-09-15 15:50] bretg commented on #5747
Prebid.js uses `purpose` and `vendor` to enforce. The values need to correspond to what's actually in the `tcString`. I would recommend against hardcoding those values unless you're completely turning off Prebid.js enforcement of GDPR. In which case something static like what you've proposed might work?

As for converting the tcString to a parsed JSON representation -- the CMP should be able to pr

[2020-09-15 17:09] MikeSperone commented on #3231
I'm not sure if I should make a new issue or ask this here, but I am trying to write a test for my above change, and placing my test after the 2 tests here: https://github.com/prebid/Prebid.js/blob/master/test/spec/auctionmanager_spec.js#L721-L764

I'm confused about the `video-outstream` media type, which I can only find reference to in the tests and not anywhere in the code or documentation.
If

[2020-09-15 18:17] bretg commented on #3231
@MikeSperone - there's not really such a thing as a mediatype called `video-outstream`. The mediatype is video and the context is outstream. Unit tests can use test strings that are different than production use.

The one place the video-outstream string exists is in the [mediatypepricegranularity](https://docs.prebid.org/dev-docs/publisher-api-reference.html#setConfig-MediaType-Price-Granularity)

[2020-09-15 22:24] coryhammon1 commented on #5683
Added an initial pull request for this feature. It's a simple global function that reinitializes all of the user modules, populating them will any changes from the storage/cookie. Please take a look if you are interested.

[2020-09-16 06:26] Nicola1976 commented on #5747
Hi , thanks

we don't use gpr enforcement module (
https://docs.prebid.org/dev-docs/modules/gdprEnforcement.html), the TCF v2
is implemented yet. We have just to use static mode if conset is already in
page.
So is it still necessary to pass the purpose and vendors parameters? Can
you provide a practical example to do it?

Thanks

Il giorno mar 15 set 2020 alle ore 17:50 bretg <notifications@github

[2020-09-16 07:44] Nicola1976 commented on #5747
Hi again,
I'm sorry if I ask you many questions but actually the behavior of the
static cmp is not very clear to me on v2, while on v1 it seemed more linear.

For example,
in this topic https://github.com/prebid/Prebid.js/issues/4801

I see just basic configuration:

[image: image.png]

the tests we did with the bidders without passing vendor and purpose in
static mode had been successful.
But som

[2020-09-16 14:04] Fawke commented on #5747
Hi @Nicola1976,

For some reason, I'm unable to reproduce the error that you're getting. Will it be possible for you to share a test page? As @bretg has pointed out, you will need `vendor` and `purpose` as your consentData object. Prebid.js does not parse the `tcString` and depends on the presence of `vendor` and `purpose` to do tcf2 enforcements.

But I think you stated you're not using the Gdpr

[2020-09-16 16:30] bretg commented on #5747
This error sounds like some code isn't loaded.

Please provide your page code or even better, a link to a test page. I'm thinking maybe you've got a timing issue with the structure of your `pbjs.que.push` code.

[2020-09-16 16:34] GLStephen commented on #5572
@yieldlift @ReinoutStevens Is this resolved as best we can at this point?

[2020-09-16 16:52] ReinoutStevens commented on #5572
for me this is resolved

[2020-09-16 17:16] patmmccann commented on #5690
Appears to somewhat be a duplicate of https://github.com/prebid/Prebid.js/issues/4175

It seems publishers specifying a ppuid should also be adding metadata, is this an email, is this hashed, etc.

Also, implementing this closer to the suggestion in 4175 would allow for some consent checking to be coded in, where this proposal would rely on the publisher to check consent before setting the Id.

[2020-09-16 18:14] robertrmartinez opened #5762 "Create generalized mock / stub for storageManager"
## Type of issue
Test Enhancements

## Description
When writing unit tests for modules which use storageManager, we need a better way to mock reading and setting cookies/local storage. As of now, lots of modules are doing it differently.

Relying on browsers in circle ci (and local browsers) to actually set and read back this data is not stable enough for unit tests.

So, we should create a mock w

[2020-09-16 18:55] MikeSperone commented on #3231
Thanks @bretg!  That was very helpful!  I found out that my test _was_ actually working, it was my code that had the error

[2020-09-16 18:56] bretg commented on #5690
Discussed an alternate solution in committee that addresses the consent management piece.

Add another user ID sub-module, call it the "PublisherProvided" module. It could take values from two places:

1) static eids values e.e.
[code]
2) a publisher-provided function that produces eids-style output
[code]

After consent is checked, the resulting eids structure is simply passed to bid adapters as

[2020-09-16 19:50] wqi1972 commented on #5690
@bretg, would you please clarify a bit more about
[code]
Is `getHashedEmail` a customer js function defined on publisher page, which returns publisher id?

Also for this setting, it doesn't need to check consent inside prebid code, since that customer publisher function (`getHashedEmail` in this example) suppose already take care of user consent check.
(publishers won't share any first party user

[2020-09-16 20:34] bretg commented on #5690
Correct

Any user-id submodule gets consent checks.

The sense I got from the committee meeting was that it's not cool to throw the consent problem onto pubs in general, even if some of you can handle it.

FWIW - re-thinking the AMP portion of this - will update the alternate proposal soon.

[2020-09-16 20:57] wqi1972 commented on #5690
Make sense.

[2020-09-16 22:08] saileshd commented on #5572
although the solution I proposed above seems to be working, I'm not sure if that is the right way. If we are using multiple CMPs on different sites, then there is no correct way to handle it unless the prebid.js framework handles it correctly like how it was doing in the 3.x version.

[2020-09-16 22:56] GLStephen commented on #5572
Prebid is handling it correctly for TCF2.0 which post transition is the only relevant standard. tcfapi is part of the spec and should be available in any CMP or the CMP is in error? Where do you see an issue with multiple/different CMPs?

[2020-09-16 23:02] saileshd commented on #5572
@GLStephen the problem is that if we have the config management with the gdpr config
gdpr: {
		cmpApi: 'iab',
		timeout: CMP_TIMEOUT,
		defaultGdprScope: true // TCF 2.0 & PBJS v4+
	}
and there is no CMP on the page then the auction just aborts silently.

In my opinion prebid should NOT be enforcing the publishers to have the right implementation of the GDPR TCF2.0 on their pages but should be abl

[2020-09-16 23:11] GLStephen commented on #5572
@saileshd I understand your frustration on this change. The current state is not going to change as it was determined as the appropriate behavior of Prebid and is explicitly by design in Prebid for TCF2. I'm going to close this ticket as it is resolved to the best of our ability at this point. If you have further items please post another issue. Enjoy!

[2020-09-16 23:11] #5572 closed

[2020-09-17 00:43] bretg commented on #5572
For the record, we disagree with this:
- By including and configuring the gdprEnforcement module, a publisher is asking Prebid.js to help them address regulatory needs. For us to ignore implementation problems would not likely impress auditors.
- If you don't want Prebid.js to enforce rules in any given scenario, there are least 4 ways of dealing:
  - don't include the enforcement module in the bu

[2020-09-17 07:58] smenzer commented on #4175
While I agree that getting hashed emails into the ecosystem is important to handle browsers not supporting 3rd party cookies, I see a couple of issues with this proposal:

1. hashing the email client side is not terribly secure, as every script on page would have access to the raw email. hashing should be done server-side by the publisher IMO
2. passing around a hashed email means the user can nev

[2020-09-17 12:31] Nicola1976 commented on #5747
Thanks a lot @bretg and @Fawke, yes it shoul be a timing issue because I check if cmp is ready before calling prebid, if not I set a listener to be shure that is ready.

But @Fawke so in conclusion we dont use gdpr enforcement module so we could not have to use vendor and purpose object and we can use simple:

consentManagement: {
                        gdpr: {
                            cmpApi:

[2020-09-17 21:13] jdwieland8282 opened #5768 "add sharedid user id to pubcommon"
## Type of issue
feature

## Description
We would like to add functionality to the existing Pubcommon user id module.  Specifically we would like the Pubcommon module to check for the presence of the Sharedid.org cookie, and if found pass that value on to bidders in a new object.

If not found we would like the Pubcommon userid module to init a call to https://id.sharedid.org/usync.  This endpoint

[2020-09-17 21:57] bretg commented on #5747
Help me understand -- are you using a managed service that sits on top of Prebid.js?  If so, you'll need to work with that managed service provider.

I don't believe there's any issue with vanilla Prebid.js and cmpApi=static

[2020-09-18 09:12] Nicola1976 commented on #5747
Hi, no sorry. The sentence*  "The use of the static setting is not
compatible with our prebid call" *

is a phrase that was said to me by the technical team of the *Appnexus
<https://www.appnexus.com/fr>bidder*.
We are publishers.

Appnexus asked us to NOT set static mode on our side (so on the pusblisher
side) because it is not supported by Appnexus, so I guess from their prebid
adapter

thanks
n

[2020-09-18 15:00] Fawke commented on #5747
Hey @Nicola1976,

The Appnexus adapter does support static cmpApi config. There's just an extra requirement with Appnexus. You have to explicitly provide purpose 1 consent. Appnexus requires cookies to fill the request, so, there should be purpose 1 consent.

[code]

This static config should be fine and should work with Appnexus.

[2020-09-18 15:35] sulleh commented on #5663
Hi there -

A quick update here.  The team is working on a fix now, and should be pushed in the next two weeks.  The approach will be to monitor the number of characters in a request, and if the request hits a certain length, the adapter will "split" the calls and generate a second call.  This should avoid broken requests from browser, CDN, or endpoint character limits.

We feel like having the co

[2020-09-18 19:56] bretg commented on #5768
To support this change, we will be modifying the following bid adapters that refer to bid.userid.pubcid:

adspendBidAdapter.js - @loorke
adxcgBidAdapter.js - @adxcgcom
conversantBidAdapter.js - @pycnvr
districtmDMXBidAdapter.js - @stevealliance , @lsv1
emoteevBidAdapter.js - @piotr-yuxuan
justpremiumBidAdapter.js - @nwlosinski , @mkalafior
livewrappedBidAdapter.js - @bjorn-lw , @barslev
luponmedia

[2020-09-20 03:42] #5661 closed

[2020-09-20 03:42] #5502 closed

[2020-09-20 03:42] #5548 closed

[2020-09-20 12:35] bretg commented on #5747
@Nicola1976 - Please discuss with your legal team before hardcoding consent for any Purpose.

As for the original issue posted here, we still need to see code or a link to a test page. The timing issue could be part of the way the page is structured -- we're not aware of any timing issues that would cause an error like

[code]

[2020-09-20 21:18] muuki88 commented on #5663
Hi @sulleh

Thanks for the update and for working on a fix :smiling_face_with_three_hearts:

Before I start I want to acknowledge that I have knowledge about your infrastructure, organizational and resource constraints. So what might seems "easy" is in fact pretty hard. I still try to give a constructive feedback. I'm also open for direct testing. I'll send you a mail (the public one in your accou

[2020-09-21 10:52] Nicola1976 commented on #5747
Hi @bretg and @Fawke, I dont have errore push of undefined anymore since I have modified timing to check if cmp framework is loaded before calling prebid.js

At this test page you could see last implementation with static mode as you suggested (appnexus compliant with purpose 1 consent):

STATIC MODE ACTIVE: http://www.freesenzaglutine.it/?pbjs_debug=true
STATIC MODE NOT ACTIVE (iab standard mode)

[2020-09-21 17:10] renebaudisch opened #5772 "1 yargs-parser vulnerability found"
## Type of issue
Security Bug

## Description
GHSA-p9pc-299p-vxgp
low severity
Vulnerable versions: < 13.1.2
Patched version: 13.1.2
Affected versions of yargs-parser are vulnerable to prototype pollution. Arguments are not properly sanitized, allowing an attacker to modify the prototype of Object, causing the addition or modification of an existing property that will exist on all objects.
Parsing

[2020-09-21 19:48] jdwieland8282 opened #5775 "Types of user ids"
## Type of issue
Question

## Description
Do consumers of user ids set within either a new or existing userid module need to know more about how the UUID was generated?  Or is the id itself sufficient.  Would more DSPs integrate against a particular user id if they knew more about how it was generated?

We should consider a new attribute called  "stype" (source type). Type would be passed along si

[2020-09-21 21:18] sulleh commented on #5663
Hey there @muuki88  - no problem at all, we appreciate the feedback! I agree that this fix addresses the direct problem, and doesn't solve some of the larger issues you are encountering.

We do want to dig into solving these as well, with a broader update in the future that solves some / all of these problems.  This is something the team is going to look into over code freeze / Q4, with a goal of

[2020-09-21 21:54] bretg commented on #5720
@patmmccann and @bszekely1 - setting `bidfloor` globally across all Imps/AdUnits doesn't seem to be the right thing to do here.

Prebid Server could do this, but it would probably take longer to get both PBS-Java and PBS-Go updated.

Do you want to specify a more surgical way of defining the floor-per-imp here?

[2020-09-21 23:23] ian-lr commented on #5690
Would just like to specifically +1 the **_ability to choose which bidders receive their ID(s)_** part of your proposal. I hear frequently from publishers that they would like to be able to explicitly configure this rather than treating all bidders the same.

[2020-09-22 06:39] smenzer commented on #5690
Is this in relation to specifically the publisher's ID and which bidders get access to it? Or are you suggesting that all User ID submodules be configurable by the publisher to indicate which bid adapters have access?

[2020-09-22 07:54] bszekely1 commented on #5720
While i get the complexities of obfuscating the nuances of OpenRTB behind some friendly API, certain attributes should be applied at the impression grain and other at the top level grain. Bidfloor is on that should be at the imp level.

I would recommend to just create one object called OpenRTB and let people pass a structured object in. It's the most scalable method available.

[2020-09-22 09:56] Nicola1976 commented on #5747
HIi!

I definitively confirm that if I wait for the cpmt object to be ready or if not ready I wait for the event the error never occurs in the console.

thanks

[2020-09-22 13:37] Fawke commented on #5747
Hi @Nicola1976,

This looks to me like a cmp error. The error stack also doesn't show if it's originating somewhere on the prebid.js side.Also, I could not get the error even after multiple refreshes on the page that you shared.

I'm happy to look up a test page where I can clearly see your prebid setup and cmp setup.

[2020-09-22 13:53] Nicola1976 commented on #5747
Hi thanks @Fawke,

are you testing this correct? http://www.freesenzaglutine.it/?pbjs_debug=true

It's strange : I have the error in console after just one refresh, maybe two refresh.

So in your opinion, is it correct that prebid.js has to be called only if cmp is loaded?

I make this question because if I check if cmp is loaded, and I call prebid.js only when cmp is ready, I dont have the error,

[2020-09-22 14:10] ian-lr commented on #5690
@smenzer Ah, good question. I was thinking of the latter and understood it to be a broader userId dependency of this proposal, not specific to PPUIDs.

[2020-09-22 18:06] pycnvr commented on #5768
Does this sound about right?

## Bid Adapter Changes
### Current Behavior
During an auction, the user id module collects IDs from submodules, and presents them to the bidders in two collections.  For instance, with only pubCommonId enabled, the collections look like the following:
[code]
### Merge with Shared ID
After the merge, the pubcid value in the userId collection will become an object, with

[2020-09-23 00:05] robertrmartinez commented on #5572
I think I found the line in the code which is causing the confusion here.

https://github.com/prebid/Prebid.js/blob/master/modules/consentManagement.js#L363

Here you can see it only lets auction continue if `cmpVersion === 1`

This value `cmpVersion` is only set to 1 if it finds a CMP on the page.

Otherwise it is stuck at `0` until it finds either a CMP or TCFAPI.

This may be intended.

In `cmp

[2020-09-23 15:38] Fawke commented on #5747
Hi @Nicola1976,

I do not think prebid.js has to wait for cmp to load if your cmp setup on the page is correct. Ideally, the CMP would have a stub file, loaded synchronously, then, you can have a the actual cmp script loaded asynchronously, and it should not matter if Prebid.js get called before cmp gets loaded because the stub should take care of it.

So, it some look something like this:

[code]

[2020-09-24 08:13] Nicola1976 commented on #5747
Thanks a lot. Last clarification:

witch is more correct object configuration (properties as string or not)?

consentData: {
                                  getTCData: {
                                      "tcString": euconsentStored,
                                      "gdprApplies": true,
                                      "purpose": {
                                          "consents

[2020-09-24 08:17] smenzer commented on #5775
I would suggest NOT including any form of hashed email in the options for `stype`. a hashed email is like a fingerprint in that you can't "reset" it - once you have it, you will always have the same link to a set of user data, even if they've asked someone upstream to reset/clear their data. since there's no efficient way (today) to tell EVERY platform in the industry to wipe data for a user, the

[2020-09-24 09:18] Fawke commented on #5747
Both are fine and would work, it's mostly a matter of preference. Internally, they are treated same. Generally, try to keep it uniform, use one or the other all the way through.

[2020-09-24 13:14] Nicola1976 commented on #5747
Thanks a lot, everything seems ok: https://www.corriere.it/?pbjs_debug=true

thanks again for support

[2020-09-24 14:13] paulm999 opened #5785 "Prebid.js downloads broken"
## Type of issue
Bug

## Description
Trying to download prebid.js (4.9.0) from the prebid website, and the js file I get simply says:
{"error":"Prebid file not built properly","requestId":"75f98b8e-d188-4e13-8d93-821a1a1c1f0d"}

[2020-09-24 14:22] paulm999 commented on #5785
This may be related to the Quantcast user id module, removing that solved the problem for me.

[2020-09-24 16:19] jsnellbaker commented on #5772
There are 3 packages that are affected by the above (as they use `yargs-parser` somewhere in their dependency tree).

`documentation`
`gulp`
`webpack`

The `documentation` package can be upgraded to a higher version (note - I'm not sure we're actually using this in the project?  Perhaps it can just be removed).

The `gulp` package (and subsequently `gulp-cli`) is at the most recent version availab

[2020-09-24 23:05] pm-harshad-mane commented on #5712
you may set adUnits in pbjs.requestBids as an input , please refer https://docs.prebid.org/dev-docs/publisher-api-reference.html#module_pbjs.requestBids. if you use this approach then you do not need to use pbjs.addAdUnits

[2020-09-24 23:11] pm-harshad-mane commented on #5696
@monis0395 / @monisq would you like to fix this too? It was dependent on your fix #5481

[2020-09-24 23:18] pm-harshad-mane commented on #5211
This bug is fixed now, closing the issue.

[2020-09-24 23:18] #5211 closed

[2020-09-25 00:24] wqi1972 commented on #5712
@terrapop, I believe you made a small mistake in your original solution:
[code]
suppose be:
[code]
:)

[2020-09-25 10:43] monis0395 commented on #5696
Hi @pm-harshad-mane, I am blocked for my sprint, will check after 9th October

[2020-09-25 14:56] bretg commented on #5785
Fixed - thanks for the bug report

[2020-09-25 14:56] #5785 closed

[2020-09-26 12:06] salvoaranzulla opened #5792 "Bug CMP Prebid"
## Type of issue

Bug

## Description

I have updated my Prebid to Prebid 4.9.0. I have also added a new bidder (Triplelift). After the update, Prebid.js has stopped to bidding. If I see the JS Console, I see this error:

DEBUG-TRIPLELIFT.html?tl=true&pbjs_debug=true:454 next is not a function, probably a vendor invoked __tcfapi with parameter null.
    at c.n [as callback] (https://www.aranzulla.

[2020-09-26 15:13] terrapop commented on #5712
How stupid of me. This is the correct solution and it works.

[2020-09-28 17:48] bretg commented on #5792
@Fawke - can you take a look at the "next is not a function, probably a vendor invoked __tcfapi with parameter null" error?

@salvoaranzulla - what version are you upgrading from? I'd bet it's 3.x.

I see in your page that you're not specifying any parameters when initializing consentManagement:

[code]

A very important change between 3.x and 4.x is that the default enforcement of TCF2 changed fr

[2020-09-28 18:21] salvoaranzulla commented on #5792
@bretg Hi,

I have upgraded from 4.6 to 4.9 but the bug is also at 4.6 version.

We are not using "GDPR Enforcement Module", but just GDPR module with this setting: "consentManagement:{cmpApi:'iab',timeout:500}})".

The error "next is not a function, probably a vendor invoked __tcfapi with parameter null." is shown just after:

"Prebid MESSAGE: Emitting event for: requestBids
Prebid INFO: Invoking

[2020-09-28 18:43] bretg opened #5795 "First Party Data Revision"
## Type of issue
Improvement

## Description

The Taxonomy Taskforce has proposed a revision of Prebid's First Party Data (FPD) conventions for the following reasons:

1) The mappings between PBJS conventions and OpenRTB are harder to follow than necessary.
2) There's a mismatch between PBJS and PBS:
    1) The [PBJS First Party Data spec](https://docs.prebid.org/features/firstPartyData.html) says

[2020-09-29 14:19] Fawke commented on #5792
Hi @salvoaranzulla,

I tried to debug your page, but I could not see any problem with the place that you've highlighted. `adUnit.bids` is defined and is an array.

Can you tell me how to got this error? http://matteo.colucci.s3.iubenda.com/Screen-Shot-2020-09-28-11-54-20.png

Also, for me, after refreshing your test page a few times, I saw that the auction took place and I got bid responses. This

[2020-09-30 09:16] Nicola1976 opened #5801 "Prebid cmp static additional consent"
Hi, I wanted to know if and how the additional consent is passed in the prebid configuration.

As described [here ](https://github.com/prebid/Prebid.js/pull/5600 )it should be supported: gdpr.consentData.getTCData.addtlConsent.

Something like this?:

gdpr: {
    cmpApi: 'static',
    consentData: {
        getTCData: {
            "tcString": euconsentStored,
            **"addtlConsent": "some s

[2020-09-30 15:41] gglas opened #5804 "Criteo Adapter Changes"
## Type of issue

Enhancement / Review Requested

## Description

Criteo's adapter contains legacy third party javascript dependencies that don't perfectly align with the new Prebid best practices and rules -- this is because the technology predated prebid and appropriately couldn't develop around best practices that didn't exist!  We were hoping to have someone in the community review Criteo's do

[2020-09-30 15:49] patmmccann commented on #5801
I think what you are suggesting for static consent works because of this line (L321 in current master)

      consentObject = consentObject.getTCData;

then line 340 does      storeConsentData(consentObject);

then the function does this (consentObject becomes cmpConsentObject inside the function)

    if (cmpConsentObject.addtlConsent && utils.isStr(cmpConsentObject.addtlConsent)) {
      consent

[2020-09-30 15:55] patmmccann commented on #5804
Of particular note, the build time crypto library seems to only be useful if the pubtag is included. One would hope there is a simple way for publishers to build without this library if a publsher does not use the publisher tag.

[2020-09-30 16:00] patmmccann commented on #5804
A couple other notes, the https://github.com/prebid/Prebid.js/pull/5644 hash might be able to be used in place of the criteo hash included at build time and the ceh property can now be read from https://github.com/prebid/Prebid.js/pull/5767 if available

[2020-09-30 18:44] jdwieland8282 commented on #5775
So far we have:
- DMP - added by a 3rd party id provider like ID5, Liveramp, Lotame, etc..
- PPUID - added by the publisher, the publisher can be identified in eids.source

[2020-10-01 00:54] dmdabbs commented on #5775
FWIW, in late July there was a discussion on https://openrtb-iabtechlab.slack.com/archives/C3Y6GHUTH/p1595433523254200 (TechLab Programmatic, general Slack). The use case being same as here, signaling a stable, publisher-generated UID:

The following was sketched but I don't recall seeing this discussion thread picked up again.
[code]

[2020-10-01 05:48] salvoaranzulla commented on #5792
Hi @Fawke,

The error "next is not a function, probably a vendor invoked __tcfapi with parameter null" is generated by CMP when:

- a vendor calls the function __tcfapi with parameter null (instead of "undefined" as IAB specs)

- when the callback generated an error (for example __tcfapi('getTCData', 2, function(tcData) { notExistingFunction(); }) ).

To reproduce the error, you can do this:

1) O

[2020-10-01 06:02] smenzer commented on #5775
to me, `DMP` is too generic, and also identifiable simply by looking in the `source` field. I'm not sure exactly what all the right values are, but I think it's important to get some ideas from the consumers of the IDs (i.e. DSPs) to make sure it's useful.

On the ID5 side for example, we provide a field we call `linkType` that we use to signal how we linked two 1p IDs together - through no link (

[2020-10-01 07:38] Nicola1976 commented on #5801
Ok thanks,
you don't see the adconsent in the prebid config just because I don't know where to read the string from.

In case I didn't use the static mode of the cmp prebid module but the iab mode, would the add allow be passed automatically?

[2020-10-01 08:54] Facens commented on #5792
Hi @Fawke,
I work for iubenda, the company that provides the CMP used by @salvoaranzulla's website.
Here are some additional details on the issue:
- the exception is not surfaced because the IAB's SDK catches it and invokes the callback in a way that makes our code log "next is not a function", that's why you need to set the conditional breakpoint to see that `i.bids` is undefined (I'm going to op

[2020-10-01 10:01] Fawke commented on #5792
Hi @Facens, @salvoaranzulla,

Yes, I can see what you're talking about. I was able to capture a screenshot of the adUnits, when requestBids is called.

<img width="1680" alt="Screenshot 2020-10-01 at 3 12 33 PM" src="https://user-images.githubusercontent.com/14229985/94794193-2ce6df00-03f9-11eb-8593-7eac123cfa39.png">

As you can see, we have the object `adUnit.bids` defined for all the ad units e

[2020-10-01 12:42] nikkoi opened #5811 "Problem with single page app implementation"
## Type of issue
Question

## Description
Trying to implement on single app page, not able to only send key-values for only on ad unit

## Steps to reproduce
Not a bug.

## Test page
I'm trying to implement prebid.js on a single app page, using this as the starting point: https://developers.google.com/doubleclick-gpt/samples/infinite-content

Everything else works fine, but the setTargetingForGPTA

[2020-10-01 13:57] modessef1 opened #5812 "How to setup GPT SRA codes with lazy loading and prebid?"
## Type of issue
question

## Description
Hello,
I want to have some AdUnits set as Single Request Architecture in order to be able to combine them into roadblocks, and I want to call the remaining AdUnits only after meeting the lazy load conditions. In addition, I want to make all AdUnits, both those in SRA and non-SRA (lazy load) available in prebid. Can you tell me how to do it? It's best if I

[2020-10-01 15:56] jdwieland8282 commented on #5768
@pycnvr sounds good to me.

@MarkoYerkovichRP fyi..

[2020-10-01 16:06] patmmccann commented on #5801
The goal of the pr was that cmp's like quantcast and liveramp that define
the additional consent string as per google's proposal would have that
string added to the prebid internal object for consent. However, ssp's
still need to make adapter commits to gather it on their endpoint calls.
That has not yet happened afaik, but based on discussions in these forums i
do know openx is planning to consum

[2020-10-01 16:07] patmmccann commented on #5801
That being said, since it is passed to prebid server endpoint, you can use that endpoint call to validate it is getting set and passed on a live page.

[2020-10-01 16:22] jdwieland8282 opened #5814 "eids permissioning scheme"
## Type of issue
feature request

## Description
Do Publishers need additional controls for determining which user ids go to which bid adapters?  Publishers can currently control what User id modules they deploy and which bid adapters they integrate with.  Are their scenarios where a publisher would deploy a user id module but decide NOT to send the resulting user id to a bid adapter they've integ

[2020-10-01 17:29] bretg commented on #5814
Implications for PBJS:
- something would need to modify the bidRequest object before going to each bidder.
- unclear whether this is PBJS-core or perhaps its just done through a hook in the UserId module itself

Implications for Prebid Server:
- This proposal treats eids as first party data, using the same permissioning scheme. But if pubs need some eids to be global, while other eids are first pa

[2020-10-01 18:57] joshuakoran commented on #5775
I agree that when describing IDs, it would be useful to distinguish among the various "dimensions" of IDs:

Describes Person or Device/App
- Directly-Identifiable (e.g., email)
- Pseudonymous (e.g., alphanumeric string)

Set/Link of IDs
- Device graph
- First-party sets?

Source type
- Publisher or Brand (who from the consumer's point of view is also a publisher)
- Vendor to publisher or brand (or

[2020-10-01 19:07] bretg commented on #5812
@modessef1 - this would just be multiple calls to `[pbjs.requestBids()](https://docs.prebid.org/dev-docs/publisher-api-reference.html#module_pbjs.requestBids)`.

The first call would specify the roadblock adunits, while subsequent calls would cover just the adunits in-scope for the lazy-load. See https://docs.prebid.org/dev-docs/examples/adunit-refresh.html for an example.

[2020-10-01 20:08] Deimos01 opened #5817 "Function to check the cached bids from the bid pool"
## Type of issue
Question about the public API methods

## Description

Hi there,
I'm looking for a function to get the cached bids from an AdUnit-specific bid pool.
I've checked all the functions from the [API methods](https://docs.prebid.org/dev-docs/publisher-api-reference.html) but none of them is able to retrieve the cached bids.
I'm just wondering if there is a way to get them or more global

[2020-10-02 00:03] wqi1972 commented on #5812
@modessef1, Bret's instruction is correct.
If you are still not clear about how to do it, please set up a test page with your ad units in it (SRA batch load ad units + lazy load ad units), I can help you figure out how to change code to achieve your goals.

[2020-10-02 06:54] smenzer opened #5818 "Should pbjs.refreshUserIds() pass a flag to user id modules that it was refreshed by the publisher?"
## Type of issue
Question / Feature Request

## Description
Per https://github.com/prebid/Prebid.js/pull/5752, publishers now have the ability to force a refresh of all or a subset of user id modules for a variety of reasons (the user logged in / out and they want to get new IDs, for example). We could easily pass a flag to the user id submodules in the `getId()` function to tell them that this wa

[2020-10-02 08:01] modessef1 commented on #5812
@wqi1972 can you please have a look at https://www.parkiet.com/Gielda/310029956-Pozytywny-Trump-ciazy-rynkom.html
As far as I know usage googletag.pubads().enableSingleRequest(); for selected top AdUnits it isn't possible on our website because AdUnits which are placed in the text of the article are generated on the front end side

[2020-10-02 15:25] jdcauley commented on #5775
Re @dmdabbs note, I think this is what you might be referring to?

This is the spec we're currently using with OpenRTB, https://github.com/Advertising-ID-Consortium/IdentityLink-in-RTB

[2020-10-02 17:30] salvoaranzulla commented on #5792
@Fawke @Facens I have updated the debug page removing "ad-in-article-20": Prebid.js does all auctions without "ad-in-article-20", but I still see the CMP warning " [IUBCS|WARN]: next is not a function, probably a vendor invoked __tcfapi with parameter null. "