[2018-10-04 18:48] rjvelicaria commented on #2938
#3067

[2018-10-04 18:48] #2938 closed

[2018-10-04 20:08] #3013 closed

[2018-10-05 04:13] pm-harshad-mane commented on #3072
Hello @jaiminpanchal27 ,
utils.getTopWindowUrl() refers to utils. getTopWindowLocation, are we planning to deprecate utils.getTopWindowUrl and utils.getTopWindowReferrer as well?

[2018-10-05 15:32] mkendall07 commented on #3138
@nanek
Could you provide additional details on why the viewability dropped when changing the div ID? While we could implement this feature, I don't see a strong use case for it. It also complicates the logic for where we expect to render the Ad from the user's perspective.

[2018-10-05 16:47] nanek commented on #3138
Thanks for the response.

Viewability drops for our entire site and all ad units when switching adUnitCode. I wasn't able to determine the drop in viewability cause. Unfortunately the risks of changing the adUnitCode and dropping viewability site wide, is not worth the benefit of enabling appenxus outstream.

Prebid docs recommend DFP slot element id if using DFP, over a divId. http://prebid.org/d

[2018-10-05 17:39] nanek commented on #3155
Thanks, I'm also trying to encode in prebid and decode in the creative. However in the custom native ad creative, I don't see a macro for decode? How do you decode in the creative? Do you have an example?

[2018-10-05 18:37] wqi1972 commented on #3155
oh, there is no macro for it, you have to do it all by javascript, something like:
[code]

[2018-10-06 00:29] wqi1972 commented on #3155
Our production team just found some clients want to include ```' and !``` inside hb_native_body field, which is pretty nature. I will work on a change next week, it will check and encode all native related fields, if it contains: ```" ' , = ! + # * ~ ; ^ ( ) < > [ ]```, to make sure the value passes through to dfp.
Inside dfp native template, whether need decode them will be a case by case story.

[2018-10-07 09:41] haroldpussat commented on #3155
Hi,
FYI, we were facing the same issue with special characters (see #2854 ). That's why I add a special encoded function in targeting.js for function setTargetingForGPT
`slot.setTargeting(key, key.includes('_native_') ? utils.fixedEncodeURIComponent(value) : value);`

The fixedEncodeURIComponent function is like : (if I'm not mistaken in the version code I delievered)
`return encodeURIComponent(st

[2018-10-07 18:31] wqi1972 commented on #3155
Thanks, this is exactly I plan to do. Please create a PR for it.
btw, not quite understand code: ```return encodeURIComponent(str).replace(/[!',()*]/g, function(c) { return '%' + c.charCodeAt(0).toString(16); });```, why does it need do string ```replace``` after ```encodeURIComponent```, these chars will get encoded to %[number] format by ```encodeURIComponent```, do I misunderstand something?

[2018-10-07 19:14] wqi1972 commented on #2902
We faced exactly same problem. Not like other bids, native bid has too many data to pass, based on my test, when there are more than 3 native bids returns inside on call, then the problem happens.
Can't really figure out a solution for it, since the limitation is from dfp key/value, and technically the same problem happens for normal bids as well, say: inside one call, returns 1000 available bids,

[2018-10-08 16:03] haroldpussat commented on #2902
If I'm not mistaken the solution provided with removeUnnecessaryNativeKeys is nearly like SendAllBids : false ? With SendAllBids : false, only winning bid will be sent to DFP, even if you have more than one native actor, there is only on *_native_* key / value sent to DFP.
We already go on with SendAllBids : false on PROD and I'm afraid it is not sufficient to avoir DFP limit to be reached. FYI, w

[2018-10-08 17:01] wqi1972 commented on #2902
Not 100% understand the issue you refer to. Inside http://www.precom-multimedia.com/interne/hpu/test_nativ5/index_notallsendbids.html?dfptest=40&pbjs_debug=true,
I see ```prev_scp: pos=banniere_haute&amznbid=2&amznp=2&id=eda5b12f-cb19-11e8-ae98-98f2b3e84d4c|pos=banniere_basse&amznbid=2&amznp=2&id=eda5b130-cb19-11e8-ae98-98f2b3e84d4c&hb_format=banner&hb_source=client&hb_size=970x90&hb_pb=0.35&hb_ad

[2018-10-09 13:17] RajasekarPR opened #3161 "Is Teads moved to Prebid Server?"
Is Teads adapter moves from client to server ?

Is they are compatible with prebid server?

[2018-10-09 17:47] bwoolcott commented on #3161
@RajasekarPR The following is a list of current prebid server adapters: https://github.com/prebid/prebid-server/tree/master/adapters

It does not appear that Teads is compatible yet.

[2018-10-09 17:57] bwoolcott commented on #3126
@RajasekarPR That JS file does not look to be part of Prebid.js. Looks like it might be related to DistrictM user sync code

[2018-10-09 18:12] bwoolcott commented on #2922
@akira28 and @yanfaingold any follow ups to @mkendall07's request for more information on the exact problem?

[2018-10-10 12:44] #3043 closed

[2018-10-10 15:12] #3120 closed

[2018-10-10 15:30] benjaminclot opened #3169 "Prebid 1.27.0 increased 30% in filesize"
## Type of issue
Question

## Description
The Criteo adapter just increased our Prebid's compiled file size by 30% (from 150KB to 210KB)... 👎

## Steps to reproduce
Use the Criteo adapter

## Platform details
Prebid.js 1.27.0

## Other information
On top of using [external JS](https://github.com/prebid/Prebid.js/pull/2370#issuecomment-396246559) and ignoring usersync preferences (no [`getUserSyncs

[2018-10-10 16:34] mkendall07 commented on #3126
agreed - please contact districtM.

[2018-10-10 16:34] #3126 closed

[2018-10-10 19:55] #3102 closed

[2018-10-10 21:55] #3081 closed

[2018-10-11 07:10] #3169 closed

[2018-10-11 13:14] omerko opened #3171 "Close pull request"
## Type of issue
Question

## Description
I created a pull request that got some unnecessary files commited into it. While trying revert these file changes I got other file changes by mistake.
I want to close this pull request and open a new one instead since it got complicated to roll back changes now.
Can you please close this for me?
https://github.com/prebid/Prebid.js/pull/3090

Thanks

[2018-10-11 13:16] jsnellbaker commented on #3171
The requested PR has been closed.

[2018-10-11 13:16] #3171 closed

[2018-10-11 19:07] felipemsantana opened #3174 "Bundle size increased a lot in 1.27.0"
## Type of issue
Bug

## Description
From version 1.26.0 to 1.27.0 the bundle size increased by about 50%.
It was 126K and now it is 185K

## Steps to reproduce
Enter in http://prebid.org/download.html
Select the following adapters/module
- AOL
- Appnexus
- Criteo
- Rubicon
- Currency

Generate the bundle for versions 1.26.0 and 1.27.0, then compare the size.

[2018-10-11 19:31] snapwich commented on #3174
It's most likely from the Criteo adapter and its additional RSA encryption added in 1.27 for "FastBid."  It required the inclusion of some extra libraries: https://github.com/prebid/Prebid.js/pull/3110

[2018-10-11 19:35] snapwich commented on #3137
Should be fixed in 1.26 release.  Let me know if that is not the case.

[2018-10-11 19:35] #3137 closed

[2018-10-11 19:42] bwoolcott commented on #3174
https://github.com/prebid/Prebid.js/issues/3169

[2018-10-11 19:43] snapwich commented on #3058
This has been discussed previously and I was able to convince most at the time that it is a poor decision.  I still have the same opinion.

Please refer to [this point in the Promise spec](https://promisesaplus.com/#point-67).  Fulfillment of `then` handlers should happen asynchronously after the event loop turn.  The implication here for Prebid.js is that we would then be deferring our execution

[2018-10-11 19:47] bwoolcott commented on #2998
@mkendall07 @bretg Does this need further discussion or do we need a PR for this?

[2018-10-11 19:55] mkendall07 commented on #3058
thanks @snapwich
My thought was that we'd only use promises for async operations already (like HTTP requests). Does that change your perspective? Or does that just make things more complicated :)

[2018-10-11 20:06] snapwich commented on #3058
I don't know if it's worth polyfilling a promise library for the limited use-case of http request callbacks.  Our ajax library works pretty okay as it is.  If we do decide to go towards promises for HTTP later (after the burden of IE11 has been lifted) then I'd suggest just moving towards using the [Fetch API](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API), which uses Promises interna

[2018-10-11 20:32] snapwich commented on #2949
Speaking of which, making a lambda job (or other service) that works on built prebid-core and module files would be much easier if we started publishing the build results to NPM.  It's something I've thought about in the past that I think we should be doing; currently we only publish the source files.

[2018-10-11 20:57] #3174 closed

[2018-10-11 20:58] #3061 closed

[2018-10-11 21:02] bretg commented on #2992
@thewizarodofoz - if you're still up for helping here, a possible implementation would be:

{code}
pbjs.setConfig({bidCache: {
  useOnRefresh: true
}});
{code}

Default value is currently proposed to be false, though this may have an impact to header bidding performance that pubs should be aware of.

Then just check bidCache.useOnRefresh before considering bids that are in the cache.

[2018-10-11 21:11] bretg commented on #2851
There's activity on the Prebid Server side that will solve this -- https://github.com/prebid/prebid-server/pull/712

[2018-10-11 21:34] bwoolcott commented on #2953
@OhadTs1985 do you have an example of this or a test page you could point us to?

[2018-10-11 21:39] bwoolcott commented on #2393
I'm closing out this ticket as it's a duplicate of https://github.com/prebid/Prebid.js/issues/2640 which has resulted in the following PR https://github.com/prebid/Prebid.js/pull/3022 Please reference/comment on those two.

[2018-10-11 21:39] #2393 closed

[2018-10-11 21:43] bwoolcott commented on #2805
@mkendall07 is this still an issue?

[2018-10-11 22:01] ddagino commented on #3127
Thank you for the follow-up @harpere.

I spoke with an engineer at AOL recently and they confirmed that they send more than 5 userSyncs but anything over 5 can be safely ignored and the syncs that aren't delivered will be queued for later delivery.

[2018-10-11 22:06] kizzard commented on #3127
@ddagino that engineer was me 👍

[2018-10-11 22:10] ddagino commented on #3127
@kizzard lol, guess I should have checked the profile. Thanks Jeremy!

[2018-10-11 22:27] lanceloti commented on #2805
Hello guys.

It still an issue to me. See this test page: https://maringa.odiario.com/ads/outstream.php

1) Even I setting other render URL ANOutstreamVideo.js is downloaded first.

2) Render funcion is called before complete download of our player, so I need to set a timeout until script is ready.

[2018-10-12 05:18] pm-harshad-mane opened #3176 "Why does currency module includes DFP Express code?"
Refer: http://prebid.org/dev-docs/modules/currency.html

In section, "Step 1: Bundle the module code", it is mentioned that "gulp build --modules=currency,bidderAdapter1,bidderAdapter2"
This command will build the following files:
build/dist/prebid-core.js - the base Prebid code
build/dist/currency.js - additional code for the currency feature
build/dist/prebid.js - a combined file with the base P

[2018-10-12 14:13] thewizarodofoz commented on #2992
@bretg I will submit a PR soon!

[2018-10-13 06:53] mwaqarakram94 opened #3177 "Figured it out, Thanks :)"
Found the solution, Thanks guys.

[2018-10-13 08:40] pm-harshad-mane commented on #3176
Hello @mkendall07 and @jsnellbaker ,
Can you answer this query?

[2018-10-13 12:45] mkendall07 commented on #3176
Not sure. Have you looked at the code?

[2018-10-14 21:34] #3177 closed

[2018-10-15 11:27] soman opened #3178 "How to integrate DFP Express Module"
## Type of issue
question

## Description
DFP Ad does not trigger when i have using pbjs.express();

## Test page
http://stage.thisoldhouse.com/header_bidder/test_prebid_appnexus_with_dfp_express.html

### Expected results
I need to integrate DFP Express module with prebid version 1.18.0

[2018-10-15 11:42] soman opened #3179 "How to integrate GDPR ConsentManagement Module"
## Type of issue
question

## Description
I have build prebid.js with consentManagement module but i am not clear about below lines:

pbjs.setConfig({
  consentManagement: {
    cmpApi: 'iab',
    timeout: 8000,
    allowAuctionWithoutConsent: false
  }
});

When i should use cmpApi: 'iab' and cpmAPi: 'static'?

## Test page
http://stage.thisoldhouse.com/header_bidder/test_prebid_undertone.html

#

[2018-10-15 11:42] jsfaure commented on #3058
About promise and the possible risk of slowing the start of Prebid.js auction, I would just moderate the risk as it looks like the event loop will take care of handling the promise callbacks before keeping on with the others IO events. See https://www.zeolearn.com/magazine/javascript-how-is-callback-execution-strategy-for-promises-different-than-dom-events-callback

[2018-10-15 15:19] renebaudisch commented on #2730
OK, that's what i'm doing, I just hoped there would be a nicer way to include producing prebid.js while generating the main project.

[2018-10-15 15:19] #2730 closed

[2018-10-15 15:20] omerko opened #3180 "Pull request failed on CircleCI"
## Type of issue
Question

## Description
I have a pull request that fails on CircleCI and I'm unable to know the reason:
https://github.com/prebid/Prebid.js/pull/3172

How can I know why it fails?

[2018-10-15 17:39] jsnellbaker commented on #3180
If you click on the details link of the ci/circleci check in the PR, it should load the status details as to why the test failed.

In this case, it appears there are linting errors in the code you're changing.  Here is a copy of the error message:
[code]

Please let me know if you have any additional questions about checking the circleci test.

[2018-10-15 18:59] jaiminpanchal27 opened #3181 "Gulp connect bug with ssl mode"
## Type of issue
Bug

## Description
Prebid uses gulp connect as http server. It has a bug with node versions > 8.1.2
https://github.com/intesso/connect-livereload/issues/79

Find alternative to gulp-connect since it is not actively maintained.
https://www.npmjs.com/package/http-server is one possible replacement.

## Steps to reproduce
- Install node > 8.1.2
- gulp serve --https

## Test page
Ope

[2018-10-16 14:11] lucamago opened #3185 "Header Bidding Video"
## Type of issue
question

## Description
Hi, we're trying to do some header bidding video's tests, following your guide http://prebid.org/dev-docs/show-video-with-a-dfp-video-tag.html and we have some questions:

-when we create all the line items in DFP (each one with their SSP's cache url), how can we know in the   prebid bidsBackHandler function which is the line item to use for the bid? Maybe

[2018-10-16 14:46] #3180 closed

[2018-10-16 14:53] jsnellbaker commented on #3179
@soman To use the GDPR consentManagement module, you'll need to a CMP setup separately on the page along side your Prebid code.

The CMP (Consent Management Platform) collects the user's consent information (if it's needed), and stores the information.  When Prebid and the consentManagement load, it'll make a request to the CMP's API and attempt to collect the consent information.  Once collected,

[2018-10-16 20:33] jsnellbaker opened #3187 "unit tests failing in safari browsers"
## Type of issue
bug?

## Description
There are a few of unit test failures in safari ever since we merged #3182

The errors are occurring within the `consentManagement_spec.js` file, which is not touched by that PR.  But they have been consistently failing due to a `script error (:0)` type message.

The tests have been temporarily disabled to remove the issue with the master build (see https://gi

[2018-10-17 12:58] nikkoi opened #3191 "xaxis / xhb adapter not working"
## Type of issue
We're having extensive problems getting the xaxis / xhb adapter working in prebid 1.x+ versions.

## Description
Everything is working fine in versions prior to 1, but we haven't been able to get a single impressions through with the 1.x version, even though we've done a lot of debugging with the xaxis team.

## Steps to reproduce
Use the xhb adapter with prebid 1.x+

Is there any

[2018-10-17 15:10] #2861 closed

[2018-10-17 15:11] snapwich commented on #2861
This fix will be included in the 1.29 release.

[2018-10-17 17:06] bretg opened #3194 "Make AudienceNetwork adapter sizes configurable"
## Type of issue
Feature Request

## Description

Rubicon Project hosts Prebid.js packages for publishers, some of whom have chosen to use the AudienceNetworkBidAdapter. The problem with this adapter as it stands is that it limits sizes to precisely two:
[code]

Some publishers, however, want to monetize other sizes through AudienceNetwork, which would require hacking the adapter to allow more siz

[2018-10-18 10:08] drdmitry opened #3197 "When "No valid bid requests returned for auction" bidsBackHandler never gets called"
## Type of issue

Bug

## Description

`requestBids()` with specified `bidsBackHandler` doesn't call callback function (`bidsBackHandler`) when there are "No valid bid requests returned for auction".

## Steps to reproduce

Call `requestBids()` when no bids available, specify `bidsBackHandler` callback function.

## Test page

### Expected results
Auction to be finished with warning
"No valid bid

[2018-10-18 14:11] #3187 closed

[2018-10-19 09:19] nikkoi commented on #3191
Here is an example, two bids are available, but it doesn't even attempt to set them as key values. How is this possible? @daniel-hoffmann thoughts?

![screenshot-2](https://user-images.githubusercontent.com/1727721/47209461-158fc200-d399-11e8-9609-64ac8e93a22b.png)
![screenshot-1](https://user-images.githubusercontent.com/1727721/47209462-16285880-d399-11e8-957d-9190da7e48de.png)

[2018-10-19 17:55] godoggie opened #3205 "Bid Caching Performance?"
## Type of issue
Question

## Description
Upon analyzing pv/impression and cpm performance between v0.34 and v1.27 I do not see any significant difference. Per documentation (link below) Prebid 1.x is now leveraging client side bid caching?  I am working within all parameters noted (same page/ad unit/user/ttl) and have also validated that previous (cached) bids are winning occasionally.

So is any

[2018-10-19 21:37] snapwich commented on #3176
@pm-harshad-mane I think that is a typo.  I think it means "a combined file with the base Prebid code and the currency code"

[2018-10-20 20:08] lovell commented on #3194
Hello, I've been told that any publishers requiring other sizes should get in touch with their Facebook Audience Network contact for more information.

[2018-10-21 10:17] omerko opened #3208 "Prebud code freeze?"
## Type of issue
Question

## Description
Hi
I wanted to know if Prebid enforces some sort of deployment freeze practice at this time of the year, since I know a lot of companies in the industry have such policy.

I want to know to be aware if there is a time were I won't be able to release adapter changes.
Thanks

[2018-10-21 18:20] cwbeck opened #3209 "Prebid Video - 'id' referencing?"
It would seem the 'id' needs to be passed correctly to Prebid video outstream formats. This is fine, but we load Prebid JS into a friendly iframe to prevent conflicts with a number of our publishers. Taking a look at some of the adapters (AppNexus for example) the 'doc' [document] reference is not passed. It might, therefore, be able to find the correct div element in the topmost window [window.to

[2018-10-22 16:46] jcswart opened #3211 "[question] ANOutstreamVideo.js docs and source-code?"
## Type of issue
Question about *ANOutstreamVideo.js* renderer.

## Description

I'm trying to debug an issue with rubicon video, I'm using http://acdn.adnxs.com/video/outstream/ANOutstreamVideo.js as the renderer but it is difficult to debug because there is: no documentation, no available source code repository, or at the very least non-minified code.

I have completed exhausted my google-fu on

[2018-10-22 19:42] mkendall07 commented on #3211
@jcswart
It's not open source code. What's your issue? Thanks

[2018-10-22 19:44] mkendall07 commented on #3208
There is no defined code freeze policy, however, based on member company's availability there could be delays in merging with folks on holiday etc.

[2018-10-22 20:59] pm-harshad-mane commented on #3176
Thanks @snapwich

[2018-10-23 07:13] omerko commented on #3208
Got it
Thanks

[2018-10-23 07:13] #3208 closed

[2018-10-23 13:59] #3197 closed

[2018-10-23 14:20] jcswart commented on #3211
Would you mind providing a specification for `ANOustreamVideo.renderAd` function? What are the possible key/value combinations for the object argument.

Thanks!

[2018-10-23 14:21] tr-coull opened #3219 "Add custom targeting key-vals without using `pbjs.bidderSettings`?"
## Type of issue
Question

## Description
We'd like to add custom key/val pairs onto the GAM/DFP request, but it appears that the only way to do this is use `pbjs.bidderSettings.standard.adServerTargeting` which prevents any of the standard `hb_` ones being added. Is there a way to keep those and add on any new ones we want on there?

We'll be coming to use Deals soon, so if we start to manage all

[2018-10-23 14:36] bretg commented on #3205
PBJS re-uses bids only in specific scenarios -- the page has to be set up to refresh adunits. Otherwise, you wouldn't/shouldn't see any difference.

Does the page you're testing do adunit refreshes?

[2018-10-23 15:05] godoggie commented on #3205
Yes, regular refreshes on ad units. Same page, same user/session.
Tracing code reveals a VERY low percentage of bids from a previous auctions ever win and no real bump in CPM from competing ad server supply.

[2018-10-23 16:36] bretg commented on #3219
If the extra key/val pairs are for a single adapter, the targeting can be added in as adapter-specific without stomping on the standard values. Otherwise, you can just add it to the `standard` section and specify all the keys. Here's the block of them copied from http://prebid.org/dev-docs/publisher-api-reference.html

[code]

You may also have to add any required bidder-specific keys.

There's a

[2018-10-23 16:43] bretg commented on #3185
It's really the other way around -- `bidsBackHandler` needs to create a bunch of ad server key-value pairs like `hb_pb`, `hb_bidder`, etc. They get passed to the ad server where line items are targeted to key-values. So you might have line items targeted to `hb_pb=1.0 and hb_bidder=rubicon`

The example on the page you referenced is just an example -- you'll need to figure out how to call the righ

[2018-10-23 17:46] #2189 closed

[2018-10-23 17:48] #2462 closed

[2018-10-23 18:03] bretg commented on #3178
You're right @soman, our Express module documentation left a lot to be desired. I've updated it. Please take a look at http://prebid.org/dev-docs/modules/dfp_express.html, particularly the new example, to see if it answers your questions.

[2018-10-23 18:04] #3176 closed

[2018-10-23 21:14] mkendall07 commented on #2851
@dmitriyshashkin
FYI this went live today on AppNexus Prebid Server => http://prebid.adnxs.com/pbs/v1/info/bidders

[2018-10-23 21:14] #2851 closed

[2018-10-24 04:32] pm-harshad-mane commented on #3072
Hello @jsnellbaker ,
can you please answer above query?

[2018-10-24 05:48] jkpindahbc commented on #3155
Still an issue, preventing the use of Prebid for us.

[2018-10-24 07:13] lucamago commented on #3185
Thanks bretg for the help!

Let's make an example:

`pbjs.requestBids({
	          bidsBackHandler: function(bids) {
	              var videoUrl = pbjs.adServers.dfp.buildVideoUrl({
	                  adUnit: videoAdUnit,
	                  params: {
	                      iu: '/12345/unitVideo1',
	                      cust_params: {
	                        section: "blog",

[2018-10-24 13:38] soman commented on #3179
@jsnellbaker This is test page - https://stage.thisoldhouse.com/header_bidder/test_prebid_gdpr_with_test_placementid.html
How i will confirm the GDPR consentManagement module integration is perfect? Would you plz help me to debug module integration?

How to see bidderRequest object?

Thanks

[2018-10-24 13:58] omerko opened #3221 "Feature request - extracting canonical URL"
## Type of issue
Feature request

## Description
I need to retrieve the canonical url from the <link rel="canonical".. > element <link (https://www.w3.org/TR/capability-urls/#canonical-urls)

Up till now I used the utils.getWindowTop() function to get the document and run a query on the top level DOM.
But since this function is about to get deprecated, there needs to be some alternative to get the

[2018-10-24 14:02] tr-coull commented on #3219
Thanks for confirming that is the case. We'd definitely benefit from having an `adServerTargetingAdditions` feature so will open a PR if we build it. cc: @samwhitecoull

[2018-10-24 14:07] dugwood opened #3222 "MediaTypes are not respected by multiple bidders"
## Type of issue
Feature request

## Description
Setting up mediatypes with something other than `banner` is really difficult: AppNexus and Teads (if not other) are answering with `banner` to a mediaTypes request with only `video`

## Steps to reproduce
Ask for only `mediaTypes=video`, as shown here:
http://prebid.org/examples/video/outstream/outstream-no-adserver.html
=> answer doesn't take care

[2018-10-24 18:28] nanek commented on #2854
https://github.com/prebid/Prebid.js/pull/3224 is an attempt to fix this.

[2018-10-24 19:12] bretg commented on #3046
Made an update to move the "url" attribute underneath a "params" object and add a "partner" attribute as well.

Looks like the TradeDesk is going to allow us to use their URL as a default for OpenId - will post that once confirming. Once that happens, `params.partner` attribute would be a way to specify their "partner id" rather than the whole URL.

[2018-10-24 19:43] bretg commented on #3222
@mkendall07 - perhaps a core change to enforce the media is desirable here?

[2018-10-24 20:00] mkendall07 commented on #3222
seems reasonable to enforce `mediaType` at the core level since we can't know what any bidder will return.

[2018-10-25 06:23] eliseumds opened #3226 "SizeConfig shouldn't merge sizes of different labels together"
## Type of issue

This is a bug.

## Description

When resolving the bid/adUnit sizes, Prebid doesn't account for size configs with the same media query but different labels.

## Steps to reproduce

With a size config:

[code]

and a bid with `{ labelAny: ['myLabelA'] }`, Prebid sends all the five sizes to DFP. I expected it to send only *myLabelA* sizes to DFP: `[[970, 90], [728, 90], [300, 250]]

[2018-10-25 13:49] nikkoi commented on #3191
Yeah, we got this sorted using custom adserver targeting and always use bids. But if this is intended way of working, I would at least document it in the adapters .md file, that it doesn't work without specifying custom targeting.

[2018-10-25 15:47] jdelhommeau opened #3231 "Renderer method used on all mediaType"
## Type of issue
Bug

## Description
When running multiple mediaType on a single adUnit (for example: outstream + banner) and you need to use client side renderer for the video outstream, the renderer will also try to render banner ad, not just outstream ad. Ideally, there is a way to either have a way in renderer to fallback on default renderer, OR the renderer is only called for video ad returne

[2018-10-25 17:31] snapwich commented on #3226
I think you have the intent of labels backwards.  Labels on an adUnit don't decide which size configs are active, it's the inverse; size configs determine which labels are active.  Also, you should keep in mind that the `sizesSupported` on sizeConfig don't add sizes or specify additional sizes to send to the bidder, they specify which sizes are valid as a _filtering_ mechanism.

For your use case

[2018-10-26 13:05] #2822 closed

[2018-10-26 14:32] mkendall07 commented on #2998
This is done

[2018-10-26 14:32] #2998 closed

[2018-10-26 17:59] #3138 closed

[2018-10-27 21:18] benjaminclot commented on #3231
Or you could do something like this:
[code]

[2018-10-29 14:13] mkendall07 commented on #3209
@cwbeck
Are you asking if there is a way to pass `document` into the AppNexus renderer? If so, we currently do not support that. I'll chat with the video team and see if it's a possibility.

[2018-10-29 15:41] jaiminpanchal27 commented on #3072
@pm-harshad-mane Yes we will deprecate those as well. In this sprint i am working on adding location object and canonical url to refererInfo.
We will add everything to `bidRequest.refererInfo` and ask all adapter to update.

You can find info here http://prebid.org/dev-docs/bidder-adaptor.html#referrers

[2018-10-29 16:02] pycnvr commented on #3046
Looks good.  It's great that GDPR for publishers will be taken into account.  A few questions from pubCommonId perspective.

1. PubCommonId doesn't reach out to servers to obtain or sync ID's.  Rather, the id is generated locally and stored.  I guess the logic flow would be something like this: Universal ID module checks storage for id first.  If not found then wait till the sync phase and pass th

[2018-10-29 18:15] bretg commented on #3185
Sorry, the `dfpAdServerVideo` module supports only one video ad unit per auction. You have two choices:

1) if you're trying to get different ads into two different players, then run each player as a separate auction. This will mean you'll have different bidsBackHandler sections so you can pass in different DFP ad units

2) if instead you have a player that can handle two different adunits in the

[2018-10-29 18:15] #3185 closed

[2018-10-30 07:31] cwbeck commented on #3209
@mkendall07 -My original question was around the ability to pass ```document```. I'm now thinking of changing the prebid namespace to avoid issues instead of using an iframe. I don't suppose if you know if prebid namespaces are fully supported by renderers?

[2018-10-30 19:51] #2922 closed

[2018-10-30 20:36] piotr-yuxuan opened #3243 "Minor: add Adikteev bid adapter params description in release note"
Just a minor thing: it looks like somebody forgot to add Adikteev bid adapter params in the PR release notes.

https://github.com/prebid/Prebid.js/releases/tag/1.30.0

Would you mind fix it if possible? Thanks.

[2018-10-31 10:08] freegames66 commented on #2623
I have the same problem. When i use `endpoint: 'https://prebid.adnxs.com/pbs/v1/auction',` <= It does not return a 400 error. However, I'm not sure the prebid server is actually working.

What is the difference between:
`endpoint: 'https://prebid.adnxs.com/pbs/v1/auction',`
and
`endpoint: 'https://prebid.adnxs.com/pbs/v1/openrtb2/auction',`

Does anybody have a solution for this?

[2018-10-31 10:11] freegames66 commented on #2992
Any update about this feature?
Recently, I received a notification from **districtm** that they were not allowed to use bid caching. So, how to turn it off?

[2018-10-31 12:38] dbemiller commented on #2623
There are a _lot_ of differences between the two.

`https://prebid.adnxs.com/pbs/v1/auction` hasn't been maintained for a very long time now. It tends to lie (return 200s with no bids) when you're sending it bad data, doesn't support all the bidders in [the docs](http://prebid.org/dev-docs/prebid-server-bidders.html), and sometimes uses different bidder params.

`https://prebid.adnxs.com/pbs/v1/op

[2018-10-31 13:26] salvoaranzulla opened #3246 "Rubicon and differnet mediaTypes"
## Type of issue

It's a bug with Prebid 1.30.0 and Rubicon adapter.

## Description

I'd like to run different mediaTypes (banner and video "outstream") in the same adUnit. I'd like tu run display+outstream with AppNexus and just banner with Rubicon.

If I edit my mediaTypes in this way:

                    mediaTypes: {
                        video: {
                            context: 'outs

[2018-10-31 13:54] jsnellbaker commented on #3191
This should be addressed in the next release (1.31.0) via the above PR.

[2018-10-31 13:54] #3191 closed

[2018-10-31 19:49] freegames66 commented on #2623
This is my prebid config: [https://www.freegames66.com/assets/js/hb/v7/bid5.js](https://www.freegames66.com/assets/js/hb/v7/bid5.js)
Please help me check this @dbemiller

Thank you in advance!

[2018-10-31 22:47] #3079 closed

[2018-11-01 12:55] jsnellbaker commented on #3179
If you append `?pbjs_debug=true` in the page URL's query section and open the console tab in the browser's developer tools, you should see the log messages from prebid as it loads on the page.  Part of these messages will include a message that looks like:
`INFO: Bids Requested for Auction with id: 63e89319-f203-4ac7-9873-4c386c1d67c5 : params`

There's an expandable object in that log line that c

[2018-11-01 14:28] bretg commented on #3243
Done

[2018-11-01 14:28] #3243 closed

[2018-11-01 14:37] bretg commented on #3226
I agree that a warning would be appropriate. Happy to take PRs on that.

As for your use case, I suspect the main shortcoming is documentation. Please help me understand how your use case differs from http://prebid.org/dev-docs/conditional-ad-units.html#what-if-some-bidders-should-be-skipped-for-some-devices .

i.e. why did you feel duplicate mediaQueries were necessary? Our model is meant to be s

[2018-11-01 23:48] robertrmartinez commented on #3246
@salvoaranzulla

Hi! We will get a permanent fix in for the next PBJS release `1.31.0` this coming Tuesday.

However, if you want an immediate workaround you can try to specify the banner sizes you want inside of the rubicon params object like so:

[code]

Where 15 and 16 are the rubicon size ids we map from your banner sizes in your example.

This effectively overrides the multiformat adUnit to b

[2018-11-02 00:50] eliseumds commented on #3226
I can't have the same set of sizes per media query only because they vary depending on where my ads are placed on the page.

I was overlapping media queries because I believed the set of labels I passed together with each one of them to the *sizeConfig* would both act as filters, together. This is useful when you have ads in different sections of your page, and different sizes depending on the win

[2018-11-02 01:36] GLStephen commented on #3226
We have encountered similar challenges in this area. The DFP approach is to map a full config to an ad unit. With merging of media queries you can create variations for an ad unit activated by screen size. As far as I can tell there is no way to solve the above scenario with duplicating ad unit config. If instead the active media queries turned on labels and filtered sizes on the ad unit then the

[2018-11-02 03:59] freegames66 commented on #2623
Can anyone help me look at this issue?

[2018-11-02 09:33] freegames66 opened #3252 "Instream Video without DFP"
Is there any solution like **Postbid** so that we can use **Instream Video ads** without **DFP**?

[2018-11-02 14:22] GLStephen commented on #3226
@bretg @eliseumds after some more discussion internally here I would propose two changes:

1. let them overlap
5a. allow sizes to be set on the BID separate from the bidder parameters

Then, allow labels to be created by the mediaQueries. Essentially, like a shortcut to adding them manually. Where the concept of "overlapping" is non-existent. Then make the sent size config for a given bid the inte

[2018-11-02 15:38] polapi commented on #3108
I haven't got an answer, so by sending this comment I hope to reopen this question.

[2018-11-02 15:39] polapi commented on #3108
Well, it didn't work out, so I'll reopen this as a new one.

[2018-11-02 15:40] polapi opened #3255 "Automatic detection of placement's size question"
**Type of issue**
Question

**Description**
A partner I work with uses "smart" way to automatically detect size of ad. So you don't need to create "creatives" of all possible sizes and choose them at specific resolutions. To detect size of current ad slot they use common set of ad unit's sizes and sizesSupported of label. It seems to me that's wrong approach which results in ads of wrong size disp

[2018-11-02 16:23] ReinoutStevens opened #3256 "mediaType.Banner is added when only requesting video"
## Type of issue
Bug

## Description
When requesting only a videoAd somewhere mediaTypes.banner.size is added by prebid.
The rubicon adapter warns that a multisize ad is requested (and not yet supported).
This is not visible when asking pbjs.adUnits, where the correct mediaType is present, but tracing auction the banner mediatype is added somewhere

## Steps to reproduce
Request a videoAd:

[code]

[2018-11-02 20:22] arjitsachdeva opened #3259 "Refresh bids not working on IE11 - v1.28.0"
## Type of issue

We're seeing a console error in the refreshBids call on all ad units, only on IE11. It is working fine on all other browsers including Edge. Screenshot attached:

<img width="1419" alt="screen shot 2018-11-03 at 1 46 39 am" src="https://user-images.githubusercontent.com/5327819/47938705-efc2fb00-df0a-11e8-8cf7-2312ae1968d9.png">

The function for refresh is the standard one from

[2018-11-02 20:32] mkendall07 commented on #3259
hmm are you sure the error is not from `ima3.js` ? We do test our code against IE 11 so I'd be surprised if this issue was inside prebid.js.

[2018-11-02 20:51] arjitsachdeva commented on #3259
Thanks for the response, @mkendall07 . Yes, I don't think it's an ima issue because the same refresh code was working fine on all browsers and broke only on IE11.

However, I just updated prebid to the latest v1.30 release and it seems that the refreshBids function worked well on IE 11. I'll keep you posted after a couple more tests for a confirmation.

[2018-11-02 22:18] redemption commented on #2860
Hi @bretg - some great examples of how to work around the global sizeConfig setting.

I wonder if you can apply your workaround concept to a slightly different scenario:

Say you have a responsive design where there's a 300x250 either in the right column or a different 300x250 in the main column depending on desktop vs mobile layouts (respectively).

So in a desktop, Ad_300x250_1 displays
In a mob

[2018-11-05 10:29] soman opened #3262 "How to check prebid performance?"
## Type of issue
question

## Description
How to check prebid performance? Would you please give some information so that i can check prebid performance. I have added 2 test page. One is with dfp express and another one is without dfp express.

## Test page
With DFP Express:
https://stage.thisoldhouse.com/header_bidder/test_prebid_appnexus_with_dfpexpress.html?pbjs_debug=true

Without DFP Express:

[2018-11-05 20:52] dbemiller opened #3265 "Prebid Server cookie sync race condition"
## Type of issue
Bug

## Description

There's a race condition in the `prebidServerBidAdapter` cookie sync code: https://github.com/prebid/Prebid.js/blob/master/modules/prebidServerBidAdapter/index.js#L119

Prebid Server's /setuid endpoint behaves like so:

1. Unpack the Cookie sent in the request, to get existing user IDs.
2. Update the data inside the Cookie with the new Bidder/UID
3. Respond wi

[2018-11-05 22:39] patmmccann commented on #3205
What's a good way to validate cached bids win occasionally?

[2018-11-05 23:00] tr-coull opened #3266 "Demand with deal-targeted line item doesn't win over highest HB"
## Type of issue
Question

## Description
We are updating our implementation to use Google Ad Manager and want deal-targeted line items to be prioritised over the highest-cpm header bidder, but the highest bidder seems to always win. The dev implementation is based off the basic example here: http://prebid.org/adops.html and we've followed the AdOps guide here: http://prebid.org/adops/deals.html

[2018-11-06 01:43] headerbidding commented on #3178
@bretg  Could you please explain what DFP Express is.
I use DFP (now called GAM) but I am mot familiar with the "Express" part.
I did a search, but could not find a definition.
Please explain.

[2018-11-06 02:01] headerbidding opened #3267 "There are two EMX Digital adapters in http://prebid.org/download.html"
There are two EMX Digital adapters in  http://prebid.org/download.html to chose from.
Is this by design?
If so, what is the difference?

[2018-11-06 07:33] SliriK commented on #3267
Hi @headerbidding

If I am not mistaken, the two adapters are meant to be there by design. The first one that was available for a while is the alias in the AppNexus adapter for EMX Digital (formerly known as bRealTime) - that is the one with biddercode='emxdigital'. The other one is a newly submitted EMX Digital adapter that was released with Prebid.js v1.31.0 - the one with biddercode='emx_digita

[2018-11-06 14:16] tr-coull commented on #3266
Update: we got the deal-related line item winning by giving the targeted line item a unique creative with the code `w.pbjs.renderAd(document, '%%PATTERN:hb_adid_rubicon%%');`, but this means we'll need to create a unique line item _and_ unique creative for every deal, which seems long-winded.

Does anyone know a better way to set up GAM, so we don't need a new creative for every deal?

[2018-11-06 15:57] EMXDigital commented on #3267
Correct, the two adapters are there by design. And our new EMX adapter provides access to the EMX marketplace, providing more demand that is unavailable through our aliased adapter. We will also be sunsetting our aliased adapter in the coming months.

[2018-11-06 16:59] mjwhaley opened #3268 "Logging data from bidWon, bidRequest, bidTimeout events to a database."
We are starting to log some of the data from the following events into Google BigQuery

bidWon
bidRequest
bidTimout

We are looking to be have much more granular knowledge of SSP bids/timeouts and bids won revenues.

**This is where we are facing some issues**. The first step to this is being able to reconcile bidWon events  at some level to SSP revenue data. From current stats we are seeing aroun

[2018-11-06 17:51] jaiminpanchal27 commented on #3268
@mjwhaley
Since you specifically asked for bidWon event, creative rendered is firing some impression tracker and the same is not reflected via analytics adapter.

Which analytics adapter are you using ? There are some who queue up all the data and hit the endpoint on AUCTION_END event.

[2018-11-06 19:04] mjwhaley commented on #3268
@jaiminpanchal27 Thanks for your response.

We aren't using an analytics adapter at all. We are recording the data and then going to use Google Data Studio and Salesforce Analytics via Google BigQuery to visualise the data.

Right now it's the bidWon event we are focusing on. I'm expecting our records to be slightly higher than the SSP data and thus we should be able to create live ish data on rev

[2018-11-06 20:58] jdelhommeau opened #3269 "banner mediaTypes always added in bid despites provided mediaTypes in adUnits config"
## Type of issue
Bug

## Description
If you try to setup an adUnit with mediaType video only, the mediaType banner is automatically added when calling the different bidders, which results in bidders making call for both video and banner instead of video only

## Steps to reproduce
1 - Create a basica prebid test page with a video mediaTypes:
pbjs.addAdUnit({
    code: 'video1',
    mediaTypes: {

[2018-11-06 21:02] #3259 closed

[2018-11-06 23:49] tianyi-cong opened #3270 "bidResponse fired after auctionEnd fired before timeout"
We recently upgrade Prebid from 0.34 to 1.24, I noticed bidsBackHandler got triggered before the timeout, but there are more bid responses come in after that. That never happened before, so I'm trying to figure out what could be the issue as it should only be triggered either timeout or got all bid responses back.

With 0.34, When bidsBackHandler got triggered, I can see all the bids(include fill

[2018-11-07 01:00] EMXDigital commented on #3267
Correct, the two adapters are there by design. The plan is to migrate all of our prebid integrations to the new EMX adapter which will provide our publishers with more access to quality demand.

[2018-11-07 16:16] jaiminpanchal27 commented on #3270
@tianyi-cong There was a bug introduced in 1.24 release. We did a patch release https://github.com/prebid/Prebid.js/releases/tag/1.24.1

Here is the fix we did https://github.com/prebid/Prebid.js/pull/3096

[2018-11-07 18:34] snapwich commented on #3269
Definitely a bug.  Made a pull-request with a fix.

[2018-11-07 19:13] jsnellbaker commented on #3221
This issue was fixed and included in the 1.31.0 release (that just came out yesterday).  If you have any additional questions/concerns on this topic, please let us know and we'll be happy to help.

[2018-11-07 19:13] #3221 closed

[2018-11-07 20:56] tianyi-cong commented on #3270
Ah, I see. I need to update the library ASAP then. I guess I need to pay more attention to the new releases. Thanks for the help @jaiminpanchal27!

[2018-11-07 20:56] #3270 closed

[2018-11-08 09:44] ReinoutStevens commented on #3269
I submitted a similar issue a couple days earlier: https://github.com/prebid/Prebid.js/issues/3256
You may want to close my report

[2018-11-08 15:22] jsnellbaker opened #3277 "Update logic in sizeMapping - sizesSupported respects active label(s) in adUnit"
## Type of issue
Feature Request

## Description
The interaction between the `sizes` fields in an `adUnit` (whether `adUnit.sizes` or `adUnit.mediaTypes.banner.sizes`) and the sizeConfig is not entirely intuitive and (depending on your perspective) does some unexpected things in certain scenarios.  The logic that's used in these scenarios should change.

### Summary of the proposed changes
We woul

[2018-11-08 15:39] jsnellbaker opened #3278 "Prebid 2.0 - List of Planned Changes"
## Type of issue
Feature Request

## Description
The 2.0 release of Prebid.js will be coming in relatively near future.  Below is a running list of items that are currently slated to be included in the 2.0 release of Prebid.js.

- add an enable/disable toggle to bid caching and turn off bid caching by default.

The goal of the 2.0 release is to include a number of key updates that are considered b

[2018-11-08 17:08] mkendall07 commented on #3211
@jcswart
Sorry for the delayed response. you can see the params here:
https://github.com/prebid/Prebid.js/blob/master/modules/appnexusBidAdapter.js#L498

[2018-11-08 20:58] bretg commented on #3046
Ok - I took a cut at integrating all features of PubCommonID into this proposal.

@mkendall07 - this is now complicated enough to warrant a review. Perhaps we can do that in the next PBJS PMC meeting?

[2018-11-08 21:14] snapwich commented on #3256
closed as duplicate of #3269

[2018-11-08 21:14] #3256 closed

[2018-11-08 21:34] jrosendahl opened #3281 "Analytics Adapter is unable to get original bid values"
## Type of issue

Bug?
## Description

As far as I know, the first chance Analytics adapters have at getting bid response information is at the BID_ADJUSTMENT event.

However, since the event system is synchronous, it matters what order events are added to the event stack.

Currently, the actual bid adjustment is/ can be called the analytics adapter is called.  Therefore, the analytics adapter onl

[2018-11-09 03:49] Slind14 commented on #3115
**Updated** split buyer into buyer and network. AppNexus reports the mix of both but most other exchanges do not. We also wont the lowest level of granularity.

[2018-11-09 03:53] Slind14 commented on #3115
**Updated** added IAB Category ID

[2018-11-09 18:31] bretg commented on #3226
Sorry, but can you guys please put together actual PBJS sizeConfigs and AdUnits showing the problem?

There's still a disconnect somewhere because I don't really feel your pain yet other than that this works differently than DFP. I follow that the current sizesSupported model means that you can't get away with just one PBJS AdUnit that's radically different across screen sizes. That seems ok -- it

[2018-11-09 22:34] snapwich commented on #3278
I noticed you mentioned fixing the confusing interaction between `adUnit.sizes` and `adUnit.mediaTypes.banner.sizes` in the size mapping issue.  Maybe 2.0 is a good time to remove `adUnit.sizes` entirely?

[2018-11-11 19:18] #3194 closed

[2018-11-12 09:10] ethyde opened #3287 "Add the ability to dynamically import prebidJS"
## Type of issue
Feature Request

## Description
At this moment the only solution i know to import PrebidJS has a part of project are the one from [How best to include Prebid.js as part of a bigger project?](https://github.com/prebid/Prebid.js/issues/1853). But it seems that it is not possible to use [dynamic import](https://webpack.js.org/guides/code-splitting/#dynamic-imports) with the generated

[2018-11-12 13:34] soman opened #3288 "Benefit of Publisher Common ID"
## Type of issue
question

## Description
I have created a test page. I am able to see below json from pbjs.requestBids
"crumbs":{
         "pubcid":"c4a4c843-2368-4b5e-b3b1-6ee4702b9ad6"
      },

I will be very happy if someone explain to me what is the benefit of 'pubcid'?

## Test page
https://stage.thisoldhouse.com/header_bidder/test_prebid_appnexus_with_publisher_common_id.html?pbjs_debug=tr

[2018-11-12 15:56] fernandolobao commented on #1157
Did someone find a fix for this? I'm implementing the 1.31 version of prebid and this is happenning with 90% of ads.

[2018-11-12 17:22] bretg commented on #3288
It's just a way to create a pub-specific advertising ID for a user -- provided as a service to publishers so they don't have to do it themselves.

Please watch https://github.com/prebid/Prebid.js/issues/3046 for the implementation of an ID module that should have broader impact.

[2018-11-12 17:22] #3288 closed

[2018-11-12 17:48] smartbidder1 opened #3290 "TripleLift creative ID issue"
## Type of issue
bug

## Description
when requesting an ad from triplelift bidder the response contains id, impid and nurl.
none of those parameters are unique per ad (creative id), and we can't identify an ad in that way (to blacklist for example).
any other partner are indeed returning a creative id (appnexus, Rubicon etc..)
https://github.com/prebid/Prebid.js/issues/2374 for example had the sam

[2018-11-12 21:45] patmmccann commented on #3267
Can they run simultaneously during transition testing?

[2018-11-13 09:53] benjaminclot commented on #3269
Maybe for 2.0: being able to force a mediatype at the bid level could be a great feature.

[2018-11-13 10:01] benjaminclot commented on #3277
Isn't this more a bugfix than a feature? 🤔

[2018-11-13 13:16] jsnellbaker commented on #1157
@fernandolobao I don't believe there were any changes made for this issue.  If you are still seeing a problem, can you provide a test page that demonstrates the issue so we could review?

[2018-11-13 13:19] bjorn-lw commented on #2781
This one just came and bit me. Can the documentation please be updated so that it doesn't state that zero allows unlimited number of user syncs?

[2018-11-13 13:56] jsnellbaker commented on #2781
Thanks all for commenting on this issue.  At the moment, I would suggest to do what @YOzaz recommended and set a higher value for the `syncsPerBidder` field if you find there is a large number of pixels to sync for a particular bidder.

I did verify the `0` value for the field isn't working and we'll look to fix this bug.  I'm not sure how soon it'll be addressed; I'll update this issue when a fix

[2018-11-13 15:13] HendrikPetertje commented on #1157
We eventually went the hacky way with this. Google DFP would return an iframe object to us that has margin and padding set to 0, so this is happening purely when rendering prebid.js ads without google dfp. we are actually dealing with some very "high-end" advertisers nowadays that attempt to make scrollable ads, our hacky code also deals with that.

So right now we have this:

[code]

Not a beauty

[2018-11-13 18:30] bretg commented on #3226
@GLStephen, @eliseumds - can you imagine your scenarios being supported if we supported a per-adunit SizeConfig?

[2018-11-13 19:03] GLStephen commented on #3226
@bretg I think that it would. That approach would be the most flexible and align more closely with GPT responsive config. I'd have to think a bit more about turning adunits off and on which is handled well now in every instance we've tried. Labels could be relegated to flags and would align with the merged, non-overlapping approach. Then sizes at various places would be bidder specific and would a

[2018-11-13 19:20] bretg commented on #3226
@mkendall07 - consider this 3 community votes for supporting a per-adunit override for sizeConfig. We should spend some time spec'ing the interaction.

[2018-11-13 20:39] jsnellbaker commented on #3281
@jrosendahl This is overall per design, since in the larger scheme - these adjusted bids are the items that get added to the auction.  There's a subsequent event BID_RESPONSE that actually represents the finalized bid being added to the auction.  So this isn't really a bug.

This would be more of a feature request to add a new event that would trigger when we originally receive the response.  I kn

[2018-11-13 22:02] eliseumds commented on #3226
@bretg I also agree that per-bid size configs would make it easier to understand and more powerful.

[2018-11-14 06:31] freegames66 commented on #3252
Can anyone help me?

[2018-11-14 07:05] freegames66 opened #3293 "How do I know if a user has clicked on the skip button or an outstream video Ad has ended?"
How do I know if a user has clicked on the skip button or an outstream video Ad has ended?
Are there any events for them?

![capture](https://user-images.githubusercontent.com/33347377/48465677-3e7b6980-e816-11e8-8de8-57fed44baa55.PNG)

[2018-11-14 07:12] sudhakarsukumar opened #3294 "Video Js - Prebid Instream Client-Side Adapter"
http://prebid.org/examples/video/videojs-demo.html  - while skipping the ads the ad gets played continuously and the video content was not playing.

[2018-11-14 14:31] #3219 closed

[2018-11-14 16:13] jsnellbaker commented on #3293
Prebid.js doesn't have any tracking for VAST events.  This would likely be something at the adserver level, since they're the ones who setup the creative and would enable tracking for these events (if it's available for outstream type ads).

[2018-11-14 16:13] #3293 closed

[2018-11-14 20:08] nanek commented on #3138
I was able to identify the issue with viewability dropping, so this is no longer an issue for us.

We use https://github.com/turbolinks/turbolinks and smartadserver was taking the adUnit.code value (the divId) and injecting CSS into the document HEAD that would hide any div that had an id that was not prefixed with a value they expected. This CSS would persist between pageviews as the HEAD element

[2018-11-14 20:31] #3222 closed

[2018-11-14 21:12] benjaminclot commented on #3226
@bretg I concur @GLStephen and @eliseumds, although configs will be more painful to write.

[2018-11-15 08:54] freegames66 opened #3299 "net::ERR_CERT_SYMANTEC_LEGACY - Appnexus Prebid Server"
Today, I received an SSL error with prebid.adnxs.com (Check out the screenshot below)
I'm using Google Chrome Version 70.0.3538.102 (Official Version) (64 bit)

![ssl1](https://user-images.githubusercontent.com/33347377/48541140-8cfc3700-e8ee-11e8-9bef-fc5b7922798d.PNG)
![ssl](https://user-images.githubusercontent.com/33347377/48541139-8cfc3700-e8ee-11e8-9a17-833bc9001b66.PNG)

I have checked on F

[2018-11-15 13:11] nanek opened #3301 "oneVideo adapter fails to bid/forces prebid time out in Safari"
## Type of issue
Bug

## Description
oneVideo adapter fails to bid/forces prebid time out in Safari.

Works fine in other browsers.

## Steps to reproduce
Use oneVideo adapter in Safari.

## Test page

### Expected results

### Actual results

## Platform details

## Other information

[2018-11-15 14:59] freegames66 commented on #3299
Anybody has the same problem as me?

[2018-11-15 15:38] jsnellbaker commented on #3299
@freegames66 Can you share the page where you're seeing this error?  I tested one of our test pages that use Prebid Server and I wasn't seeing these errors.

[2018-11-15 15:51] freegames66 commented on #3299
@jsnellbaker Pls help me check this problem on this page: https://www.freegames66.com/sports/return-man-3/

And what about 400 error - Bad Request on firefox?

[2018-11-15 16:07] jsnellbaker commented on #3299
I was having trouble trying to enable the debug settings (by appending `?pbjs_debug=true` to the url) as the page immediately reloaded without the query params.

However when I checked the auction URL in the Network tab - I looked at the response and saw the following:
[code]

When I checked the request structure, I saw the rhythmone object only contained `placementId` and it appeared to have an i

[2018-11-15 16:27] freegames66 commented on #3299
@jsnellbaker Thank you for helping me find the cause of the 400 error.

I still see cert errors. Have you using google chrome 70.xxx version?  I saw an article talking about this issue. It only appears on Google chrome 70.xxx -> https://knowledge.digicert.com/alerts/ALERT2566.html

[2018-11-15 16:45] jsnellbaker commented on #3299
@freegames66 I am using Chrome 70.x (specifically `Version 70.0.3538.102 (Official Build) (64-bit)`).  I'm checking internally with some folks to see if they can advise.

[2018-11-15 16:45] freegames66 commented on #3299
@jsnellbaker I have change rhythmone placmentId to string:
`{
                                bidder: 'rhythmone',
                                params: {
                                    placementId: '76924'
                                }
                            }`

But, I continue get error:
[code]

what is **path** and **zone** for rhythmone adapter? I don't see this on http://prebi

[2018-11-15 16:57] jsnellbaker commented on #3299
@freegames66 I'm not sure what the values should be.

@Rajeshk08 and/or @jstocker76
Could you take a look at the question above in regards to the `rhythmone` adapter bidder params?  The bidder params seem to be out of sync between PBS and Prebid.js.

@freegames66 In regards to the cert error in Chrome, could you provide the IP address your currently using?  Someone is taking a look but they noted

[2018-11-15 16:59] freegames66 commented on #3299
IP Address | 117.5.172.195
-- | --

[2018-11-15 17:03] #3269 closed

[2018-11-15 17:17] jsnellbaker commented on #3299
@freegames66 Where are you located?

[2018-11-15 17:18] freegames66 commented on #3299
@jsnellbaker I'm from Viet Nam.

[2018-11-15 17:34] freegames66 commented on #3299
![1](https://user-images.githubusercontent.com/33347377/48570630-58609d80-e937-11e8-8887-775399241baa.PNG)

[2018-11-15 17:56] jsnellbaker commented on #3299
@freegames66 Thanks for all the information.  I just received word that there was something on our end and we just rectified the problem.  The error should no longer be showing at this time.  Can you confirm?

[2018-11-15 18:02] freegames66 commented on #3299
@jsnellbaker All is fine now. Thank you very much for your support and your time!

I also got a response from my account manager at Rhythmone. If anyone is experiencing 400 bad requests like me, set your Rhythmone adapter to something like:
[code]

[2018-11-15 18:07] jsnellbaker commented on #3299
Thanks @freegames66 for the confirmation; if we're all good on this ticket then - I'm going to close it out.

[2018-11-15 18:07] #3299 closed

[2018-11-16 16:31] vkimcm opened #3308 "Custom adserver targeting applied to other bidders"
## Type of issue
We have custom adserver targeting for one bidder, for example,
[code]
### Expected results
bidder1 has standard targets
bidder2 has standard targets and custom targets

### Actual results
bidder1 has standard targets and custom targets
bidder2 has standard targets and custom targets

[2018-11-16 16:40] polapi commented on #3255
Hi, I still wish to know the answer, so I am commenting on the issue so it won't be closed.

[2018-11-16 17:36] bretg commented on #3046
Spoke with DigiTrust - added a couple of minor tweaks to support their involvement in this.

[2018-11-16 17:49] jrosendahl commented on #3281
The use case is to improve publisher analytics by allowing an Analytics Adapter to collect the actual bid values instead of the only adjusted bid values.

One use for this data would be to determine what the win rate for a specific bidder would be under different adjustment criteria.  Depending on the how advanced uses of bid adjustments is, it may not be straight forward to recreate the original

[2018-11-16 18:15] GLStephen commented on #3281
@jrosendahl IMO, an "original_bid" value on the existing bid_response event would be the best approach.

[2018-11-16 18:18] mkendall07 commented on #3281
I agree, I thought we already had this tbh

[2018-11-17 01:04] headerbidding commented on #3262
What is DFP Express?

[2018-11-17 14:37] whatisjasongoldstein opened #3309 "The highest bid isn't winning"
## Type of issue

Bug?

## Description

The highest bid is not always the bid assigned by `pbjs.setTargetingForGPTAsync` when `enableSendAllBids=false`.

## Steps to reproduce

Compare `pbjs.getBidResponses()` to `pbjs.getAdserverTargeting()`. In our testing with the IX module, we saw ixBidAdapter return two bids for a slot, and the lower dollar amount was assigned.

### Expected results

The high

[2018-11-17 19:47] webdeveloperpr opened #3310 "What is the correct way to build prebid when using it from NPM?"
## Type of issue
What is there a correct way to build prebid.js in a repeatable manner?

## Description
The building instructions are pretty vague and it seems like there are many ways that someone could build a custom prebid.js build. Here is how I am building prebid.js right now.

## Steps to reproduce

package.json
[code]

prebid.sh file ( file has been given execute  permissions chmod +x)
[cod

[2018-11-19 08:49] ethyde commented on #3310
Or you can do with a npm script from the package.json located at the root of the project
[code]
But I think that Prebid needs to find a better solution to be used in a larger project.

[2018-11-19 09:59] YOzaz commented on #3309
I can't 100% confirm, but from our observation that's something we've noticed as well.

[2018-11-20 02:14] headerbidding commented on #3178
What is DFP Express?
I did a search, but could not find a definition.
Can anyone explain???

[2018-11-20 08:58] #3209 closed

[2018-11-20 22:24] #2805 closed

[2018-11-21 20:15] mkendall07 commented on #3115
@Slind14
I updated it a bit. Let me know what you think. I dropped creativeId and DealId because they already exist on `bid` and I don't think we need to make a breaking change just to move them.

[2018-11-21 22:00] Slind14 commented on #3115
Looking good. I have added network name for convince. For clarity and order I think it could be of benefit to include the deal and creative id in the meta data, be it by keeping a duplicate in the parent object or depreciating the duplicate with the next breaking version.

[2018-11-22 11:59] DubKF opened #3320 "User Sync Module - Allow multiple user syncs for long page sessions (e.g. on gaming sites)"
## Type of issue
Feature Request

## Description
For rather long user sessions as they are typical e.g. for online gaming it might be useful to allow more than 1 user sync per page load at least as long as a common Identity framework isn't widely used.

Currently this is not possible, because a private variable "hasFired" is being set after the 1st sync and prevents future calls in the same sessio

[2018-11-22 14:36] #3179 closed

[2018-11-22 19:31] headerbidding commented on #3309
This should be fixed!

[2018-11-22 22:02] chefbenjamin commented on #3115
This is a great addition. coming from the publisher side, what are the chances this info can be added into the bids and winning bids scripts ? ie http://prebid.org/dev-docs/troubleshooting-tips.html#see-all-bids-in-the-console and http://prebid.org/dev-docs/troubleshooting-tips.html#see-all-winning-bids-in-the-console The ability to see this would help a great deal in previewing bad creatives and

[2018-11-23 00:36] #3246 closed

[2018-11-26 20:17] brittanyzellman commented on #3290
@smartbidder1
https://github.com/prebid/Prebid.js/pull/3324
sorry for the delay here.

[2018-11-26 23:21] #3205 closed

[2018-11-27 06:19] Anish-Mohan opened #3328 "prebidjs download page"
## Type of issue
prebid.js file not fully built

## Description
i selected all bidders from http://prebid.org/download.html url
then downloaded the prebid.js
but when executing that prebid.js file i faced following error

{"error":"Prebid file not built properly","requestId":"0d686740-3ebc-4282-99b6-16e9cd284e93"}

## Steps to reproduce

## Test page

### Expected results

### Actual results

## P

[2018-11-27 12:21] Saigredan opened #3330 "flatmap-stream package deleted"
## Type of issue
BUG

## Description
According to current news, e.g. https://www.zdnet.com/article/hacker-backdoors-popular-javascript-library-to-steal-bitcoin-funds/,  flatmap-stream is down, which means  event-stream down, which means gulp connect and gulp replace are down. That implies general problem with building Prebid.
Are there any plans to fix this issue?

[2018-11-27 12:46] ReinoutStevens opened #3331 "Telaria adapter - GenerateUrl: Bid sizes is empty"
## Type of issue

When requesting a video ad the method `generateUrl` expects `bid` to have a `sizes` array. In our test setup this appears to be empty for Telaria.

We pass `playerSize`, so a size should be known:

[code]

## Test page
http://jsfiddle.net/9uchz0mb/1/

## Platform details

Prebid 1.33.0
The bug does not occur in version 1.32.0. This PR may have modified the behavior ( https://gith

[2018-11-27 13:55] muuki88 commented on #3330
Fix in `gulp-connect` https://github.com/AveVlad/gulp-connect/pull/259

[2018-11-27 15:09] Saigredan commented on #3330
Also need a change in gulp-replace verson in package.json up to at least 0.6.0

[2018-11-27 18:22] bwoolcott commented on #3309
@whatisjasongoldstein is this only an issue for the IX bid adapter or are you seeing it as a general Prebid issue? Also, when checking pbjs.getAdserverTargeting() did you also compare those values to the request query string params (scp query) in the call to GPT to confirm KV targeting there? Looking to confirm if this is a targeting issue or just an issue of what's contained in getAdserverTargeti

[2018-11-27 18:29] bwoolcott commented on #3262
@soman Have you looked through the prebid.org troubleshooting documentation and followed those steps?

http://prebid.org/dev-docs/prebid-troubleshooting-guide.html
http://prebid.org/dev-docs/troubleshooting-tips.html
http://prebid.org/dev-docs/common-issues.html
http://prebid.org/videos/
etc.

[2018-11-27 18:32] bwoolcott commented on #3178
@headerbidding The DFP Express module documentation is linked above (http://prebid.org/dev-docs/modules/dfp_express.html) and the actual module code is here: https://github.com/prebid/Prebid.js/blob/master/modules/express.js

[2018-11-27 18:35] bwoolcott commented on #3294
@sudhakarsukumar are you just pointing out an issue with the test/example page? Or an issue you're having with Prebid video in production?

[2018-11-27 19:39] headerbidding commented on #3178
@bwoolcott  Yes, I had looked at it. Unfortunately it does not explain what DFP Express is.

[2018-11-27 20:04] #3268 closed

[2018-11-28 21:02] pboisso commented on #2860
Are there any consideration for just reading the actual DFP sizeMapping like Amazon HB solution is doing?  No need to define sizes anywhere else than in our standard DFP tags, the HB config reads the details from there.

[2018-11-29 13:58] GLStephen commented on #3330
Is there any guidance regarding effected versions of Prebid?

[2018-11-29 14:30] muuki88 commented on #3330
AFAIK distributions aren't affected as only build dependencies (`gulp-connect`, `gulp-replace`) used the malicious dependency.

[2018-11-29 14:34] GLStephen commented on #3330
Ok, thanks for the confirmation.

[2018-11-29 15:50] jsnellbaker commented on #3330
I will put together some changes for these gulp packages, however it seems we need to wait on the `gulp-connect` and `gulp-footer` updates.  Will keep an eye on this.

[2018-11-29 17:49] #3211 closed

[2018-11-30 06:30] #3328 closed

[2018-11-30 09:18] freegames66 opened #3342 "Lost $ 11,926.44 USD caused by bid caching"
I have faced a big problem with bid caching when working with **districTM**. I hope that there is representative of both **districTM** and **Prebid.org** here to help me solve this problem.

Recently, We have been deducted a sum of **$ 11,926.44 USD** by one of our header bidding partner.

The reason they came up is that we are using bid caching and districTM does not allow that.

### There are so

[2018-11-30 10:55] Saigredan commented on #3330
@jsnellbaker why not using temporal forks?

[2018-11-30 12:37] YOzaz commented on #2668
Hi guys, any updates on this? Rubicon does not have, and is not planning to add their player to outstream video bids. This basically leaves a hard choice on bidding - either Unruly + SpotX + Teads (e.g.), either Rubicon alone.

[2018-11-30 15:15] chadex commented on #3342
You want to verify the volume of cases through analysis of the the log-level data. It's important you agree on the specific cases warranting a each billing adjustment. I've launched a log-level reporting service Viewex Bid Data specifically for this purpose. I'm happy to look over the data FOC. Email me on lee@viewex.co.uk

[2018-11-30 19:20] polapi commented on #3255
Hi, I still wish to know the answer, so I am commenting on the issue so it won't be closed.

[2018-11-30 20:30] rale commented on #3342
It was probably due to the changes that happened with getHighestCpmBids. Take a look at #2959.

[2018-11-30 20:31] df-districtm commented on #3342
I feel I need to clarify some things here, as CIO of District M.

First, your assertion that you

 is wrong.

Second, this was for another account under the name BidGear, which we just now realize was the same person as FreeGames666, another site where we noticed the same behaviour to a lesser extent. I feel this needs to be clarified.

The situation we identified was the following, which we attri

[2018-11-30 21:58] whatisjasongoldstein commented on #3330
So I'm not able to install Prebid _at all_ right now?

[2018-11-30 22:09] bretg commented on #3342
@freegames66 - While Prebid.org can't mediate this issue between you and the SSP/DSP, we do appreciate the chance to make sure there aren't issues in Prebid.js.

@df-districtm has clarified the source of the discrepancy as "notifications for bids generated back when it was providing the initial notification pixel"... days earlier. So this shouldn't be related to the Prebid.js bid reuse feature, wh

[2018-11-30 22:09] #3342 closed

[2018-11-30 22:47] bretg opened #3344 "TTL too high in RhythmOne adapter"
@Rajeshk08 - are you the new maintainer of the RhythmOne adapter? The currently listed maintainer's email bounces.

We've done a review of the bidReponse.ttl parameters written by all adapters because we found a documentation mistake. One of the pages on prebid.org mistakenly listed the TTL as being milliseconds, while another page listed it properly as seconds.

Your adapter is setting the ttl to

[2018-11-30 23:31] nanek commented on #2668
As a work-around, I was able to add the adUnit twice, once with a renderer and another time without a renderer. I'm not sure if this creates unintended side effects, however it seems allows you to run a custom renderer for one partner, and the provided partner renderer for another partner.

Something like:

[code]

However, I think this feature request is still a good one. In particular, this woul

[2018-12-03 09:39] #3287 closed

[2018-12-03 13:49] YOzaz commented on #2668
@nanek what if both partners respond with a bid? Are they being put into CPM auction?

[2018-12-03 20:06] bretg commented on #3178
@headerbidding - I'm open to ideas as to how to improve this page, but it does explain that Express is "a simplified alternate installation mechanism for publishers that have Google Publisher Tag (GPT) ad calls in their pages."

It then goes on to list the key points:

* You build a Prebid.js package that contains the extra module code and optionally the page's AdUnits.
* One or two lines of javas

[2018-12-03 20:08] bretg commented on #2992
Yes - more relevant than ever. Assigning to @snapwich. Rich, the desire is to make it configurable for now so there's recourse in case a pub is impacted.

[2018-12-03 20:41] headerbidding commented on #3178
Reading it over again, I finally understood it.
Thank you!

Suggestion: It would keep it more simple and consistent to replace "DoubleClick" with "GAM/DFP"

[2018-12-03 20:54] vitalbh commented on #927
the safeframe did not solve completely (popups instead of redirect), we identified that the problem in our case only came from AppNexus and we had to remove it.

[2018-12-04 22:09] goosemanjack commented on #3046
Hello. I've recently come on to supporting the DigiTrust id system via IAB Tech Lab. One of our high priorities is integration with Prebid, so to that end I'll be picking everyone's brains on how to do that correctly.

In reading this thread it isn't clear if a consensus was reached. Is the plan to build on pubCommonId module, or to implement the pseudo code for UniversalId outlined in the spec? F

[2018-12-04 22:28] bretg opened #3350 "Remove email address from PBJS signup form"
## Type of issue
Enhancement

## Description
We used to require email address when users Downloaded PBJS because it took a while and we would email them the results. Now they just wait for the results and download them directly.

We should remove the collection of email address to streamline our privacy policy.

### Expected results
Downloading PBJS doesn't require entry of email address.

## Deta

[2018-12-04 23:13] #3267 closed

[2018-12-05 02:30] Austinb commented on #3330
This was merged in as part of https://github.com/prebid/Prebid.js/releases/tag/1.35.0 and appears to be working now.  Was able to `npm install` and do a custom build without issue.

Many thanks to @jsnellbaker, @jaiminpanchal27 & @mkendall07

[2018-12-05 06:49] #3330 closed

[2018-12-05 14:08] #3252 closed

[2018-12-05 14:37] bretg commented on #3178
Good to hear. It's on our list to update the site to deal with the DFP name change... will handle "DoubleClick" then as well. Thanks.

[2018-12-05 14:37] #3178 closed

[2018-12-05 16:58] bretg commented on #3046
@goosemanjack - we're building this new "universal ID" module that has a a simple requirement for supporting each additional ID system must be implementable using a small amount of code, say ~0.25 KB. The framework does most of the work -- the only code that each ID system provides is:

- getId function - either generate the ID locally or call out to a web service to obtain the user's ID. The resu

[2018-12-05 17:01] derdeka opened #3353 "aol adapter: not possible to register bidder alias as bid gets invalid"
## Type of issue
bug

## Description
It is currently not possible to register an alias for aol adapter as the bids are getting invalid within 'isBidRequestValid'.

## Steps to reproduce

1. register alias: `$$PREBID_GLOBAL$$.aliasBidder('aol', 'oath');`
2. configure and run bids with alias 'oath'

## Test page
none

### Expected results
Able to use 'oath' as alias for aol bidder.

### Actual resul

[2018-12-05 18:58] goosemanjack commented on #3046
Great. In most cases the DigiTrust ID will be cryptographically generated on the browser client. Some edge cases with Chrome over non-ssl connections require our web service. We may need to talk more about your file size constraints. Use of DigiTrust IDs is restricted to members and we utilize an iframe to make the ID portable across different member publisher sites without the need for sync calls

[2018-12-05 21:53] Deimos01 opened #3356 "Consent Management module - Impossible to get the callbacks used by CMP in a Postbid setup"
## Type of issue
Bug

## Description
When Prebid is embeded in an iframe (DFP w/o Secure frame, adservers ...), the Consent Management module seems to have difficulties to get the callbacks of the CMP (Quantcast). The module timeout is always reached, even for a non-European IP.
So I guess the module detects the CMP but can't access to the callback.

## Steps to reproduce
In a postbid setup, try t

[2018-12-06 10:19] freegames66 commented on #3342
Thank you for your answer. However, I want to clarify some of the issues:

1 / Bidgear and Freegames66 are two projects owned by X8media JSC. I am responsible for the project Freegames66. Because these two projects are separate, so we have created two separate districtm accounts for reporting revenue for each project.

2 / I did not receive any email about invalid traffic issue. My account manager

[2018-12-06 13:07] jonasju commented on #1924
Any news on this?

[2018-12-06 14:11] #3301 closed

[2018-12-06 14:58] phtechno opened #3358 "AppNexus Outstream and unfriendly Iframe"
## Type of issue
Bug

## Description
We use unfriendly Iframes to integrate prebid on our pages. The Bidding mechanism is on a subdomain of the parent page. The rendered creatives are also on the subdomain. For the communication for this frames we use postmessages.
For normal display ads it works. But for AppNexus video outstream ads the renderer-player (https://acdn.adnxs.com/video/outstream/ANOu

[2018-12-07 18:16] snapwich commented on #1853
A lot has changed to the point where this might be more possible than it was in the past.  Going to take some looks about the feasibility here.

[2018-12-07 18:45] #3281 closed

[2018-12-07 19:03] pbrisson opened #3362 "Version went from 1.35.0-pre.js to prebid.1.33.0-pre.js"
## Type of issue
Question

## Description
I always keep my version up-to-date and it went from 1.35.0-pre to 1.33.0-pre after my last sync with the repo.

## Other information
See commit: https://github.com/prebid/Prebid.js/commit/650aa3a7205b3890d9990c9282abada047bdfbaa

[2018-12-07 19:15] patrick-mcdougle commented on #3277
Can we address concerns in #2860 as part of requirements gathering for this?

[2018-12-07 19:23] jsnellbaker commented on #3362
@pbrisson Thank you for pointing this out.  I just corrected the version in the file.  `master` should be update to date now if you want to resync.

[2018-12-07 19:23] #3362 closed

[2018-12-07 19:30] mkendall07 commented on #2860
right that is a concern and also the fact that we load DFP and prebid concurrently, so if we were required to read the DFP params we'd need to wait for DFP to load and execute it's queue before we could start any SSP requests.

[2018-12-07 19:45] #3255 closed

[2018-12-07 19:47] mkendall07 commented on #3358
this is a fairly uncommon setup so we'll probably not support it anytime soon. Going to close this as it's an expected limitation.

[2018-12-07 19:47] #3358 closed

[2018-12-07 21:53] nanek opened #3364 "EMXDigital outstream does not set VAST url"
## Type of issue
Bug

## Description

emxdigital alias using appnexus bid adapter configured for outstream with a renderer.

Example response from network with rtb.video.content VAST xml.
![screen shot 2018-11-30 at 10 10 36 am](https://user-images.githubusercontent.com/6188/49674314-8f5e3680-fa3f-11e8-9180-3286481b4141.jpg)

Prebid bidResponse object, does not map the VAST xml from the network re

[2018-12-10 15:26] nanek opened #3366 "Alternate way to render native ads through Prebid."
## Type of issue
Request for feedback.

## Description

From https://github.com/prebid/Prebid.js/pull/3224#issuecomment-435960020 I created an example that demonstrates another approach to rendering native ads through prebid using the existing renderer option:
https://gist.github.com/nanek/cfcd43a1dc343dabfad505eb4e63653c

- No need to create additional DFP line items, targeting hb_format=native.

[2018-12-10 18:53] hhhjort opened #3367 "Prebid server now supports limits on user syncs"
## Type of issue
Feature request

## Description
Prebid server now supports limits on user syncs. Old behavior was PBS would send all missing user syncs when requested. Still does if no limit is set. But limits are good for limiting the number of pixels dropped on a page.

## Steps to reproduce
N/A

## Test page
PR that added the feature
https://github.com/prebid/prebid-server/pull/759

### Expect

[2018-12-10 20:21] jsnellbaker opened #3368 "Refactor timeout settings/options used in Prebid.js"
## Type of issue
Feature Request

## Description
Spawning from a conversation in #3291 (see [here](https://github.com/prebid/Prebid.js/pull/3291#discussion_r239602606) specifically), there are currently a number of settings/levels offered around managing the `timeout` used by Prebid.js and it's slowly getting to the point where it's not only hard to understand what each setting does exactly but wh

[2018-12-11 02:19] Deimos01 commented on #3309
After some investigations, we also observed something new (and weird) with the behavior of the `pbjs.getAdserverTargeting` function.
At the end of the auction process, pbjs.getAdserverTargeting() is sending back the right values. The highest CPM bid is sent to the adserver. As you said @whatisjasongoldstein "the correct ones were being sent to the network request".
Then after the bidWon event and

[2018-12-11 03:19] whatisjasongoldstein commented on #3309
That makes sense and is consistent with our testing. Closing.

[2018-12-11 03:19] #3309 closed

[2018-12-11 20:16] #3310 closed

[2018-12-12 00:13] bretg commented on #3353
@vzhukovsky - is this something you can help with?

I also sent email to the address listed as the adapter's maintainer.

[2018-12-12 00:43] bretg commented on #3367
Ok. To make use of this in PBJS, we need to support a new s2sConfig parameter. e.g. `userSyncLimit: N`.

We would need to update `prebidServerBidAdapter` to pass `userSyncLimit` through to PBS as `limit`.

Assigning to @mkendall07 for prioritization

[2018-12-12 00:49] bretg commented on #3331
@telariaEng - please take a look

[2018-12-12 00:57] bretg commented on #3262
You can also make use of the "Header Bidder Expert" chrome extension -- https://chrome.google.com/webstore/detail/headerbid-expert/cgfkddgbnfplidghapbbnngaogeldmop?hl=en

@headerbidding - DFP Express is the optional module described at http://prebid.org/dev-docs/modules/dfp_express.html

[2018-12-12 00:57] #3262 closed

[2018-12-12 01:03] bretg commented on #3290
Closing this issue, released with 1.34

[2018-12-12 01:03] #3290 closed

[2018-12-12 01:10] bretg commented on #3294
Agreed this seems to be a problem with the player used on the example page. Maybe due to the fact that there's no content specified, so nothing to skip to. In any case, I've opened https://github.com/prebid/prebid.github.io/issues/1057 over on the docs repo, so will close this one out.

[2018-12-12 01:10] #3294 closed

[2018-12-12 10:59] vzhukovsky commented on #3353
Hi.

Thanks for reporting it.

Looking into that

[2018-12-12 15:57] mkendall07 commented on #3046
this is LGTM from a spec proposal - I'd have some comments on the implementation but let's do that as a formal review process. @bretg Feel free to open the PR.

[2018-12-12 21:01] mkendall07 commented on #3356
@jsnellbaker can you take a look at this please?

[2018-12-12 21:02] mkendall07 commented on #3366
@nanek
Thanks for your suggestion! Some quick feedback/questions from @mjacobsonny
1) how does the publisher prevent a banner ad from serving into the slot?
2) can it compete with any managed native LIs?
3) are there any issues with responsiveness/ responsive slots?

[2018-12-12 21:02] mkendall07 commented on #3367
We can probably tackle this in Q1 2019.

[2018-12-12 21:04] mkendall07 commented on #3265
Agree this is a bug. We can address in Q1 unless someone want's to work on it now.

[2018-12-12 21:08] mkendall07 commented on #3320
Instead of a configuration option, couldn't you just fire `triggerUserSyncs` ? Does this not work? If it doesn't work I think we should fix it.

[2018-12-12 23:22] telariaEng commented on #3331
@bretg thanks for bringing this to our attention :) the adapter was relying on the sizes array to get the player size. We will update it to use mediatypes.video.playerSize instead.

[2018-12-13 09:23] muuki88 opened #3373 "Teads: Adapter doesn't respect media types - sizes don't work"
## Type of issue

bug

## Description

The [Teads Adapter](https://github.com/prebid/Prebid.js/blob/master/modules/teadsBidAdapter.js#L119), still uses the deprecated `bid.sizes` property and doesn't differentiate between `banner` and `video` media types.

This

cc: @valsouche

## Steps to reproduce

Use a `video` only ad unit. See #3222

### Expected results

Teads should use the `mediaTypes` siz

[2018-12-13 15:07] #2781 closed

[2018-12-13 17:03] jsnellbaker commented on #3356
@Deimos01 I've looked through the setup and tried to debug the CMP calls as they go back and forth between the page's CMP code and the `smart.js` file's CMP code.

Below is a short recap of what I observed:
- the consentManagement module's code starts off working as expected.  It properly detects the `window.__cmp` on the page and executes the calls for `getConsentData` and `getVendorConstents`.
-

[2018-12-14 09:07] muuki88 commented on #3373
This is especially weird as the `bid.sizes` property should include the videos sizes. At least if I read [this code in der `adapterManager.js`](https://github.com/prebid/Prebid.js/blob/master/src/adaptermanager.js#L280-L295) correctly.

It almost looks as if the video player sizes override the banner.

The [OpenX adapter handles the video playerSize explicitly](https://github.com/prebid/Prebid.js/

[2018-12-14 15:30] muuki88 commented on #3373
The reasons for this behavior is buried in the [`getBids` function, which simply used the `mediaTypes.banner.sizes`](https://github.com/prebid/Prebid.js/blob/7fe95d89464cbc95adf3446cd8e39bb499f2c321/src/adaptermanager.js#L97) and discards everything that has been done before.

[2018-12-14 16:07] Deimos01 commented on #3356
Thank you very much @jsnellbaker to take the time to investigate.

I think your theory is entirely true. I did a revealing test related to the `smart.js` theory.
Here a new [test page](https://www.themoneytizer.com/demo/cmp_prebid?pbjs_debug=true). The setup is exactly the same, I've just delayed the load of `smart.js` of 2 seconds and the Consent Module Management seems to work well.
For your inf

[2018-12-14 16:51] mkendall07 commented on #3138
hey @nanek
glad you got it working! I also just realized you can do this (specific to the AppNexus renderer anyway), by appending this to adUnit:
[code]

[2018-12-14 21:05] mkendall07 opened #3379 "[I2I] Prebid support for long form video"
## Type of issue
Intent to implement.
**Status:** Open for comment.

# Table of Contents
* [Background](#background)
* [Goals](#goals)
* [Requirements](#requirements)
* [Proposed Design](#design)
  * [Architecture Diagram](#diagram)
  * [AdUnit Definition for Video](#adunit)
  * [Bidder Spec changes](#bidder-spec)
  * [Use Cases](#use-cases)
  * [FreeWheel Module](#freewheel)
  * [Content Category

[2018-12-14 21:47] patmmccann opened #3381 "Cross Domain integration example is out of date"
## Type of issue
Feature Request

## Description
Cross domain implementation method is not current

## Steps to reproduce
https://github.com/prebid/Prebid.js/blob/master/integrationExamples/gpt/x-domain/creative.html does not have the new preferred method suggested in https://github.com/prebid/Prebid.js/blob/master/integrationExamples/gpt/creative_rendering.html

## Test page

[2018-12-14 22:52] bretg commented on #3046
They renamed OpenId to UnifiedId. Updated.

[2018-12-17 11:41] muuki88 commented on #3373
The [getBids function](https://github.com/prebid/Prebid.js/blob/master/src/adaptermanager.js#L97) seems to set the sizes only from `mediaTypes.banner.sizes` and nothing else. Is the size mapping even applied there?

[2018-12-17 12:02] valsouche commented on #3373
In this pull request (https://github.com/prebid/Prebid.js/pull/3377), @bretg says that playerSize is an optional field. But like @muuki88 said, for some reason, if from a video adunit mediatypes there is no `playerSize` bid sizes =`[]`, even if there is a sizes property on the adUnit.

It looks like only banner sizes are copy in adUnit.sizes.

Is it something expected ?

Thanks in advance,
Val.

[2018-12-18 23:55] #3367 closed

[2018-12-19 13:49] vyatsun opened #3395 "[Question] Prebid.js with GPT passback"
## Type of issue
Question

## Description
Is there a way to use Prebid.js with the GPT passback tag instead of a traditional tag. I mean, GPT passback doesn't have an id, so I'm not sure how to define Prebid.js ad units and how to set GPT targeting on them.

## Steps to reproduce
Conduct the prebid auction and set targeting on the GPT tag defined as follows:
googletag.pubads().definePassback('/123

[2018-12-19 14:41] markuspovelainen opened #3396 "resetPresetTargeting not available for setTargetingForAst"
Seems that the `resetPresetTargeting` is missing from `setTargetingForAst`. https://github.com/prebid/Prebid.js/blob/master/src/prebid.js#L211-L222

This is a problem on SPA sites using Appnexus ad server as the prebid library sets the old key-values for ad placements when you move to the next page.

[2018-12-19 15:06] estheticNerd opened #3397 "Detect Missing Ads"
## Type of issue
Question

## Description
In our company, we use prebid.js together with DFP for our header bidding.

An issue we're now facing with is detecting when ads are missing. We'd like to be alerted when ads don't show, to prevent income loss. From my understanding, one of the reasons an ad won't show is when the ad can't render.

We are currently using two prebid.js events that detect wh

[2018-12-19 16:45] ReinoutStevens opened #3398 "[Telaria] getBidderRequest can not find corresponding bid due to mismatching bidder code"
## Type of issue
The telaria adapter returns bids with bidder code "TremorVideo".
This results in utils/getBidderRequest not being able to match the bidder id "TremorVideo" to any bids, as the bid either has the code "telaria", "tremor" or "tremorvideo".

So even when using the alias "tremorvideo" it won't ever match "TremorVideo".

## Description
The reply we get the following bid response from T

[2018-12-19 16:48] ReinoutStevens commented on #3398
@telariaEng tagging you as this is probably relevant

[2018-12-19 18:12] telariaEng commented on #3398
@ReinoutStevens thanks for tagging. I do have an open PR and I don't mind adding 'TremorVideo' to the alias list. But I think the proper fix would be to check the bidder code against the aliases while ignoring the case.

[2018-12-19 18:34] ReinoutStevens commented on #3398
Thanks for the quick response :+1:

[2018-12-19 20:30] brittanyzellman opened #3400 "NATIVE mediatype doesn't allow SSP to control the render"
## Type of issue
Request for alternate mediatype or documentation update

## Description
In programmatic advertising, "Native" largely represents an impression that takes on the look and feel of the page. However, Prebid NATIVE only allows a component-based transmission where it opines that the SSP passes the components/assets while adserver renders. However, most SSPs have rendering technology th

[2018-12-19 22:07] bretg commented on #3046
Note: added a feature to let the gdprConsent object be available to the getId function. We'll update the unifiedId getId function to use it

[2018-12-20 14:59] jaiminpanchal27 commented on #3181
We replaced this package with gulp-webserver. It is solved with that. Hence Closing

[2018-12-20 14:59] #3181 closed

[2018-12-20 20:57] bretg commented on #3046
@pycnvr noted in https://github.com/prebid/prebid.github.io/pull/1068 that the PubCommonID requires an "optout" cookie flag, which is the per-user ability to avoid setting IDs for sites that don't have a GDPR-compliant CMP. Added this item above:

[code]

[2018-12-21 11:57] Journerist opened #3404 "[Question] how to encode custom parameter for bid"
## Type of issue
Bug

## Description
DOMException: Failed to execute 'btoa' on 'Window': The string to be encoded contains characters outside of the Latin1 range.

## Steps to reproduce
add custom parameters with not latin1 chars like > “ <. After sending the requests the error will occur. In the code occurrences like openxBidAdapter.js, line 261:
`let formattedCustomParams = window.btoa(customPar

[2018-12-23 23:56] piotr-yuxuan opened #3406 "(question) what's the dependance of Prebid.js on GPT?"
_(this is a question)_

I'm quite puzzled by Prebid.js reliance on GPT.

In my humble opinion Prebid is able to dynamically build ad requests on its own. In [Getting Started example](http://prebid.org/dev-docs/getting-started.html) ad units are defined in the page, requests are built by each adapters and so on.

What's the reason of Prebid.js dependency on GPT?

Thanks a lot in advance for your re

[2018-12-27 16:17] manigandham commented on #3406
Prebid doesn't rely on GPT, it's just using it as the adserver which holds and renders the creatives.

Remember that Prebid / header bidding is about having a unified auction across multiple demand partners *in addition* to your own direct campaigns in your adserver. Prebid runs the auction and then sends the resulting info to your adserver which then picks the winning ad based on rules you setup.

[2018-12-28 16:40] #3155 closed

[2018-12-29 10:07] #1853 closed

[2018-12-29 23:13] webdeveloperpr opened #3409 "GPT responsive ads without prebid sizeConfig?"
## How to implement GPT responsive ads without using the sizeConfig?

This ticket was issued to gather more information on how to implement responsive ads with prebid.js without using prebid's sizeConfig

## googletag sizeMapping without using sizeConfig

googletag provides a way to show/hide ads based on media queries and it
specifies the adSizes to display on the specific media query.

We need t

[2018-12-30 01:57] webdeveloperpr commented on #3409
Also how would I be able to see all the registered adUnits?

[2019-01-02 06:34] muuki88 commented on #3373
Before this ticket is getting stale.

@valsouche are opening a PR to fix this?

[2019-01-02 22:01] mbova opened #3413 "iframes should not be injected into <head>"
## Type of issue
Bug

## Description
Currently iframes get injected into the head. Google has said this can cause a problem with them reading all the meta tags because the iframes implicitly close the head and push the meta tags into the body. [source](https://www.reddit.com/r/TechSEO/comments/87pxsu/i_am_john_mueller_webmaster_trends_analyst_at/dwh3hd9/)

They recommend to inject just before the

[2019-01-03 07:08] jayzach99 commented on #3397
Might be valuable to ascertain the conditions for `adRenderFailed` (working backwards from here  https://github.com/prebid/Prebid.js/blob/65afce66fd25b3724173e960c8901e92e7d2cf36/src/constants.json#L39 // https://github.com/prebid/Prebid.js/blob/65afce66fd25b3724173e960c8901e92e7d2cf36/src/prebid.js#L269-L271). Might be able to find that inspecting code / docs.

Re: forced failures -- some thought

[2019-01-03 15:12] kaseyfan commented on #3400
Hey Prebid team -- any thoughts on the above? Let us know what we can do to provide more clarity.

[2019-01-03 16:00] mkendall07 commented on #3400
thanks for the reminder. @mjacobsonny for comment

[2019-01-03 16:04] mkendall07 commented on #3413
thanks for the feedback - this makes sense to me.

[2019-01-03 17:12] #3265 closed

[2019-01-03 21:08] mkendall07 commented on #3381
hey @patmmccann
are you referring to this line?
`window.parent.postMessage(message, publisherDomain);`
Where the assumption is that the pbjs library is the direct parent of the iframe?

[2019-01-03 21:16] patmmccann commented on #3381
The x-domain example is missing the for loop to get to top by walking up
through the parents

On Thu, Jan 3, 2019 at 4:08 PM Matt Kendall <notifications@github.com>
wrote:

[2019-01-04 15:32] mkendall07 commented on #3404
@prebid/openx for comment

[2019-01-04 15:34] mkendall07 commented on #3395
Most likely you just want to use postbid I think? http://prebid.org/dev-docs/examples/postbid.html

[2019-01-04 15:42] mkendall07 commented on #3398
has this been resolved? @telariaEng

[2019-01-04 15:51] ReinoutStevens commented on #3398
Obviously I dont work at Telaria, but this is how I see the current state:

Telaria has 2 aliases, tremor and tremorvideo. The adapter used to set TremorVideo as bidder on a bid. In their PR ( https://github.com/prebid/Prebid.js/pull/3377 ) they modified the behavior and do a to lowercase, so now tremorvideo should be set. This means we can use tremorvideo as bidder code, and it should work.

Howe

[2019-01-04 17:03] #3356 closed

[2019-01-04 21:40] mistynight89 opened #3420 "The vast tag I got from prebid is not working on google IMA"
Hi. I generated vast tag using example code from your example page like below.
![prebid1](https://user-images.githubusercontent.com/22162797/50712322-0b4b9e80-103f-11e9-8cf7-382b14fbc2c8.PNG)

The tag I got is below
https://pubads.g.doubleclick.net/gampad/ads?env=vp&gdfp_req=1&output=vast&unviewed_position_start=1&correlator=1546548816841&sz=640x480&url=http%3A%2F%2Fadmaru.com%2Ftest%2Fprebid_out.

[2019-01-07 15:18] mkendall07 commented on #3420
@mistynight89
It doesn't look like you have the right URL(s) for the google resources. Please check the setup with the IMA player.

[2019-01-07 15:18] #3420 closed

[2019-01-07 21:02] lafentres commented on #3409
If this works for you, I don't see why it would be a problem.

I used to use the GPT sizeMapping before using Prebid. When we first switched to using Prebid, I looked at using sizeConfig but the global setting didn't work the way I needed them too. The way I handle different breakpoints now is by storing all the breakpoint info for a given ad and then calling a function to determine which breakpoi

[2019-01-07 21:33] webdeveloperpr commented on #3409
Very nice! I ended up with a similar solution but using the GPT sizeMap.

Here I call the function and pass the slotId with the slot sizes for the current breakpoint
https://github.com/webdeveloperpr/react-ads/blob/master/src/components/Ad/index.js#L65-L91

Here is the function that the ad can define to generate the bids dynamically.
https://github.com/webdeveloperpr/react-ads/blob/master/examples

[2019-01-08 08:32] muuki88 commented on #3373
@valsouche Any ETA for this one?

[2019-01-09 11:40] sdwhite89 opened #3428 "[Request] Optional bid parameters or keys to expose advertiser,buyer,DSP information"
I apologies if this is not the correct forum, I was deliberating whether to post on slack or via Github. At the prebid event in London you were after more feedback from publishers on what we'd like to see in Prebid.
One thing I know many publishers are after is a unified method to pass through advertiser, buyer and DSP information within the response back, as currently extracting this information

[2019-01-09 13:37] mkendall07 commented on #3428
Hi @sdwhite89
Thanks for the feedback. We do have an issue here https://github.com/prebid/Prebid.js/issues/3115 which I think covers these items. Let me know if that is what you are looking for.

[2019-01-09 14:09] sdwhite89 commented on #3428
Super, thanks Matt. I agree with 'chefbenjamins' point about it being
included in send all bids as would be easiest to extract this way.  Sorry
for not digging deeper into Github, just trying to get the hang of it!

Is this being looked into ahead of 2.0?

Cheers,

On Wed, 9 Jan 2019 at 13:37, Matt Kendall <notifications@github.com> wrote:

--

Spencer White
Programmatic Platforms Specialist
Guard

[2019-01-10 10:28] Tigerroad opened #3433 "Criteo entry in Prebid.js does not comply with 'use strict'"
## Type of issue
Bug

## Description
The Criteo entry in Prebid.js does no comply with the 'use strict' directive which is declared.
The line 'utc=t.getTime()+6e4*t.getTimezoneOffset(),new Date(utc)' dores not comply with 'use strict'
MVC Bundling is fails because of javascript declaring to be strict and not complying

## Steps to reproduce
Download latest (1.37.0) containing Criteo Adapter and se

[2019-01-10 17:58] ReinoutStevens commented on #3398
I am unsure whether I need to open a new issue or hijack this one:
With prebid 1.37.0 I can request a bid as telaria, which does not throw any errors, but the hb_bidder remains set to tremorvideo, which causes problems with our dfp setup (as telaria != tremorvideo). Obviously we can change our dfp setup and request tremorvideo ads, but the issue remains that an ad requested for telaria is sent to

[2019-01-10 20:20] mwaqarakram94 opened #3436 "Module Downloads not present any more on website"
Hey

On this page we were able to select prebid modules like Video and GDPR.

http://prebid.org/download.html

However options are not availble any more what happened ?

Thank you

[2019-01-10 22:49] snapwich commented on #3413
closed via #3415

[2019-01-10 22:49] #3413 closed

[2019-01-10 23:32] headerbidding opened #3439 ""Modules" are no longer listed for download at http://prebid.org/download.html"
Modules are no longer listed for download at http://prebid.org/download.html
(I was trying to get the Publisher Common ID module)

Windows 10 - Chrome Browser - (also Firefox and Edge browser)

![image](https://user-images.githubusercontent.com/16692770/51003779-12265580-1506-11e9-8ce3-eebd1494f67d.png)

[2019-01-11 01:53] bretg commented on #3439
Fixed. Sorry for missing that in the website revision. Thanks for pointing it out.

[2019-01-11 01:53] #3439 closed

[2019-01-11 02:20] headerbidding commented on #3439
Thanks!

From: bretg [mailto:notifications@github.com]
Sent: Thursday, January 10, 2019 8:53 PM
To: prebid/Prebid.js
Cc: Flixxy; Author
Subject: Re: [prebid/Prebid.js] "Modules" are no longer listed for download at http://prebid.org/download.html (#3439)

Fixed. Sorry for missing that in the website revision. Thanks for pointing it out.

—
You are receiving this because you authored the thread.
Re

[2019-01-11 06:48] freegames66 opened #3441 ""error":"Prebid file not built properly""
I get an error when I download prebid.js version 1.37.0

Adapter include: oneVideo, beachfront, gambid, 33across, emx_digital, rhythmone, appnexus, aol, districtmDMX, conversant, gumgum, sonobi

Modules include:
GDPR ConsentManagement
DFP Video
Publisher Common ID

[2019-01-11 10:02] kelvin-chappell commented on #3115
It would be helpful to distinguish between advertiser and agency, where that information is available.  So:
[code]
might become:
[code]
Would that be feasible?

[2019-01-11 16:23] freegames66 commented on #3441
Update: I tried excluding each adapter. This problem is caused by the "gamoshi" adapter. Hope it fixed soon.

[2019-01-11 19:42] rale opened #3446 "Pulsepoint adapter giving random creative id"
## Type of issue
Bug

## Description
The pulsepoint adapter is returning a random hash instead of a creative id.

It appears to be setting it to the ad request id instead:

https://github.com/prebid/Prebid.js/blob/master/modules/pulsepointBidAdapter.js#L102

From looking at the bid response, I think this should probably be set to idToBidMap[id].crid instead.

[2019-01-13 09:02] mwaqarakram94 commented on #3436
So it came back today, Thanks for solving the issue.

[2019-01-13 09:02] #3436 closed

[2019-01-14 17:14] Deimos01 commented on #3356
Smart Adserver has just released a fix in their JS library to avoid that conflict. The issue is now solved.

Thank you very much for your time.

[2019-01-14 17:15] mkendall07 commented on #3356
thanks for the follow-up!

[2019-01-14 19:45] mistynight89 opened #3449 "Warning message when I add bidders (Spotx and Aol)"
I'm trying to use prebid.js for video ads. I used your example codes, and try to add bidders. When I add spotx and aol as bidder, it shows warning message below.
"Prebid WARNING: video1 is a video ad unit containing bidders that don't support video: spotx. This bidder won't fetch demand."
"Prebid WARNING: video1 is a video ad unit containing bidders that don't support video: aol. This bidder won't

[2019-01-15 15:22] webdeveloperpr opened #3450 "Removing prebid targeting keys?"
I'm currently fetching bids and setting targeting using `pbjs.setTargetingForGPTAsync([codeArr])`

Here is an example of the targeting keys that are being added to the slot.

![screen shot 2019-01-15 at 10 16 14 am](https://user-images.githubusercontent.com/7534346/51189908-0bedfb80-18af-11e9-8b71-cc175c27f2ee.png)

 The problem that I am running into is that I want to remove the non bidder specif

[2019-01-15 17:17] webdeveloperpr commented on #3450
this is the current solution after calling the code below after `pbjs.setTargetingForGPTAsync([codeArr])`

[code]

[2019-01-16 11:20] korys commented on #3441
I have the same issue with Clickonometris. What's exactly the problem with building scripts. Did something changed recently, because I'm sure it worked earlier.

[2019-01-16 12:23] muuki88 commented on #3373
Should be fixed in the next release.

[2019-01-16 12:23] #3373 closed

[2019-01-16 12:26] sathwik77 opened #3454 "[Question] How do I change debug URL params?"
## Type of issue
question

## Description
I want to change debug URL from pbjs_debug=true to something like customString=true. Is it possible?
I tried changing `"DEBUG_MODE": "pbjs_debug"` to  `"DEBUG_MODE": "customString_debug"` in constants.json file and compiled it. But it doesn't seem to work.
Any suggestions?

[2019-01-17 11:08] olya-fb opened #3459 "Possibly a bug in 1.36 in onetagBidAdapter.js"
## Type of issue

Bug

## Description

In the code:

  if (typeof bid === 'undefined' || bid.bidder !== BIDDER_CODE || typeof bid.params === 'undefined') {
    return false;
  }

  if (typeof bid.params.pubId !== 'string' || bid.sizes === 'undefined' || bid.sizes.length === 0) {
    return false;
  }

I think instead of
bid.sizes === 'undefined'
it was intended to have
typeof bid.sizes === 'undefi

[2019-01-17 11:10] sdwhite89 commented on #3428
@mkendall07 What's the process for the prioritization and development of work in prebid? Is there anything we (The Guardian) can do to help and influence?

[2019-01-17 11:10] #3428 closed

[2019-01-18 06:06] #3406 closed

[2019-01-18 16:33] kaseyfan commented on #3400
Hi @mjacobsonny - Have you had a chance to review? Standing by if you have any questions/initial feedback.

[2019-01-18 18:01] #2992 closed

[2019-01-18 18:29] gpolaert opened #3463 "[RFC] Allow adapters to get some information about why they lost the transaction"
Allowing the adapter to access to some specific information about the transaction may help them to improve their adapter.

Like the timeout hook in the adapter, Prebid can provide a way to get information about the reason why they lost.

To ensure that each publishers will still get the most of the demand and their partners, we have to chose which data we can provide.

For instance, Prebid can pro

[2019-01-18 21:03] mkendall07 commented on #3396
this is resolved with https://github.com/prebid/Prebid.js/pull/3448

[2019-01-18 21:11] mkendall07 commented on #3278
We are going to proceed with a very small change with 2.0, with the only publisher facing breaking change being to disable bid caching by default.

[2019-01-18 21:12] mkendall07 commented on #3463
If it's publisher opt in I don't see why it would be a problem.

[2019-01-18 21:13] mkendall07 commented on #3454
it's not supported unfortunately. We accept pull requests though!

[2019-01-18 21:14] mkendall07 commented on #3450
@webdeveloperpr
yeah you can just disable send all bids. http://prebid.org/dev-docs/publisher-api-reference.html#setConfig-Send-All-Bids
[code]

[2019-01-18 21:14] #3450 closed

[2019-01-18 21:15] #3449 closed

[2019-01-18 21:16] mkendall07 commented on #3433
@jsfaure can you look into this please?

[2019-01-18 21:17] mkendall07 commented on #3446
@prebid/pulsepoint

[2019-01-18 21:19] mkendall07 commented on #3404
@bwoolcott ping on this

[2019-01-18 23:33] jimee02 commented on #3404
Hey @Journerist,
On the consumer side, our system will be able to decode the base64 string into its proper key/value pairs.  The quickest way around this is to use the following snippet to convert the string to UTF-8 compatible strings prior to feeding them into our custom params field.

https://developer.mozilla.org/en-US/docs/Web/API/WindowBase64/Base64_encoding_and_decoding#Solution_2_%E2%80%93

[2019-01-19 04:33] Elardzhi opened #3465 "TypeError: pbjs.processQueue is not a function"
## Type of issue
Error message

## Description
After updating to 1.38 I get this error in my console: "TypeError: pbjs.processQueue is not a function".

## Steps to reproduce
gulp serve on local PC with "Hello world" example

[2019-01-19 16:49] lanceloti commented on #3211
To work with Rubicon you'll need to implement a custom render.

https://github.com/prebid/Prebid.js/issues/2957

[2019-01-21 13:45] bduclaux commented on #2959
The same type of issue applies to getBidResponsesForAdUnitCode . This method returns bids for all previous auctions, not only for the last one.

This is inconsistent with the behavior of getBidResponses, which filters for the latest auctionId.
I think the Prebid API should allow users to specify whether users want to get bids for all previous auctions, of the latest one.

[2019-01-22 14:16] markuspovelainen commented on #3396
I'm sorry to say but it doesn't clear the prebid globals for targeting. Meaning if you get a bid from page 1 and do SPA-style page change to page 2 which you don't get bid prebid still has the previous values in globals which will be set as a keywords to Appnexus on page 2. Seems that for for gpt global clean up is defined here: https://github.com/prebid/Prebid.js/blob/master/src/prebid.js#L190
pi

[2019-01-22 14:42] deekshithraop commented on #3396
Hey @markuspovelainen would you be able to setup a test page where we can see this actually happening please.

[2019-01-22 18:51] bretg commented on #3046
Draft documentation at https://staging.prebid.org/dev-docs/modules/universalid.html

[2019-01-23 06:54] harpere commented on #3379
I don't know a lot about `longForm` video but read through and have some questions:
- How is the cache key generated?  From the example in **step 4** it looks like `<hb_pb_industry_duration>_<hb_uuid>`.  How does Freewheel know `hb_uuid`?  I don't see it passed in **step 3**.  Also, how does Freewheel know how to construct the cache key in **step 6**.  Does that come from the Creatives returned in

[2019-01-24 16:05] JonGoSonobi opened #3477 "${AUCTION_PRICE} not being replaced in adm from s2s bid"
## Type of issue
Bug

## Description
Sonobi has been developing a s2s adapter and has a PR open for it. https://github.com/prebid/prebid-server/pull/796. While testing I noticed that the ${AUCTION_PRICE} macro is not being replaced when the ad renders.

## Steps to reproduce
1. Go to http://mtrx.go.sonobi.com/sonobi_pbjs_server_test.html?pbjs_debug=true.
2. Assuming you get a bid and you hit the r

[2019-01-24 16:49] snapwich commented on #3465
I think you might need to `npm install`

let me know if that fixes your problem.

[2019-01-24 18:11] bwnodak opened #3479 "Registering a custom global name when importing prebid.js as a module"
## Type of issue
Question and/or Feature Request

## Description
I'm importing prebid.js as a module thanks to v1.38, which is awesome, thank you so much for implementing this.

I notice this registers `window.pbjs`, which becomes a problem if another instance of prebid is on the page of a different version, or with different bidders registered. To get around this previously, I'd set the `globalVa

[2019-01-25 04:49] prebid-pubnx opened #3482 "PubNX Adapter not present in prebid js"
## Type of issue
Related to new adapter not available in release.

## Description
We have our adapter 'pubnx'. Code was merged 14 days ago. And was added to 1.38.0 Release.
Now version 1.39 is released. Still we can not see our adapter when we download prebidjs with 'pubnx' selected as adapter. Can someone look into this.

## Steps to reproduce
Please download prebidjs file with pubnx selected.

#

[2019-01-25 11:18] #3381 closed

[2019-01-25 15:39] #3331 closed

[2019-01-25 15:41] #3350 closed

[2019-01-28 20:33] JonGoSonobi commented on #3477
Dug further into this and learned the macro replacements work properly with friendly frames.
I've updated the creatives in dfp to be friendly frames, but it still seems to be an issue with the universal creative when loaded into a safe frame.

[2019-01-29 10:27] Anish-Mohan opened #3490 "cdn hosted new version of prebid.js"
## Type of issue
need latest version of cdn hosted prebid.js without downloading it

## Description
 also tried this http://acdn.adnxs.com/prebid/prebid.js , but i cant get new version of prebid from here

[2019-01-29 10:46] jsfaure commented on #3433
Hi, sorry for the delay.
So, yes, it appears that some part of the referenced libraries don't comply with the strict mode.
I will try to update them.

[2019-01-29 16:30] jsfaure commented on #3433
Here a first PR: https://github.com/kjur/jsrsasign/pull/389
Need to be replicated here as well: https://github.com/travist/jsencrypt/blob/master/lib/jsrsasign/asn1-1.0.js

[2019-01-29 21:01] #3396 closed

[2019-01-29 22:41] mcallari opened #3495 "Change Base URL to Use Cloudfront and Remove cache buster from Optimera"
## Type of issue
Feature update

## Description
Remove the cache buster and put network call behind CloudFront

[2019-01-30 18:03] #3409 closed

[2019-01-30 20:06] snapwich commented on #3479
With the release of 2.0 I've added an option to the babel-plugin that writes the global.

If you're using the loader instructions in the README, you should be able to pass the variable using the loader with something similar to the following:

[code]

[2019-01-31 14:38] GLStephen opened #3502 "Custom Global Name w/ Universal Creative"
## Type of issue
Question

## Description
I have a couple of questions about renaming the PBJS variable and interaction with universal creative. Does the universal creative need to be custom built to support renaming PBJS? The UC site doesn't specify, but there does seem to a fixed reference to PBJS. The UC also seems to do some renaming when it loads to a local ucTag. Does the UC support renaming

[2019-01-31 15:33] akira28 commented on #3169
Maybe it has already been asked, but why Criteo is allowed to use `eval`? Is the only adapter using it, and this causes the import of js-encrypt (more than 35kb gzipped)

[2019-02-01 18:41] #3398 closed

[2019-02-04 11:36] jpmohan1111 commented on #3454
Its seems to work for me. I used "DEBUG_MODE": "prebid_debug" in constants.json and '/?prebid_debug=true' in the url.

[2019-02-05 01:17] robertrmartinez opened #3515 "PrebidServer Default Vendor option does not honor `enabled` field"
## Type of issue
BUG - Unsure of when introduced, or if has been the case since default vendors was included.

## Description
When using the `defaultVendor` option in `s2sConfig`, we cannot overwrite the `enabled` field.
The auction will ALWAYS hit PBS when the defaultVendor is set and cannot be shut off with `enabled: false`

## Steps to reproduce
Any s2s test page with the following s2sconfig wi

[2019-02-05 12:02] #3477 closed

[2019-02-06 19:01] thomashmc1 opened #3526 "Disable SRA for prebid server"
## Type of issue
Question

## Description
Currently when a publisher setup s2s request with multiple adUnits in the page, it always end up sending out SRA with multiple impressions to prebid server, is there a way to configure it so that for each adUnit in the page it will send out a one request to prebid server?
Example:
2 adUnits in page -> 2 request to prebid-server

[2019-02-06 19:03] #3441 closed

[2019-02-07 03:08] bretg commented on #3490
Sorry, we do not provide hosting for Prebid.js on a CDN. You will need to build it and put it on a CDN for your usage.

[2019-02-07 03:08] #3490 closed

[2019-02-07 03:09] bretg commented on #3495
Fixed with #3499

[2019-02-07 03:09] #3495 closed

[2019-02-07 03:10] bretg commented on #3482
Fixed with #1140

[2019-02-07 03:10] #3482 closed

[2019-02-07 03:14] bretg commented on #3502
You're right @GLStephen - that's not ideal. There's only two lines of code that assume pbjs is the variable name, but that's two-too-many.

Assigning to @idettman - we'll try to get to this within a couple of weeks.

[2019-02-07 03:21] bretg commented on #3515
Good catch @robertrmartinez - will put it in our queue for next sprint

[2019-02-07 03:27] bretg commented on #3526
You would need to set up two auctions.

[code]

[2019-02-07 03:27] #3526 closed

[2019-02-07 03:29] bretg commented on #3344
Fixed with #3369

[2019-02-07 03:29] #3344 closed

[2019-02-07 03:30] bretg commented on #3278
Prebid.js 2.0 released last week. Closing the tracking issue.

[2019-02-07 03:30] #3278 closed

[2019-02-07 03:32] bretg commented on #3479
@yonbeastie - Going to assume that snapwich has you covered here. Re-open as needed.

[2019-02-07 03:33] bretg commented on #3465
@Elardzhi - if `npm install` doesn't fix, feel free to re-open with more details.

[2019-02-07 03:33] #3465 closed

[2019-02-07 03:38] bretg commented on #3463
I'd rather not build this unless we have publisher support saying they'd use it. Seems like it could cause a scad of extra network traffic on the web page... imagine there are 5 bidders on the page and all of them want to know why they "lost". That's at least 4 extra calls for the browser, and probably 5 if the ad server doesn't choose header bidding. I'm not aware of many pubs that will be happy

[2019-02-07 03:42] bretg commented on #3459
@OneTagDevOps - please take a look?

[2019-02-07 03:44] bretg commented on #3454
@sathwik77 - please re-open as required -- seems like it's possible, but if not, we're happy to review a pull request.

[2019-02-07 03:44] #3454 closed

[2019-02-07 05:51] pm-manasi-moghe commented on #3320
Hi,

Is there an ETA for this fix?

[2019-02-07 08:15] lewismoore10100 opened #3535 "Prebid 2.1.0 release documentation"
## Type of issue
Documentation (Release)

## Description
In Prebid 2.1.0 release note, *Unruly: add userSync functionality* links to the wrong git commit, #3472 it should link to #3460

## Steps to reproduce
Seen here https://github.com/prebid/Prebid.js/releases

[2019-02-07 16:59] bretg commented on #3535
fixed. thanks for the correction.

[2019-02-07 16:59] #3535 closed

[2019-02-07 17:43] potench opened #3536 "AppNexus Video Adapter video-size issue or potentially adapterManager.js issue"
## Type of issue
Bug

## Description

`adapterManager.js` does not map the `video.playerSize` to `bid.sizes`, so the response from appNexusBidAdapter.js is always `{"error":"parse"}`. Other adapters also expect `bid.sizes` to a mapping from `video.playerSize` that no longer works as expected.

I believe the functionality changed between [adapterManager.js in 1.25.0](https://github.com/prebid/Prebi

[2019-02-07 18:03] headerbidding opened #3538 "Bidder Codes hard to find in New Prebid Web Site"
I had trouble finding the bidder codes page in the new web site. i.e.: http://prebid.org/dev-docs/bidders

Iooked for it in the "Adapter" sub menu.
(After much searching, I found it finally in the "Reference" section)

Suggestion: Also add it to the "Adapter" section.

[2019-02-08 13:21] mercuryyy commented on #3046
@bretg  https://staging.prebid.org/dev-docs/modules/universalid.html - 404

when building PB with userID from download page - {"error":"Prebid file not built properly","requestId":"d99fd837-0fa9-41b4-8fa6-98386173c118"}

[2019-02-08 16:08] smartbidder1 opened #3541 "Consumable Bidder - Killing publisher's traffic."
## Type of issue
uite a shady bidder.

## Description
A few weeks ago, and we've noticed some strange fluctuation in terms of CPM drops all over the place.
After a deep investigation, we have found out that it happened right after we've added Consumable bidder as one of our bidders.

It turns out that this line in the bidder:
`ad += '<script type=\'text/javascript\'>document.write(\'<scr\'+\'ipt t

[2019-02-08 16:15] naffis commented on #3541
What site is this on? This intended behavior and should have been explained and demonstrated during the sales process. The consumable content unit displays content and ads in tandem, although the timing of yours seems to be misconfigured or a bug. Please reach out to your consumable rep to discuss and fix.

[2019-02-08 16:26] smartbidder1 commented on #3541
If those were just consumable ads units that behavior was fine.
But you are also doing countless of hidden header bidding auctions inside the ad itself querying again and again each 10 seconds for a bid from Appnexus and the largest SSP's, causing they "maximum bids per UUID" limit to be reached and hurting the publisher itself!

![image](https://user-images.githubusercontent.com/30568117/52491083

[2019-02-08 16:32] naffis commented on #3541
Yes, our unit makes client-side call to our SSPs to fill. We can switch your unit to make a server-side call. There should be a handful of calls during each request cycle. Please reach out and we can resolve the behavior. These issues would be more easily and quickly addressed through your Consumable rep as opposed to this forum.

[2019-02-08 17:49] mkendall07 commented on #3541
closing this as it's better handled offline with the SSP. Thanks

[2019-02-08 17:49] #3541 closed

[2019-02-09 18:56] #3446 closed

[2019-02-11 13:20] GLStephen commented on #3502
@bretg @idettman I have a PR that follows the same process as Prebid.js. It has a a variable in the pckage.json and a new replace command in the webpack.fonf.js file. I'll submit it. There are two places in the renderingManager but the sinon.spy hook needed to match also.

[2019-02-12 13:57] mkendall07 commented on #2902
currently working on a solution to this issue by not sending the click_url data to DFP. More soon.

[2019-02-12 15:43] robertrmartinez commented on #2902
@naoto0822 For your reference

[2019-02-12 19:12] #3536 closed

[2019-02-12 19:33] westerschmal opened #3553 "Rich media iframe behaviour"
## Type of issue
Question

## Description

When serving rich media skins/takeovers via Prebid, the page content bounces up and down. Likely because of the sizes used for these formats, 1800x1000/970x1000/1920x1200. This causes the Google iframe to resize to 1000/1200px, until the rich media script resizes it to the correct size.

If the same RM template is served using a smaller size (e.g. booked

[2019-02-12 21:45] bretg commented on #3538
Thanks for the feedback @headerbidding - we've made a couple of changes:
- relabeled that left-nav section "Adding an Adapter"
- promoted the Publisher API and the Bidder Params right into the top 'Product' menu. These are two of the most popular pages on the site, so makes sense.

[2019-02-12 21:45] #3538 closed

[2019-02-12 21:59] headerbidding commented on #3538
Thank you!!

From: bretg [mailto:notifications@github.com]
Sent: Tuesday, February 12, 2019 4:46 PM
To: prebid/Prebid.js
Cc: Flixxy; Mention
Subject: Re: [prebid/Prebid.js] Bidder Codes hard to find in New Prebid Web Site (#3538)

Thanks for the feedback @headerbidding <https://github.com/headerbidding>  - we've made a couple of changes:

*	relabeled that left-nav section "Adding an Adapter"
*	pro

[2019-02-13 10:21] naoto0822 commented on #2902
@robertrmartinez Thx!

[2019-02-13 16:11] mkendall07 commented on #3320
this is included in 2.2.0 release.

[2019-02-13 16:11] #3320 closed

[2019-02-13 16:11] mkendall07 opened #3556 "I2I 3.0 list of planned changes"
## Type of issue
I2I
## Description
This is a placeholder for the Prebid.js 3.0 release. Issues will be linked here for potential inclusion into a 3.0 release. Filter link: https://github.com/prebid/Prebid.js/issues?q=is%3Aissue+is%3Aopen+label%3A%223.0+API+Change%22

Target Release Date:
Q2/Q3 2019

Issue list:

 - https://github.com/prebid/Prebid.js/issues/3277
 - https://github.com/prebid/Prebi

[2019-02-13 16:38] jokatzen opened #3557 "getAllPrebidWinningBids() returns something but getAllWinningBids() is empty"
## Type of issue
Question

## Description
I've been struggling with pbjs and DFP for several days now and my current problem is the one described in the title: when I type `pbjs.getAllPrebidWinningBids()` in the console, something is returned but nothing is displayed on my test page, and when I type `pbjs.getAllWinningBids()`, an empty array is returned and I don't get why.

A few more info :
• Th

[2019-02-13 19:58] jsnellbaker commented on #3557
@jokatzen Can you provide a link or a copy of your test page so we can review?

As a brief note to the behavior you're seeing with the two functions:
The `pbjs.getAllPrebidWinningBids()` returns those bids that won the auction, have had their targeting set, but haven't rendered on the page yet.

The `pbjs.getAllWinningBids()` returns those bids that won but also have rendered.

So the behavior you

[2019-02-13 22:02] #3400 closed

[2019-02-14 04:02] #3463 closed

[2019-02-14 06:51] nikhil-gujarathi opened #3560 "Two "prebid.js" files on the same page"
I am using prebid.js for appnexus, rubicon and sortable. Dynamically, we add the Prebid.js in the head section of the page. But, after that publisher also adds the prebid.js (only appnexus).
Due to this, prebid is throwing an error in console saying that "ERROR: Trying to make a request for bidder that does not exist".
I saw issue #492. But just looking for options, so that we can run both the scr

[2019-02-14 09:36] jokatzen commented on #3557
Thanks for your feedback @jsnellbaker, I spent so much time reading the API reference over and over again that I ended up not even getting that!

Here's my code : [](https://jsfiddle.net/cxen7091/2/) (I'll also update my original post).
Also in DFP, I have 5 line items from 0.00€ to 2.00€ (so a 0.50€ increment).

[2019-02-14 14:43] jsnellbaker commented on #3557
Something to try; the min/max values between the bucket tiers should be same.  Currently you have a dollar gap between the max of one tier and the min of the next tier.  If a bid came back within this gap, it may not be handled properly.

To clarify the functionality of the fields:
- the `max` acts as a hard ceiling; eg a max value of `8` with an increment of `0.05` would mean the highest value ac

[2019-02-14 17:27] jokatzen commented on #3557
I've modified the values in the bucket tiers (all the bids I receive on this test page are between 0.5€ and 0.9€ so it shouldn't impact much anyway), and it doesn't work either. :(
For the missing `</body>` tag, my bad: it's just a mistake from when I cleaned the code on jsfiddle.

Sorry for the dummy values, it's actually a policy to keep this quite anonymous! However I don't think it's the sourc

[2019-02-14 19:16] spatnaik-prebid commented on #3379
[LongForm video comments.pdf](https://github.com/prebid/Prebid.js/files/2866485/LongForm.video.comments.pdf)

[2019-02-14 19:21] #3502 closed

[2019-02-14 19:22] jaiminpanchal27 commented on #3556
We should ask all adapters to update their code and start using http://prebid.org/dev-docs/bidder-adaptor.html#referrers

https://github.com/prebid/Prebid.js/issues/3072

[2019-02-14 21:42] jaiminpanchal27 commented on #3379
@spatnaik-prebid I have copied your questions from pdf.

will add to their Primary ad server's ad request URL.
Q. Why is this a requirement?

A. This is a requirement because Prebid does not know which player is going to make request to Freewheel adserver. As of now we have very limited information regarding video player's api's supporting longform. So we have not developed any method to setTarget

[2019-02-15 04:52] freegames66 commented on #3560
The same problem. I am using ads of Valueimpression and Adinplay. They are using two different prebid.js versions. This causes advertising conflicts. Are there any solutions to this problem?

[2019-02-18 14:38] dmitriyshashkin opened #3566 "Sortable adapter causes an error due to an error in a variable name"
## Type of issue
BUG

## Description
Sortable used a different letter case for a variable. They declared it as `syncUrl` and later referenced as `syncurl`. This results in an error.
**https://github.com/prebid/Prebid.js/blob/master/modules/sortableBidAdapter.js#L138**

## Steps to reproduce
Create a build that includes sortable adapter. Run it on some page together with GDPR content management

##

[2019-02-19 17:50] #3433 closed

[2019-02-20 08:02] 580 opened #3569 "e2eTest Error: Invalid glob argument"
## e2e test terminated with error message
I am seeing error message "Error: Invalid glob argument", when I try to run e2e test.
Is that an error related to gulp v4?

## Error Message:
[code]

## Steps to reproduce
Execute e2e task in Terminal:
[code]

Any help would be appreciated.

[2019-02-20 09:56] jbartek25 commented on #3560
You can run multiple instances of Prebid.js without any problem as long as they use different global variable name, not all pbjs. Pick a new name in [package.json](https://github.com/prebid/Prebid.js/blob/master/package.json#L20), rebuild Prebid.js and rename pbjs in the corresponding config on your page to the new name.

[2019-02-21 08:35] xavierleune commented on #81
Hi,

Did anyone created a tool for generating line items in DFP/AdManager for video ?

Thanks,

[2019-02-21 09:32] drdmitry opened #3576 "requestBids.before is not a function when running on website with old prototype.js"
## Type of issue

Bug

## Description

Website is using prototype.js v1.6.0.3
When Prebid v2.3.0 is used, there is an exception occures:
Uncaught TypeError: pbjs.requestBids.before is not a function

## Steps to reproduce

On the page:
Load prototype.js v1.6.0.3
Load Prebid v2.3.0
Set prebid config
Request bids

## Test page

https://jsbin.com/fiwuxuqibi/edit?html,output

### Expected results
No e

[2019-02-21 17:07] muncha opened #3577 "Build bug on Ubuntu related to inotify watches"
## Type of issue
Bug

## Description
On Ubuntu 18.04, and probably other Linux systems, an error may be encountered while running
[code]
See below for workaround.

## Steps to reproduce
I saw this on a fresh clone, running "npm install", then "gulp serve" with the versions indicated below.

### Expected results
An error free build and server start.

### Actual results
An error similar to this:
[co

[2019-02-21 20:35] gchicoye opened #3579 "'getSlotElementId' of undefined issue with Universal Creative"
## Type of issue
Bug

## Description
While using the Universal Creative on 2.2.0 Prebid.js, I get trying to show Appnexus ads this error:
[code]
It revert to this part of Prebid.js code:
[code]

## Steps to reproduce
Check the test page

## Test page
https://bit.ly/2SgXiFt

### Expected results
An Ad
### Actual results
A blank ad

## Platform details

Prebid 2.2.0, Chrome
## Other information

[2019-02-21 23:56] snapwich commented on #3576
The issue is that the old Prototype.js library, in a horrible fashion, replaces `Array.prototype.reduce` with a version completely incompatible with `reduce` as implemented by modern browsers.  http://prototypejs.org/doc/1.6.0/array/reduce.html
vs
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/Reduce

I've added an update to fun-hooks to use a `reduce` polyf

[2019-02-22 09:27] drdmitry commented on #3576
Unfortunately there is no access to the website. Thanks for the fix and explanation, this should be sufficient at this moment.

[2019-02-22 17:19] mcallari opened #3580 "Update Optimera network call to use https"
## Type of issue
Bug

## Description
Update network request to use https.

[2019-02-22 18:02] webdeveloperpr commented on #3580
If anyone builds prebid manually you can add this script to your package.json to fix the url during the build process.

package.json

[code]

build.sh

[code]

fix-optimera.js

[code]

[2019-02-22 19:07] mkendall07 commented on #3579
Thanks for the bug report. I'm not able to see the error on your test page. Do you know if it only occurs when certain bidders respond with a bid or some other condition perhaps?

[2019-02-23 21:09] bjorn-lw opened #3583 "bidTimeout event seems to be broken after 1.24"
## Type of issue
With version 1.24 and up until the latest version it seems as if the analytics event "bidTimeout" is broken.

## Description
If one bidder times out, all bidders that do not bid are included in the bidTimeout event, even if they in fact responded in time.

In 1.23 and before that, only the bidder(s) that actually timed out is included in the array passed into the analytics adapter

[2019-02-26 14:01] gchicoye commented on #3579
Hi,

You might have more chances here.
https://bit.ly/2tCzUs7

Thanks!

Gabriel

[2019-02-26 19:54] mkendall07 commented on #3580
nice script 👍
It occurs to me that prebid.js build should probably fail the build if we can't load in a secure environment. I think that's a challenging thing to test properly though.

[2019-02-26 21:44] TheMaskMaker opened #3587 "bidId missing from response event"
## Type of issue
Bug

## Description
When a call to requestBids contains multiple of the same bid adapter for the same placement, there is no way to correlate each individual bid in the request event object to the resulting response event object. The transaction and request ids of the request are the same for each individual bid. The bidId is unique, but it is not returned in the response event ob

[2019-02-27 07:46] vamsiautomatad opened #3590 "Content Security Policy and Prebid"
## question
For sites using [CSP](https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP) , it is hard to implement Prebid as bidders use multiple domains for the process of accepting bids and responding back with creatives for winning bids .

it will be extremely useful if Prebid can maintain a list of (sub)/domains  that the bidders use , so that they can be whitelisted.

## Description
Some site

[2019-02-27 15:43] Alejandro-MartinG opened #3592 "Multiple auction responses"
I am using Prebid in a environment of multiple acutions and this work perfectly but I have some doubts with the responses. I tried to make my own debug logs executing `pbjs.getBidResponses();` and printing a table but I find a "race condition" when Prebid fire 2 request sometimes I can only see the last response duplicated.

Can you give some feedback about if It's possible solve this "race condit

[2019-02-27 15:54] #3576 closed

[2019-02-27 22:30] mcallari opened #3597 "Optimera plugin sometimes doesn't return impressions with AppNexus"
## Type of issue
Bug

## Description
Optimera's configuration requires the use of size 0,0 which, in some instances, causes the AppNexus ad server to respond to ad requests but not fill impressions.

## Steps to reproduce
* Configuration using AppNexus
* Define sizes without [0,0]
* Deliver Ads for one day, check AppNexus UI numbers versus DFP delivered impressions
* Add size [0,0] and repeat.
* I

[2019-02-27 22:41] mkendall07 commented on #3590
@vamsiautomatad
I'd suggest taking a look at https://github.com/prebid/headerbid-expert/blob/master/bidderPatterns.js
This will give you the domains in question.

[2019-02-28 01:24] naoto0822 commented on #2902
@mkendall07 @robertrmartinez
Hi.
Was this issue solved by #3573 ?

[2019-02-28 04:38] #3404 closed

[2019-02-28 15:31] tr-coull opened #3600 "Purpose/further specs for userSync timeout"
## Type of issue
Question

## Description
We recently tested switching on pixel & iframe userSync with the default settings. Though we can't be 100% sure, it looked like this caused a decrease in impressions and some unexpected bid request timeouts. We need to use a "global" 3s timeout, as our pbjs implementation is loaded into a VPAID iframe which may be destroyed by the host, or cleaned up by ou

[2019-02-28 20:13] jaiminpanchal27 commented on #3592
@Alejandro-MartinG pbjs.getBidResponses() should return the bid responses for last auction. There was some bug with getting the last auction id. We fixed that here. https://github.com/prebid/Prebid.js/pull/3492
Can you try 2.0 and see if it improves.

[2019-02-28 20:20] jaiminpanchal27 commented on #3566
@bgahagan @shannonAB Please verify and update

[2019-03-01 10:24] mahammer opened #3603 "prebid.js size"
I am really wondering why pbjs 2.x is such a behemoth?
The pbjs 1.x builds with the adapters I needed are around 180kb.
Now enter pbjs 2.x is moving towards 350kb.

That's a lot to load, especially on mobile devices.
Could someone tell my why it grew or had to grow so much in size?
The more you have to load, the later the auction can start, the less it becomes headerbidding ;)

[2019-03-01 13:08] GLStephen commented on #3603
In PB 2.0 a few adapters contribute more net size. Particularly Criteo.

[2019-03-01 14:38] jsnellbaker opened #3604 "clean-up and update the test/fixtures/fixtures.js test data"
## Type of issue
Refactor/Clean-up

## Description
The test objects located in the `test/fixtures/fixtures.js` file seem slightly dated and incorrect in some parts.

For example, at this point [here](https://github.com/prebid/Prebid.js/blob/master/test/fixtures/fixtures.js#L628) in the `getAdUnits()` function - the returned object more resembles a bidderRequest object rather than a typical adUnit.

[2019-03-01 14:46] mahammer commented on #3603
Ah. Just tested 2.4 with just the GDPR module comes in at 122kb
So there's literally 220kb of adapter piled on top.

[2019-03-01 14:47] #3603 closed

[2019-03-01 15:22] cwbeck opened #3606 "Bug in Prebid 2.4.0"
Moving from 2.3 to 2.4 has caused a bug that halts Prebid. I wasn't aware there we any breaking changes in 2.4?

![screenshot 2019-03-01 at 15 09 04](https://user-images.githubusercontent.com/425262/53647559-b9d22100-3c35-11e9-8d0b-a5f2aee91c99.png)

![screenshot 2019-03-01 at 15 08 56](https://user-images.githubusercontent.com/425262/53647573-bf2f6b80-3c35-11e9-82b8-232f32fd8a91.png)

[2019-03-01 15:31] mkendall07 commented on #3600
it's the time delay after the auction to start the user sync activity. The idea behind the delay is to stay out of the critical path of the auction/actual ad delivery. Reducing it will trigger it closer to the auction completion.

[2019-03-01 15:32] GLStephen commented on #3606
Not to be overly pedantic, but a breaking change is a change which intentionally breaks functionality. This looks like it might be a plan old bug if it's an issue in Prebid at all. Given the section of code it looks like a misconfig in a bidder's params, but I didn't dive deeply into it.

[2019-03-01 15:32] mkendall07 commented on #3606
definitely not intentional if it's there. Can you provide a test page?

[2019-03-01 15:50] cwbeck commented on #3606
@GLStephen - yes badly phrased!! I just saw some references to a feature around management of adunits which may or may not be linked to this bug: https://github.com/prebid/Prebid.js/pull/3527

@mkendall07 - I'll see what I can do. this is all compiled into a bigger project and staged locally. we use switcharoo to test against sites before we deploy.

[2019-03-01 16:13] jsnellbaker commented on #3579
@gchicoye I've been periodically reloading these test pages to try to replicate the issue, but each time the creative template that was used was the basic `renderAd` code instead of the Universal Creative code.

[2019-03-01 16:22] Rendez commented on #3590
Unrelated, but somehow problematic with CSP as well. The dependency "fun-hooks" uses `new Function(...)` which requires the source `unsafe-eval` to be in CSP headers. This forces us to downgrace the CSP strictness. Is there a way to either stop relying on that library or see if it can be fixed?

[2019-03-01 16:29] webdeveloperpr commented on #3580
Should the protocol be dynamic?
In my testing environment I use http but in prod I'm using https. In order to get the url working in both the api call could be made to `//dyv1bugovvq1g.cloudfront.net` but I'm not sure if that is a security concern.

[2019-03-01 16:29] mkendall07 commented on #3606
@cwbeck
if you can reproduce with a minimal setup using JSfiddle that also works.

[2019-03-01 16:40] cwbeck commented on #3606
@mkendall07 - clearing out NPM cache and re-installing seems to have done the trick.

[2019-03-01 16:40] #3606 closed

[2019-03-01 16:46] jaiminpanchal27 commented on #2780
Already completed
- cookieset is no longer part of Prebid project
- unit tests use adloaderstub `https://github.com/prebid/Prebid.js/blob/master/test/mocks/adloaderStub.js`

Todo
- Removing $$PREBID_GLOBAL$$.loadScript will be a breaking change. Lets make it part of 3.0 #3556
- Comments mentioned in description for Renderer.js needs to be done

[2019-03-04 11:40] naoto0822 opened #3607 "[Native] not correct replacing placeholders of image and icon"
## Type of issue

With version 2.4.0 and up ( about #3573 ).

## Description

If `image` and `icon` configured `sendId: true` in Ad Unit config,  placeholders(`hb_native_image:adid` or `hb_native_icon:adid`) is not correctly replaced but  replaced `[object Object]`.
Placeholders of `title`, `body`... is correct replaced.

Please teach me workaround or correct implementation.

reference following:

[2019-03-04 12:45] dugwood commented on #2535
FYI I've changed my way of dealing with skins: I always load these in a specific iframe that is used as background of the whole website. This way it's displayed 100% of the time, possibly with issues (responsive is not my friend here), but at least it's displayed.

[2019-03-04 15:14] Alejandro-MartinG commented on #3592
Thank you @jaiminpanchal27 !
I gonna test the last version of Prebid.

Do you know if in the future Prebid will return all auction responses?

[2019-03-04 15:25] mkendall07 commented on #3597
could you clarify what you mean by ad server response but not fill?

[2019-03-04 15:26] mkendall07 commented on #3590
@snapwich  for comment

[2019-03-04 17:46] snapwich commented on #3590
@Rendez the nature in which fun-hooks uses `new Function` isn't unsafe (the code isn't generated from any user input and is limited in scope) and is actually used to improve performance. The idea came from webpack which also uses a similar code generation technique to improve performance in its hooking library: https://github.com/webpack/tapable/blob/master/lib/HookCodeFactory.js#L19

However, web

[2019-03-04 19:00] matthewlane commented on #3607
@naoto0822 Thanks for the bug report. This issue will be fixed with #3609

[2019-03-04 23:58] pkayfire commented on #3231
Any updates here? This is a pretty big issue with anyone that wants to run a multi-format placement with banner + outstream video.

@benjaminclot not sure the workaround works 100% of the time. In my case the renderer URL did not load.

[2019-03-05 10:17] Rendez commented on #3590
Thanks for the great answer, and being so reasonable about the issue. I understand that creating new functions during hook execution time isn't ideal for performance, but I trust the optimizing compiler to kick in. Is there a way we could test the performance of both approaches, and see some numbers?

[2019-03-05 10:21] benjaminclot commented on #3231
@pkayfire I use a fake URL as `rendererUrl` because my `rendererFn` is already available. It's just that `renderer` requires a URL parameter.

[2019-03-05 15:30] naoto0822 commented on #3607
@matthewlane Thanks for quick response!

[2019-03-05 19:02] #3607 closed

[2019-03-05 21:11] #3553 closed

[2019-03-06 13:15] bjorn-lw opened #3616 "Latest Universal Creative and Google Safeframe doesn't work with Prebid <= 1.23"
## Type of issue
Bug

## Description
When using Safeframe, the latest universal creative doesn't render an ad with Prebid.js v 1.23 and below. If you uncheck safeframe in GAM it works.

No error messages are being output.

I would assume a version of the universal creative that correlates with the prebid.js version being used will work, but not tested.

## Steps to reproduce
See above

## Other in

[2019-03-06 16:52] jaiminpanchal27 commented on #3231
Here is possible solution to this bug:
Renderer module is not tied to any particular format, even though it is only used for outstream by Prebid adapters as of now.

Prebid core installs renderer on bid response if renderer is present on adUnit. See [here](https://github.com/prebid/Prebid.js/blob/master/src/auction.js#L470)

We can add renderer property inside `mediaTypes.<format>` object in case

[2019-03-06 16:56] mkendall07 commented on #3231
what if we just associated a renderer with every bid, and for banner the renderer is simply the "renderAd" function that is standard for banner?

[2019-03-06 17:50] jdelhommeau commented on #3231
I really like @jaiminpanchal27 idea of having ability to assign renderer per mediaType.
That would also allow people to add renderer for native (when not using an adserver for example) or to add renderer for specific banner case (skin).
We would also need to have a way in the custom renderer function to passback to default renderer from prebid. That way, you could have stuff like:

renderer for di

[2019-03-06 18:01] pkayfire commented on #3231
For the sake of speed it could make sense to go with the solution by @mkendall07 and have the renderer per mediaType be a follow-up feature.

[2019-03-07 15:33] thewizarodofoz commented on #3583
The way an auction knows which bids timed out is by comparing bid requests to bid responses.
When a bidder yields no bids from its ad server (not due to a timeout, but simply an empty response), from the perspective of the auction it is the same as if there was no response at all. This is due to the fact that a bidder will only notify auction regarding its response using `auction.addBidResponse` *

[2019-03-07 15:42] bjorn-lw commented on #3583
Thanks for looking into this! I have some objections to what you describe and please let me know if I didn't get what you said correctly.

1. Putting how the code works aside, I strongly disagree that an empty response is the same as a timeout from an analytics perspective.

2. It's very confusing to even have a timeout event if you can't tell what it means and it fires irrationally.

3. The scena

[2019-03-07 16:08] thewizarodofoz commented on #3583
Sorry, I did not mean to suggest that this is accepted behaviour, I simply tried to understand why the code does what it does currently. More importantly, I missed the fact that you are referring to an older version (I researched the current master branch which is obviously much different from 1.23 and 1.24).

I believe I better leave this discussion for someone more authoritative than me, since I

[2019-03-07 16:14] bjorn-lw commented on #3583
Thanks :) I re-read your reply and understood that you were simply trying to describe the current behavior, not defending what it actually does.

Just to be clear though: This is *not* an issue in an older version - that is where it actually works. It is in the current versions we have the problem.

[2019-03-07 18:09] #3557 closed

[2019-03-08 22:20] bretg commented on #3616
Thanks @bjorn-lw .   Added a note to the 'step-by-step' doc.

![Screen Shot 2019-03-08 at 5 17 01 PM](https://user-images.githubusercontent.com/4412838/54059204-582a2d80-41c6-11e9-971c-181d6dc42503.png)

We be happy to review a PR with a fix to the Universal Creative and/or PBJS.

[2019-03-08 22:20] #3616 closed

[2019-03-09 16:09] mwaqarakram94 opened #3620 "Recommendation for Lazy Loading setup"
Hey,

I have gone over a lot of setups that used different types of lazy loading integration with prebid.

Can someone please guide me which one is the best one in 2019?

Thank you so much

[2019-03-12 00:01] mkendall07 commented on #3583
we won't be making any changes to the 1.x version going forward. All dev should be in current master. Sounds like it's still broken so that's ok.

[2019-03-13 10:00] #3569 closed

[2019-03-13 11:00] #3560 closed

[2019-03-13 11:23] adriafolchmrf opened #3627 "Prebid Server Adapter: BidRequest with currency"
## Type of issue
Question

## Description
We are trying to send the cur parameter in the payload to the prebid server but we are not seeing any way to define this by configuration. This is specified in the BidRequest on the IAB documentation found in the next link: https://www.iab.com/wp-content/uploads/2016/03/OpenRTB-API-Specification-Version-2-5-FINAL.pdf

Is there any plan to implement this fe

[2019-03-13 11:43] adriafolchmrf opened #3628 "Aliases in S2SConfig and SyncEndpoint issue"
## Type of issue
Bug

## Description
When specifying aliases in prebid as suggested in the documentation (http://prebid.org/dev-docs/get-started-with-prebid-server.html) we are seeing that in the payload to the syncEndpoint we are not using the proper bidder name but the alias instead, therefore failing due to not finding the bidder in the server.

## Steps to reproduce
Adding any alias in the bid

[2019-03-13 11:43] Slind14 commented on #3115
@kelvin-chappell updated it to reflect the additional dimension and added a simple example

[2019-03-13 13:08] TheMaskMaker commented on #3587
Please advise if more information is required or some protocol of issue posting is amiss. This is an active issue but seems to be marked as stale. I am unfamiliar with github repo protocol any advise would be welcome.

[2019-03-13 15:59] jaiminpanchal27 commented on #3628
@adriafolchmrf Thanks for reporting this.
When publisher is using alias `s2sConfig.bidders` list, PBS adapter should find the actual bidderCode and use that to send to userSyncEnpoint.

[2019-03-14 04:59] Van0128 opened #3635 "How do I find an advertiser winning instream video ads?"
Hello friends. Currently, we are using header bidding through prebid.js code and building up the report system with header bidding.
We have display ads and video ads. We also work with SSPs partners such as appnexus, pubmatic, rubicon, ... and ADX.
For display ads, we found the winning advertiser.
For video ads, we use the IMA SDK player. However, we do not know when ADX beat other bidders.
This m

[2019-03-14 17:31] trchandraprakash opened #3636 "Advangelists Bidder adapter not showing on download page"
Hi, Can you please let me know when Advangelist's bidder adapter will get listed in Download page.
Here - http://prebid.org/download.html
I see it got release with this version - https://github.com/prebid/Prebid.js/releases/tag/2.5.0
Let me know if anything pending from my side. Thanks.

[2019-03-14 17:51] #3577 closed

[2019-03-14 21:03] trchandraprakash commented on #3636
I see Advangelists bidder on Download page now, Thanks.  https://github.com/prebid/prebid.github.io/pull/1177
Now I am not able to download prebid.js bundled with my adapter, can you please let me know what would be next step.
Here is the error i am seeing
{"error":"Prebid file not built properly","requestId":"28b9ca68-21dd-46b1-83b3-8636b3b3371e"}

Thanks.

[2019-03-14 21:13] jaiminpanchal27 commented on #3636
@trchandraprakash Your adapter file name and bidderCode mentioned in markdown file [here](https://raw.githubusercontent.com/prebid/prebid.github.io/master/dev-docs/bidders/advangelists.md) should be same.

In your case:
Your adapter file name is : advangelistsBidAdapter.js
bidderCode in markdown file should be : `advangelists`

[2019-03-14 22:25] trchandraprakash commented on #3636
Hi Jaimin,

Thanks for getting back. I have updated markdown file and it is available
on this pull request.
https://github.com/prebid/prebid.github.io/pull/1208

Thanks & Regards
Chandra Prakash

On Thu, Mar 14, 2019 at 2:13 PM Jaimin Panchal <notifications@github.com>
wrote:

[2019-03-15 04:44] jamesvard opened #3638 "Instream video with DFP"
Hello, I'm using header bidding.
I have bidder SSPs like rubicon, appnexus, oneVideo ... I also use ADX
I had trouble getting the bidder to win the instream video ad between bidder and ADX
Can anyone here help me?
Thank you!

[2019-03-15 12:34] adriafolchmrf commented on #3628
Just added a PR #3640 to discuss the approach to solve this bug.

Thanks

[2019-03-15 14:30] jaiminpanchal27 commented on #3587
@TheMaskMaker Can you share jsfiddle or sample config for above scenario ?

[2019-03-15 23:54] wayne-gumgum opened #3644 "utils.getTopWindowUrl() returns improper url - gumgum adapter"
## Type of issue
Prebid util function bug

## Description
It seems that gumgum's "pu", or page url parameter is being mishandled inside iframes. We are experiencing an issue where the topUrl is not being read properly using prebid's built-in util function (getTopWindowUrl).

**GumGum Adapter code**
[code]
See screenshots below for expected and actual values for topUrl.

## Steps to reproduce
This

[2019-03-18 16:12] orzilca opened #3650 "Impressions discrepancy with Converant"
## Type of issue
Question

## Description
Having an average discrepancy of 20%-25% in impressions with **Converant**.
Is anyone else experiencing such issue?

### Expected results
Impressions discrepancy of less than 5% (acceptable discrepancy level)

### Actual results
More than 20%

## Platform details
Prebid.js version 1.17

[2019-03-18 19:37] bretg commented on #3620
http://prebid.org/dev-docs/examples/adunit-refresh.html

If there's anyone who feels there's a better way to do this, please submit a PR for that page. Thanks.

[2019-03-18 19:37] #3620 closed

[2019-03-18 19:45] bretg commented on #3627
Good find. I've opened a ticket on the Rubicon side to address this. Might be a couple weeks until we get to it. If you need it sooner, you'd be welcome to submit a change -- I think it's a pretty small fix around this line -- https://github.com/prebid/Prebid.js/blob/master/modules/prebidServerBidAdapter/index.js#L486

[2019-03-18 19:52] bretg commented on #3635
Prebid doesn't currently have the ability to inject another layer of a VAST XML wrapper to support header bidding analytics. I'd say there are two choices:

1) add additional tracking on the advertiser/DSP side when the VAST trackers are entered
2) break out line items in the ad server so reporting can be done there

[2019-03-18 19:53] snapwich commented on #3590
I think implementing and testing performance of both approaches would be a great idea.  It's not something I will probably get to anytime (within the next few weeks), but a backlog item for sure.

[2019-03-18 21:10] bretg commented on #3638
If you have your line items set up properly (http://prebid.org/dev-docs/show-video-with-a-dfp-video-tag.html), then you can inspect what kind of bids are coming in from each of the SSPs. e.g. with http://prebid.org/dev-docs/troubleshooting-tips.html#see-all-bids-in-the-console

[2019-03-18 21:18] bretg commented on #3644
Please try bidderRequest.refererInfo as described in http://prebid.org/dev-docs/bidder-adaptor.html#referrers

That field is set by the more sophisticated https://github.com/prebid/Prebid.js/blob/master/src/refererDetection.js

[2019-03-18 21:22] bretg commented on #3650
Please take this issue up with your conversant account contact or mediapsr@conversantmedia.com. For the record, Prebid.js 1.17 is almost a year old, and many performance improvements have been made. You should consider upgrading to a more recent version.

[2019-03-18 21:23] #3650 closed

[2019-03-18 21:33] mkendall07 commented on #3583
@thewizarodofoz
do you think this is something you can fix in 2.x ?

[2019-03-18 21:53] thewizarodofoz commented on #3583
@mkendall07 I will work on a pull request. Do you think adding empty bids with a new bid status is a good way to go?

[2019-03-19 00:18] mkendall07 commented on #3583
We've previously not wanted to add "no bids" into the auction. We may need to rethink that a bit. Perhaps just maintaining a list of bidders that have not responded by the time this event happens.

[2019-03-20 09:21] AmerSharif commented on #81
Have you found anything @xavierleune ? I need the same

[2019-03-20 11:03] xavierleune commented on #81
Hi @AmerSharif I worked around @gchicoye tool, to support video line items. I'll consider to create a pull request on insideall/dfp-prebid-lineitems to support video li in the coming weeks, I need to do some clean up before to push that update

[2019-03-20 19:36] patmmccann opened #3660 "User sync iframes visible to some users"
## Type of issue
Page rendering

## Description
The user sync iframes have display:none but not visibility:hidden. They appear as visible empty boxes for some users

## Steps to reproduce
Load a page and scroll to the end of the body. Use the element selector to see the empty box.

## Test page
juliasalbum.com

### Expected results
No visible iframe

### Actual results
Visible iframe with hidden c

[2019-03-20 20:03] patmmccann commented on #3660
This was caused by some other  display:inline-block !important; css, fixed locally.

[2019-03-20 20:03] #3660 closed

[2019-03-21 18:32] nanek opened #3664 "hb_cache_id is not set on DFP video request in Prebid 2.7"
## Type of issue
bug

## Description
hb_cache_id is not set as parameter on DFP video request in Prebid 2.7. Works in Prebid 2.3. I can see that videoCacheKey is set properly on bidResponse.

I think it might be related to https://github.com/prebid/Prebid.js/pull/3605/files#diff-f9e9cab460a9c83c3110b246bd4326e2L165

This results in making a request to `https://prebid.adnxs.com/pbc/v1/cache?uuid=`

[2019-03-21 18:59] jaiminpanchal27 commented on #3664
@nanek Thanks for reporting this. We are working on this and will be fixed in next release. We will be adding both the keys back in dfp module.

#### Summary of what happened
`hb_uuid` and `hb_cache_id` are both standard keys for video. In 2.4 and before, if publisher overwrites the standard keys using pbjs.bidderSettings then both these were getting set to undefined due to the order in which some

[2019-03-21 19:02] nanek commented on #3664
I do overwrite the standard keys, and I don't set the hb_cache_id key. I'll do that, thanks!

[2019-03-21 21:35] rdm opened #3665 "Missing data in prebid network request"
## Type of issue
bug

## Description
Prebid is removing bidding data when posting bid requests

## Steps to reproduce
Visit https://www.sunset.com/travel/hotels/all-inclusive-resorts/ and scroll down so the video plays.  The video adUnit has *playerSize: [[640, 480]]* (code generating ad unit visible at https://www.sunset.com/wp-content/themes/sunset-magazine/static/js/jw-prebid.js ) but tag sizes

[2019-03-22 16:50] #3600 closed

[2019-03-22 17:21] TheMaskMaker commented on #3587
I made a fiddle example of our code and got permission, and, of course, we are no longer able to reproduce! It seems like we can now see the requestId of the response map to the bidID of the sub-request. Closing this issue, thanks your your assistance.

[2019-03-22 17:21] #3587 closed

[2019-03-22 17:50] #3579 closed

[2019-03-22 17:50] #3580 closed

[2019-03-22 20:56] TheMaskMaker opened #3669 "Feature Request: Auction ID in bidsBackHandler arg"
## Type of issue
Feature Request

## Description
bidsBackHandler does not return any means of obtaining the auctionID of a winnerless auction. This prevents the backhandler from acting on such auctions, as it does not know what they are or that they even exist.

Right now, the first arg of bidsBackHandler is of the form:
[code]
and if bids is empty, the adunitcode does not even show up.

Ideally,

[2019-03-25 06:08] pm-manasi-moghe opened #3671 "Getting incorrect value for refererlURl in bidRequest.referelInfo"
If we redirect from a page A to another page B, which requires the refererlUrl (which in this case is location of page A), the referer info set in bidderRequest still returns the location of page B.
At the line https://github.com/prebid/Prebid.js/blob/b46e0b59647afae5e596b73a29283a6a28e8048e/src/refererDetection.js#L71
, we are setting the detectedRefererUrl to frameLocation. Since the length of l

[2019-03-25 15:48] #3597 closed

[2019-03-25 15:48] #3592 closed

[2019-03-25 16:56] jaiminpanchal27 commented on #3636
Closing as it is resolved

[2019-03-25 16:56] #3636 closed

[2019-03-25 17:53] piotr-yuxuan opened #3677 "Stubbing HTMLCanvasElement in IE and Edge"
## Type of issue

This is a question concerning the CI, and stubing of `<canvas>` on multiple browsers, including Edge and IE.

## Description

Tests in [this commit](https://github.com/prebid/Prebid.js/commit/26796938122ce3726343d54f43a4967b7a7ccb33#diff-27fd957587385a0b552aa07f71ecc4f8R567) pass with HeadlessChrome 73.0.3683 (Mac OS X 10.14.3), including webGL tests and they actually cover 100%

[2019-03-25 20:07] pm-harshad-mane commented on #3671
The documentation here at http://prebid.org/dev-docs/bidder-adaptor.html#referrers mentions that Referrer information is included on the bidderRequest.refererInfo property. This property contains the following parameters:
referer: a string containing the detected top-level URL.
I think parameter name, referer, is confusing here

[2019-03-26 01:14] belezebu opened #3678 "How to change prebid globalVarName in the newer versions?"
# Type of issue
Question

## Description
Hello! I've updated the prebid version to 2.7.0 and added the required changes to my webpack configuration file. Meanwhile I'm still using babel 6. After this pull request, https://github.com/prebid/Prebid.js/pull/3491/commits it is now possible to change the prebid global var name as a babel plugin option. How the object options available in Prebid.js/plug

[2019-03-26 12:41] #3664 closed

[2019-03-26 18:15] ix-prebid-support opened #3684 "Google Consent in GDPR ConsentManagement Module"
## Type of issue
Feature Request

## Description
Quantcast now offers the ability to accept user consent for Google in an effort to help better align CMPs to support Google Consented Providers Solution (CPS). Curious if this is something that's being looked at or if we should allocate some resource to this?

## Platform details
Prebid.js and prebid-server

## Reference material
Quantcast press rel

[2019-03-26 18:35] nanek opened #3685 "How to link bidResponse to bidRequest?"
## Type of issue
Question

## Description
Prior to https://github.com/prebid/Prebid.js/pull/3440, I could find the bidRequest that related to a bidResponse by using adId. I could then pull params such as placementId from the bidRequest to use in our analytics. Going forward what is the preferred way to link a bidResponse object to a bidRequest object? Or is there another way to get the placementId

[2019-03-26 18:36] mkendall07 commented on #3115
Small update to match what we did for the long form video competitive separation.

[2019-03-26 19:11] patmmccann opened #3686 "Enabling multi-format outstream for a placement causes erroneous prebid server responses"
## Type of issue
Bug

## Description
We recently converted an in article unit from banner to multi-format, banner and outstream video. We pass the clientside placement id to AppNexus, the new demand we enabled for this placement. Because of this, the call to prebid server required that we define mime types, even though prebid server does not support outstream. Since the slot is multiformat, Pubmat

[2019-03-26 19:12] bretg commented on #3684
@ix-prebid-support - we're not looking at this. Please feel free to submit an "Intent-to-Implement" issue describing your proposal. Ideally it would be a modification to the existing GDPR module.

[2019-03-26 21:12] ix-prebid-support commented on #3684
Thank-you @bretg this makes perfect sense. Let me regroup internally and we will plan some next steps for this. Thanks!

[2019-03-26 21:12] #3684 closed

[2019-03-26 21:32] bretg opened #3687 "Proposal: Standardizing First Party Data"
## Type of issue
Feature

## Description
Provide a standard way for the page to supply first party data and control which bidders have access to it.

A number of adapters support taking key/value pairs as arguments, but they're all different. e.g.

- Rubicon takes `keywords`, `inventory` and `visitor` parameters
- AppNexus takes `keywords` and `user`
- OpenX takes `customParams`
- Index takes `fir

[2019-03-27 00:05] piotr-yuxuan commented on #3685
Hi!
Bid response's `requestId` must be equal to request's `bidId`. It's up to your adapter endpoint to correctly return an array of `BidObject` items.

[2019-03-27 03:13] AntoineJac commented on #3687
@bretg , that looks good to me, to respect OpenRTB should we also add:
* global user.keywords - user.keywords
* adunit-specific user.keywords - imp[].ext.user.keywords

To jump on your open questions, for the adunit-specific, would it be just enough to pass KV:
* adunit-specific data - imp[].ext.data

So we would have:

1. global context.data - site.ext.data / app.ext.data
2. global context.keywor

[2019-03-27 13:32] mkendall07 commented on #3687
Looks like a good start Bret.

I don't think we need it.

What if instead the core just copied the global params into the adUnits if the adUnit did not override? That way the adapter only has to look at one location? This could also be accomplished with some utility function so we don't have the same code duplicated across all the adapters.

[2019-03-27 13:42] astephensxandr commented on #3687
I theoretically support the alignment of first-party data APIs to a Prebid-wide standard, but I agree with @mkendall07 that significant thought should be given to making the implementation as simple as possible.

[2019-03-27 15:51] jsnellbaker commented on #3685
@nanek When you say that you don't see `the requestId in the bidResponse, at least for appnexus responses in prebid 2.7` - at which point in the auction are you doing this check?

The `requestId` part of the bid gets assigned to it while the bid is being processed through the `bidderFactory` code (see [here](https://github.com/prebid/Prebid.js/blob/master/src/adapters/bidderFactory.js#L302)), so i

[2019-03-27 16:11] jsnellbaker commented on #3671
@jaiminpanchal27 Can you take a look?

[2019-03-27 22:52] bretg commented on #3687
I don't feel strongly, but my thought had been that global context is much more common than adunit-level overrides. Seemed like unnecessary string processing and extra memory use to schlep objects from the global config into 10 child adunits.

By "we", you mean each adapter, right? I'd think that adapters would accept the new location and their legacy location for a long time, yes. Pubs would be a

[2019-03-27 22:58] bretg commented on #3687
Updated description to incorporate:
- no adunit-specific user data
- supporting global user.keywords

[2019-03-28 09:51] bjorn-lw commented on #3583
@thewizarodofoz Thank you very much for looking into this! This is preventing us from upgrading so I'm very happy this is being worked on.

[2019-03-28 13:18] nanek commented on #3685
I'm using `pbjs.getBidResponses()` after the ads have rendered. I don't see `requestId` there.

[2019-03-28 21:19] pm-harshad-mane commented on #3686
Looks like Prebid Server PubMatic adapter is responding with ext.prebid.type=video for a banner response in case of a multi-format request.
I think this issue needs to be moved to PrebidServer repo.

[2019-03-28 21:26] pm-harshad-mane commented on #3686
issue is with getMediaTypeForImp function at  https://github.com/prebid/prebid-server/blob/master/adapters/pubmatic/pubmatic.go#L519 code is checking in bidRequest and not in bidResponse

[2019-03-28 21:28] mkendall07 commented on #3686
thanks @pm-harshad-mane - makes sense to me. I'll move this issue over there.

[2019-03-29 19:32] jsnellbaker commented on #3685
@nanek Thanks for the clarification; I did some digging and found there was a piece of logic in one of the functions to remove the `requestId` field from the bids that came back through these public functions.  This was done at the time since the `requestId` and `adId` fields had the same value.

Based on some internal discussion, it was agreed that this removal is no longer needed.  I'm going to

[2019-04-01 12:21] bretg commented on #3687
Sounds like we need more discussion in the internal interface, but are we settled on the external interfaces?  i.e. the openRTB locations and pbjs.setConfig({context}) and pbjs.setConfig({user})

@AntoineJac would like to get started with SDK updates.

[2019-04-01 14:37] jsnellbaker commented on #3685
Created the above PR; should hopefully get included soon.

[2019-04-01 17:05] pm-harshad-mane commented on #3671
Hello @jaiminpanchal27 ,

Could you please help us with the issue?

[2019-04-01 17:12] jaiminpanchal27 commented on #3671
@pm-manasi-moghe @pm-harshad-mane Can you share the test page or jsfiddle. I can switcheroo to debug your page.
Also if you are in cross domain iframe, you won't be able to reach to the top.

[2019-04-01 19:55] bszekely1 commented on #3687
As much as we tell publishers not to, we should handle the situation where a publisher passes data in both locations. Example would be if they pass the old way, and simply add the new method suggested above.

If a publisher does pass in both locations, i would imagine that we would take preference of the new location over the old one and not do validation of matching or diff'ing. If new location p

[2019-04-01 22:15] belezebu opened #3700 "Logging not showing the prebid version at start"
## Type of issue
Bug

## Description
After the Prebid version 2.0 the prebid version is not being logged at the beginning.

## Steps to reproduce
Import the project as suggested in the example available in http://prebid.org/dev-docs/examples/basic-example.html
and notice that e.g.`INFO: Prebid.js v2.8.0 loaded` is not showing.

[2019-04-02 21:18] bretg commented on #3687
Sure, it's fine if they do, but if I were a pub, I'd prefer to make only one set of changes once all the adapters relevant to me are ready to support the standard location.

So rather than passing FPD into 4 different places, they could simplify and setConfig once.

Again, I don't feel strongly about the PBJS adapter interface -- will leave that to @mkendall07.

[2019-04-02 21:35] ericbhanson opened #3706 "Prebid and prefetch"
## Type of issue
Question

## Description
How does Prebid handle prefetch? Is it similar to Google Campaign Manager's handling, as described in https://support.google.com/dcm/answer/7295804?hl=en&visit_id=636880221545628289-3945500804&rd=1, where it looks for the X-Purpose:preview header? If there's any handling, is it specific to any versions?

## Steps to reproduce

## Test page

### Expected re

[2019-04-03 15:56] AskRupert-DM commented on #3687
agree on the suggestion that pubs would rather pass FPD once as opposed to 4 different places however do also think you probably need to cater for situations where data maybe passed into two locations (very much like DFP - you can define page-level and slot-level targeting)...

some real-example use-cases / scenarios I've seen this being needed/used are:

(1) Sending positional information to the

[2019-04-03 17:26] #3685 closed

[2019-04-04 00:24] spatnaik-prebid commented on #3379
I still dont get this requirement, @jaiminpanchal27, can we discuss?

@jaiminpanchal27  - who rejects those advertisers - the bidder?

@jaiminpanchal27  - no, not instream, my question is why are you guys calling this long form, the only thing that matters here is saying context = adpod, not long form...

-- @jaiminpanchal27 - that info is required for transparency to DSPs

[2019-04-04 11:56] jsnellbaker commented on #3685
@nanek FYI This update went out with the 2.9.0 release yesterday.  Please let me know if you still have any trouble.

[2019-04-04 13:42] jsnellbaker commented on #3700
@snapwich Could you take a look into this issue?  It seems to be indirectly caused by the changes to the hook implementation that was added during the 2.0 changeover.

During the `utils.logInfo` call for the prebid version, it gets to this line [here](https://github.com/prebid/Prebid.js/blob/master/src/utils.js#L359).  This call to `config.setConfig` goes to the hook package (looks like a `setTrap

[2019-04-04 19:24] mkendall07 commented on #3687
for the ORTB schema - what if the data is already defined in the spec?
for example:
`global user.gender`
Would that get copied to  `user.ext.data.gender` and then copied back? Or the adapter should do that work by checking if it's predefined?

[2019-04-04 22:00] snapwich commented on #3678
an example of how to change the global var name is available in #3479

[2019-04-04 22:35] bszekely1 commented on #3687
The two locations would have different purposes. The user.gender could potentially be passed to the DSP in addition to providing a transparent personally identifiable attribute, whereas first party data is typically not passed to the DSP, is used for Deal targeting and is treated as just data (not as yob, gender, etc.). The use case for this solution is to come up with a generic method to pass fre

[2019-04-05 14:24] finteza opened #3715 "Finteza adapter is an analytics adapter, not a bid one"
## Type of issue
Bug

## Description

[Finteza adapter](https://github.com/prebid/Prebid.js/blob/master/modules/fintezaAnalyticsAdapter.md) is an analytics adapter, not a bid one.
Please fix it in the [releases](https://github.com/prebid/Prebid.js/releases/tag/2.7.0) and add the adapter to the [download page](http://prebid.org/download.html).

[2019-04-05 19:00] pm-harshad-mane commented on #3671
Hello @pm-manasi-moghe ,
Can you share a test page?

[2019-04-05 21:25] mkendall07 commented on #3687
thanks @bszekely1 for clarifying. I'm good for this on the ORTB side. I'll think about the PBJS interface a bit more next week.

[2019-04-05 21:36] bretg commented on #3687
Good input all. I've updated the proposal to list out other standard OpenRTB locations and to clarify:

@AskRupert-DM - I updated to add a specific mention of your use cases. I believe they were accommodated before, but examples can always help.

Now we just need to decide the internal interface. My $0.02... I believe that FPD values can be large in some cases (hundreds of bytes), and there can be

[2019-04-08 01:24] viddyrizkiyansah opened #3721 "Listed on appnexusBidAdapter.js"
##Question

## Description
Please Advice, how the process if we want to registered our bidder (Bigmobile) on appnexus adapter like on sample below : https://github.com/prebid/Prebid.js/blob/master/modules/appnexusBidAdapter.js#L41
( aliases: ['appnexusAst', 'brealtime', 'emxdigital', 'pagescience', 'defymedia', 'gourmetads', 'matomy', 'featureforward', 'oftmedia', 'districtm'],)

so when publisher

[2019-04-08 07:14] pm-manasi-moghe commented on #3671
1) Test page that redirects to the landing page -
https://jsfiddle.net/bocujghm/
2) Landing page with prebidjs that makes a call to endpoint and passes the referer url in "site.ref" -
https://jsfiddle.net/7ywec8o2/

[2019-04-08 08:36] PascalSalesch opened #3723 "getCurrentAuctionId doesn't behave as documented"
## Type of issue

This is a bug or suboptimal documentation

## Description

`getCurrentAuctionId` returns not the current auctionId but the last finished auctionId

[code]

`auctionManager.getBidsReceived` filters for `AUCTION_COMPLETED`

## Steps to reproduce

Call the following code before requesting any bids:

[code]

### Expected results

An auction id is logged

### Actual results

`undefine

[2019-04-08 08:38] PascalSalesch commented on #3723
nevermind the function seems to have been removed

[2019-04-08 08:38] #3723 closed

[2019-04-08 13:21] belezebu commented on #3678
Thanks for the help @snapwich!

[2019-04-08 20:47] #3635 closed

[2019-04-08 21:47] #3638 closed

[2019-04-08 22:15] zsavishinskyCafeMedia opened #3726 "Custom Ad Server Targeting Keys Support for Sending All Bids"
## Type of issue
Feature

## Description
In Google Ad Manager, we like to split out our targeting based on the presence of deal, but not necessarily a deal id.  In order to do this, we create a custom ad server targeting key and set it to true or false.  This works great if we are only passing in the winning bid.  But if we pass in all bids, this key does not get set for non-winning bids.  It woul

[2019-04-08 22:47] #3644 closed

[2019-04-09 17:43] #3583 closed

[2019-04-09 17:55] #3700 closed

[2019-04-11 10:50] Jrex90 opened #3740 "Issue with responsive ads and sizeConfig"
I have issues with responsive adunits using sizeConfig. At the moment I cannot make Admanager/DFP stick to the rules defined in sizeConfig.

I have an ad unit which runs across all devices and I would like it to be responsive depending on what device it's being seen on (Desktop: 930x180, Tablet: 728x90, Mobile: 320x160).

I have a fallback lineitem in Admanager in case prebid returns noBid and it

[2019-04-11 13:42] jsnellbaker commented on #3740
Hi @Jrex90

Just to confirm something on your setup, did the values in `labelAny` parameter use one long string (ie `["desktop, tablet, phone"]`) or separate string values (ie `["desktop", "tablet", "phone"]`)?

If you did happen to use the former (as shown in the example above), can you try to update it to the latter and see if it works then?

I don't see anything else wrong off-hand with the set

[2019-04-11 13:56] Jrex90 commented on #3740
Hi @jsnellbaker
Thanks a lot for replying. I have tried both ways with the string values, but the result seems to be the same

[2019-04-11 14:03] jsnellbaker commented on #3721
@viddyrizkiyansah I'm reaching out internally on this request.

[2019-04-11 14:40] piotr-yuxuan opened #3741 "No ads displayed on integration page with GPT"
## Type of issue
Question, possibly a bug

## Description
On upstream HEAD `http://localhost:9999/integrationExamples/gpt/hello_world.html` displays no ad.

## Steps to reproduce
On 8a5fb798ee45e2aed4cb5119757e392f94df146a (or any other recent upstream commit) execute:
[code]

## Test pages

- http://localhost:9999/integrationExamples/gpt/hello_world.html?pbjs_debug=true

I've set up an integratio

[2019-04-11 15:18] jsnellbaker commented on #3740
Hi @Jrex90, I made a copy of your test page and added the `labelAny` setting to the 930x180 adUnit (I added `labelAny: ['desktop', 'tablet', 'phone'],` between `mediaTypes` and `bids`).

When I loaded the page and enabled the prebid console logs (by appending `?pbjs_debug=true` in the page URL), I saw that prebid was properly adjusting the bid sizes to match the `sizeConfig` settings depending on

[2019-04-11 15:25] jsnellbaker commented on #3741
@piotr-yuxuan

If you setup a localhost alias in your hosts file (eg `127.0.0.1 test.localhost`) and load the `hello_world` page with that alias, do you still see the issue?

The `appnexus` bidder has some logic to filter out requests when they're coming from just `localhost`.

[2019-04-11 15:28] jsnellbaker commented on #3741
After rereading your notes - I saw you mentioned you were testing the emoteev adapter.  If this was the case and you weren't using the appnexus bidder that's on the page by default, can you provide a jsfiddle or a copy of your prebid setup so I can review further?

[2019-04-11 15:56] Jrex90 commented on #3740
Thanks @jsnellbaker I also got the same results as you in the console log but as I'm getting noBids and only able to see the DFP creative I didn't think it was working properly :)

I did have one lineitem for all 3 sizes at the beginning, but I tried to divide them into 3 separate lineitems but with no better result. I suppose with DFP own sizeMapping it would make DFP choose the correct size, but

[2019-04-11 16:04] jeremiegirault opened #3742 "Using multiple playerSize makes every video bid fail"
## Type of issue
I think it's a bug

## Description

Using multiple playerSize makes every video bid fail.

## Steps to reproduce

Use the following video configuration:
[code]

### Expected results
All bidders can use all the sizes

### Actual results
All video bids fails because the playerSize is removed from configuration

### Details

Check the line at:
https://github.com/prebid/Prebid.js/blob

[2019-04-11 16:12] piotr-yuxuan commented on #3741
As said, the test page is `hello_world.html`, the standard Prebid test page. I also made another test page to try an auction out of GPT.

On https://github.com/prebid/Prebid.js/compare/master...Adikteev:hello-world-emoteev-standalone:

#### hello_world.html

- http://test.localhost:9999/integrationExamples/gpt/hello_world.html?pbjs_debug=true triggers `onBidWon` and an ad is displayed.
- http://lo

[2019-04-11 16:22] piotr-yuxuan commented on #3741
As said, the test page is `hello_world.html`, the standard Prebid test page. I also made another test page to try an auction out of GPT.

On https://github.com/prebid/Prebid.js/compare/master...Adikteev:hello-world-emoteev-standalone:

This page has been validated a few weeks ago and was displaying ads. No changes occured since then.

#### hello_world_emoteev_standalone.html

This is a page I adde

[2019-04-11 17:42] jsnellbaker commented on #3740
Hi @Jrex90 Did you make the changes I suggested to the page?

When I tested each of the size configs, the only time I saw a bid return from the appnexus bidder (for the 930x180 adUnit) was when I used the 2nd config and saw a 728x90 bid return back.

However even though it returned and was passed to DFP, I didn't see it appear on the page.  I attached a copy of the console logs when the targeting

[2019-04-11 18:10] jsnellbaker commented on #3741
@piotr-yuxuan Thanks for the updated details.

In regards to the `hello_world` page result; if that is using the default `appnexus` bidder info, then it is expected that the `localhost:9999` host won't return a bid.  You would have to use an alias for that to work due to the filtering that's in place on the appnexus adserver when it detects `localhost` in the referrer.

In regards to the `hello_wo

[2019-04-11 18:36] piotr-yuxuan commented on #3741
Looks like you didn't tried it atop this diff: https://github.com/prebid/Prebid.js/compare/master...Adikteev:hello-world-emoteev-standalone, the second commit addresses this issue 😉

[2019-04-12 01:56] bretg commented on #3687
Discussed in this week's Prebid.js meeting. It came to light that publishers will want to control which adapters have access to first party data. Two approaches were covered:

1) Keep this design -- publishers would not put sensitive data into this feature. Any data placed in the context or user objects would be cross-bidder.

2) Support a list of bidders which which supplied FPD is allowed. This

[2019-04-12 02:13] viddyrizkiyansah commented on #3721
Hi @jsnellbaker Thank you for your kind respond....

[2019-04-12 06:50] Jrex90 commented on #3740
Hi @jsnellbaker

Yeah I did. I do have high CPM prices within DFP (to mirror a live setup) so I suppose it does make sense prebid returns noBid. As for the Appnexus bid I am not sure quite, the DFP lineitem is straight forward with a hb_pb keyvalue and targeted ad unit, so I'm a little puzzled by that actually.
Don't mind the 300x250, I will fix this later on.

I did try to implement the sizeMappi

[2019-04-12 11:27] avuim commented on #3046
@bretg: Is there a timeline for release of this module?

[2019-04-12 14:23] mkendall07 commented on #3715
@finteza
It looks like analytics adapters have to be added manually to the download page unfortunately.

Please open a pull request against this file: https://raw.githubusercontent.com/prebid/prebid.github.io/master/download.md

You can add it like so:

[code]

[2019-04-12 14:36] klee-frankly opened #3745 "Universal Prebid Creative only works with pbjs name"
This is the same issue as #3502 but despite it being merged I cannot get UC to work with a custom prebid object name for version 2.7.0. Example here: https://jsfiddle.net/u9n34jyf/

[2019-04-12 15:15] jbartek25 opened #3746 "User syncs only fired with the first pbjs.requestBids()"
## Type of issue
Bug

## Description
User syncs are currently only fired once on the first call of pbjs.requestBids(). This is normally fine if pbjs.requestBids() is executed just once or if all ad units on the same page use the same set of bidders. However, we often have on the same page mix of banner and instream video ad units with different set of video-only bidders (there's obviously some ove

[2019-04-12 15:17] mkendall07 commented on #3746
@idettman can you comment on this?

[2019-04-12 16:00] vkimcm opened #3747 "resizeRemoteCreative does not resize DFP div and iframe"
## Type of issue
bug

## Description

## Steps to reproduce
resizeRemoteCreative in secureCreative.js does not resize DFP div and iframe periodically.

When they are not resized, div and iframe has '__to_be_removed__' at the end of their id.   resizeRemoteCreative function might be being called too early.

### Expected results
div and iframe from DFP resized every time

### Actual results
div and

[2019-04-12 18:43] #3665 closed

[2019-04-12 19:44] bretg commented on #3046
Actually, it was released on Weds with PBJS 2.10.  Documentation at https://prebid.org/dev-docs/modules/userId.html

Currently only two adapters support Unified ID - would love to see others add support.

[2019-04-12 19:44] #3046 closed

[2019-04-15 13:16] piotr-yuxuan commented on #3741
Well, GPT ad unit doesn't know about some custom size (720 x 200). We changed it and now it's resolved.

[2019-04-15 13:16] #3741 closed

[2019-04-15 18:43] bjorn-lw commented on #2959
I'm seeing this issue as well. I guess I will have to create new ad unit codes instead of reusing existing ones, but it would sure be great if getHighestCpmBids worked as expected.

[2019-04-15 22:25] #3677 closed

[2019-04-15 23:22] snapwich commented on #3678
np

[2019-04-15 23:22] #3678 closed

[2019-04-16 13:55] lucas-bezerra opened #3755 "npm install Command failed"
## Type of issue
Error

## Description
My Terminal keeps stopping at `extract:faker: sill extract array-find-index@1.0.2`  when I run `sudo npm install` then a few minutes later this shows up

![image](https://user-images.githubusercontent.com/30048773/56214542-780a0800-6034-11e9-8d72-2f816be7349d.png)

As I couldn't find **rubiconAnalyticsAdapter** option in [Download Page](http://prebid.org/down

[2019-04-16 17:18] GeneGenie opened #3758 "timBidAdapter loses original bidId from bidreq"
https://github.com/prebid/Prebid.js/blob/cc2f394edb1a45f3fd57a66e4de77da1ee5cb0a1/modules/timBidAdapter.js#L128

creating newbid in factory  returns object filled with new random adId hash which is not overriden by value from server response or bidReq object. Passing requestId is not working in this case.

[2019-04-16 17:20] patmmccann commented on #3687
This proposal looks really strong to us and addresses our needs much better than option one.

[2019-04-16 19:52] jaiminpanchal27 opened #3759 "Intent to Implement: Adding GAM Support to Prebid long-form"
## Type of issue
Intent to implement.
**Status:** Open for comment.

# Table of Contents
* [Overview](#overview)
* [Proposed Design](#design)
  * [DFP Module Spec](#dfp)
  * [Mapping file](#mapping)
  * [Use Cases](#use-cases)
  * [GAM Setup](#gam)

# Overview <a name='overview'></a>
Prebid.js already released [long-form feature](https://github.com/prebid/Prebid.js/issues/3379) with FreeWheel as f

[2019-04-16 22:33] bszekely1 commented on #3687
This would have to extend to Prebid SDK as well.

Implementation would be best / easiest to perform the ACL method vs registering them. Keep everything in one spot.

For clarity, the ACL is for access to information in the entire context object. This just serves as a reminder in the event we decide to add something to the context object. It's easy to forget these details.

Otherwise, i like this d

[2019-04-17 14:52] #3669 closed

[2019-04-17 15:17] TheMaskMaker commented on #3669
bump

[2019-04-17 19:52] vkimcm opened #3767 "How does universal creative work with enableSendAllBids=true for non winning bids?"
## Type of issue
question

## Description
We are testing universal creative with SendAllBids enabled but wasn't too sure how the targeting key/values are being sent for non winning bids.  For example, non winning bid would have this key, hb_adid_ix, how does it get sent to rendering part of the code?

### Expected results

### Actual results

## Platform details
Prebid 2.1

## Other information

[2019-04-19 14:27] haroldpussat opened #3769 "Multiple partners on native slot send all native asset to DFP"
## Type of issue
question
## Description
Hi,

We are currently trying to add more than 1 partner on native demand. Today, we have only Appnexus in competition. We are looking to add 2 appnexus alias in the native competition.
My slot is name "dfp_banniere_medium" and is setup with native media type like this
`banniere_medium : {native : {sponsoredBy: {sendId: true},image: {sendId: true},title: {se

[2019-04-22 07:42] pm-manasi-moghe commented on #3671
Hi @jaiminpanchal27,

Were you able to use the test pages? Any update on this?

[2019-04-22 15:21] pm-harshad-mane commented on #3072
Thank you @jaiminpanchal27

[2019-04-22 18:29] wqi1972 opened #3773 "my git account can't git push my branch"
## Type of issue

## Description

I can use my git account wqi1972 pull source file at https://github.com/prebid/Prebid.js, but when I push my branch, it fails.

![unnamed](https://user-images.githubusercontent.com/4923189/56517491-e4cc4900-64f1-11e9-942a-3031a6994bdb.png)

[2019-04-22 18:36] mkendall07 commented on #3773
@wqi1972
please fork the repo first before attempting to push a branch. Thanks.

[2019-04-22 18:36] #3773 closed

[2019-04-23 13:32] litus92 opened #3775 "Exports is not defined"
## Type of issue
Question

## Description
Hi,
A few months ago, I created a bid connector that was uploaded in the version 2.X and now I wanted to check if it can be used for older versions. So, I downloaded an old version ( 1.12) and load my adapter. When I build it, it appears an error on my test page when calling the prebid.js:
`exports is not defined`

I was searching and I read that it's an e

[2019-04-23 22:41] #3706 closed

[2019-04-24 10:03] #3775 closed

[2019-04-24 22:44] brianxieseattle commented on #2959
Please fix this issue. getBidResponsesForAdUnitCode returns the "rendered" bid. This should be considered a bug to be fixed.

[2019-04-25 18:49] jaiminpanchal27 commented on #3769
@haroldpussat Thanks for reporting the issue. I think this is a bug.

So any key which is not a standard key is merged before sending it to ad server. For e.g If Appnexus defining custom keyvalue pair foo:bar and Rubicon defining custom keyvalue pair foo:baz will be merged to foo: ['bar','baz']. In Prebid Native keys are not standard keys and hence they are merged together.

I will discuss this wi

[2019-04-26 09:12] jeremiegirault commented on #3742
It's still relevant, thank you to keep it open stalebot

[2019-04-26 18:22] zsavishinskyCafeMedia commented on #3726
This is still relevant.

[2019-04-29 07:00] jbartek25 commented on #3746
@idettman would you please comment?

[2019-04-29 09:26] haroldpussat commented on #3769
@jaiminpanchal27 thanks for the quick feedback.
I guess your workaround seems ok when my page has only full native position.
But when I add other positions, such as standard banner, Prebid raise issue such as "cannot read property 'brand' of undefined.

![image](https://user-images.githubusercontent.com/23049515/56887188-36844e80-6a71-11e9-8a6e-42b2df891653.png)

I'm able to reproduce this issue w

[2019-04-29 19:56] mkendall07 commented on #3379
This feature has been implemented and thus closing out. Any concerns on the documentation should be in a new issue.

[2019-04-29 19:56] #3379 closed

[2019-04-29 23:10] pm-harshad-mane opened #3790 "UserId module OpenrRTB user.ext.eids"
## Type of issue
Suggestion: If UserId module passes information of supported partners in ORTB user.ext.eids format then it will be easier for ORTB supporting bidders like PubMatic to support all userId partners without making changes for every partner.

## Description
ORTB.user.ext.eids has a provison to pass external user ids in ORTB, which can be easily supported. f UserId module passes informa

[2019-04-30 13:13] GeneGenie opened #3794 "Bug timmedia alias results in auction timeout"
## Using timmedia alias of timBidAdapter results in auction timeout
## Description
tim adapter hardcodes  bidderCode  in bidResponse.
[code]
if you use alias code 'timmedia' then bidrequest is generated using 'timmedia' bidderCode and bidResponse is generated with 'tim' bidderCode, which results in timeout for 'timmedia'

https://github.com/prebid/Prebid.js/blob/4155553988101b9ad17ef6668599fc71be1

[2019-04-30 14:08] tandrewnichols opened #3795 "Dependencies disappear"
## Type of issue
Question, maybe bug

## Description
Is there something different about your setup, as far as publishing to npm goes? If I install this module as a dependency, none of it's dev dependencies are installed (even though `npm config get production` is `false`). This doesn't happen with other packages I install. I can fix this by `npm explore prebid.js -- npm install`, but _then_, any a

[2019-04-30 20:47] bretg commented on #3790
@pm-harshad-mane - the current design places all IDs under user.ext.tpid (which stands for third party ID). This seems sufficient for you're asking -- just copy that object which could contain an array of IDs.

[code]

Not understanding this -- the user object is outside the imp object.

[2019-05-01 03:29] lukacmi opened #3796 "User ID Trade Desk issue"
## Type of issue
Bug

## Description
Trade Desk User ID integration only works on HTTP sites.

`Mixed Content: The page at was loaded over HTTPS, but requested an insecure XMLHttpRequest endpoint 'http://match.adsrvr.org/track/rid?ttd_pid=xxxxx&fmt=json'. This request has been blocked; the content must be served over HTTPS.
`
## Steps to reproduce
https://github.com/prebid/Prebid.js/blob/master/mo

[2019-05-01 21:49] rhythmonebhaines opened #3799 "Any tips for debugging tests?"
...aside from console.log()?

I've got Karma Server starting the headless Chrome browser with the arguments:

`'--remote-debugging-port=9223', '--wait-for-debugger'`

...Chrome starts and waits, but a port's never opened for remote debugging.

Are there other approaches to debugging tests?

[2019-05-03 03:14] #3721 closed

[2019-05-03 08:00] #3740 closed

[2019-05-03 13:29] bretg commented on #3687
In our next sprint, we plan to start implementing the internal interface where adapters need to look in two places -- global and adunit-specific.

[2019-05-03 14:52] #3715 closed

[2019-05-03 14:52] #3745 closed

[2019-05-03 15:01] jsnellbaker opened #3800 "I2I - Auction Key Limiter Setting"
## Type of issue
Feature

## Description
In certain scenarios, Prebid may generate a large number of targeting keys after an auction has completed.  An issue could arise when Prebid needs to send all these keys (and their values which can vary in length) to GAM or any other ad server, as this data is typically sent over as query-data in the ad server's request URL and some systems may have limits

[2019-05-03 17:52] #3747 closed

[2019-05-06 16:10] jaiminpanchal27 commented on #3687
@bretg @mkendall07

Config module provides global object shared with all of prebid code + modules. Do we want to pollute this module with permissions ? We will need to add bunch of checks when someone other than allowed bidders tries to access first party data.

I would suggest to create a new new api `setFirstPartyData` and store separately.

At high level it will look somewhat like this
[code]

[2019-05-07 04:09] Vikramvijay6 opened #3803 "Unexpected Token Error on prebid latest version while old version working fine."
## Type of issue

## Description

## Steps to reproduce

## Test page

### Expected results

### Actual results

## Platform details

## Other information

[2019-05-07 13:57] mkendall07 commented on #3803
@Vikramvijay6
please provide more details by filling out the template.

[2019-05-07 14:44] #3755 closed

[2019-05-07 17:44] #3758 closed

[2019-05-09 05:50] Vikramvijay6 commented on #3803
Hi Matt

Below is the URL you can check the same :

https://mobileads.indiatimes.com/ET/Mobile_Ads/Prebid/prebid2.13.0.js

Regards
Vikram Vijay

On Wed, May 8, 2019 at 7:46 PM Matt Kendall <notifications@github.com>
wrote:

[2019-05-09 09:50] montu1996 opened #3810 "Use PrebidJs in nodeJS"
## Use PrebidJS as server side

Hello,
i want to use prebid.js lib to get ad data and store inside the database. I haven't found anything in doc to get ad and store inside the database. can you guys please help me to acheive this.

[2019-05-09 16:58] mkendall07 opened #3813 "investigate auction end event not emitting without specifying timeout"
## Type of issue
If you requestBids without specifying a timeout and the default 3 second timeout is used, no auction end event is emitted.

[2019-05-09 16:59] mkendall07 commented on #3810
@montu1996
Prebid.js is only built to run in the browser and does not target nodejs as a run time. I don't believe this will be successful.

[2019-05-09 16:59] #3810 closed

[2019-05-09 17:02] khatibda commented on #3813
hi - publisher here.  to follow up, we use:

pbjs.requestBids({
  adUnitCodes,
});

we assumed it would default to a timeout of 3000ms.  most things behave normally on our page as a result of this.  however we just discovered that auctionEnd never fires.  this is now a new problem because UserID usersync callback seems to be based on this event firing.

if we explicitly call a timeout, then everyt

[2019-05-09 17:02] mkendall07 commented on #3795
AFAIK there isn't anything special we do for publish (it's basically `npm publish`). Perhaps the fix is to add `gulp` into `dependencies` and out of `DevDependencies`

@snapwich do you have any thoughts on this?

[2019-05-09 17:37] tandrewnichols commented on #3795
I wondered if having `node_modules` in .npmignore could cause. Like, it doesn't _seem_ like it should, but I can't see anything else unique about this repo.

[2019-05-09 18:34] khatibda commented on #3796
yeah, we just ran into this (Granite Media).  for now, pubs who have this issue can use the url parameter and it will supersede the partner param bug...

`    pbjs.setConfig({
        usersync: {
            userIds: [{
                name: "unifiedId",
                params: {
                    //partner: "{yourId}",
                    url: "//match.adsrvr.org/track/rid?ttd_pid={yourId}&fmt=

[2019-05-09 20:45] pm-harshad-mane opened #3815 "All bidders should be called over HTTPS"
## Type of issue
Feature

## Description
Post recent announcement about Chrome browser, forcing all third-party cookies to be set with the secure flag, we should call all the bidders with HTTPS protocol only otherwise bidder servers will not get the respective server domain tracking cookies.

Chrome has not made it clear that since when this flag will be mandatory, but they mentioned that first, t

[2019-05-09 21:05] #3767 closed

[2019-05-10 10:34] jeremiegirault commented on #3742
still relevant

[2019-05-10 15:44] ETNOL opened #3818 "UserId module references `usersync` and not `userSync`"
@idettman Should this be using `userSync` and not `usersync`?

_Originally posted by @ETNOL in https://github.com/prebid/Prebid.js/pull/3424#issuecomment-482617963_