[2018-06-05 19:51] jaiminpanchal27 commented on #2648
@dcaminer Yes you are right.
To add more here, some publishers do not use `pbjs.setTargetingForGPTAsync` function but set targeting with custom code and use `pbjs.getAdserverTargeting` function. I fixed the bug with `pbjs.getAdserverTargeting` in that branch. If results are good than will create PR and merge.

Thanks for sharing the results of you a/b tests. I haven't looked at the scenario you ex

[2018-06-05 22:09] headerbidding commented on #2677
Yes, I have noticed that also. Here is a test page with a prebid.js that does not include EBDR as a bidder:
http://www.flixxy.com/prebid-test.htm?pbjs_debug=true

There is a "WARNING: Error calling onTimeout of ebdr" and no bids are returned.

[2018-06-06 06:48] YOzaz commented on #2648
Hi guys. In our case, amount of requests is pretty much the same - maybe because we're using 100% of lazy loaded ads, and GPT async mode.
However, bid level is catastrophic - e.g. Sharethrough went down from ~50% to ~2%. We suspect that's something to do with generated ConsentString (GDPR), but nothing sure yet.

[2018-06-06 12:01] jsnellbaker commented on #2647
Should be fixed in next release (1.14.0)

[2018-06-06 12:01] #2647 closed

[2018-06-06 12:03] jsnellbaker commented on #2513
Duplicate to #2647, which is going to fixed in 1.14.0 of prebid.js (see #2667 for actual fix).

[2018-06-06 12:03] #2513 closed

[2018-06-06 13:34] renebaudisch opened #2685 "wrong highest bid returned"
## Type of issue
Seems like a bug

## Description
Comparing "getHighestCpmBids" to "getAdserverTargeting" brings different results.

## Steps to reproduce
It is happening only a few times so I cannot reliable reproduce, but when visiting https://www.formel1.de/news/grand-prix-berichte/2018-06-06/rennvorschau-montreal-mercedes-spielverderber-hypersoft you could see this happens sometimes.

## Test

[2018-06-06 13:39] derdeka commented on #2676
Thanks @drdmitry, @jaiminpanchal27, this solves the "negative yield" bug for us, as an already rendered ad is served multiple times, but paid only once.

Additionally we still have a drop in impressions as described in #2648.

[2018-06-06 15:40] headerbidding commented on #2677
Here is another scenario that happened today:

Temporary timeout by Rhythmone ad server resulting in no bids being returned:

cid:image001.png@01D3FD77.262B64F0

cid:image002.png@01D3FD77.262B64F0

cid:image004.png@01D3FD77.262B64F0

From: jsnellbaker [mailto:notifications@github.com]
Sent: Wednesday, June 6, 2018 11:21 AM
To: prebid/Prebid.js
Cc: Flixxy; Comment
Subject: Re: [prebid/Prebid.js] Wh

[2018-06-06 15:48] jsnellbaker commented on #2677
Hi @headerbidding it seems like the image attachments didn't come through in your reply.  Can you update the comment when you get the chance?

Additionally, `rhythmone` appears to be a valid bidder.  My understanding for this issue is that unknown/invalid bidders are still being used when the request goes out, which results in the auction waiting on the expected timeout for that invalid bidder.

C

[2018-06-06 16:02] Deimos01 commented on #2648
@jaiminpanchal27 Sorry but the new Prebid version with the fix on `pbjs.getAdserverTargeting` function is not the origin of our problem. The bug is still here.

**To do a quick recap of our investigation :**
- The problem has been noted on the following versions of Prebid : 1.3, 1.7, 1.11 , 1.12, 1.13 and 1.14-pre from @jaiminpanchal27. We didn't try all the other 1.X versions.
- It affects only n

[2018-06-06 16:41] headerbidding commented on #2677
The Rhythmone server had a temporary time-out this morning.

How can I send you the screenshots?

From: jsnellbaker [mailto:notifications@github.com]
Sent: Wednesday, June 6, 2018 11:48 AM
To: prebid/Prebid.js
Cc: Flixxy; Mention
Subject: Re: [prebid/Prebid.js] When invalid bidder, PBJS still waits for the timeout before continuing (#2677)

Hi @headerbidding <https://github.com/headerbidding>  it

[2018-06-06 16:55] jsnellbaker commented on #2677
I think you'd have to attach them directly into a comment in github; the footer in the comment box have different ways to include them (ie drag&drop, select them from menu, or paste via clipboard).

In regards to that type of error, I think that's separate from this issue.  Unresponsiveness could happen at any point theoretically, and prebid wouldn't know upfront if the server wasn't available or

[2018-06-06 17:19] jaiminpanchal27 commented on #2648
Have been testing with @Deimos01 [page](https://www.themoneytizer.com/demo/prebid_timeout?pbjs_debug=true) with both legacy and 1.x by throttling network.
On Slow 3G/Fast 3g
In 1.x: See lot of xhr requests getting cancelled after 1st auction is completed.
In legacy: Its working fine.

The reason for this can be :
In 1.x we added a timeout on xhr. timeout value will be the value passed in requestOb

[2018-06-06 17:19] jaiminpanchal27 commented on #2648
@Deimos01 What timeout are you using ? Can you increase and test ?

[2018-06-06 19:07] dcaminer commented on #2648
@jaiminpanchal27
1. On the initial load, we run a single auction. I.e. we do single `requestBids` call and pass all the units as the parameter. I don't think we're running concurrent auctions
2. I'm pretty sure prebid was dropping slow requests prior 1.x https://github.com/prebid/Prebid.js/blob/legacy/src/ajax.js#L86 But prior 1.x it did this silently, without any notifications. Hence the differen

[2018-06-06 19:13] Deimos01 commented on #2648
@jaiminpanchal27 as I said in my initial post, we have a 2000ms bidderTimeout (which is very long). We tried to push the bidderTimeout to 3000ms (which is insane) without seeing significant improvements. And it's not the solution. How the same endpoint URL of a SSP could answer slower depending of the Prebid version ?

The first reason (timeout on xhr) seems legit but it shouldn't impact the adser

[2018-06-06 19:19] headerbidding commented on #2677
I understand. But the result was that no bids were returned even from the other bidders:

![r11](https://user-images.githubusercontent.com/16692770/41060154-bd6b93a8-699c-11e8-95ff-f93180921ac5.jpg)
![r13](https://user-images.githubusercontent.com/16692770/41060210-e8c0dc48-699c-11e8-8815-69e5a0267ffb.jpg)
![r12](https://user-images.githubusercontent.com/16692770/41060211-e8d20de2-699c-11e8-90e7-2

[2018-06-06 20:05] jaiminpanchal27 commented on #2648
@dcaminer I did not mean raising timeout is the permanent solution. I agree its a bug and we are debugging in depth as we speak.

@Deimos01 You won't face latency with just 2 adUnits and 3 bidders. I don't have a test page to show stalling of requests.

I agree 3000ms is very very high. Are you also testing on this https://www.themoneytizer.com/demo/prebid_timeout?pbjs_debug=true page

Thanks for

[2018-06-06 20:45] dbemiller commented on #2648
There's a subtlety here which I don't think is coming across very well in the comments...

Consider the following scenario:

- The browser/device allows at most 6 concurrent XHR connections
- You want to run two auctions, both with 6 bidders and a timeout of 2000ms
- In the first auction, 1 bidder returns in 100ms, and the rest return in 1900ms.

In both versions of Prebid, the auction timer start

[2018-06-06 22:14] mercuryyy commented on #2676
@jaiminpanchal27 ran the "getAdservertargeting-bugfix" build seems to fix the problem but not the issue in https://github.com/prebid/Prebid.js/issues/2648

Perhaps should consider changing core behavior for action functions?

[2018-06-07 05:20] YOzaz commented on #2648
We've just pushed a manual queuing system at our end to avoid concurrent Prebid.js auctions. This should basically simulate pre-1.0 auction system.
Will leave it running for a few days and will come back with results.
I was seeing "xhr cancelled" messages in console before, not anymore - but still seeing some "xhr timeout after 500ms", while prebid config is set to have a timeout of 2000ms. Weird.

[2018-06-07 06:11] #2568 closed

[2018-06-07 09:38] nodeful opened #2689 "Sharethrough Adapter getUserSyncs function erroring"
## Type of issue
ShareThrough Bidder Adapter bug

## Description
![screen shot 2018-06-07 at 10 27 09](https://user-images.githubusercontent.com/8472525/41091592-d05d2fb0-6a3e-11e8-9a79-75f17cad876d.png)

![screen shot 2018-06-07 at 10 26 57](https://user-images.githubusercontent.com/8472525/41091566-be62b88e-6a3e-11e8-9ee5-6861b0f31a6e.png)

## Platform details
Prebid v1.11.0
macOS
Chrome 66.0.33

[2018-06-07 10:18] gitsh84 opened #2690 "Impressions Discrepancy with IndexExchange When moved to Prebid 1.11.0"
## Type of issue
We see a correlation with our deployment of Prebid 1.11.0 (previously 0.29) and a sudden rise in discrepancy in number of impressions (and revenues) counted by our DFP and Index Dashboard.

## Description
A few days prior (!) to GDPR we moved all of our sites (not on the same day) from Prebid 0.29 to Prebid 1.11.
Comparing our DFP data with Index data for each site there is a clea

[2018-06-07 10:21] muuki88 opened #2691 "JustPremium - Make format available"
## Feature Request

Add `format` information to JustPremium adapter.

## Description

The justPremium server response contains the creative `format`.
See [the passCond function](https://github.com/prebid/Prebid.js/blob/1.13.0/modules/justpremiumBidAdapter.js#L114)

This information is not available on the `bidResponse` [object that is created by the adapter](https://github.com/prebid/Prebid.js/blo

[2018-06-07 13:18] Deimos01 commented on #2690
Hello @gitsh84,

I think your issue is closely related to that one : #2648 (new concept of concurrent auctions)

[2018-06-07 13:45] jaiminpanchal27 commented on #2648
@YOzaz You can use [pre1api module](https://github.com/prebid/Prebid.js/blob/master/modules/pre1api.js) to enable legacy features with 1.x

[2018-06-07 15:11] jaiminpanchal27 commented on #2690
@gitsh84 this issue is same as #2648. Can you close this one and add your comment in #2648. ?
Also share your test page or example on jsfiddle.

That will keep the discussion in one place.
Thanks.

[2018-06-07 15:35] jsnellbaker commented on #2677
@headerbidding I was looking at your test page further, and it seems there are several things at work/to note.

- The current behavior where prebid waits for the 'invalid' bidder to respond is playing a factor.
- The auction has a certain amount of time it can run waiting for all the bidders to come back with a response, before the auction gets timed out.  You can see that happening in the console

[2018-06-07 15:49] dmitriyshashkin commented on #2690
@jaiminpanchal27 this is clearly not the same issue

1) Problem is limited to indexExchange while in #2648 it is stated that the problem affects all SSPs
2) #2648 mentions the decrease in the number of impressions as reported by DFP. We do not see any decrease in the number of impressions reported by DFP. While a/b testing 0.34 vs 1.x we saw no decrease in impressions or revenue. The problem is th

[2018-06-07 15:52] headerbidding commented on #2677
Thank you!  Can you please explain "The auction's internal timeout is using 3000ms"

[2018-06-07 16:00] jsnellbaker commented on #2677
When prebid creates an auction instance, it pulls in a specific timeout value to use for that auction.  If the auction doesn't finish before that amount of time expires, then the auction cancels its current work and exits with a timeout error.

The value for the timeout is decided here:
https://github.com/prebid/Prebid.js/blob/master/src/prebid.js#L315

The backup timeout value (ie the `config.get

[2018-06-07 17:22] dmitriyshashkin commented on #2690
@gitsh84 mind if ask you, do you refresh ads? Or mb you have single page application? We see the most severe impact on the units we refresh the most.

[2018-06-07 19:54] jsnellbaker commented on #2659
@mercuryyy I believe you would just choose the Prebid Server adapter to make the build.  You would also include the DFP Video module if you were using DFP for instream video delivery.

I've been investigating into the changes required to allow a Prebid Server bidder to make a request through Prebid.js without setting up a corresponding adapter file in Prebid.js.  I believe I have it working for bo

[2018-06-07 20:17] johngeorgewright commented on #2676
I opened this pull request a little while ago:

https://github.com/prebid/Prebid.js/pull/2697

To me it looks like Prebid is retrieving bids that have expired only. But obviously the tests then went berserk, and I thought... "this can't be right, I must be misunderstanding the logic here". But the more I test this version with prod data, the more it seems that this might be the solution. Does it w

[2018-06-08 07:55] Tigerroad commented on #2640
Is this also related to Google Analytics labels not being set for EventAction: Timeouts. I was just about to open a new Issue but it seems related?

[2018-06-08 11:16] #2519 closed

[2018-06-08 14:07] Deimos01 commented on #2648
@jaiminpanchal27 I'm really sorry (again) but the Prebid version with the pre1api module activated is not fixing our problem. We have exactly the same problem & metrics as we had with the 1.11 - 1.12 - 1.13 - 1.14 Prebid version ...

[2018-06-08 14:07] Caspervw commented on #2282
Hi @mkendall07 , We're currently running into the same issue where we would like to mark a video advertisement as "consumed". We’re using the IMA3 SDK and can string up the “consumed”-call to one of the events fired. Regarding “Have you thought about what that API would look like?”, a global-scoped function to mark an video-advertisement would do.

We can extract the hb_cache_id or hb_adid from th

[2018-06-08 19:16] #2570 closed

[2018-06-08 19:16] #2574 closed

[2018-06-08 19:19] jaiminpanchal27 commented on #2690
@gitsh84 There was this issue https://github.com/prebid/Prebid.js/issues/2574. I have merged the fix. It will be available in next release.

[2018-06-08 20:30] brent-gourmetads opened #2705 "v1.13 - mediaTypes banner sizes - not consistent?"
## Type of issue

I'd class this as a bug but i'm not certain if its purely prebid or related to the creative
this may also be related to this issue
https://github.com/prebid/Prebid.js/issues/2597

## Description

we have a prebid placement on a page
within the adUnit definition the mediaTypes banner supports 4 possible sizes

                    code: 'ga_1299767',
	            "mediaTypes": {

[2018-06-08 20:35] brent-gourmetads commented on #2705
just to clarify
that specific ad unit is the upper right sidebar unit

  <div id="ga_1299767">
       <script type="text/javascript">
            apntag.anq.push(function() {
                apntag.showTag('ga_1299767');
            });
            </script>

full prebid config here:
http://bcdn.grmtas.com/pub/ga_pub_359.js

[2018-06-08 22:59] snapwich opened #2707 "Consent management hook being called multiple times in requestBids test suite"
## Type of issue
bug

## Description
The consent management requestBids hook is not being properly cleaned up in the test suite.  In the process of writing some `requestBids` tests I was stepping through code in `test/spec/unit/pbjs_api_spec.js` and each of the `requestBids` calls were going through the consent management hook multiple times before `requestBids` was being ran.

It doesn't seem to

[2018-06-09 05:02] mercuryyy commented on #2690
We refresh ads and see the same problem with IX new 1.x adapter.

[2018-06-09 08:10] dmitriyshashkin commented on #2690
@jaiminpanchal27 please read the description of the bug you've mentioned. It has nothing to do with the discrepancy. When media type was omitted Index was ignoring this unit altogether. It did not bid on this unit, it did not win impressions on this unit and therefore there was no basis for the discrepancy. As I've said in the description of the bug "Index excludes this unit from bid request. "Imp

[2018-06-09 09:21] gramorris commented on #2648
No problems across 10 sites here. We do have an auction queue in place that we've retained from pre-1.0 so if it is a concurrent auction issue we wouldn't experience it.

[2018-06-09 13:53] pdramos1 commented on #2648
@gramorris when you say an auction queue what do you mean? Are you saying you are using the pre1api module? Or, you have something specific or some other method of queueing auctions?

[2018-06-09 15:34] gramorris commented on #2648
@pdramos1 we have our own auction queue implemented outside of PreBid

[2018-06-10 14:54] smartbidder1 commented on #2672
@Spark-NF @ahubertcriteo anything?

[2018-06-11 04:34] headerbidding commented on #2677
I just noticed that when browsing from Europe (by setting my VPN to France for example), I get an “in response for AppnexusAST adapter: blacklist” error - if the GDPR module is not loaded.
It seems (but I am not 100% positive) that this also causes the other bidders to be ignored - as above.

[2018-06-11 07:18] lebrunm commented on #2648
Hello, I identified something similar last week because of the GDPR module: it appears the timeout of the module do not behave as usual timeouts but blocks everything (no Prebid request sent to SSPs etc). In other term, if your Prebid setup has a timeout of 1000ms while the GDPR timeout is set to 1000ms, you should see a massive drop of ad requests to SSPs (~90-100%).

I hope that helps ;)

[2018-06-11 07:22] dmitriyshashkin commented on #2648
@lebrunm perhaps you've set "allowAuctionWithoutConsent" to false. Then such behavior would be expected

[2018-06-11 07:32] dmitriyshashkin commented on #2648
@lebrunm I'd recommend you to open a new issue. I'm pretty sure it is not supposed to work like this. I don't think it is related to the current issue, as Deimos01 mentioned that they tried to disable GDPR module altogether and saw no positive results.

[2018-06-11 07:42] rmertens commented on #2676
We also see this issue of rendering ads from previous auctions (on both 1.13 and 1.14).

[2018-06-11 12:23] jsnellbaker commented on #2707
@snapwich I am calling the `$$PREBID_GLOBAL$$.requestBids.removeHook(requestBidsHook);` in the `afterEach` sections for the various unit tests in `consentManagement_spec.js` which I thought would clean up the hooks.

I'll take a look at this again.

[2018-06-11 12:40] mercuryyy commented on #2648
@jaiminpanchal27 Any Update on this?

[2018-06-11 12:58] dbemiller commented on #2648
I did stumble across some very... suspicious... code surrounding the end of auctions.

The `bidderFactory` generates an object with a [`callBids(..., done)`](https://github.com/prebid/Prebid.js/blob/master/src/adapters/bidderFactory.js#L161) function. However, it [doesn't get called](https://github.com/prebid/Prebid.js/blob/master/src/adapters/bidderFactory.js#L183) under certain circumstances.

I

[2018-06-11 13:57] jsnellbaker commented on #2707
Found the issue - there were other unit tests in the `prebidServerBidAdapter_spec.js` and `smartadserverBidAdapter_spec`that created a hook but didn't remove it.  I'll make a PR shortly to fix these tests.

[2018-06-11 15:24] headerbidding opened #2712 "AppnexusAST blacklist error when browsing from Europe"
## Type of issue
AppnexusAST blacklist error when browsing from Europe

## Steps to reproduce
My prebid.js contains adapters for AppnexusAST and Sovrn. The error occurs whether or not I include the GDPR adapter in the prebid.js
If I set the Hola VPN to France, I get the error.
If I browse from the US, there is no such error.

## Test page
http://www.flixxy.com/appnexus-blacklist-error.htm?pbjs_deb

[2018-06-11 15:29] mkendall07 commented on #2712
@headerbidding
please open a ticket with AppNexus support for this issue. Thanks

[2018-06-11 15:29] #2712 closed

[2018-06-11 15:30] mkendall07 commented on #2442
I believe @jaiminpanchal27 is working on this issue.

[2018-06-11 15:44] mergut opened #2714 "ConsentManagement should not install a __cmp function on window"
## Type of issue
Bug

## Description
ConsentManagement module installs a `__cmp` function on global `window` when there is no implemented CMP on the page.
Then other code on the page relies on this function to get consent but the callback is never called.
Because the function installed by the module is tied to a particular Prebid instance and does not execute the callback passed as the last parame

[2018-06-11 15:51] jsnellbaker commented on #2714
@mergut Thanks for reporting this issue; I'll take a look and address it.

[2018-06-11 16:08] dbemiller commented on #2648
One question for @Deimos01, @mercuryyy, @YOzaz, and anyone else interested in this.

Could you let us know whether or not you're also bidding on Video? That'll help us estimate how likely this is to solve the problems you're seeing.

[2018-06-11 16:11] Deimos01 commented on #2648
@dbemiller we are also bidding on video but for a small amount of our websites.
Anyway, all my previous tests were done on websites without video adunit.

[2018-06-11 16:20] Slind14 commented on #2442
Top, thank you. :)

[2018-06-11 16:35] pdramos1 commented on #2648
@dbemiller we are seeing it sans video over here at Sovrn as well.

[2018-06-11 20:09] aprakash-sovrn commented on #2648
@gramorris Can you possibly provide more details on your auction queue? Is that something that is shareable?

[2018-06-11 20:31] GosuDari commented on #2648
@dbemiller we see the drop as well and we we only deliver banner ads, in addition we refresh visible ads every 30 seconds

[2018-06-11 20:45] mercuryyy commented on #2648
@dbemiller we also only do banner ads and refresh every 60 sec

[2018-06-11 22:53] snapwich commented on #2648
@aprakash-sovrn the `pre1api` module includes auction queueing if you want to include that module to test and see if you have any improvements.  My initial testing w/ @Deimos01's test page shows a sizable improvement but I'm still running tests.

[2018-06-12 02:32] chefbenjamin commented on #2705
Just to add here we see this across all bidders not just Rubicon.

We have also today upgraded to Appnexus AST 0.16.2 and the issues still exists.

We are not sure if this is a Prebid related issue or Appnexus Ad Server related issue.

[2018-06-12 07:16] muuki88 commented on #2691
Sweet :+1:

[2018-06-12 07:16] #2691 closed

[2018-06-12 09:04] YOzaz commented on #2648
We are calling Unruly instream video, but as a separate pbjs call.
Shifting to queued calls instead of letting them run async did improve things, but for about 10-20% only.

[2018-06-12 13:27] gchicoye commented on #81
Hello,
I've created a tool in PHP available here.
https://github.com/Insideall/dfp-prebid-lineitems

I hope it will help you!

[2018-06-12 14:02] sgagnierH opened #2717 "Appnexus prebid server unsupported bidders"
## Type of issue
Bidders in this list return "unsupported bidder" to an auction
http://prebid.adnxs.com/pbs/v1/info/bidders

## Description

- indexExchange should probably be listed as ix on the prebid server
- openx is listed, but return unsupported bidder
- audienceNetwork is listed and works fine in prebid.js mode, but in server mode returns a 400 error
![unsupportedbidder](https://user-images

[2018-06-12 14:08] dbemiller commented on #2717
It looks like you're using `prebid.adnxs.com/pbs/v1/auction` as your endpoint. That's been unmaintained in Prebid Server for a long time... do you still see this issue if you use `prebid.adnxs.com/pbs/v1/openrtb2/auction`?

If so, could you post your `s2sconfig` and prebid.js ad units?

[2018-06-12 14:39] sgagnierH commented on #2717
You're right, I was not on /openrtb2/ link. Iswitched to it because ix was displaying errors actually. So back to it. Now, I can get openx bids.

if I include "ix" in the bidders, I get a 400 from prebid server. (Invalid request: request.imp[0].ext contains unknown bidder: ix. Did you forget an alias in request.ext.prebid.aliases?)

If I put indexEchange, it's simply ignored because the bids are s

[2018-06-12 15:07] mkendall07 commented on #2717
@sgagnierH
Yeah looks like index renaming their bidder is going to cause us issues. I don't think changing the bidder name in PBS is a great idea since that would be a breaking change.
@dbemiller would the best thing to do here to put a alias into PBS for indexExchange in the Prebid.js PBS adapter?

[2018-06-12 15:13] dbemiller commented on #2717
probably, yeah :(. It's not really possible for Prebid Server to rename an adapter because that lives directly in the DB.

If Index is ok with it, it would be a bit cleaner to add `indexExchange` as an alias inside their adapter, rather than adding a special case to the PBS adapter.

I believe the PBS adapter forwards all those aliases in the request.

[2018-06-12 16:45] aprakash-sovrn commented on #2648
I thought @Deimos01 said the pre1api module didn't do the trick for them? We tried it as well and didn't see any improvement on our end. Other than including the module, was there anything else you had to changed in your setup?

[2018-06-12 17:37] andyblackwell commented on #2640
Here's a start at it. It's working for my needs, but I haven't fully tested. Maybe it could point someone with enough time to do a proper PR in the right direction?
https://gist.github.com/andyblackwell/8815a2b721ad82fbe450347fa221471e
diff with v1.14.0: https://www.diffchecker.com/FtVTQlet

[2018-06-12 19:10] #2593 closed

[2018-06-12 19:24] bretg commented on #2705
@brent-gourmetads - what creative do you have in the ad server? Is it the standard call to w.pbjs.renderAd() or the Prebid 'universal creative'?

[2018-06-12 19:40] brent-gourmetads commented on #2705
hey @bretg  - thanks for asking

we use a renderAd call with the various bidders

it will look something like this:

==================

<script>
 var w = window;
 for (i = 0; i < 10; i++) {
 w = w.parent;
 if (w.ga_pbjs) {
 try {
 w.ga_pbjs.renderAd(document, '#{HB_ADID_<advertiser>}');
 break;
 } catch (e) {
 continue;
 }
 }
 }
 </script>

<script>
 var w = window;
 for (i = 0; i < 10; i++) {
 w

[2018-06-12 19:42] brent-gourmetads commented on #2705
code cutoff the advertiser - lets try that again
==========
<script>
 var w = window;
 for (i = 0; i < 10; i++) {
 w = w.parent;
 if (w.ga_pbjs) {
 try {
 w.ga_pbjs.renderAd(document, '#{HB_ADID_  ADVERTISER  }');
 break;
 } catch (e) {
 continue;
 }
 }
 }
 </script>

<script>
 var w = window;
 for (i = 0; i < 10; i++) {
 w = w.parent;
 if (w.ga_pbjs) {
 try {
 w.ga_pbjs.renderAd(document, '#{HB_A

[2018-06-12 22:04] bretg commented on #2717
Interesting one. Is the alias in the PBJS adapter, PBS adapter, or both?

[2018-06-12 22:37] chefbenjamin commented on #2717
Last time i spoke with Index ( 3 weeks ago) they were not yet actually supporting the deployment of them via prebid server at this time. They will in the future but initial performance wasnt that great. Things might have changed tho...

[2018-06-12 23:08] tpottersovrn opened #2720 "Prebid timeout of 10 seconds is still honored if gdprApplies:false is sent"
## Type of issue

## Description

The IAB CMP Stub is causing prebid to wait for the default timeout until loading ads. Even if gdprApplies is passed in before prebid is fired. We have verified that the CMP is passing the gdprApplies:false flag. It appears that prebid is ignoring the flag and only looking at the iab stub.

If we set the timeout to '0' then run an auction then gdpr is set to null o

[2018-06-13 14:00] aneuway2 commented on #2705
Appears that there is a report of this as well in reddit: https://www.reddit.com/r/adops/comments/8pld1q/prebid_header_bidding_creative_cut_off/

Also have seen this behavior on these URLs where the wrong size creative was showing:
- https://www.tigerdroppings.com/rant/lsu-sports
- https://wordtraveling.com/category/

[2018-06-13 15:23] #2535 closed, assigned to nobody

[2018-06-13 16:09] jsnellbaker commented on #2720
@tpottersovrn Thanks for reporting this issue.  I'll do some digging.

If you have a test page with the CMP already setup to pass in false for `gdprApplies` for non-EU users, can you please share/link it here so I can be sure the fix is working in your scenario?

[2018-06-13 16:39] tpottersovrn commented on #2720
@jsnellbaker I'll see if I can get something that is external facing

[2018-06-13 16:45] brent-gourmetads commented on #2705
@bretg its odd that you don't see it in the page
http://www.recipebridge.com/r/steak-recipes?pbjs_debug=true&ast_debug=true

I see it almost every page load (in fact the first time i went there this morning it was present)

I've attached a few screen shots showing the prebid render of the 300x600 and the v3 showing the
x250 creative (which maybe determines the size of the spot on the screen?)

it

[2018-06-13 19:41] jsnellbaker commented on #2720
@tpottersovrn I put together a fix that I believe should address the issue.  see #2723

I would still like to give it a try with your test page if possible; alternatively if you want to check out the branch and give it a try yourself - please let me know if it works.

Please note - this depends on how the CMP is configured when the `gdprApplies` is passed in as `false`.  If the CMP knows to immedi

[2018-06-13 21:00] aneuway2 commented on #2705
From my diagnostic look at this, this may be related to the response back from Prebid Server.

In the case of this placement in AppNexus, it is configured to only return a 320x50 and the labels also restrict this but bids are returned for a 728x90 and 320x50:

[code]

[2018-06-13 21:15] brent-gourmetads commented on #2705
@aneuway2
are you sure you're looking at the right placement?

in appnexus this is 1299767

https://console.appnexus.com/placement?id=180987

this should be defined as a sizeless placement
Resize placement if creative size is different from placement

and in this case
the specific issue
is that a 300x600 win is rendering into a iframe created at 300x250

[2018-06-14 13:02] mercuryyy commented on #2676
@jaiminpanchal27 will you include the branch as a regular pull for next release?

[2018-06-14 13:27] Caspervw commented on #2282
@mkendall07 @jaiminpanchal27 So current TL;DR; There needs to be some way to flag a video-bid as used on pages which run multiple videos (ex. Single page applications).

Bid-cache breaking options:
1. Make a global function a let it be up to the developer to hook it up to their video system (videojs, ima3 etc.).
2. Mark the bid consumed if it’s send to DFP.
3. ….

Bid-cache maintaining options:
1.

[2018-06-14 13:44] Caspervw commented on #2690
@dmitriyshashkin Can confirm, our platform has the same discrepancy. 50% difference, Prebid 1.13, Single Page Application, Refreshing turned on.

@ix-prebid-support Is this on your radar?

[2018-06-14 15:10] dmitriyshashkin commented on #2690
BTW, we've excluded index from refresh auctions and our discrepancy went back to normal.

[2018-06-14 18:42] aneuway2 commented on #2705
Hey @brent-gourmetads sorry I should have elaborated that this is what I saw from the other site where we saw this -- tigerdroppings (ill see if i can get the same for your example)

[2018-06-14 19:01] renebaudisch opened #2730 "NPM & Dependencies"
## Type of issue
Feature Request

## Description
I'm using npm version of prebid but I do not use gulp or yargs normally, but since it's not included in dependencies of your package.json but in devDeps ist not installed when using npm i prebid.js.

## Steps to reproduce
Open a new project,
npm i prebid.js
cd node_modules/prebid.js
use gulp as described in readme.md

## Test page
-

### Expected re

[2018-06-15 00:36] #2590 closed

[2018-06-15 03:03] dugwood commented on #2535
@benjaminclot I'm having the same hard time, most of the time for interstitial it's okay, but for skins it's a nightmare :-(

For example, served by AppNexus today: https://speedata.fr/suzuki/creations/5b18f9f36e3db/5b18fb6a6f683/index.html

 - not centered
 - served with non-friendly iframe in the Prebid's iframe (iframe#prebid > html > body > div > iframe:src=...)
 - impossible to display correc

[2018-06-15 15:53] dbemiller commented on #2648
We found at least one clear bug. This affects people who are using Prebid Server, and set their `s2sconfig.timeout` to be shorter than the `arg.cbTimeout` that you pass into `newAuction`. If your `newAuction` argument doesn't define a `cbTimeout`, it defaults to 3 seconds.

The `adapterManager.makeBidRequests` function defines `bidRequest` objects, and adds ones to Prebid Server to the array first

[2018-06-15 16:06] bretg commented on #2648
Question for those affected by a 1.x performance issue.

The original post from @Deimos01 noted "On some SSPs we are seeing a significant drop of impressions -50% on Sovrn, -40% on Indexexchange,-33% on One by Aol, -20% on Smartadserver, -10% on Appnexus "

1) is this pattern consistent across other publishers?
2) are there bidders less affected or not affected at all?

Besides a platform-level an

[2018-06-15 16:36] #2597 closed

[2018-06-15 17:03] snapwich commented on #2648
As @bretg just alluded to, one of the findings I found in my tests on an active page was that there was a significant drop in impressions for the `appnexusBidAdapter` when comparing 0.34 vs 1.x with a slow connection speed.  However, that is a comparison between 0.34 `appnexusBidAdapter` vs 1.x `appnexusBidAdapter` and I was notified by appnexus that in the transition to 1.x the `appnexusAstBidAda

[2018-06-15 21:33] smithaammassamveettil commented on #2670
Please go ahead and close it. I am not able to close it

On Fri, Jun 15, 2018 at 2:12 PM, stale[bot] <notifications@github.com>
wrote:

[2018-06-17 02:04] Slind14 opened #2736 "[Feature] Timeout per placement"
With the increasing amount of ad types (instream, native, outstream, high impact) being available through Prebid a placement level timeout is getting more and more interesting.

Use case:
I'm running display, instream and highimpact on one site. For display I want the ads to render as quick as possible and am ok with no more than 1000ms. At the same time the instream player is taking its own time

[2018-06-17 15:42] smartbidder1 commented on #2515
@jsnellbaker  can you please add a "bug" label?

[2018-06-18 08:31] YOzaz commented on #2648
We've rolled out some updates to our `pbjs` config today. I'll come back after few days what impact did it have, and did it solve issue in general or not.

We had these adapters enabled: `Sharethrough`, `AdYouLike`, `Rubicon`, `Pulsepoint`, `AdForm`', `Unruly`, `Criteo`. And these modules included: `ConsentManagement`, `PubCommonId`, `Currency`, `GoogleAnalytics`, `PrebidServerBidAdapter`, `S2STes

[2018-06-18 09:18] YOzaz commented on #2648
Additional messages we see when running with `pbjs_debug=true`. Messages below are not visible without debug mode enabled.
- `SyntaxError: Unexpected end of JSON input at JSON.parse (<anonymous>) at Object.O.contentType [as success] (prebid-1.13.0-pre.js:11) at XMLHttpRequest.i.onreadystatechange (prebid-1.13.0-pre.js:3)`. This was happening on previous 1.x build as well. My guess is some of the a

[2018-06-18 20:12] mkendall07 commented on #2282
@Caspervw Thanks for bringing this back up to our attention. I think your correct that other options are out of scope of prebid. #1 and #2 above sound good to me. Are you able to contribute a solution fro this?

[2018-06-18 21:39] chefbenjamin commented on #2705
Curious if anyone has found the root cause of this yet ?

[2018-06-19 05:40] patmmccann commented on #2668
Also, this behavior would enable deals with buyers that want to bring their own player as well as taking advantage of demand that doesnt come with a player. I imagine this would be the default instead of unsupported.

[2018-06-19 08:56] #2567 closed

[2018-06-19 12:08] jsnellbaker commented on #2705
I'm investigating into the issue currently.  I hope to post a finding soon.

[2018-06-19 12:30] patmmccann commented on #2669
bidders are 302'ing to their own url to check for successful cookie setting, this self handshake is not delayable right now.

[2018-06-19 13:29] headerbidding commented on #2712
i found out that appnexus blacklists hola

[2018-06-19 15:55] tpottersovrn commented on #2720
So I have tested this with the fix and it appears that it is still not picking this up. From what we are seeing it appears that if a pubs cmp is embedded into the page it could take up to 500ms to load. The reason that prebid is detecting a cmp is that the lab cmp stub is in the head of the page.

[2018-06-19 17:41] #2623 closed

[2018-06-20 03:52] mercuryyy commented on #2676
@jaiminpanchal27 any plans to include an official push?

[2018-06-20 10:42] tsanders42 opened #2745 "documentation for pbjs.setConfig.consentManagement"
## Type of issue
Please add documentation for consentManagement to http://prebid.org/dev-docs/publisher-api-reference.html#module_pbjs.setConfig

## Description
The use of 'cmpApi' isn't clear to me: what value should be used for a non-iab cmpApi?
Clearly this isn't the CMP id, but then what should it be?

[2018-06-20 11:05] smartbidder1 opened #2746 "Komoona Random Creative ID"
## Type of issue
bug

## Description
when requesting an ad from Komoona bidder the response doesn't contain a unique creative ID.
it looks like a random generated session ID rather then a unique ad ID.
there is a high importance of relaying on accurate creative id's for blacklists and debugging & reporting of bad ads.

I can see that most of your ads are coming from Pubmatic, and they *do* give a

[2018-06-20 11:34] tsanders42 opened #2747 "error in sample code at http://prebid.org/dev-docs/modules/consentManagement.html"
in the sample code for implementing the stub functions for non-IAB compliant CMPs, I'm assuming that that 'function' should be replaced with 'var'
current version:
[code]

proposed change:
[code]

[2018-06-20 11:42] YOzaz commented on #2747
Correct, my mistake (doh!). Can you put a PR please?

[2018-06-20 13:36] jaiminpanchal27 commented on #2676
@mercuryyy It will be included in today's release

[2018-06-20 14:51] renebaudisch commented on #2685
Closing when nobody even took a look is a very bad user experience...
It's not my fault that jaiminpanchal27 did not answer after14 days...

[2018-06-20 15:00] jaiminpanchal27 commented on #2685
@renebaudisch Sorry for not looking at this one. This might be because of this https://github.com/prebid/Prebid.js/issues/2676.
We have a fix for this coming today.

[2018-06-20 15:06] renebaudisch commented on #2685
So it's related, OK, thx, could you connect the issues?

[2018-06-20 15:08] jaiminpanchal27 commented on #2676
#2685 related issue.

[2018-06-20 20:01] dbemiller opened #2750 "Prebid Server http/https question"
This issue was recently opened in Prebid Server: https://github.com/prebid/prebid-server/issues/569

I introduced a pull request to fix it: https://github.com/prebid/prebid-server/pull/572

See these two comments by @bretg:
- https://github.com/prebid/prebid-server/pull/572#issuecomment-398868625
- https://github.com/prebid/prebid-server/pull/572#issuecomment-398875441

The requirements are:

- In

[2018-06-21 06:45] Saigredan opened #2752 "Partial targeting is not being returned before auction ends"
## Type of issue
Bug

## Description
Partial targeting is not accessible before auction ends.

## Steps to reproduce
1. Start an auction.
2. Before auctionEnd event is being fired, attempt running pbjs.getAdserverTargeting() method, knowing some bids had already been returned.

### Expected results
According to documentation  (http://prebid.org/dev-docs/publisher-api-reference.html#module_pbjs.set

[2018-06-21 07:07] YOzaz commented on #2648
Update: it looks like a mixture of updates has fixed things at our side.
We are going to revert timeout settings, and update Prebid.js to 1.15.x, remove pre-api module and auction queuing and see if it'll stay as it is.

[2018-06-21 10:33] ShashankSureshMindEra opened #2756 "How to use the currency module in Prebid ?"
## Type of issue
QUESTION:
I have included the currency module into my script but I am not able to see it work in any way. I have tried using debuggers in place but still no effect. Is there something else I need to include to make it work ? Any help will be greatly appreciated.

## Test page
http://boxrec.com/?pbjs_debug=true

### Expected results
Would like to see how currency module works in Pr

[2018-06-21 11:03] #2637 closed

[2018-06-21 13:12] RajasekarPR commented on #2623
@dbemiller  while these prebid server changes moved to prebidserveradapter. So that I can take the latest from latest version of Prebid.js ?

[2018-06-21 14:24] dbemiller commented on #2648
The [new release](https://github.com/prebid/Prebid.js/releases/tag/1.15.0) fixes some significant bugs which were contributing to problems here.

Would anyone mind testing it out and reporting back what you find?

[2018-06-21 17:56] jsnellbaker commented on #2720
@tpottersovrn Were you able to put together a public-facing page that I can review?  I'd like to look into what you're seeing more.

The stub is meant to queue any CMP requests until the CMP is loaded.  After which it should promptly respond to those requests (assuming it knows what to respond with).

[2018-06-21 18:27] jsnellbaker commented on #2745
Hi @tsanders42,

Thanks for reaching out.  Module-based config information is normally organized under the main page for that module.  In the consentManagement's case, it's this page:
http://prebid.org/dev-docs/modules/consentManagement.html

The `cmpApi` field represents what type of CMP API requests should be executed to communicate with the CMP on the page.  The `iab` code tells Prebid to execu

[2018-06-21 23:43] IsraeliAdblocker commented on #2672
@Spark-NF @ahubertcriteo ?

[2018-06-22 06:54] Saigredan opened #2764 "getAdserverTargeting() does returns empty targeting for adUnit slots"
## Type of issue
Bug

## Description
Since 1.15.0 getAdserverTargeting() or related methods are not returning targeting for adUnit slots

## Steps to reproduce
Anywhere after auctionEnd event fire getAdserverTargeting() method.

### Expected results
Targeting for specified adUnit slots

### Actual results
Empty Taregeting for adUnit slots

## Other information
This change from latest release is pr

[2018-06-22 08:50] YOzaz commented on #2648
@dbemiller it looks like it's working much better now, but we have a huge drop in Sharethrough requests now (others are fine). Trying to investigate what's so different about it.

[2018-06-22 09:23] ShashankSureshMindEra commented on #2756
Anyone ?

[2018-06-22 11:00] YOzaz commented on #2668
Guys, in fact - this is very actual when multiple SSPs are used. A good example would be Prebid.js config with such adapters enabled:
* Rubicon
* Unruly

Unruly have their own renderer, while Rubicon doesn't. Unruly prefers to use their own renderer and are not charging for it. Rubicon suggests using 3rd party player with active transcoding in place (which is why video.js is not suitable), and suc

[2018-06-22 11:35] ShashankSureshMindEra commented on #2756
@YOzaz Thank you so much for extending your help.

I am at present trying to find out where the pbjs config file resides in my repo.

[2018-06-22 11:49] ShashankSureshMindEra commented on #2756
<img width="497" alt="screen shot 2018-06-22 at 5 18 58 pm" src="https://user-images.githubusercontent.com/39624042/41775149-67bd92f2-7640-11e8-868a-86184ab8c913.png">

@YOzaz does this help you ?

[2018-06-22 11:55] YOzaz commented on #2756
@ShashankSureshMindEra yes, ok - this means currency is enabled in config.
Now, question - is Prebid.js built with currency module included? Like this:
[code]

[2018-06-22 11:56] Saigredan commented on #2764
Anyone else encounters same problem?

[2018-06-22 11:59] YOzaz commented on #2756
Ah, one more thing. `pbjs.setConfig()` should be called before `pbjs.requestBids()`.

[2018-06-22 12:01] YOzaz commented on #2764
@Saigredan just on a matter of interest - where do you use `getAdserverTargeting()` method call?

[2018-06-22 12:02] ShashankSureshMindEra commented on #2756
I checked the finally built javascript file and it looks like I can see the currency module integrated with it.

We do not use this script to build it gulp build --modules=currency,bidderAdapter1,bidderAdapter2 instead we use gulp build-bundle-dev --modules=modules.json;

Now, how do I know or see if this currency module is working ? Do I see any logs ?

[2018-06-22 12:07] Saigredan commented on #2764
@YOzaz  We're using it for some internal communication methods. Usually after auction is finished.

[2018-06-22 12:23] YOzaz commented on #2756
From your website I don't see currency module being injected. Does your `modules.json` file has "currency" included? E.g.:
[code]

[2018-06-22 12:33] YOzaz commented on #2756
Alright, then everything is as it should be. My best guess is that you're calling `setConfig()` after auction is run, so just move it above, like this:
[code]
Once live, you'll see debug messages like this (although it may be slightly different for pre-1.x):

![image](https://user-images.githubusercontent.com/5859318/41776733-93c39496-7631-11e8-84c0-c97aa564c2f0.png)

[2018-06-22 12:37] YOzaz commented on #2764
@Saigredan the reason behind is here: https://github.com/prebid/Prebid.js/issues/2676.
I'm not 100% sure how this fix "fixes" auction concurrency problem, but @jaiminpanchal27 may have more comments on it?

[2018-06-22 12:39] ShashankSureshMindEra commented on #2756
Thank you so much. I have changed the order of setConfig and requestBids.

If I attach the script I am using right now, can yo please help debug it using Resources Overrides in your local ?

[2018-06-22 12:41] Saigredan commented on #2764
@YOzaz well, after rollbacking https://github.com/prebid/Prebid.js/commit/c82572e0d2c9d4530c67fa9e0a8c9490c07c3e1e commit, all started to work just fine (except thing we noted in other Issue https://github.com/prebid/Prebid.js/issues/2752)

I will take a look at issues you attached

[2018-06-22 12:45] YOzaz commented on #2764
@Saigredan this commit / bugfix solved concurrent auctions issue, when multiple requests for bids were done at the same time - which is actual in our case e.g., as we're lazy-loading ads.

[2018-06-22 12:47] Saigredan commented on #2764
@YOzaz I see. I will take a deeper look

[2018-06-22 12:47] YOzaz commented on #2756
@ShashankSureshMindEra I'm running out of office in about 15-30 mins. But you can push it live to http://boxrec.com/?pbjs_debug=true, and we'll see if it works fine immediatelly 👍

[2018-06-22 12:51] ShashankSureshMindEra commented on #2756
okay. Let me do it now. I am just worried it will affect the client's revenue.

[2018-06-22 12:55] YOzaz commented on #2747
Fixed here: https://github.com/prebid/prebid.github.io/commit/b413f5f22ad1557782e2689030bccfbbf6bf6468

[2018-06-22 12:57] YOzaz commented on #2756
If that's the only change - it won't.
Just to note - I see you're using Prebid.js v0.32.0 with `consentManagement` module included? How's that possible?

[2018-06-22 13:01] ShashankSureshMindEra commented on #2756
Sending you the updated link right now. Please give me 5 more minutes.

[2018-06-22 13:07] ShashankSureshMindEra commented on #2756
[bidders-currency.txt](https://github.com/prebid/Prebid.js/files/2127715/bidders-currency.txt)

Hey I am not able to change the production version of it. Can you please help using the above .txt file as a .js file using Resources Override ? much appreciated.

[2018-06-22 13:17] ShashankSureshMindEra commented on #2756
And this is v1.11.0.

Ill check how the consent module got included in v32.0. Thank you for pointing it out :)

[2018-06-22 13:20] YOzaz commented on #2756
Okay, I just did it, but don't see `pbjs.setConfig()` with `currency` property in there. Therefore nothing has changed...
In fact, I don't see `requestBids()` call in there as well - but I do see them happening here: https://static.amp.services/clients/BoxRec/Boxrec.js.
You have to investigate website source in depth, as your changes are not appearing live 👌

[2018-06-22 13:46] ShashankSureshMindEra commented on #2756
You are a genius. thanks to you, I got it working now.. YOU ARE A GENIUS SIR. 👍

<img width="920" alt="screen shot 2018-06-22 at 7 12 44 pm" src="https://user-images.githubusercontent.com/39624042/41779855-b46eda88-7650-11e8-98f1-bfb0db1b112d.png">

[2018-06-22 14:40] jaiminpanchal27 commented on #2764
@YOzaz @Saigredan  I added [c82572e](https://github.com/prebid/Prebid.js/commit/c82572e0d2c9d4530c67fa9e0a8c9490c07c3e1e) commit, because `getAdserverTargeting()` was including all bids received to get targeting.

What it should be doing is select bid from bid pool, and apply following filters
- should be unused bid
- should not be expired

[2018-06-22 18:07] brent-gourmetads commented on #2705
thank you everyone who investigated this issue:

We've resolved it down to this change made to prebid.js to support confiant for ad blocking on malicious/spam adverts

our final code:
========================
        } else if (ad) {
          setRenderSize(doc, width, height);
 // Optional: list of bidders that don't need wrapping
           var confiantExcludeBidders = ["bidder1", "bidder2", "bi

[2018-06-22 18:07] #2705 closed

[2018-06-22 19:58] harpere commented on #2756
@ShashankSureshMindEra  looks like the issue is solved.  closing.  reopen if necessary.

[2018-06-22 19:58] #2756 closed

[2018-06-22 20:04] harpere commented on #2689
@jchau87 or @chriscpan can you take a look?

[2018-06-22 20:17] harpere commented on #2747
closing.  please re-open if necessary.

[2018-06-22 20:17] #2747 closed

[2018-06-22 20:20] harpere commented on #2764
@saigredan can we close this?

[2018-06-22 20:30] dmitriyshashkin commented on #2690
@ix-prebid-support any progress with this?

[2018-06-22 20:33] dcaminer commented on #2648
We'd be glad to run a test, but IndexExchange still hasn't fixed their discrepancy issue. Until they do it any tests with 1.x branch would be too costly, unfortunately.

[2018-06-22 20:37] Slind14 commented on #2648
Could always test it on a small portion of the traffic ;) (like one should always do with new versions)

[2018-06-22 20:40] Saigredan commented on #2764
@harpere yes, please :)

[2018-06-23 06:18] jchau87 commented on #2689
Added an extra check for `serverResponses[0].body` in this PR:
https://github.com/prebid/Prebid.js/pull/2762/files#diff-cfc0ecf4a8eb3aa3f773e6bb3bdd977eR76

[2018-06-25 12:02] rmertens commented on #2690
we also see this issue with Prebid 1.15 (around 40% discrepancy both in impressions and revenue). We refresh as well. @ix-prebid-support any news on this?

[2018-06-25 13:10] #2707 closed

[2018-06-25 13:10] #2714 closed

[2018-06-25 14:37] RajasekarPR opened #2768 "Yieldbot adapter server call failed"
Recently I have upgraded the Prebid to 1.15.0 version.

Got the below error in console. Don't know why is it .

![capture](https://user-images.githubusercontent.com/39621436/41856659-480d7862-78b3-11e8-96fd-71aca1554760.PNG)

Kindly do the needful. Is this error occurs because it is not supported by the prebid server ?

[2018-06-25 15:23] #2675 closed

[2018-06-25 16:31] mercuryyy commented on #2768
Looks like a safe frames issues you using safe frames in dfp creative settings?

to your question yieldbot is not in prebid server or s2s adapter.

[2018-06-25 17:37] scottalan opened #2770 "Pricing Granularity Change"
## Type of issue
Question

## Description
I'm working on a module here https://github.com/heshanlk/prebidjs that integrates with a the [DFP](https://www.drupal.org/project/dfp) module's [7.x-2.x](https://cgit.drupalcode.org/dfp/tree/?h=7.x-2.x) branch in Drupal. I may need to account for differences based on the [prebidjs](http://prebid.org/download.html) library versions. I've been reading throug

[2018-06-25 17:38] mkendall07 commented on #2770
Both are currently supported.

[2018-06-25 17:39] mkendall07 commented on #2770
Here is the docs:
http://prebid.org/dev-docs/publisher-api-reference.html#setConfig-Price-Granularity
[code]
etc

[2018-06-25 17:46] RajasekarPR commented on #2768
Without using prebid server adapter, it works fine. But after adding the prebid server adapter in the latest version, it throws this error.

I have not included the yieldbot in s2s config, since it is currently not supported by the Prebid Server.

Only for the yieldbot it throws the error.

[2018-06-25 17:59] mkendall07 commented on #2750
The only scenario we cannot support currently would be: `Insecure page but secure ad iframe: require https ads`
Is that really required though?

[2018-06-25 18:09] scottalan commented on #2770
@mkendall07 Thanks for the prompt response.

[2018-06-25 19:22] ix-prebid-support commented on #2690
@rmertens  @dmitriyshashkin
We have an update to our adapter in #2744 which we believe would address this issue.

[2018-06-25 20:02] dmitriyshashkin commented on #2690
@ix-prebid-support how exactly this update will address the issue? As far as I can tell here is the summary of the changes:
1) If "id" property is set - use it as a sid, otherwise, construct sid from size. Probably has nothing to do with the problem as "id" is not a mandatory parameter
2) Do not drop the request if the media type is not set explicitly aka "Backward compatible with legacy config".

[2018-06-25 20:43] headerbidding commented on #2677
@jsnellbaker: May I ask why this was closed? It is still not fixed in 1.15:

[2018-06-25 20:59] robertrmartinez commented on #2677
@headerbidding

The fix was to make it remove the request objects for invalid bidders.

Invalid bidders is a mis-match on the bid adapters alias names, or if the prebid.js code loaded does not include a bid adapter module you are trying to request for.

I can see in your test page you are attempting to call Appnexus, AOL, Sovrn, edbr, pulsepoint, rythome, conversant, sonobi.

But in your prebid.js

[2018-06-25 21:11] robertrmartinez commented on #2677
![image](https://user-images.githubusercontent.com/13972794/41876090-94360092-7881-11e8-9f25-d80991c59ce0.png)

I built prebid.js using 1.15.0 and included all adapters in your test page and do not get the console log errors you are reporting.

[2018-06-25 22:57] mercuryyy commented on #2768
We also use prebidServer adapter and yieldbot on client side but i cant reproduce your error from yieldbot

[2018-06-25 23:49] headerbidding commented on #2677
I omitted some adapters intentionally to demonstrate that when adapters are omitted, prebid will not return ANY bids, even from the adapters that are included (appnexus, sovrn, sonobi).
This was not the case in Version 0.xx
I know, because I would just remove adapters from prebid.js to disable some ad networks for testing.
This method no longer works in version 1.xx

[2018-06-26 07:08] YOzaz opened #2771 "Google Analytics not logging timed out bidder code"
## Type of issue
Bug

## Description
Google Analytics adapter not logging in bidder name / code for timed out events. Other events are working fine.

## Steps to reproduce
Compile Prebid.js with GA adapter included, and inspect events logged - event label will be empty for Timeout.
My guess would be either missing eventValue mixing things up: https://github.com/prebid/Prebid.js/blob/master/modules

[2018-06-26 10:18] smartbidder1 commented on #2746
@mkendall07 who is in charge on Komoona bidder?

[2018-06-26 12:47] dbemiller commented on #2768
Looks a bit like a [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) error.

[2018-06-26 13:16] RajasekarPR commented on #2768
This error occurs only from the localhost. In further environments it's working fine. Thanks for your information @mercuryyy @dbemiller . :)

[2018-06-26 13:17] #2768 closed

[2018-06-26 13:50] mkendall07 commented on #2730
yeah I agree we should probably move gulp to dependencies. Thanks for pointing it out.

[2018-06-26 14:39] #2680 closed

[2018-06-26 15:52] snapwich commented on #2771
This was most likely fixed with: https://github.com/prebid/Prebid.js/pull/2741

[2018-06-26 16:10] Deimos01 commented on #2648
Hello guys,

We are testing the [1.15 version](https://github.com/prebid/Prebid.js/releases/tag/1.15.0) for +24H now.
Unfortunately we are facing the same problem of massive drop of adserver requests.
Our testwebpage is updated if you want to check our setup : [test page](https://www.themoneytizer.com/demo/prebid_timeout?pbjs_debug=true)

[2018-06-26 16:31] smartbidder1 commented on #2672
@mafaigna

[2018-06-26 18:29] snapwich commented on #2648
@Deimos01 I might be worthwhile turning of concurrency to see if your issues are concurrency related or if it's something else entirely.

http://prebid.org/dev-docs/publisher-api-reference.html#setConfig-Max-Requests-Per-Origin

You can turn off concurrency in 1.15 with `pbjs.setConfig({ maxRequestsPerOrigin: 1 });`

[2018-06-26 18:39] #2770 closed

[2018-06-26 18:49] dbemiller commented on #2750
From me, no :). I'm just relaying what @bretg said in PR comments, because they weren't really things which it's possible to address server-side.

He did say that it was a real edge case that they ran into last year which broke pages, though. So... will leave it to you all to prioritize.

[2018-06-26 19:52] ix-prebid-support commented on #2690
@dmitriyshashkin

The creative TTL is being used by the Prebid framework to filter out expired bids and what we observed was that due to the current TTL configuration there were often cases where the bids which were already expired in previous auctions were being reapplied and shortening the TTL resolved the issue

[2018-06-27 01:32] snapwich commented on #2648
@Deimos01 also I just noticed your test page includes indexExchange.  Have you tried excluding them to see if it is IndexExchange specific and related to this issue? #2690

[2018-06-27 04:57] docmattman opened #2775 "Best way to implement in Vue or Nuxt?"
## Type of issue
Question

## Description
Is there any guide to implementing prebid in a reactive framework such as VueJS or NuxtJS?  I've been able to Frankenstein my way into a seemingly workable solution.  But I hear from some users that ads are very slow to load or don't work sometimes.  It'd be great to see a proper implementation for one of these reactive frameworks.  Please advise if such a

[2018-06-27 07:12] tzafrirb commented on #2746
Hi, we are looking into and we will fix  it on our side

Best
Tzafrir

[2018-06-27 08:49] YOzaz commented on #2771
Yes, sorry - didn't pay attention this was not included in 1.15.0. Thanks.

[2018-06-27 08:49] #2771 closed

[2018-06-27 08:50] YOzaz commented on #2648
@snapwich we've tested with concurrency turned off an on, without any effect. Unfortunately.

[2018-06-27 13:15] Deimos01 commented on #2648
@snapwich We have exactly the same results on our side, even with concurrency turned off.
We are aware of the IndexExchange issue so the SSP is excluded when we are testing on our network.

[2018-06-27 13:49] jaiminpanchal27 commented on #2676
@drdmitry Can you check if Prebid 1.15 has resolved your issue or not

[2018-06-27 13:52] Caspervw commented on #2282
@mkendall07 Here you go, see if you like it.

[2018-06-27 16:39] jsnellbaker opened #2780 "Fully deprecate the adloader.loadScript function"
## Type of issue
Feature

## Description
As a follow-up to #2423, there are other areas in the Prebid.js core that still rely on the `adloader.js`'s deprecated `loadScript` function.  We should aim to update/refactor those areas in order to fully remove the `loadScript` function.

There is an alternate function currently implemented in the `adloader.js` file that's meant to replace the `loadScript

[2018-06-27 18:24] YOzaz opened #2781 "Number of user syncs exceeded for sharethrough"
## Type of issue
Not sure.

## Description
At the moment, `userSync` module defaults to 5 syncsPerBidder: http://prebid.org/dev-docs/publisher-api-reference.html#setConfig-ConfigureUserSyncing-UserSyncProperties. However, even with a standard Sharethrough configuration and default networks enabled, there are at least 15 cookie sync URLs returned, especially if consent is gathered for all of them.

[2018-06-28 09:06] YOzaz commented on #2648
To anybody working on testing this - please inspect what warnings do you get with `?pbjs_debug=true` in your console. We've noticed that user syncs were failing, increased `syncsPerBidder` to 50 and Sharethrough is back to normal.
Issue submitted here: https://github.com/prebid/Prebid.js/issues/2781.

[2018-06-28 09:36] janvdc commented on #2648
We're experiencing the same issue. We switched from 0.34 to 1.15 and took good note of our analytics before and after. Significant reduction in impressions with the same number of requests. Sample URL: https://www.ancient.eu/Black_Death/?pbjs_debug=true

[2018-06-28 11:29] chandanonline4u opened #2785 "Ads are not rendering on localhost or server with prebid version 1.15.0."
## Bug
bug

## Description
I have downloaded the latest prebid.js with only appnexus adapter and included the same in html header and used the following inline script, please check and let me know if I am missing something.

Do we require to make any configuration on prebid.js?

Header code:
[code]

Body Code:
[code]

## Test page
https://jsfiddle.net/chandanonline4u/8cmeazdk/1/

### Expected resu

[2018-06-28 12:02] YOzaz commented on #2648
@janvdc in your case, I see you're running auction before consent is gathered. Unfortunately, this won't work - you have to get that "consent" popup first, queue any `pbjs.requestBids()` calls, and process them only after popup is closed with whichever answer.
At the moment, you're running an auction without a consent given, so only returning visitors will get ads served.

[2018-06-28 12:12] YOzaz commented on #2648
Update: after rolling out current master as 1.16.0-pre, and logging GA events, we saw 20% timeout rate for all bidders.
Timeout setting was at 2s, increased to 3s. Also, now ensuring GDPR is fully loaded before `pbjs.requestBids()` calls are executed.
This increased bid rate a lot today. My guess would be something is wrong with all that `__cmp()` queued calling system, and timeout calculations -

[2018-06-28 12:32] janvdc commented on #2648
@YOzaz thanks for pointing this out. I'll have a look into this!

[2018-06-28 13:16] janvdc commented on #2648
I had another look into this and I don't think the CMP is the reason. Impression rates are down across the board, not just in the EU:

US = 30% PB0.34, 26% PB1.15
UK = 19% PB0.34, 16% PB1.15
AU = 17% PB0.34, 15% PB1.15

[2018-06-28 14:10] jaiminpanchal27 commented on #2648
@janvdc I see multiple versions of prebid loading on your page.
![screen shot 2018-06-28 at 10 08 30 am](https://user-images.githubusercontent.com/7393273/42039444-520f91a6-7abb-11e8-94ec-81e090f52155.png)

[2018-06-28 14:59] janvdc commented on #2648
It's Kumma, one of our demand partners, who run Prebid inside their iFrame.

[2018-06-28 15:08] Deimos01 commented on #2648
@janvdc @YOzaz Sorry but as I told before, this issue is not linked to any CMP system or the consentManagement module. We are facing the original problem (drop of adserver & SSP requests) for more than one month now, in all the 1.X Prebid version (even before the release of the ConsentModule) and we are testing without any CMP & with the ConsentModule disabled.

[2018-06-28 15:35] iseriousnoob opened #2789 "openxBidAdapter.js : TypeError: undefined is not an object (evaluating 'i.documentElement')"
## Type of issue
bug

## Description
There is a bug in `modules/openxBidAdapter.js` getViewportDimensions function where tDoc equals undefined and it's property documentElement is then tried to be accessed

## Steps to reproduce
Quite hard to reproduce. I just saw it in our logs

## Test page
I can not provide a test page

### Expected results
don't make the code throw. return undefined or somethi

[2018-06-28 17:10] drdmitry commented on #2676
@jaiminpanchal27, Yes, issue is resolved. Thanks.

[2018-06-28 17:11] #2676 closed

[2018-06-28 19:22] tchibirev commented on #2421
@jaiminpanchal27
I removed ".skip" but do not see the fail. Can you give me a clue how to reproduce the bug?
How do you include mobile Safari into gulp test? Thanks

[2018-06-28 20:38] jaiminpanchal27 commented on #2421
@tchibirev We had to remove mobile safari browsers because browserstack stopped supporting mobile emulators recently and they now only support real mobile devices. With real devices config our tests were not triggered. We have reached their support for help. I will update here once we add mobile devices back.

[2018-06-29 06:32] YOzaz commented on #2648
@Deimos01 from which country IP we should test your link? Is it USA-based?

[2018-06-29 08:03] dmitriyshashkin opened #2793 "resizeRemoteCreative resizes DFP iframe but doesn't resize the div"
## Type of issue
Bug

## Description
We have two different sizes on the same unit: 728x90 and 970x250. When 970x250 wins, it's not properly centered. It happens because pebid's code resizes the frame created by DFP but doesn't resize the div also created by DFP. We're using Safe Frames, so resizing is done in resizeRemoteCreative in secureCreatives.js

[code]

As you can see, the code locates the

[2018-06-29 10:55] janvdc commented on #2648
Just wanting to report back on a few more tests. We saw a slight improvement with the following changes in Prebid 1.15:

- Increased timeout to 3 seconds
- Set syncsPerBidder to 50

We've now made the following additional changes and will report back once we have enough data:

- set timeoutBuffer to 400ms (from 200ms)
- set maxRequestsPerOrigin to 1 (from 4) -- to emulate 0.34.x behaviour
- set en

[2018-06-29 22:31] andyblackwell commented on #2640
bumping out of stale. Can this be labeled somehow so it doesn't get auto-closed?

[2018-06-29 23:32] mercuryyy opened #2798 "Adding video to media types causes s2s to not bid for banner ad types"
If setting up for example

ad unit 1 = 728x90  media type "banner"
ad unit 2 = 300x250  media type "banner, video"

When using openRTB with s2s adapter what will happen bidders on s2s that support video will bid for both ad units.
bidders on s2s who support only banner type will only return bids for ad unit 1 even tho ad unit 2 is set to multi format.
bidders on client side will all work fine.

PB

[2018-06-30 16:53] #2785 closed

[2018-07-01 12:09] Delashmate84 opened #2800 "How to get google CPM in realtime - Prebid"
We are using DFP and prebid,

Incase google win the auction - can I know in the browser what was the bid of google that won the auction?

I am trying to figure in google analytics exactly how much revenue I got for each dimension in my site.. (since in DFP I can't have multiple key-value reporting..)

Thanks!

[2018-07-01 14:45] smartbidder1 commented on #2746
Thank you @tzafrirb Tzafrir,
any time-frame for this change?

[2018-07-02 03:19] mercuryyy opened #2801 "Video outstream Render problem when not using prebid creative 1x1 overide in DFP"
## Type of issue
Bug

## Description
Using the prebid creative in dfp in a regular size dfp creative for example 300x250 and not using the 1x1 overide.

When the outstream video is appeneded to the html prebid appends it outside the iframe dfp creates but it appends it to the main div-id for the adunit.

The problem is, when not using the 1x1 creative in dfp and using 300x250 dfp sets the iframe s

[2018-07-02 08:08] dmitriyshashkin commented on #2690
@ix-prebid-support sorry for being too skeptical. Reduction of TTL did in fact solved the issue. Ran a test and discrepancy is down to 3-4%. Thank you!

Still, now it seems that there is another issue within prebid's core that allowed bids from previous auctions to participate. Or is it an expected behavior?

[2018-07-02 09:36] janvdc commented on #2648
Reporting back, we've managed to bring impressions back to original 0.34.x levels using 1.15. We've simply set the config as follows:

`            pbjs.setConfig({
                userSync: {
                    syncsPerBidder: 50
                },
                maxRequestsPerOrigin: 1,
                enableSendAllBids: false,
                timeoutBuffer: 400
            });
`

I'm pretty s

[2018-07-02 15:00] Deimos01 commented on #2690
@ix-prebid-support Thanks for your explanation. I didn't know that the TTL parameter is also used by the Prebid framework to filter out expired bids.

I agree with @dmitriyshashkin, If the reduction of the TTL solved the issue, it means there is an other issue because Prebid shouldn't use bids from previous auctions since this fix : #2676

What do you think @jaiminpanchal27 ?

[2018-07-02 16:40] #2442 closed

[2018-07-02 16:56] RajasekarPR commented on #2768
Getting this error sometimes in higher environments too. Kindly do the needful.

[2018-07-03 00:38] mercuryyy opened #2805 "ANOutstreamVideo.js + [All Renderers] Is being downloaded from bid Request even if bid isn't won or renderAd fired"
http://acdn.adnxs.com/video/outstream/ANOutstreamVideo.js

Is the Video renderer for appnexus bids, other renderers from others bidders will probably behave the same.

When bids are requested from bidders, the renderer .js file will be downloaded to the client browser even if the video bids is not the highest cpm or the renderAd been fired from the dfp creative.

Those renderer's files are usually

[2018-07-03 07:03] paweljw commented on #2800
The rule of thumb is "what happens at Google, stays at Google". Google makes their decisions after the auctions are done and does not return anything to indicate its price if it decides to buy the impressions. I believe there's no way to do what you want :(

[2018-07-03 08:16] RajasekarPR opened #2806 "Cors Error when invoking the iframe for Yieldbot"
When using latest version, getting below CORS error only for the yieldbot.

![image](https://user-images.githubusercontent.com/39621436/42207333-52e40c96-7ec7-11e8-8813-8338c2973ea6.png)

Due to this, the server call get failed and it's continued without bids.

Kindly do the needful as soon as possible.

[2018-07-03 08:48] janvdc commented on #2648
@YOzaz I'll give that a try, yes.

I'm looking at this in more detail, and I now that we're just switching quarter it's hard to tell what's baseline and what is a quarterly drop of revenue. I'm not 100% sure the issue is fixed with the above. More testing needed....

[2018-07-03 12:38] janvdc commented on #2648
@dmitriyshashkin Agreed! I'd love to do an A/B test to be sure. I'm not sure how I would be able to separate the different versions of Prebid in our analytics, though (Roxot Analytics). I'll think some more about that.

[2018-07-03 12:55] Slind14 commented on #2648
You could probably setup an additional website with a different id. If not I'm happy to hook you up with https://yield.assertcom.de/ where you can run multivariate tests. We are slightly affected by this as well with our O&O sites, so happy to help for a resolution.

[2018-07-03 13:48] nikhil-gujarathi opened #2810 "Prebid is not updating window.pbjs on requesting new bids for adunitcodes"
Hi Guys,

Currently we are using prebid (1.15.0) for Appnexus and in that I am facing one issue, where prebid is not updating the window variable pbjs on requesting new bids for a particular adunit code.

Scenario:
1. First, call prebid for three adunits ('a','b','c'), after receiving the bids do not call pbjs.renderAd for any adunits.
2. Then, call pbjs.requestBids for one adunit say 'a'. After r

[2018-07-03 13:55] dmitriyshashkin commented on #2648
@janvdc do you by chance use DFP? If so you can pass variation through googletag.setTargeting method and then break down your stats by "key-value" in DFP's reporting. I can provide you with more detailed instructions

[2018-07-03 14:48] janvdc commented on #2648
@Slind14 thanks for the tip! Assertcom looks like a great solution. If you could hook me up, that would be great: jan.vandercrabben [AT] ancient.eu

@dmitriyshashkin Yes we use DFP ad we could pass a KV in. Good idea. However, that would only give us information on bids won, not on all the requests made. The main problem is bids timing out (we seem to think), so the DFP report would tell us nothin

[2018-07-04 13:49] #2717 closed

[2018-07-04 15:51] renebaudisch commented on #2685
I will close it when I checked that 1.15 will solve this...

[2018-07-05 10:05] smartbidder1 opened #2820 "Gumgum Creative ID issue"
## Type of issue
bug

## Description
when requesting an ad from Gumgum bidder the response doesn't contain a unique creative ID, the same ID is shared among multiple ads.
there is a high importance of relaying on accurate creative id's for blacklists and debugging & reporting of bad ads.

I can see that most of your ads are coming from Appnexus, and they *do* give a unique ad ID when you sends an

[2018-07-05 23:36] GLStephen opened #2822 "RequestIDs Repeating or Recurring over Short Periods"
We are seeing instances of requestId (auctionId) recurring over short periods of time. Different IPs, pageviews and UAs. Is the requestId/auctionId generator sufficient to create true GUIDs? Just to be clear, we're 100% sure this is not some form of duplicate data in our ingestion.

[2018-07-06 10:55] PidaPan opened #2823 "Criteo adapter does not support native media type"
The criteo adapter does not seem to support native media type. I get the following debug message when trying to use a native ad unit with the criteo bidder.

[code]

The documentation lists criteo as adapter with native support (http://prebid.org/dev-docs/bidders.html#bidder-video-native).

[2018-07-06 20:53] Deimos01 commented on #2648
Hello guys,

We were running tests during the past week, with all the configurations mentioned in this issue and we are still facing a massive drop of adserver requests, even with the last configuration from @janvdc :
`pbjs.setConfig({ userSync: { syncsPerBidder: 50 }, maxRequestsPerOrigin: 1, enableSendAllBids: false, timeoutBuffer: 400 });` and the 1.15 Prebid version.
Here some interesting metr

[2018-07-06 21:08] headerbidding commented on #2648
Could it have something to do with the anomaly/bug observed (and not yet fixed) in: https://github.com/prebid/Prebid.js/issues/2677  ?

[2018-07-06 21:18] Deimos01 commented on #2648
Thanks for the quick answer @headerbidding but I don't think the 2 problems are linked.
We are not using invalid bidder names during our tests and even if we did, I don't understand how your bug would affect some geos more than others ...

[2018-07-06 22:02] headerbidding commented on #2648
Just a gut feeling that in the code a timed out bidder could cause similar behavior to an invalid bidder...

[2018-07-06 22:52] #2670 closed

[2018-07-07 00:32] mxcoder commented on #2820
Thanks, we're looking into the issue.

[2018-07-07 01:43] ScottKevill commented on #2822
You're right. They rely on Math.random() which apparently has a long history of varying brokenness:

2011: [Google Chrome random number generator issue](http://devoluk.com/google-chrome-math-random-issue.html)
2011: [Collisions when generating UUIDs in JavaScript?](https://stackoverflow.com/questions/6906916/collisions-when-generating-uuids-in-javascript/)
2015: [TIFU by using Math.random()](https

[2018-07-07 14:34] GLStephen commented on #2822
@ScottKevill That is what I determined from reading the code and some of the same posts you mention above. Crypto.getRandomValues seems to have broad support. I'll look at patching it in for auctionId. Within the scope of an auction the current level of uniqueness appears to suffice.

[2018-07-08 03:03] #2736 closed

[2018-07-09 16:33] dbemiller opened #2827 "Fail fast in debug mode"
## Type of issue

Feature request

## Motivation

This morning, I spent about a few hours debugging some PBS issues through a publisher's page. One thing which slowed the debugging process was that one of the test pages defined two `adUnit` objects with the same `code`. The Prebid ecosystem _generally_ worked ok this way, but it did cause some bugs as well.

## Observations

Fail-fast behavior mak

[2018-07-09 18:28] Jacobkmiller opened #2829 "Disabled Consent Management Module Reduces Impressions"
## Type of issue
We see a reduction in impressions when deploying version 1.14.0 with the Consent Management Module built in but not enabled.

## Description
Our A B tests indicate that building with the Consent Management Module causes a 0.3% decrease in impressions even when it is not enabled by calling pbjs.setConfig(). The only difference in the two versions tested is the inclusion of the Cons

[2018-07-10 08:06] cwbeck commented on #2829
What was the size of the test? Could the A/B test be producing the discrepancy?

[2018-07-10 11:22] GLStephen commented on #2827
@dbemiller it might be good to introduce a &pbjs_validate=1 type of parameter. This way debug is kept as debug mode and a stricter validation can be toggled.

[2018-07-10 12:31] dbemiller commented on #2827
Yeah, that's totally reasonable too.

[2018-07-10 13:16] jsnellbaker opened #2830 "timed out s2s bidder prevents auction from completing properly"
## Type of issue
bug

## Description
While testing fix introduced in https://github.com/prebid/Prebid.js/pull/2790 - the following behavior was observed:
- when testing a s2sbidder + client-side bidder and forcing the s2sbidder to timeout (with a small time used in the s2sConfig), the client-side winning ad still appeared on the page but the auction seemed to stop right after the requests were sen

[2018-07-10 14:33] #2830 closed

[2018-07-10 14:34] jsnellbaker commented on #2830
this is user-error; not an issue.

[2018-07-10 14:56] GLStephen commented on #2822
@dbemiller do you have any insight on this? I'd like to make  PR for a change, but don't want to rehash old ground if there is existing discussion or work in the area which I could leverage.

[2018-07-10 16:07] jsnellbaker commented on #2829
@Jacobkmiller Could you provide additional details about the A B tests and how they were conducted?

To add on @cwbeck questions, was it automated traffic sent to a test page, was it manually done, or was it done via a specific site page getting hit by normal site traffic and you swapped out the builds one specific dates?  Could you provide a copy of or the url to the test page?

Also can you prov

[2018-07-10 16:10] dbemiller commented on #2822
I'm not aware of any previous discussions... but I probably wouldn't have been involved in the project that long ago.

I left my thoughts below:

---------------------------------------------

Your suggestions sound good to me. I personally think performance is overrated, and if we profiled this and found out that it was a bottleneck, it would be very easy to optimize (since it's limited to a sing

[2018-07-10 16:24] #1914 closed

[2018-07-10 16:32] #2423 closed

[2018-07-10 18:13] andyblackwell commented on #2810
I believe if the cpm is the same it uses the older bid, as long as it hasn't been used yet and the bid hasn't expired (bid TTL)

[2018-07-10 18:19] andyblackwell commented on #2793
I've had this hack in there for a long time (since v0.19.0), works well for us
[code]

[2018-07-10 20:16] mercuryyy commented on #2798
Any Information on this?
@dbemiller I saw you merged some fixes to PBS i assume they are live on appnexus endpoint? if you run the digitest.php URL i send you that did not fix the problem

[2018-07-10 20:32] dbemiller commented on #2798
Not live. This is the relevant PR: https://github.com/prebid/prebid-server/pull/604

To be clear, I don't think that will solve your problem on its own. It's a tangential bug that I discovered while looking at your page.

[2018-07-10 23:33] Jacobkmiller commented on #2829
@jsnellbaker and @cwbeck Thanks for your help. I have since gone back through my test setup and realized that one of the versions had an advantage due to cacheing.

I reran the test properly and confirmed that there is no latency introduced by the module.

Sorry for the false alarm and thanks again for the help.

[2018-07-11 12:52] lanceloti commented on #2805
I'm using a proprietary Outstream Player and ANOutstreamVideo.js is downloaded sometimes too.

[2018-07-11 13:02] lanceloti commented on #2793
I use other hack on GTP event and works fine.

`            googletag.pubads().addEventListener('slotRenderEnded', function (event) {

                if (!event.isEmpty) {

                    var width = parseInt(event.size[0]);
                    var height = parseInt(event.size[1]);

                    var div = document.getElementById(event.slot.getSlotElementId());

                    /*

[2018-07-11 13:33] YOzaz commented on #2793
All these hacks are not required, if you don't explicitly set width and height on the `div` itself, and set `iframe` style to `display: block`...
In fact, DFP has stopped adding "width" and "height" properties for 1x1 and out-of-page ad units long time ago.

[2018-07-11 13:51] jaiminpanchal27 commented on #2685
@renebaudisch Can you check and update the issue ?

[2018-07-11 14:33] jaiminpanchal27 commented on #2648
@lebrunm Can you share more details with us on `jpanchal@appnexus.com` and `mkendall@appnexus.com`

[2018-07-11 15:07] GLStephen commented on #2800
There are significant limitations on Google data in terms of real-time availability.  You can get bidlandscape data, but not when it is associated with very many other dimensions and it is delayed 36-48 hours. Using it for impression by impression data is not really feasible, though it's possible to get other insights across the inventory.

[2018-07-11 16:51] ScottKevill commented on #2822
Not exactly, it's nuanced.

Even if Mersenne Twister were seeded with the current time, it would still be an improvement on `Math.random`, as `Math.random` has more problems than just its initial seed.

That said, the only reason to use Mersenne Twister would be if performance were a concern -- which I highly doubt, given how few random values are required with Prebid.

If enough random values *we

[2018-07-11 17:46] dbemiller commented on #2822
Agreed with all that ^^

[2018-07-11 18:00] mkendall07 commented on #2822
hey all. Sorry was late to this thread. I'm in agreement with the suggested approach.
@GLStephen Feel free to open a PR. thanks!

[2018-07-11 21:46] mkendall07 commented on #2648
hey all. Thanks for testing out the fixes we've put up so far! Would someone be comfortable sharing their test pages (both 1.x and 0.34.x versions) so we can take a look? Thanks!

[2018-07-12 14:18] dmitriyshashkin commented on #2793
@YOzaz I knew that there should be some reason for this prebid's behavior. It seems that despite what's written here http://prebid.org/adops/step-by-step.html I created creatives with the actual size instead of using 1x1. I guess I'll try to switch to 1x1 creatives and see if it fixes my problem. Thanks!

[2018-07-12 15:03] Deimos01 commented on #2648
Hello @mkendall07,
Here the test pages : [0.34.6](https://www.themoneytizer.com/demo/prebid0_34?pbjs_debug=true) & [1.15.0](https://www.themoneytizer.com/demo/prebid1?pbjs_debug=true)
Thank you.

[2018-07-12 15:34] janvdc commented on #2648
Here you go:

https://www.ancient.eu/article/637/roman-daily-life/?pbjs_debug=true&country=us (0.34)
https://www.ancient.eu/article/637/roman-daily-life/?pbjs_debug=true&country=fr (1.15)

[2018-07-12 15:36] headerbidding commented on #2648
On the 1.15.0 test page, after the 3rd refresh I got an ad that was not rendering.
I also noticed that the "waiting for ..." is on a continuous loop:

![image](https://user-images.githubusercontent.com/16692770/42643577-78324164-85c7-11e8-996e-863710252a48.png)

Windows 10 - Chrome Browser - latest version - browsing from the US (Florida) - Frontier FIOS

[2018-07-12 18:45] #2720 closed

[2018-07-12 19:12] mkendall07 commented on #2805
@mercuryyy
Thanks for the report. Do you have test page handy?

[2018-07-12 19:45] #2745 closed

[2018-07-13 10:45] #2752 closed

[2018-07-13 13:09] drdmitry opened #2843 "Rubicon requests sizes which should be filtered by media query"
## Type of issue

Bug

## Description

When using Media queries withing configuration, Prebid is filtering the bid.sizes based on the matched media query, but not filtering MediaTypes.banner.sizes.
Rubicon adapter uses sizes from MediaTypes.banner.sizes first, and if not present then from bid.sizes.

This causes an issue, that adapter is using the size (from MediaTypes.banner.sizes), which should

[2018-07-13 13:40] jaiminpanchal27 commented on #2810
@nikhil-gujarathi Does that answer your question ?

[2018-07-13 13:56] derdeka commented on #2843
@snapwich - as you merged #2607: Should mediaTypes.banner.sizes also be filtered by prebid core?

[2018-07-13 15:09] jsnellbaker opened #2845 "pbs adapter only includes 1 bid per bidder per adunit in ortb request"
## Type of issue
bug

## Description
When a bidder has multiple different bids for the same adunit, only one of those bids are carried into the PBS adapter ortb request instead of carrying all of them into the request.

## Steps to reproduce
Setup an adUnit like the following:
[code]

Add the appnexus bidder in an s2s config to make this a ORTB request.  Load the page and inspect the ORTB request

[2018-07-13 15:40] mkendall07 opened #2846 "**Automation**"
[Automatically move your cards](https://help.github.com/articles/configuring-automation-for-project-boards/) to the right place based on the status and activity of your issues and pull requests.

[2018-07-13 15:59] snapwich commented on #2843
it should.  I'll take a look

[2018-07-13 18:51] jsnellbaker commented on #1912
This was fixed by https://github.com/prebid/Prebid.js/pull/2487

Closing this issue.

[2018-07-13 18:51] #1912 closed

[2018-07-13 20:23] ix-certification commented on #2690
@gitsh84
@mercuryyy
@Caspervw
@rmertens

It would be great if you can let us know if the following update has addressed the refresh issue you observed and we would be able to close this investigation.

[2018-07-14 03:37] rmertens commented on #2690
The TTL was the issue for us so it's solved!

On Sat, Jul 14, 2018 at 3:26 AM, ix-prebid-support <notifications@github.com

[2018-07-14 09:05] dmitriyshashkin commented on #2717
So what's the current situation with this issue? What is the proposed solution

[2018-07-14 10:04] dmitriyshashkin opened #2851 "PBS index adapter and PBJS index adapter require different type for the same param"
## Type of issue
Bug

## Description
According to this https://github.com/prebid/Prebid.js/blob/master/modules/ixBidAdapter.md ix parameters include siteId that must have type string. PBS adapter for indexExchange requires parameter siteID (note the register of the last letter) that has type integer. Obviously, the requirements are incompatible

## Steps to reproduce
1) Add ix bidder under the ali

[2018-07-16 10:18] ShashankSureshMindEra commented on #2248
I tried adding the above which is

  mediaTypes: {

  banner: {

but it did not fix the issue for me. :)

Any help will be much appreciated.

[2018-07-16 10:26] ShashankSureshMindEra opened #2853 "WARNING: Usage of adUnits.sizes will eventually be deprecated. Please define size dimensions within the corresponding area of the mediaTypes.<object> (eg mediaTypes.banner.sizes)."
## Type of issue
QUESTION

## Description
In the console, I see the warning message " WARNING: Usage of adUnits.sizes will eventually be deprecated.  Please define size dimensions within the corresponding area of the mediaTypes.<object> (eg mediaTypes.banner.sizes). "

As per the ticket 2248, I tried the below but it did not work.

"mediaTypes": {
                        "banner": {

[2018-07-16 10:31] smartbidder1 commented on #2466
Any update? @edahood-sonobi

[2018-07-16 10:31] smartbidder1 commented on #2820
Any update? @mxcoder

[2018-07-16 10:31] smartbidder1 commented on #2515
any update? @jimee02

[2018-07-16 10:32] smartbidder1 commented on #2746
any update? @tzafrirb

[2018-07-16 13:10] jsnellbaker commented on #2677
@headerbidding Sorry for the radio silence on this issue.

Are you still seeing this issue with the latest version of Prebid.js?  When I checked your test page (https://www.flixxy.com/prebid-test.htm) - it looked to be using Prebid.js 1.15.  The fix I put together and referenced in this issue was included in Prebid.js 1.16.

While I was testing the page with a local build of the latest Prebid, any

[2018-07-16 13:14] edahood-sonobi commented on #2466
@smartbidder1  This has gone live. With any of the recent versions of prebid you should be good.

[2018-07-16 14:34] haroldpussat opened #2854 "[Native] Special characters on body / image / title from prebid.js to DFP"
## Type of issue
Question

## Description
We are testing native implementation from Prebid.js (1.16-pre). For this I create a simple test page with a native slot (size 1&1) and a simple mediaType declared as native. There is only appnexus in competition for the native slot.
I also create a native format and style on our DFP account.
What I see on my console is I get answer from Appnexus with "spec

[2018-07-16 15:04] andyblackwell commented on #2640
Can we get this labeled as a bug or feature, so it stops getting set to stale? @mkendall07

[2018-07-16 16:13] mkendall07 commented on #2547
@ix-prebid-support
I'm not sure the best way to fix this as other adapters may now be reliant on the broken behavior. Possibly we should fix it and also introduce a method that returns just the host portion of the referrer that those adapters can use.

[2018-07-16 16:22] headerbidding commented on #2677
I haven't tested with 1.16 yet. I'm waiting for it to become available on http://prebid.org/download.html

Yes - I have noticed the "nobid" response, and this is what I am really concerned about.

No - my bidders haven't expired.

[2018-07-16 17:59] sgagnierH opened #2856 "document.write in prebid.js"
## Type of issue
feature request

## Description
We need to get rid of all document.write over our pages, but there is one laying within prebid.js. It seems to only relates to native ads, but still, it's fairly easy to avoid this.

## Steps to reproduce
module: exports.insertHtmlIntoIframe

  exports.insertElement(iframe, document, 'body');

  iframe.contentWindow.document.open();
  iframe.content

[2018-07-16 22:15] mkendall07 opened #2857 "test issue"
test

[2018-07-16 22:20] derdeka commented on #2843
@snapwich Did you have a chance to look into this issue?

[2018-07-16 22:35] #2857 closed

[2018-07-17 05:51] YOzaz commented on #2248
Hi guys. You're probably doing multiple ad requests to `pbjs` with the same configuration on a page (e.g. because of ad refresh).
This message is caused because `pbjs` is doing backwards-compatible copy of `banner > sizes` object here: https://github.com/prebid/Prebid.js/blob/master/src/adaptermanager.js#L241.
Second request will cause deprecation message, but can be safely ignored as long as you'

[2018-07-17 05:51] YOzaz commented on #2853
Hi, see here: https://github.com/prebid/Prebid.js/issues/2248#issuecomment-405467313.

[2018-07-17 05:57] ShashankSureshMindEra commented on #2248
Thanks @YOzaz . Can you let me know the format of the new ad unit sizes ?

[2018-07-17 06:02] YOzaz commented on #2248
`mediaTypes > banner > sizes`: http://prebid.org/dev-docs/adunit-reference.html#adunitmediatypesbanner. In other words, just ignore this message for now, or check if you've replaced general `sizes` array everywhere.

[2018-07-17 06:12] ShashankSureshMindEra commented on #2248
I replaced the general adUnits.sizes to adUnits.mediaTypes.banner.sizes and it works fine. Do you think this is a mandatory change which is required or can we ignore it ?

[2018-07-17 06:13] ShashankSureshMindEra commented on #2248
New Code:
"mediaTypes": {
                        "banner": {
                            "sizes": [
                                [
                                    320,
                                    50
                                ]
                            ],
                        }
                    },

Old Code:
                            "sizes": [

[2018-07-17 12:47] renebaudisch commented on #2685
looks good

[2018-07-17 12:47] #2685 closed

[2018-07-17 13:58] drdmitry commented on #2843
If that could help, please find below the explanation:

Here in `getBids`, `adUnit.sizes` are filtered by applying labels on the adUnit level.
https://github.com/prebid/Prebid.js/blob/f32605ab23356653b31b6087850443a21b1a3326/src/adaptermanager.js#L48-L63

Later in `getBids`, `filteredAdUnitSizes` (`adUnit.sizes` filtered before) are filtered by applying labels on the bid level.
And creating the bi

[2018-07-17 16:10] jsnellbaker commented on #2248
@ShashankSureshMindEra the `mediaTypes` approach is the direction we'll want to take eventually, so I would recommend to implement it that way if possible so it's an easier transition later on.

[2018-07-17 16:11] jsnellbaker commented on #2853
@ShashankSureshMindEra From the conversation in the other issue, it seems like this was addressed.  If so, please close out this issue.

If you still have some outstanding questions, please reply here and I'll be happy to help.

[2018-07-17 19:36] #2750 closed

[2018-07-17 20:08] #2810 closed

[2018-07-18 03:56] bretg opened #2859 "add digitrust function to utils"
## Type of issue
cross-adapter utility library request

## Description
DigiTrust is an optional module for pubs, but in order for adapters to support it, there's a small function that could be made a standard part of utils. This will save adapters from duplicating code.

## Suggested code
Based on the code implemented in the Rubicon bid adapter:
[code]

## Other information
Note that similar code

[2018-07-18 05:36] #2775 closed

[2018-07-18 08:47] chrissjhitc opened #2860 "Separate size mappings per adUnit cannot be represented using sizeConfig"
## Type of issue

Question

## Description

We’re switching over our old size mapping code to use sizeConfig but have hit a problem with the implementation. DFP size mappings and the 0.x Prebid size mappings are per adUnit but the sizeConfig rules are global to the page.

We have two types of leaderboard slot that allow billboards at different page widths. Each slot has a separate sizeMapping for

[2018-07-18 11:21] chrissjhitc opened #2861 "sizeConfig not honoured after window resize due to unexpired bids from previous auctions being used"
## Type of issue

Question

## Description

Unexpired, unused bids from previous auctions can be selected as the winning bid, but if the window has since been resized then these bids can be for a size that is no longer eligible due to the sizeConfig rules.

We’ve avoided this issue by using a new adUnit and code each time we call request bids after a window resize, but should Prebid be ensuring an

[2018-07-18 13:45] jaiminpanchal27 commented on #2861
@chrissjhitc Thanks for reporting. I think Prebid core should handle this.

[2018-07-18 13:56] jaiminpanchal27 commented on #2856
@sgagnierH Have you tested this in IE 11, Safari 9+ and Edge ?

[2018-07-18 14:22] mkendall07 commented on #2856
The code you posted is not equivalent unfortunately. The document.write method importantly preserves the DOM of the existing document (if it's already open) before writing content vs setting the iframe src will destroy any other content.

[2018-07-18 14:23] mkendall07 commented on #2859
can this just go into a module?

[2018-07-18 14:23] #2846 closed

[2018-07-18 14:29] sgagnierH commented on #2856
@jaiminpanchal27
No I did not tested it, it's a kinda hint.

@mkendall07
If you look at the code in place, you'll see that it creates the iframe just before the document.write, so there's nothing in it to be lost.

[2018-07-18 14:30] mkendall07 commented on #2856
cool, in that case it's ok as long as it's proven to work in the target browsers (modern + ie11 )

[2018-07-18 17:19] bwoolcott commented on #2515
@smartbidder1 our Prebid code should handle this, but, we may need to switch this on for your specific OpenX instance - I can check on that for you if you'd like to ping me with your OpenX instance name

[2018-07-19 07:14] bretg commented on #2859
The point of this utility function would be for simplified adapter support of the module. Each adapter needs to do the same things to look for DigiTrust config -- this makes it a one-liner for each.

Publishers still wouldn't be able to use DigiTrust without including the pseudo-module. Note that we don't currently have real module support for DigiTrust yet -- until their library is converted to a

[2018-07-19 13:20] jeffersonlicet opened #2867 "Send a different size for each bidder"
## Type of issue
Question

## Description
I'm wondering if there is any method to send different slots sizes for each bidder.

## Steps to reproduce
 I have an array of sizes compatible with bidder a but just one of them is compatible with bidder two.

### Expected results
Send individual sizes for each bidder.

### Actual results
All sizes are sent to all bidders.

## Platform details
Prebid.js 1

[2018-07-19 15:31] jaiminpanchal27 commented on #2648
Hi Everyone, Failed xhr requests is one of the problem so we have temporarily added config to disable ajax timeout in this branch https://github.com/prebid/Prebid.js/tree/disable-timeout

To use this,
[code]

Test using this new config and let us know if it improves anything.

Thanks to @lebrunm for helping out with more details on his setup.
We pulled up some reports for appnexus bidder and found

[2018-07-19 16:47] #2789 closed

[2018-07-19 17:49] mkendall07 commented on #2672
Ping

[2018-07-20 07:43] chrissjhitc commented on #2860
Thanks @bretg ,

It's probably an unusual use case, we have two leaderboard adUnits on the same page with different window width breakpoints. I can't see it covered in any of the examples.

Under the Prebid 0.x sizeMapping you could set the breakpoint to 980px and 1200px independently for each adUnit via adUnit.sizeMapping. But in Prebid 1 the sizeConfig is a global set of rules that apply to all

[2018-07-20 13:48] jaiminpanchal27 commented on #2282
Merged #2777

[2018-07-20 13:48] #2282 closed

[2018-07-20 14:40] jsnellbaker commented on #2677
@headerbidding The download page has been updated for 1.16.

I'm not sure the nobid responses are a result of this behavior, because I was seeing the same thing when all bidders were enabled in the build.  That's why I asked if the placements/information used in the bidder fields of the adunit objects were still active/live.

[2018-07-20 17:57] andyblackwell opened #2873 "Kargo adapter bug in bid to ad matching"
## Type of issue
BUG

## Description
When using a single placementId and more than one ad per auction, this adapter has no way to properly match a bid response to the correct ad from the request.

## Steps to reproduce
Use one placement id on multiple ads in an auction. Easiest way would be to alter the unit test to not use two unique placement on the two dummy ad calls.

## Test page
n/a

### Exp

[2018-07-23 16:31] mkendall07 commented on #2854
Thanks for the bug report. Would you mind opening a PR to resolve?

[2018-07-23 17:14] jaiminpanchal27 opened #2881 "Setup testing infrastructure to debug #2648"
## Type of issue
Feature

## Description
Setup test pages to collect data using dfp, appnexus bidder and appnexus stack.

[2018-07-23 17:38] jsnellbaker opened #2883 "setup tracking/logging endpoint to record test data made from #2881"
## Type of issue
Feature

## Description
Setup endpoint (using express) to read/store auction event data created from testing framework created in #2881

[2018-07-23 23:37] andyblackwell opened #2884 "Sovrn bid caching TTL misconfigured as milliseconds rather than seconds"
## Type of issue
Bug

## Description
Confirmed with our reps that the correct Sovrn bid caching TTL is 60 seconds, but the current config has it set to 60,000 seconds. Is simply set as milliseconds instead of seconds.
https://github.com/prebid/Prebid.js/blob/1.16.0/modules/sovrnBidAdapter.js

### Expected results
Bid caching TTL set to 60 seconds

### Actual results
Bid caching TTL set to 60,000 s

[2018-07-23 23:51] andyblackwell opened #2885 "AudienceNetwork bid caching TTL misconfigured"
## Type of issue
BUG

## Description
From the docs, AudienceNetwork "web bids are valid for 10 minutes", but currently it takes the bidderTimeout prebid config which is in milliseconds and applies it as the bid TTL.
`const ttl = Number(config.getConfig().bidderTimeout);`
https://developers.facebook.com/docs/audience-network/advanced/ortb-bidding

### Expected results
A bid TTL of 10min (600 second

[2018-07-24 00:35] #2801 closed

[2018-07-24 07:50] haroldpussat commented on #2854
Thanks for the feedback, I never opened a pull request. I'll try to do it.

[2018-07-24 08:35] #2806 closed

[2018-07-24 22:01] andyblackwell opened #2889 "Rubicon bid caching TTL misconfigured"
## Type of issue
BUG

## Description
Our Rubicon rep just confirmed their bids have a TTL of 60 seconds, but their adapter is currently configured at 300 seconds (5min).

## Platform details
1.*

[2018-07-24 23:46] bszekely-s1 commented on #2884
Are you seeing any issues as a result of this misconfiguration? As similar issue occurred with Index, whereby lowering the TTL looks to have addressed an issue with Index ads rendering expired bids. We are still adjusting the TTL to determine optimal rate. Curious to see where your issues were.

[2018-07-25 02:30] andyblackwell commented on #2884
This was found as part of our upgrade to prebid 1.*, which we just started testing in production this week.

We contacted all of our reps to verify the bid ttl settings, because some were obviously wrong, and we plan on utilizing bid caching in different ways. Trying to fix potential issues before they happen.

Created issues here to highlight to others the ones we know are currently wrong.

[2018-07-25 09:03] salpure opened #2890 "Script with prebid Server (S2S) and conditional ad size mapping unit doesn't works"
## Type of issue
bug

## Description
Same issue as described here:  https://github.com/prebid/Prebid.js/issues/2222

## Steps to reproduce
https://github.com/prebid/Prebid.js/issues/2222

## Test page

[code]

### Expected results
Based on viewport/size the right size mapping should be applied.

### Actual results
Desktop size is applied even for mobile size viewport.  However, anything smaller th

[2018-07-25 13:38] samuelhorwitz commented on #2873
Sorry for the delay in a response. I've been preparing for a business trip/traveling for the last few weeks. I've reached out to our sales engineers about this, but I believe our solution which they also will start to communicate is to use our multiple placement ID solution. This was something we have set up already for other adapters but it appears we will need to use it for Prebid integrations a

[2018-07-25 15:55] jsnellbaker commented on #2890
Hello @salpure Thanks for submitting this issue.  I'll take a look into it.

[2018-07-25 16:08] andyblackwell commented on #2873
Thanks for the response!

Your explanation makes sense for the current setup, but prebid does support one placement per page for adapters, is how it has always worked. You'll just need your api to support it as well one way or another.

We've seen these two main scenarios with other adapters in order to support:
1) include the bidIds in the request and return them with the responses in order to ma

[2018-07-25 18:00] mkendall07 opened #2893 "test"
test

[2018-07-25 18:03] #2893 closed

[2018-07-26 18:03] jsnellbaker commented on #2890
Hi @salpure

There's an existing PR that will address the filtering that should take place properly for s2s requests.  This PR is https://github.com/prebid/Prebid.js/pull/2795

In addition though, there is a setup issue in your labels.  The `labelAny` values in the `adUnits.bids` are using `display` whereas the corresponding label in the `sizeConfig` is named `desktop`.  You'll want to rectify one

[2018-07-26 18:33] jaiminpanchal27 commented on #2648
Thanks @Deimos01 for trying this. We are in process of creating setup using appnexus platform. I will update you once we have the reports.

[2018-07-26 18:34] ix-prebid-support commented on #2690
@gitsh84
@mercuryyy
@Caspervw

Following up on the earlier request, we would really appreciate it if you can confirm that this fix has resolved the issue with impression discrepancy

[2018-07-26 18:40] mkendall07 commented on #2648
@Deimos01
Can you also email us the data you are seeing?  https://github.com/prebid/Prebid.js/issues/2648#issuecomment-404191839

[2018-07-27 10:20] haroldpussat opened #2902 "[Native] Slot targeting not sent to DFP with nativ position and banner position"
## Type of issue
question

## Description
Still testing native implementation, I'm facing an unsolved issue with combination of native position and legacy banner position on a same page. What I can see in a case I mix nativ position and legacy banner position is that slot targeting to DFP is not sent to DFP and in that case, there is no ad served to the page.
On my test page, I have several positi

[2018-07-27 12:02] #2823 closed

[2018-07-27 14:20] mercuryyy commented on #2648
@mkendall07  Looks like most of us having this issue are using s2s as well. It looks to me like when s2s is not returned on time even if client side bidders returned on time the action fails.
Unless you set bidderTimeout but then you lose more fill from s2s

[2018-07-27 15:54] #2843 closed

[2018-07-27 17:34] Caspervw commented on #2690
@ix-prebid-support Yes, this solved it for us. Thanks

[2018-07-30 06:36] RajasekarPR opened #2905 "Consent Management Module - gdpr consent is undefined."
I have included the consent management module along with the prebid server , while testing the i got the gdpr consent as undefined.

Configuration :
![image](https://user-images.githubusercontent.com/39621436/43380985-ba43ff66-93f0-11e8-8741-6ede8d9b147c.png)

Undefined data:

![image](https://user-images.githubusercontent.com/39621436/43381039-ea3871a2-93f0-11e8-89d4-2e7cc8494931.png)

Prebid Ver

[2018-07-30 12:20] jsnellbaker opened #2906 "upgrade gulp packages to 4.x"
## Type of issue
task

## Description
Investigate/attempt to upgrade gulp packages in prebid.js to v4.

Will require updates to the `gulpfile.js` due to API changes.

[2018-07-30 15:19] hhhjort commented on #2851
Do we know if there are non-Prebid.js users of the current PBS `indexExchange` adapter? Especially if it is something like the mobile SDK, it could result in us needing to keep the old adapter around for a long time. Still it is likely a second adapter in PBS is the least horrible way of resolving this issue.

If we suspect that the old adapter will need to be supported long term, I would recommen

[2018-07-30 20:09] mkendall07 commented on #2851
I'd prefer to fix this in prebid.js. Even if we add a s2s adapter for `ix` that only fixes it for Index, no other S2S aliases will work right.
A short term fix would be to just add a copy of `ix` here: https://github.com/prebid/Prebid.js/blob/master/modules/prebidServerBidAdapter.js#L219

And the long term solution would be to add support for converting types in prebid.js for S2S aliases.

[2018-07-30 20:24] mkendall07 commented on #2805
@lanceloti
Got a test page I could look at?

[2018-07-31 13:28] #2827 closed

[2018-07-31 14:17] mkendall07 commented on #2851
ah ok. I missed that detail - thanks for pointing it out.

[2018-07-31 18:38] dlr1967 opened #2919 "Feature Request - New Analytics Message for Video Payment"
Feature Request

When using Multi-Format video ads are displayed and a BID_WON message is sent to the analytics adapter. Demand sources are not considering it a payable event until the video has played a certain amount of time. For accurate analytics, there needs to be a new message that is send when the CPM is earned - similar to VPAID/VAST when doing straight video.

http://prebid.org/dev-docs/s

[2018-07-31 21:28] #2798 closed

[2018-08-01 13:55] yanfaingold opened #2922 "sending multi bid for the same adapter"
i noticed only some adapters allow multi bid request so i wonder is there any way i can make prebid to send request separately for each bidder? like in config? so i would be able to send multi bid request for the same adapter since they have different campaigns this is a necessity.

[2018-08-01 14:01] ConcourseMedia commented on #2781
This issue is still occurring and is partially responsible for some lost bids on sharethrough.

[2018-08-01 14:20] YOzaz commented on #2781
@ConcourseMedia try increasing amount of userSyncs temporary. But yes, it is still actual.

[2018-08-01 15:04] lebrunm commented on #2648
On our side we've not yet tested "disableAjaxTimeout:true", but doing the following finally fixed the issue:

* (1) the use of "syncsPerBidder: 50" and "timeoutBuffer: 400", as suggested above
* (2) the use of the Prebid timeout instead of the usual JS function (setTimeout)

The (Prebid) revenue is now back to normal for 3 different sites (with international traffic). Thank you to everyone partici

[2018-08-01 16:01] headerbidding commented on #2648
@lebrunm: Can you explain for a less technical person "the use of the Prebid timeout instead of the usual JS function (setTimeout)"

[2018-08-01 16:38] #2800 closed

[2018-08-01 19:04] samuelhorwitz commented on #2873
We are currently working on a solution for this implementing #1 where we return by bidId versus placement ID. I will link back to this in a PR once our backend solution is complete and I can submit the adapter change for review.

[2018-08-01 20:34] GLStephen commented on #2822
@mkendall07 @dbemiller PR incoming after we finish internal testing, probably shouldn't be marked stale

[2018-08-02 07:09] josepowera opened #2927 "Video example with Video.js and IMASDK"
## Type of issue
Looking for example of integration

## Description
As a publisher we are looking for integration of prebid video with the following stack:
Prebid - IMASDK +IMASDK-videojs plugin - videojs player
https://github.com/googleads/videojs-ima

There is a similar example for Prebid- videojs-vast-vpaid plugin - videojs player in http://prebid.org/examples/video/videojs-demo.html

Demo of V

[2018-08-02 07:44] YOzaz commented on #2781
@ConcourseMedia well it worked in our case.
Setting it to 0 (zero) doesn't work - I've inspected pbjs code, and this check has been removed in 1.x.
But setting it to something like 999 should do the trick. Check if you're using syntax correctly:
[code]

[2018-08-02 08:09] lebrunm commented on #2648
@headerbidding There are now 2 ways to call your ad server when your Prebid timeout has been reached:
* (1) by using the standard JS function (setTimeout) as shown on this [Getting started page](http://prebid.org/dev-docs/getting-started.html)
* (2) by using pbjs.requestBids({ timeout: YOUR_TIMEOUT }), which gives Prebid the control of when the ad server is called.

We've not tested an implementat

[2018-08-02 08:31] lebrunm commented on #2648
@YOzaz No, we never tried the `bidderTimeout` param.

[2018-08-02 13:34] bretg opened #2929 "Migrate currency.prebid.org to a different CDN"
## Type of issue
Environment update

## Description
We're spending more money on hosting the currency conversion file at currency.prebid.org than we'd like. The file is being generated daily out of an AWS Lambda function and hosted on CloudFront.

Taking ideas for a less expensive approach that's still dynamic. e.g. can we script something for jsdelivr?

[2018-08-02 14:03] akira28 commented on #2922
I'm facing the same issue with Rubicon, that supports video, but you can send just one of video and banner. Any workaround to send multi-format just for the bidders that supports it?

[2018-08-02 14:56] #2793 closed

[2018-08-02 16:20] mxcoder commented on #2820
We're almost ready to ship the fix for this on our AdServer. I'll ping you here when it should be out.

[2018-08-02 17:05] mxcoder commented on #2820
Hi @smartbidder1 , our team has told me that this is in production now, you should be seeing the original creative ID in the response now. Can you check?

[2018-08-02 20:40] mkendall07 opened #2931 "RAD-1946 - test issue"
this is a test to link jira and github

[2018-08-02 20:57] #2931 closed

[2018-08-03 12:32] #2883 closed

[2018-08-03 12:34] jsnellbaker commented on #2890
Hi @salpure,

The above mentioned PR was merged into master and included as part of the 1.18.0 release.  If you continue to see any additional trouble here, please let us know.

[2018-08-03 12:35] #2890 closed

[2018-08-03 13:07] mannzer opened #2937 "GumGum examples in markdown file do not return test creatives."
## Type of issue
bug in .md file

## Description
According to http://prebid.org/dev-docs/bidder-adaptor.html#required-files:
modules/exampleBidAdapter.md is required to provide:
* A test ad unit that will consistently return test creatives.

The example in https://github.com/prebid/Prebid.js/blob/master/modules/gumgumBidAdapter.md consistently contains an empty ad object lacking a test creative.

[2018-08-03 18:08] jsnellbaker commented on #2905
@RajasekarPR Do you have a test page setup that's actively returning this `undefined` result?  There are a few reasons to get undefined, some related to the CMP.  Seeing it in action would help explain it.

[2018-08-03 18:21] jsnellbaker commented on #2906
Initial investigation complete.  Created #2930

[2018-08-03 18:21] #2906 closed

[2018-08-03 19:03] #2884 closed

[2018-08-03 20:03] patrick-mcdougle commented on #2860
One other thing to note here is that there's currently no way to just limit a size when a media query is matched. Ideally the api for this would be really similar to the way that [DFP does it](https://developers.google.com/doubleclick-gpt/reference#googletagsizemappingbuilder). Here's our use case:

We have two slots on the page, a leaderboard on the top and an ad in the sidebar. The leaderboard i

[2018-08-04 06:35] ptomasroos commented on #2929
Or put cloudflare in front with a caching rule? Would save abuot 90% of the traffic most likely and its free.

[2018-08-06 14:41] mkendall07 commented on #2648
hey all.

If you still are having this issue can you please link your site, info about the setup and what you have tried to resolve it? It's odd that some folks are reporting success with various setting but others are not. So would like to look for some more patterns.

Feel free to email me directly as well.

[2018-08-06 15:10] janvdc commented on #2648
@lebrunm After all, I'm not 100% sure that we've managed to fix it on our side. It's a lot better, but I don't know if the revenue is back to 100% of 0.34. We're going to run a proper A/B test for a few days and I'll report back. Could you post a code example of how you're calling pbjs.requestBids()? I'm not clear on how it works in combination with pbjs.setTargetingForGPTAsync() and pbjs.initAdse

[2018-08-06 20:41] rjvelicaria opened #2938 "`utils.getTopWindowLocation` not supported on firefox browsers?"
## Type of issue

Question, but maybe an oversight/bug as well.

## Description

On Firefox browsers [tested on quantum and v48], calling `utils.getTopWindowLocation` retrieves `about:blank`.
This fails to get the real top window location for several reasons:
* Firefox doesn't support location.ancestorOrigins
* Mozilla's [concept of the referrer](https://developer.mozilla.org/en-US/docs/Web/API/Do

[2018-08-07 10:28] lebrunm commented on #2648
@janvdc The following piece of code from the [Getting Started page](http://prebid.org/dev-docs/getting-started.html) is still required. Updating your implementation with the Prebid timeout can be done with "pbjs.requestBids({ timeout: YOUR_TIMEOUT })" as follows:

            pbjs.que.push(function() {
                pbjs.addAdUnits(adUnits);
                pbjs.requestBids({

[2018-08-07 16:27] mxcoder commented on #2937
Hi @jsnellbaker , we're preparing an update to our readme file. We'll send a PR asap.

[2018-08-07 17:28] #2853 closed

[2018-08-07 18:31] #2420 closed

[2018-08-08 08:50] JoyceBabu opened #2943 "Setting floor price in multi-size units"
## Type of issue
Question on setting floor price in multi-size units

## Description
How can I set different floor price for different sizes in a multi-size request? For example, I want to set a floor price of `$1` for `970x250` and `$0.5` for `728x90`. Is it possible?

## Steps to reproduce
N/A

## Test page
N/A

### Expected results

### Actual results

## Platform details

## Other information

[2018-08-08 09:47] mannzer opened #2944 "Sovrn examples in markdown file do not return test creatives."
## Type of issue
bug in .md file

## Description
According to http://prebid.org/dev-docs/bidder-adaptor.html#required-files:
modules/exampleBidAdapter.md is required to provide:
* A test ad unit that will consistently return test creatives.

The example in https://github.com/prebid/Prebid.js/blob/master/modules/sovrnBidAdapter.md consistently returns a response object lacking a "seatbid" array.

#

[2018-08-08 11:31] mannzer opened #2945 "RhythmOne examples in markdown file do not return test creatives."
## Type of issue
bug in .md file

## Description
According to http://prebid.org/dev-docs/bidder-adaptor.html#required-files:
modules/exampleBidAdapter.md is required to provide:
* A test ad unit that will consistently return test creatives.

The example in https://github.com/prebid/Prebid.js/blob/master/modules/rhythmoneBidAdapter.md consistently returns a 204 'No content' response

## Steps to re

[2018-08-08 12:38] lanceloti commented on #2805
Sorry from delay: http://maringa.odiario.com/ads/adplayer-instream.php?pbjs_debug=true

[2018-08-08 14:49] mkendall07 commented on #2885
yeah this looks like a bug. @lovell

[2018-08-08 14:53] #2856 closed

[2018-08-08 15:48] smartbidder1 commented on #2820
Are you referring to the ad.id in the json response struct? if so, yes I can see that.

[2018-08-08 17:11] mkendall07 opened #2948 "Find and update package.json for issue with fresh install"
a fresh install running gulp serve results in this error:
[code]
Seems related to
https://github.com/peerigon/parse-domain/issues/35

We should update dependencies to resolve.

[2018-08-08 18:59] jaiminpanchal27 opened #2949 "Move prebid.js to open source cdn"
## Type of issue
Feature

## Description
Prebid release pushes files on appnexus cdn and we also publish to npm.
We would like to move this to some open source cdn like [jsDelivr](https://www.jsdelivr.com/)

[2018-08-08 19:33] janvdc commented on #2648
@lebrunm Thanks for the more detailed explanation. We've just turned on an A/B test that also incorporates your fix. I'll report back when we got the results.

[2018-08-09 06:54] OhadTs1985 opened #2953 "secureCreative -> receiveMessage throws an error when no adObject is found"
## Type of issue
Bug
## Description
When two instances of Prebid runs in the same scope the _secureCreatives.js_ module of instance no.1 might listen to events thrown by a creatives that runs in a cross domain iframes which has been created by instance no.2. This results in the _receiveMessage_ handler not finding adObject (sets as undefined) and an error thrown when the _sendAdToCreative_ method

[2018-08-09 09:52] vedantseta commented on #2949
How would user specified modules be included as provided by [Prebid Download](http://prebid.org/download)? or would this contain all modules by default?

[2018-08-09 14:13] #2867 closed

[2018-08-09 15:48] lovell commented on #2885
Thanks both, I'll take a look.

[2018-08-09 20:21] lanceloti opened #2957 "Rubicon Outstream: Ignoring bid: Video bid does not have required vastUrl or renderer property"
## Type of issue
bug

## Description
I'm testing Rubicon with outstream video context but getting this error: Invalid bid from Rubicon. Ignoring bid: Video bid does not have required vastUrl or renderer property

## Steps to reproduce
Configure Rubicon as bidder in a video outstream adunit.

## Test page
http://maringa.odiario.com/ads/adplayer-outstream.php?pbjs_debug=true

### Expected results
Sh

[2018-08-09 21:17] samuelhorwitz commented on #2873
See #2958

[2018-08-09 21:41] bradchoate opened #2959 "[Bug] getHighestCpmBids returns rendered bids"
## Type of issue
Bug

## Description

This is similar to #2539. With the PrebidJS 1.x updates, the manner in which returned bids are saved into an internal 'pool' complicates the way a winning bid is retrieved. It appears that bids from prior auctions-- even ones that are rendered-- are not removed from the pool.

## Steps to reproduce

Running additional auctions for a given ad unit, you will som

[2018-08-09 23:28] bretg commented on #2189
So my recollection is that we decided not to do this. Mainly because there's too big of an installed base to change everyone's ad server creatives. But seems like there was another reason -- like a difference between the needs of video and mobile?

[2018-08-10 13:15] vishalgarale opened #2960 "`gulp build ` not generating prebid.js in dist folder."
`gulp build ` not generating prebid.js in dist folder.

[2018-08-10 14:13] jsnellbaker opened #2961 "districtmDmx bid adapter - updates requested"
## Type of issue
request

## Description
The districtmDMX adapter file name is out of sync with its bidder code.  The file name uses `districtmDmx` while the code is `districtmDMX`

This is causing some issues with an internal tool we use in conjunction with Prebid.js.

@stevealliance Can you update the file names so they're consistent with the code style?

Additionally can you also update the [do

[2018-08-10 21:43] brittanyzellman opened #2964 "Consortium IDs"
## Type of issue
Feature Request

## Description
There should be a way to leverage consortium ids without each adapter needing to do it's own sync. Can this call be done once by Prebid and then passed in the params of the buildRequest object? Although this would add one additional call on page load, this one call could be leveraged by any/all units on the page.

## Platform details
Prebid.js versi

[2018-08-10 22:07] chefbenjamin commented on #2964
great idea - I second this

[2018-08-11 19:34] bretg commented on #2860
In both of your cases I think there's a way to solve. But first, some observations:

1) sizeConfig is global -- across all adunits. Only one mediaQuery wins.

2) The idea is that the `labels` in sizeConfig defines a device type, not an adunit. You could define "desktop-wide" and "desktop-narrow".

3) Worth noting that `sizesSupported` is meant to be the entire list of sizes that's relevant for the

[2018-08-12 22:17] e1superman opened #2967 "DistrictmDMX not compiling right for 0.34.18"
## Type of issue
If you try to config and download prebid with DistrictmDMX it results in an empty file, with an error.

## Description
Here is the prebid.js file, and error.
{"error":"Prebid file not built properly","requestId":"fc697742-5464-494a-a612-ca5265bbd35f"}

## Steps to reproduce
Configure any prebid file for 0.34.18 with DistrictmDMX (even alone, and download to see the error)

[2018-08-13 14:41] jsnellbaker commented on #2959
@jaiminpanchal27 Could you take a look?

[2018-08-13 14:48] jsnellbaker opened #2971 "need for refactoring/redesign of end of auction/done callback logic"
## Type of issue
request

## Description
Creating a specific issue to track the point raised in:
https://github.com/prebid/Prebid.js/issues/2648#issuecomment-396234253

Summary - The code that handles the end of an auction and related done callbacks needs to be reviewed and potentially refactored/redesigned as the current implementation is fragile and may have possible gaps in logic.

Copying the

[2018-08-13 16:09] bradchoate commented on #2959
If my expectations are wrong about this function, please let me know what a good alternative is to easily access the winning (highest-CPM) bid for the auction that just ran for a specific ad unit code. We're calling getHighestCpmBids within the callback and I know the callback receives auction results that could be used, but would require additional filtering, since it returns all received bids, n

[2018-08-13 17:39] #2881 closed

[2018-08-13 17:51] patrick-mcdougle commented on #2860
@bretg I think that certainly gets our use case to work, but it seems overly verbose, considering that the ad units themselves have sizes on them. Ideally there'd be a solution where the ad units could set their own sizes and then be filtered by the size config. I think it might be better if ad units without labels are excluded from the size filtering process which is how I thought it worked based

[2018-08-14 12:55] chrissjhitc commented on #2860
Thanks @bretg.

I think our issue does come down solely to the rules for Prebid being global. I wouldn't say its a bad design, it just means they are less flexible than the per ad unit DFP size mappings. We've been dealing with a few implementations from various third parties lately, and some of them use the DFP size mappings in a too complicated a way to represent with a global ruleset.

On a sin

[2018-08-14 14:17] stevealliance commented on #2961
@jsnellbaker, I will update the name file again.
To look exactly like you wanted

[2018-08-14 14:51] mkendall07 commented on #2959
this does sound like a bug

[2018-08-14 18:53] mkendall07 commented on #2960
can you provide more details please?
Env?
Node/npm version?
Error message?
branch/tag?

I just tested this out on master and it worked fine. Thanks

[2018-08-14 18:53] mkendall07 commented on #2953
Thanks for the bug report. It might expedite a solution if you provided an example of this.

[2018-08-14 19:26] jsnellbaker commented on #2961
We'd have to fully extend that throughout the auction; so that if someone were to set:
`AppNexus` in their adunits - it would naturally resolve to `appnexus` when it's figuring out who the bidder is.

I can look into implementing that if that's something we want to do.

[2018-08-14 19:28] mkendall07 commented on #2961
I was thinking more at build time looking for the files to produce - however, than it's inconsistent which isn't great. Let's table that for now.

[2018-08-14 19:29] mkendall07 commented on #2938
Seems like a bug. I'd review a PR for a fix. thanks for the report.

[2018-08-14 19:34] mkendall07 commented on #2929
@bretg
is cloudfront already caching?

[2018-08-14 21:07] brittanyzellman commented on #2964
Would it be feasible for Prebid to support all three?

[2018-08-15 01:45] janvdc commented on #2648
Our A/B test is complete and I can say with confidence that all of the changes above applied together have fixed the issue. We are now earning more with 1.15 than with 0.34. The following are the results of our test, conducted on US users only:

![image](https://user-images.githubusercontent.com/40659942/44127241-72934c82-a00a-11e8-8fe6-51ebf62d33e0.png)

pbjs_world.js => Prebid 0.34
pbjs_eu.js =>

[2018-08-15 02:40] mercuryyy commented on #2648
@janvdc

Can you share the exact setup you used for pbjs_eu.js ?
Can you also run a test on pb 1.19.0 ?

[2018-08-15 13:58] jaiminpanchal27 commented on #2971
We already have issue for this https://github.com/prebid/Prebid.js/issues/2482
Since it is explained here in depth i will close the other one.

[2018-08-15 13:59] jaiminpanchal27 commented on #2482
Closing this as it is better explained in #2971

[2018-08-15 14:08] jsnellbaker commented on #2971
Jotting down potential notes/scenarios to keep in mind for this topic:
- when an outstream adunit and an instream adunit are requested in the same auction.
(previous solution had the outstream be cached when it didn't need to and may have ended the auction early before the instream has a chance to finish)
- when two instream adunits are requested in the same auction.  Both should be cached (when i

[2018-08-15 17:08] mkendall07 commented on #2948
this solves the issue

[2018-08-15 22:35] lospro7 commented on #393
Hi @kmjennison It's been over a year since this thread, but just curious if you are still having success with your adapter. Any problems with Amazon?

[2018-08-15 22:58] kmjennison commented on #393
@lospro7 I've stopped using this adapter since Prebid 1.0. I decided it would be tough to maintain and could break unexpectedly if Amazon changes their API.

Instead, we have a barebones request manager that loads Prebid and Amazon's bidder and makes the adserver request when both are complete (or if either times out). It's like a mini-Prebid. You can check out our implementation [here](https://gi

[2018-08-16 01:57] janvdc commented on #2648
@mercuryyy

Sure, you can find our configs here:

**1.15** => https://www.ancient.eu/js/pbjs_eu.js?v=1534296564
**0.34** => https://www.ancient.eu/js/pbjs_world.js?v=1534296564

We're going to upgrade to 0.19 soon, and see if that makes any additional difference.

[2018-08-16 07:55] #2960 closed

[2018-08-16 07:58] vishalgarale commented on #2960
Node version - v8.10.0
Npm version - 3.5.2

I was working on a master branch only, somehow it was not generating. Now today tired pull and build again, and its generated.

Thanks, @mkendall07

[2018-08-16 13:57] yosiweinreb opened #2982 "no cpm bid adapter"
Hello,
I am wondering what does a prebid adapter with no CPM need to return on `interpretResponse`, if CPM value is as <a href="https://github.com/prebid/Prebid.js/blob/master/src/adapters/bidderFactory.js#L404"> **required** </a>

Couldn't find any documentation on no cpm prebid adapters.

[2018-08-16 14:29] yosiweinreb opened #2983 "is `bidderSettings.alwaysUseBid` deprecated?"
Was trying to find any references to this condition via the code.
https://github.com/prebid/Prebid.js/blob/4daab3d229e4268a062f4e3919d5f639642c1933/src/targeting.js#L86

besides that comment, couldn't find anything (unlike the `enableSendAllBids` which is clearly on)
https://github.com/prebid/Prebid.js/blob/4daab3d229e4268a062f4e3919d5f639642c1933/src/targeting.js#L89

Thanks.

[2018-08-16 15:29] bradchoate commented on #2959
Thanks for looking at this... in the meantime, I was considering using this:

[code]

It would be called from the 'bidsBackHandler' callback, which receives the auction results by unit code. The callback would call this for each unit code's array of bid results to determine the winner for that placement.

[2018-08-16 15:39] jaiminpanchal27 commented on #2959
@bradchoate yes i think above will work for you.

[2018-08-16 16:50] lospro7 commented on #393
@kmjennison thank you for your quick response and sharing code! Amazon is a pain to work with.

[2018-08-16 17:13] mkendall07 commented on #2967
Thanks for the report. This is a known issue and should be resolved when https://github.com/prebid/Prebid.js/issues/2961 is fixed.

[2018-08-16 17:13] #2967 closed

[2018-08-16 17:14] mkendall07 commented on #2957
@bretg to review.

[2018-08-16 18:52] jaiminpanchal27 opened #2984 "Refactor bidFactory.js in 2.0"
## Type of issue
Feature

## Description
Refactor bidFactory.js in 2.0

[2018-08-16 19:43] andyblackwell commented on #2959
I think the main problem is that the code to pick the high bids is done in several places, and done differently. Might be better for the winning bid logic to be consolidated in the auction object on auction end, then those results can be merely read from everywhere else (pbjs.getHighestCpmBids, targeting.getWinningBids, etc).  That would mean though, that there would need to be better access to st

[2018-08-16 19:46] bradchoate commented on #2959
Is bid caching (where bids from prior auctions are held and included for consideration for later auctions) something that is just on as a default? We'd like the choice to disable that, or if a given ad vendor is okay with it, enable/disable on a per vendor basis.

[2018-08-16 19:51] jaiminpanchal27 commented on #2959
@bradchoate yes it is on by default. If bid pool has two unused and unexpired bids for same adunit by same bidder than it will do an auction for both and will select the highest cpm one. In case of tie it will select the older one. Why would you need to disable it ?

[2018-08-16 19:55] andyblackwell commented on #2959
the vendors have all added their bid TTL settings in their adapters, just for bid caching, so we know when they expire. Maybe if a vendor doesn't have the TTL setting, then their bids aren't cached? I haven't looked through all the adapters to check, but all the ones we use have TTL configured.

[2018-08-16 20:02] jaiminpanchal27 opened #2987 "Update unit tests to not use Arrow functions as recommended by Mocha"
## Type of issue
Bug

## Description
Passing arrow functions (“lambdas”) to Mocha is discouraged.
https://mochajs.org/#arrow-functions

https://github.com/mochajs/mocha/issues/2018
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Arrow_functions

[2018-08-16 20:03] jaiminpanchal27 commented on #2959
`ttl` is a required response param. http://prebid.org/dev-docs/bidder-adaptor.html

[2018-08-16 20:04] dbemiller commented on #2959
Long ago, I remember having some conversations about replacing these global API functions with auction-specific ones. So rather than `pbjs.getHighestCpmBids()`, make `pbjs.requestBids()` return the `auction` object, and then define an `auction.getHighestCpmBids()` which gets the highest bids in the auction. You'd probably want an async signature for it... but that might be worth re-visiting for th

[2018-08-16 20:26] bradchoate commented on #2959
Our understanding from talking with a few exchanges is that they expect a bid response to be used only one time, and only one bid response to be used per ad slot. If you receive a bid, hold an auction, and that bid does not win, it should not be kept to be re-used in future auctions.

When you refresh an ad slot and receive new bids, only those bids are intended to compete. Prior bids were given a

[2018-08-16 21:17] mkendall07 commented on #2902
@haroldpussat
I've not been able to reproduce the issue in scenario 3. A few thoughts:

1) Try turning on DFP debug by appending ?googfc to the end of the URL
2) There is a lot of output in console - can you clean that up?
3) The screenshot with the output of the google slot seems to suggest the issue is with DFP - since it's got all the keys set but it is not sent in the URL. Maybe you are hittin

[2018-08-17 14:30] Deimos01 commented on #2648
Hello guys,

I don't want to kill the mood but the bug isn't resolved.
As I said before, some geos are more affected than others.
We did a test with the setup of @lebrunm + 1.19 Prebid version and we are still facing a massive drop of impressions for :
- all south american countries (from -90% to -60%)
- India (-90%)
- Indonesia (-80%)
- Malaysia (-80%)
- Philippines (-90%)

And probably other exo

[2018-08-17 14:44] lebrunm commented on #2648
@Deimos01 I could share some data with you on Monday. Can you please confirm you're still not using the Prebid GDPR module?

[2018-08-17 14:47] Deimos01 commented on #2648
@lebrunm Many thanks for the prompt reply and yes the GDPR module is not activated and not linked to this issue.

[2018-08-17 16:14] mkendall07 commented on #2964
Sorry which 3 are you speaking of?

[2018-08-17 17:08] bradchoate commented on #2959
This seems apropos with respect to the bid caching mechanism being on as a default for PrebidJS 1.x - https://adexchanger.com/platforms/index-exchange-called-out-for-tweaking-its-auction/

[2018-08-17 17:31] brittanyzellman commented on #2964
IAB, App Nexus, and The Trade Desk. Sorry, should've specified.
This could also be modular, in the sense that a publisher would get to pick which id to pass in the bid.

[2018-08-17 18:14] godoggie opened #2991 "Prebid with global name change calls default pbjs.renderAd() when executing googletag.pubads().refresh()"
## Type of issue

## Description
Prebid build with global pbjs name change seems to fire default pbjs.renderAd() when `window.googletag.pubads().refresh([slot]);` is executed.

We are running a build of pbjs with the global name changed in package.json
 ie: `"globalVarName": "abc_pbjs"`, so that we can coexist on a publisher site that is currently leveraging Prebid and using the default global `pb

[2018-08-17 21:29] mkendall07 commented on #2983
It looks like it was deprecated when sendAllBids was turned on by default. @jaiminpanchal27 can you confirm?

[2018-08-18 00:56] janvdc commented on #2648
@Deimos01 We've only A/B tested in the US so far. We could now include other countries, too. I'll report back to you as soon as I know more.

[2018-08-19 07:32] yosiweinreb commented on #2983
So also,
http://prebid.org/dev-docs/publisher-api-reference.html#alwaysusebid
Should be removed or add deprecation note on Doc.

[2018-08-19 20:57] bretg commented on #2889
Bid re-use is a topic that hasn't been well-communicated to the account team.

Technically, 300 seconds is correct. There is a new message going to the account team that bid caching must be used only in certain limited scenarios - basically just refreshes on the same adunit in the same page.

And with the recent news/controversy around bid caching, this policy is being reviewed.

[2018-08-19 20:57] #2889 closed

[2018-08-19 21:00] bretg opened #2992 "Provide control for the publisher to turn off bid caching"
## Type of issue
feature request

## Description
Though PBJS has a strictly-limited form of bid-caching, given the recent concern over bid caching in the industry, some publishers may wish to side-step any issues and turn the bid-reconsider feature off entirely.

Suggested implementation would be a call to `setConfig`.

[2018-08-19 23:39] headerbidding opened #2994 "Cross-Origin Read Blocking (CORB)"
## Description
I am getting Cross-Origin Read Blocking (CORB) error messages

## Steps to reproduce
Open test page in Google Chrome and open Console.

## Test page
https://www.flixxy.com/prebid.htm?pbjs_debug=true

## Platform details
Prebid Version 1.20   - Windows 10 - Google Chrome Version 68.0.3440.106 (Official Build) (64-bit)

## Other information
Details:
Cross-Origin Read Blocking (CORB) b

[2018-08-20 08:08] mannzer opened #2995 "Appnexus examples in markdown file do not return test creatives."
## Type of issue
bug in .md file

## Description
According to http://prebid.org/dev-docs/bidder-adaptor.html#required-files:
modules/exampleBidAdapter.md is required to provide:
* A test ad unit that will consistently return test creatives.

The example in https://github.com/prebid/Prebid.js/blob/master/modules/appnexusBidAdapter.md consistently returns 200 {"error":"Publisher mismatch on multitag

[2018-08-20 13:59] lebrunm commented on #2648
@Deimos01 Below is the evolution of the the Prebid impression ratio per country (AI / AR):

**_(with Prebid 0.84 => Prebid 1.15 => Prebid 1.15 w/ fix)_**
* Brazil: 45% => 20% => 50%
* Chile: 45% => 25% => 45%
* China: 30% => 3% => 23%
* France: minor impact (-5%)
* Germany: minor impact (-5%)
* India: 25% => 8% => 25%
* Indonesia: 25% => 8% => 40%
* Malaysia: 40% => 8% => 45%
* Philippines: 30% =>

[2018-08-20 14:50] godoggie commented on #2991
Doh! that was it, thanks for pointing in the right direction.  Was using a handy [prebid setup tool](https://github.com/kmjennison/dfp-prebid-setup/blob/master/dfp/creative_snippet.html) that wasn't leveraging the $$PREBID_GLOBAL$$ var.   Ended up having to swap it out for our "abc_pbjs" to avoid conflict with the other version.

thanks!

[2018-08-20 14:50] #2991 closed

[2018-08-20 19:57] bretg commented on #2860
Thanks for explaining your perspectives on this Chris and Patrick. Handing this over to @mkendall07  to consider revising the feature.

My take is that the current feature works acceptably, but would be easier for complex use cases to adopt a more DFP-like approach rather than requiring the integrator to re-think the mappings at a global level.

[2018-08-20 20:04] bretg opened #2998 "Remove support for cookieSet"
## Type of issue
cleanup

## Description
In older versions of Prebid Server, the cookieSet feature was used to improve uids cookie rate. This feature is no longer used by any of the major Prebid Server host companies.

I propose removing the feature and cleaning up the documentation.

[2018-08-21 06:16] josepowera commented on #2927
.

[2018-08-21 07:37] arjitsachdeva opened #2999 "Significant revenue dip in Sonobi and RhythmOne"
## Type of issue

Question
## Description

We're seeing a substantial drop in Sonobi and RhythmOne revenues, and our prebid code hasn't been altered at all. The prebid version we're using is: v0.34.9.

Just wanted to know if there have been any breaking changes in their adapters post the above prebid version that's affecting these bidders?

[2018-08-21 16:49] mannzer commented on #2937
Not OK to close until fixed.

On Tue, Aug 21, 2018 at 6:29 PM, stale[bot] <notifications@github.com>
wrote:

--
Andrew Courser <andrew@a8b.co>
Atomic8Ball <https://www.atomic8ball.com>
760.466.7097 x820 <7604667097>
760.871.4287 DID <7608714287>

[2018-08-21 18:43] mkendall07 opened #3004 "Change default timeout buffer to `timeoutBuffer: 400`"
Based on feedback in https://github.com/prebid/Prebid.js/issues/2648 I'd like to increase the default `timeoutBuffer` to 400ms.

[2018-08-21 18:43] mkendall07 commented on #2648
Hey all. Thanks for the information. I going to go ahead and close this issue out. If you are still seeing a problem please feel free to open a new issue but we believe that most problems have been resoled.  I've opened https://github.com/prebid/Prebid.js/issues/3004 to increase the default timeoutBuffer.

@Deimos01
I believe your issue is related to your implementation. Feel free to continue the

[2018-08-21 18:43] #2648 closed

[2018-08-21 19:29] #2919 closed

[2018-08-21 22:06] headerbidding commented on #2648
Just so I understand it correctly:   Is  "timeoutBuffer: 400" the fix for the dropped impressions?

The reason I am asking is that I added "timeoutBuffer: 400" to my script on August 4 and impressions started to go up 13 days later (August 17).

(I am not sure if the server's cache control (10 days) + browser caching is responsible for the delay?)

I just like to better understand why impressions

[2018-08-22 19:51] mkendall07 commented on #2648
@headerbidding

I believe it's a large contributing factor yes. I think also concurrency plays a role but to a lesser extend. It will depend on how many bidders you have and how you are configured etc.

Could definitely be caused by CDN caching. Hard to say exactly though without other data points.

[2018-08-22 19:54] mkendall07 opened #3006 "Implement github code owners"
## Type of issue
Improvement/Project infrastructure.
## Description
As we become a more mature project and have a larger scale, certain restrictions need to become more automated. A big concern is who is responsible for reviewing/merging code. Fortunately github has a nice tool for this. Let's see how we can leverage https://blog.github.com/2017-07-06-introducing-code-owners/
For the different cod

[2018-08-22 22:28] headerbidding opened #3007 "Question about TIMEOUT vs PREBID_TIMEOUT vs FAILSAFE_TIMEOUT"
## Question

The timeout in the Prebid Basic example changed from:
var TIMEOUT = 2000;

To:
var PREBID_TIMEOUT = 1000;
var FAILSAFE_TIMEOUT = 3000;

I could not find any documentation on the PREBID_TIMEOUT and FAILSAFE_TIMEOUT

Can anyone explain?

[2018-08-23 06:53] SliriK commented on #3007
If I am not mistaken, the PREBID_TIMEOUT is somewhat similiar (if not the same) to the old TIMEOUT variable. This is the maximum time to wait for the auction before calling the ad server (and of course, any bid responses received after this timout will be ignored).

The FAILSAFE_TIMEOUT is intended for the cases in which for some reason the Prebid did not load properly or some other issue occurs.

[2018-08-23 06:53] FGoessler opened #3008 "Object.freeze JS error in IE11 with Google Maps SDK + Prebid.js"
## Type of issue
Bug

## Description
Prebid.js is using the `Object.freeze` function in its [bidderFactory](
https://github.com/prebid/Prebid.js/blob/master/src/adapters/bidderFactory.js). When the Google Maps SDK (e.g. from `https://maps.googleapis.com/maps/api/js?v=3&libraries=places`) is on the page as well, calling `getBidResponses` causes an JS error in Internet Explorer 11 (and probably belo

[2018-08-23 09:06] iseriousnoob opened #3010 "TypeError: p is null in secureCreatives.js"
## Type of issue: Bug

## Description
Our logging is catching exceptions. This is really, really rare.

## secureCreatives.js

[code]

I think inside the `if (data.message === 'Prebid Request')`-block data is being overwritten.
Resulting in data being null here `if (data.message === 'Prebid Native')`

## Log

[https://pastebin.com/raw/kFZaVCWW](https://pastebin.com/raw/kFZaVCWW)

## Unminified-Min

[2018-08-23 10:30] yanfaingold commented on #2922
is using aliasBidder can solve this issue?

[2018-08-23 13:25] muuki88 opened #3013 "Add logLevel setting"
## Feature request

Always log errors or add a logLevel setting to adjust the verbosity of the logging facility.

## Description

The [logError method in src/utils](https://github.com/prebid/Prebid.js/blob/1.21.0/src/utils.js#L282-L286) logs errors only  when the debug mode is turned on.

From a developer perspective this was unclear that errors are swallowed and not logged if your are not in debu

[2018-08-23 14:31] #2995 closed

[2018-08-23 14:45] curlyblueeagle opened #3015 "Usage of Renderer for Display Ads"
## Question
Can the Renderer be used for only for Outstream Video or for any ad type? We, at 33Across, have a display product that requires custom rendering and we plan to develop using Renderer. If any ad type is supported, what are the requirements that the custom renderer needs to support?

We see from from PR #1082 that the Renderer is recommended for Outstream Video.

Copying @carlosfelix who

[2018-08-23 16:04] #2885 closed

[2018-08-23 16:06] mkendall07 commented on #3013
thanks for the suggestion. The trend here has been to not pollute the console log area but I can see how this can be frustrating for developers. Open to community feedback on this one.

[2018-08-23 19:30] mkendall07 commented on #3008
Thanks for the report. Sounds like this a bug in the Google Maps SDK then though? Do you have a simple fiddle you can demonstrate the issue? For example, just use `Object.freeze` and load the maps SDK.

[2018-08-24 09:04] muuki88 commented on #3013
I could not agree more :smiley: Especially when it comes to external creative scripts, which are sometimes way too noisy.

By adding a `logLevel` settin which defaults to `none`, we would have the same behaviour, but the flexibility to control the noise we want to have :)

[2018-08-24 17:32] ezberry commented on #2964
This makes the most sense to me if it's done the same way that bidders themselves are, so publishers can setup which ones to use and different ID consortia could build adapters. Then the actual implementation wouldn't depend on any particular choice of who to support.

[2018-08-24 18:55] #2905 closed

[2018-08-24 20:50] mercuryyy commented on #2994
Im seeing the same errors anyone else?

[2018-08-24 20:56] mkendall07 commented on #2994
Seems like a new feature in chrome that doesn't have a lot of support yet.
Kind of ironic that the request that is blocked is originated from google.

This doesn't have anything to do with prebid though so I'm going to close.

[2018-08-24 20:56] #2994 closed

[2018-08-25 17:02] IsraeliAdblocker commented on #2746
@tzafrirb  @itayo155 waiting for more than two months now.

[2018-08-25 17:03] smartbidder1 commented on #2746
@tzafrirb  @itayo155  waiting for more than two months now.

[2018-08-27 14:08] jaiminpanchal27 commented on #3010
@iseriousnoob Can you provide steps or test page to reproduce this ?

[2018-08-27 14:33] work-related-questions commented on #3004
Sorry to bother, but can you please explain what does 'timeoutBuffer' do exactly ?
I've seen some comments that adding this to setConfig has helped some publishers with performance drops, but from what I can gather, it is just an addition to the global timeout and ends up adding another '400'ms (just an example) before DFP is being called ?

[2018-08-27 19:13] jaiminpanchal27 commented on #2339
This bug is fixed, have not seen this popup recently in our test logs

[2018-08-27 19:13] #2339 closed

[2018-08-27 19:37] lanceloti commented on #2957
I'm trying instream context and gotting similar error on bid response.
![screenshot_78](https://user-images.githubusercontent.com/17436827/44681624-7d6c0100-aa17-11e8-9e27-f434fb3cbabd.png)

[2018-08-27 19:49] jaiminpanchal27 commented on #3010
@iseriousnoob I think the reason for error is someone sending null as data in their postmessage. Can you check if #3026 fixes your use-case too.

[2018-08-28 06:51] work-related-questions commented on #2648
Sorry to bother, but can someone please explain what does 'timeoutBuffer' do exactly ?
I've read that adding this to setConfig has helped some publishers with performance issues, but from what I can gather, it is just an addition to the global timeout and ends up adding another '400'ms (for example) before DFP is being called ?

[2018-08-28 07:45] haroldpussat commented on #2902
Thanks for the feedback, I was OOO and I'm back now.
For 4) : Yes, I'm not seeing any ad at all with scenario 3.
I'll check for the other point and will try with sendAllBids -> false.

As mentionnent by Christian from Appnexus, maybe there is a limit reached with DFP (8192 characters per request on asynchronous render) : https://support.google.com/admanager/answer/1628457?hl=en

I'll let you know

[2018-08-28 13:53] haroldpussat commented on #2902
1) The googfc doesn't raise any error on all the pages (except some warning due to missing listener, it does interact with ad delivery)
2) I clean log message
3) I create a test page based on case 3 (one native + 5 legacy banner) with sendAllBids --> false, you can check : http://www.precom-multimedia.com/interne/hpu/test_nativ5/index_notallsendbids.html?dfptest=40&pbjs_debug=true

On this enableS

[2018-08-28 14:46] mkendall07 commented on #2902
@haroldpussat
Thanks for the update. I think we are hitting DFP limits and that's causes the no ad to render condition. I will try and confirm this theory when I get a chance. I think the best recommendation for now is to not send all bids. I will review with the team if we can do anything to mitigate this issue as well in the future.

[2018-08-28 20:00] aprakash-sovrn commented on #2944
We are working on getting this set up, thanks for pointing it out.

[2018-08-28 21:26] mxcoder commented on #2820
@smartbidder1

This ID comes directly from the Bidder system, which is why we cannot guarantee its uniqueness, but it should be a unique id per creative.

[2018-08-29 07:16] FGoessler commented on #3008
Sorry for the delay. I‘ll hopefully have time to create a simple example soon.

I also agree that this is more an issue of the Google Maps SDK but Prebid is the way easier to adjust and communicate with partner here.

[2018-08-29 16:49] #2672 closed

[2018-08-29 17:29] susyt commented on #2937
Hi @mxcoder @mannzer,
I created a PR to update the example given in the documentation (https://github.com/prebid/Prebid.js/pull/3031)

[2018-08-29 19:41] #2999 closed

[2018-08-29 21:05] #3007 closed

[2018-08-30 15:06] thewizarodofoz commented on #3013
I vote for not polluting the console log area. IMO error logs are for developers while developing. And since the debug flag already controls the logging behaviour, maybe a meet-in-the-middle solution will be to document this behaviour better so that developers will be more aware.

[2018-08-30 17:10] thewizarodofoz commented on #3013
@muuki88 Just to make sure we are on the same page - are you familiar with the `pbjs_debug` query param? It can be used to [trigger debug mode](https://github.com/prebid/Prebid.js/blob/e643997d45f0fbefc3e75e08e8513a080bd34ef9/src/utils.js#L304) on the fly without having to leave `pbjs.setConfig({ debug: true });` in production code.

[2018-08-30 17:14] thewizarodofoz commented on #2992
I would be happy to help implementing this. @bretg could you maybe point me in the right direction?

[2018-08-30 17:36] mike-chowla commented on #2964
I'm getting a lot questions about consortium ids.   Making support modular with adapters for fetching ideas is a good approach since publishers will want to pick which ones to use and it fits Prebid.org's values of being neutral and open.

Full support would be having a round of one or more id fetches before the auctions starts with the ids made available to all bidders.

[2018-08-30 18:09] muuki88 commented on #3013
Yes 😉. However this triggers all log messages. If I only want to have error logging in production, this doesn't help much 🤷🏻‍♂️. The suggestion would be a more fine grained control with either log levels or a configurable logger.

The more I think about it, the better I like the idea of a logger interface. The logger could be part of the configuration and if none is set, we use the default one as

[2018-08-30 18:09] muuki88 commented on #3013
I can draft a small PR if this would help to clarify my idea 👩‍🔧

[2018-08-30 18:16] mike-chowla commented on #2640
I'm reviewing #3022 but wondering if makes sense to change the core to solve the problem of debugging output.  Shouldn't the debug snippet just be changed to handled this case?

[2018-08-30 21:54] headerbidding opened #3039 ""error":"Prebid file not built properly""
## Type of issue
I get an
{"error":"Prebid file not built properly","requestId":"0ac779bc-1154-4e21-9c03-134c515e4f16"}
when I try to download Version 1.22 (or Version 1.20) of the adapter containing:
Appnexus/DistrictM/Serverbid/Sovrn/Sonobi

[2018-08-30 22:43] #2873 closed

[2018-08-31 06:30] thewizarodofoz commented on #2938
@rjvelicaria I tried reproducing this by loading the [hello world](https://github.com/prebid/Prebid.js/blob/master/integrationExamples/gpt/hello_world.html) example in an iFrame and logging the output of `utils.getTopWindowLocation()`.

My findings are:
1. The output is the same in Chrome 68 and in Firefox 61.
2. The output is similar to a [`Location`](https://developer.mozilla.org/en-US/docs/Web/

[2018-08-31 08:08] RajasekarPR opened #3040 "Utils is not defined (Reference Error - Pulsepoint Adapter)"
I have installed the latest version of Prebid.Js (1.22.0) and i am getting the below error when debugging the prebid in my local.

Error Message : Error Processing Command  : Utils is not defined reference error  . The exact error in pulsepoint

![image](https://user-images.githubusercontent.com/39621436/44900787-2752d280-ad23-11e8-88be-643cf6affa47.png)

Kindly do the needful.

[2018-08-31 14:20] dmitriyshashkin opened #3041 "Ad unit container doesn't resize properly due to a simple error"
## Type of issue
Bug

## Description
So this fix https://github.com/prebid/Prebid.js/pull/2947/files was implemented incorrectly. When you change `style.width` or `style.height` you should use `newValue + 'px'` instead of just `newValue`. Right now `style.width` / `style.height` assignments make no effect

## Steps to reproduce
Create a 970x250 add running on 728x90 unit. Let this ad to win

### E

[2018-08-31 14:32] bretg opened #3042 "Bid caching controls"
## Type of issue
Change

## Description
Prebid.org has been following the industry bid-caching discussion. While we believe the [Prebid.js use of bid caching](http://prebid.org/dev-docs/faq.html#does-prebidjs-cache-bids) in refresh scenarios is valid, we propose two changes to Prebid.js:

- Give the publisher control over whether bid caching is performed for refreshed AdUnits.
- Change the default

[2018-08-31 14:40] jaiminpanchal27 commented on #3040
@RajasekarPR There is a PR for this fix here https://github.com/prebid/Prebid.js/pull/3033

[2018-08-31 14:40] #3040 closed

[2018-08-31 14:52] headerbidding commented on #3039
More info:
Appnexus
Serverbid
Sovrn
works.

[2018-08-31 14:54] #2987 closed

[2018-08-31 14:56] headerbidding commented on #3039
Appnexus/Serverbid/Sovrn/Sonobi also works.

When I try to add the DistrictMDMZ adapter, i get the {"error":"Prebid file not built properly",

[2018-08-31 15:04] mkendall07 commented on #3039
This is because DistrictMDMX didn't name their file correctly. It won't work until they fix it properly.

[2018-08-31 15:06] mkendall07 commented on #3039
@stevealliance
Your bid adapter file needs to be named `districtmDMXBidAdapter.js`. The convention is `${bidderCode}BidAdapter.js`

[2018-08-31 15:13] mkendall07 commented on #2998
yeah I'm +1 on this.

[2018-08-31 16:41] JoyceBabu commented on #2242
How can I limit the requests when using AppNexus Prebid Server with AMP page, since we don't have access to `s2sConfig`?

[2018-08-31 18:01] carlosfelix commented on #3015
The purpose is to load an external script in charge of displaying the ad as a high impact ad unit (adhesion unit).

The 33across adapter will be responsable for the installation of the Renderer and the script URL will be provided on the 33across bid response.  

We already went through a proof of concept that uses the Renderer and a simple banner ad, it works, but most of references to the Rendere

[2018-09-01 21:53] headerbidding opened #3043 "Question: What has been your experience with Prebid Server-side header bidding?"
## Type of issue
Question

## Description
I am considering moving from Prebid client-side header bidding to Prebid server-side header bidding.

I have read that the advantages are shorter latency and the disadvantages are sometimes lower CPM (due to lowers cookie match rates)

What has been your experience so far with Prebid server-side header bidding?

[2018-09-03 15:27] #3010 closed

[2018-09-03 20:04] ReinoutStevens commented on #2927
You can pass the result of `buildUrl()` to google ima. You can find a simple example here: https://github.com/googleads/googleads-ima-html5/blob/master/simple/ads.js
replace the link of line 42 `adsRequest.adTagUrl` with the result of `buildUrl()`, and you should be good to go

[2018-09-04 05:33] RajasekarPR opened #3044 "'ix' unsupported bidder in prebid server."
Appnexus prebid server returns 'ix' as unsupported bidder.

Getting the below error when using below auction endpoint

400. Bad request

Error Message : Invalid request: request.imp[0].ext contains unknown bidder: ix. Did you forget an alias in request.ext.prebid.aliases?

Endpoint : https://prebid.adnxs.com/pbs/v1/openrtb2/auction

Kindly do the needful.

[2018-09-04 14:28] stevealliance commented on #3039
@mkendall07  Just to let you know I've updated the file it's on my open PR.

Thanks

[2018-09-04 15:43] akira28 commented on #2851
Is there any news on this issue? Any reason why the PR with the workaround was closed? Any other workaround without having to modify Prebid code?

Thanks!

[2018-09-04 16:02] mkendall07 commented on #3039
Thanks.
Linking here: https://github.com/prebid/Prebid.js/pull/3023/files

[2018-09-04 19:58] bretg opened #3046 "Prebid.js, UnifiedID, and other user IDs"
# Overview
UnifiedID is a way of establishing 'universal' user device IDs for web browsers instead of having dozens of exchanges sync IDs with hundreds of demand sources. The basic concept is that the UnifiedID organization stores a set of global IDs at several locations and each publisher using Prebid.js should be able to take advantage of UnifiedID to get better bids from supporting DSPs.

Note

[2018-09-04 20:21] #2961 closed

[2018-09-04 20:21] #2945 closed

[2018-09-04 20:21] #2929 closed

[2018-09-04 20:28] mike-chowla commented on #3046
@bretg What's your thinking about whether the default config is before the bid request or after?

For sync delay for bid request, is there a reason to have separate timer?  An option that keeps things simpler would be run the OpenID sync with the rest of the adapter syncs.

[2018-09-05 09:11] RajasekarPR commented on #3044
Any update on this ?

[2018-09-05 09:19] akira28 commented on #3044
Same here. This is preventing us implementing s2s on our website. This PR should solve the issue, but it was not merged for some reason: https://github.com/prebid/Prebid.js/pull/2916

[2018-09-05 10:13] RajasekarPR commented on #3044
By adding the below code in modules/prebidServerBidAdapter/index.js . I can able to resolve this issue.

if (bid.bidder === 'ix') {
aliases.ix = 'indexExchange';
}

Add the above the code after line number 412.

[2018-09-05 13:47] jaiminpanchal27 commented on #3015
@carlosfelix Renderer was designed to work with other formats too. Go ahead with your feature.

[2018-09-05 13:53] arikkfir opened #3049 "Unable to download Gambid bid adapter"
## Type of issue
Error downloading Prebid.js with the Gamoshi (gambid) bid adapter.

## Description
When downloading Prebid.js with `Gamoshi` bid adapter selected, the downloaded file looks like this:
[code]

## Steps to reproduce
1. Navigate to [Prebid.js download page](http://prebid.org/download.html)
2. Check the `Gamoshi` bid adapter check-box
3. Download the bid adapter.

### Expected results

[2018-09-05 16:33] jsnellbaker commented on #2937
The noted PR was reviewed/merged.  Closing this issue.

[2018-09-05 16:33] #2937 closed

[2018-09-05 16:39] jsnellbaker commented on #2138
@snapwich This should have been addressed per the PR that @thewizarodofoz noted.

Please review and close if we're good at this point.  Thanks!

[2018-09-05 16:53] bretg commented on #3044
https://github.com/prebid/prebid-server/issues/657 tracks a resolution on the Prebid Server side.

[2018-09-05 17:41] beth92 opened #3054 "Yieldmo adapter not setting creativeId"
## Type of issue

bug

## Description

In the interpretResponse function for this adapter, a `createNewBid` function is invoked which sets creativeId to response.creativeId. However, the response from the server has snake case, not camel case, so should be reading `response.creative_id`.

https://github.com/prebid/Prebid.js/blob/master/modules/yieldmoBidAdapter.js#L114

## Steps to reproduce

Set

[2018-09-05 18:10] bretg commented on #2959
Re-opening as #2990 is being reverted as it was a breaking change. Back the drawing board here.

[2018-09-05 18:36] rjvelicaria commented on #2938
Hi @thewizarodofoz,
I'll try and get a page for it.
I was using a v1.18.0 of prebid before but I'll try both versions to see if there's any changes.

[2018-09-05 21:08] scottalan opened #3055 "Update Minimum Node version"
## Type of issue

Bug

## Description

package.json shows:

[code]
but should probably be:

[code]

Error running: `gulp build-bundle-dev` (see Actual results)

The node version requirement:
https://github.com/prebid/Prebid.js/blob/1.23.0/package.json#L24

Support:
https://node.green/#ES2016-features-Array-prototype-includes

## Steps to reproduce

Install node v4.8.3 and npm v5.6.0
Run: `npx gulp

[2018-09-06 08:33] allanjun commented on #2747
hi @harpere @YOzaz
Per https://github.com/InteractiveAdvertisingBureau/GDPR-Transparency-and-Consent-Framework/blob/master/CMP%20JS%20API%20v1.1%20Final.md#vendorconsents
the command getVendorConsents should also return purposeConsents and vendorConsents

this is needed if the calls this command passing its vendorId as parameter

[2018-09-06 09:58] SimoneCrespi opened #3056 "CurrencyConversion Issue"
Hi,
I have a issue with currency conversion.
My DFP currency is $ and there is a bidder that give me a bidcpm in €
At the moment i have this error and aby keyvalue are passed to dfp
WARNING: Returning NO_BID, getCurrencyConversion threw error:  : params :  Error: Specified fromCurrency 'usd' not found in the currency rates file

Test page https://www.gqitalia.it/sport/motori/formula-1/2018/08/29/g

[2018-09-06 11:34] akira28 commented on #2922
As this has not been neither acknowledged nor solved marking it as stale doesn't seem to be correct. In my very humble opinion as this is affecting more than 1 user, I would rather add a label or something to avoid setting it stale (or close) until there's time from core devs or contributors to find a workaround or definitive solution. Just my 2 cents :)

[2018-09-06 14:46] jarrettabello opened #3057 "requestBids({timeout) / config.bidderTimeout does not update pbjs.cbTimeout value"
## BUG

## Description
pbjs.cbTimeout value equals 200 regardless of the configuration of the timeout via config.bidderTimeout or through requestBids({timeout: n) . Previously in at least 0.34 pbjs.cbTimeout would reflect the timeout configured per session/ auction

## Steps to reproduce
Attempt to set the auction timeout through either configuration or requestBids and compare against the pbjs.cbT

[2018-09-06 18:17] YOzaz commented on #2747
@allanjun theoretically yes, but practically all consents are encoded into consent string itself. More than that, method should accept vendor IDs and return consents only for requested.
In reality, this method call is used either by vendors themselves - which are fine with consent string only, either by CMP itself - which requires VendorConsents object to be populated in full, in order to display

[2018-09-06 18:39] rjvelicaria commented on #2938
codepen: https://codepen.io/anon/pen/MqEQrN?editors=1000

how it behaves on chrome v68:
![screen shot 2018-09-06 at 11 33 05 am](https://user-images.githubusercontent.com/25090246/45177915-20b3d780-b1c9-11e8-85e6-32389c541e1e.png)

how it behaves on firefore v61.0.2:
* for firefox, code sometimes works if it loads on the first time.  Try loading the same codepen again on another tab and check the

[2018-09-06 19:21] jaiminpanchal27 opened #3058 "POC: Implement Promises in Prebid core"
## Type of issue
Feature request

## Description
Implement Promises in Prebid core

[2018-09-06 20:07] arikkfir commented on #3049
@mmoses FYI.

[2018-09-06 20:27] #2984 closed

[2018-09-06 21:26] bretg commented on #3054
Merged #3053

[2018-09-06 21:26] #3054 closed

[2018-09-06 21:39] bretg commented on #3056
I don't see this page loading the currency rates file. In order to initialize the currency module, you need to set your ad server currency at a minimum. And a default rate is highly recommended:
[code]
I think this may work with Prebid-provided currency conversion file, but if not, you'll need to settle for a constant default rate or provide your own conversion file.

[2018-09-06 21:57] snapwich opened #3059 "Possible bug in 1.0 with `hb_deal` being replaced with `hb_deal_bidder`"
## Type of issue
possible bug

## Description
In the  1.0 update there were changes to targeting reflecting issues with `hb_deal` in #1574.  In [this](https://github.com/prebid/Prebid.js/issues/1574#issuecomment-330592311) comment the idea of adding `hb_deal_{bidder_code}` to the the standard keys was discussed and then implemented [here](https://github.com/prebid/Prebid.js/pull/1689/files#diff-d2

[2018-09-07 07:27] #2982 closed

[2018-09-07 12:44] thewizarodofoz commented on #2938
I submitted a pull request. It's not perfect because there will be a different behaviour between Chrome and Firefox in cross-domain situations, but I believe it's better than the current situation.

[2018-09-07 14:13] mkendall07 commented on #2482
This will be resolved when #2971 is merged

[2018-09-07 14:37] bretg commented on #3046
Discussed with some members of OpenID consortium and RubiconProject internal. Changed:
- Switched default to opt-in
- Added `delayAuctionStart` option as more clearly defined behavior
- made openId config a child of usersync so they can share syncDelay. (thanks @mike-chowla)

[2018-09-07 14:50] bretg commented on #3057
@jarrettabello - have you checked this recently? cbtimeout being set to 200 was removed in https://github.com/prebid/Prebid.js/pull/3028

[2018-09-07 14:53] jarrettabello commented on #3057
Thanks @bretg our application is running v.1.180, so no. Sorry for the duplication.. I searched the project for cbTimeout and didn't find any issues. Shimmed that app for now. Thanks again!

[2018-09-07 14:53] #3057 closed

[2018-09-07 16:17] mkendall07 commented on #3046
Looks like a great start - thanks Bret!

1. Suggest we rename `delayAuctionStart` to something like `maxDelayToAuction` - indicating that we will trigger the auction ASAP if we get a quick response from openID or until max time is hit.
2. Should we make this more generic to support other universal formats? I think the attributes are generic enough - we can stick the config into an array:
[code]
No

[2018-09-07 16:21] mkendall07 opened #3061 "Deprecate `pbjs.setConfig({ cookieSyncDelay: 100 )`"
## Type of issue
Deprecation (API impact)

## Description
We have 2 ways to set cookieSyncDelay.
1) `pbjs.setConfig({ cookieSyncDelay: 100 )`
2)
[code]
We should remove option 1 since we have more configuration options now with the `userSync` object

[2018-09-07 16:28] mkendall07 commented on #3046
+1 to Rich's comment. I think we can cover pubCommonId with the proposed structure above.

[2018-09-07 19:47] bretg commented on #3046
thanks for the input. Description updated:
- 'universalIds' is an array under usersync
- supported only if the module is loaded

[2018-09-07 21:40] mkendall07 commented on #3049
@arikkfir
this is working for me. Please try again?

[2018-09-07 21:53] bretg commented on #3042
Would like to get some feedback from folks on whether the default behavior for bid caching should be on or off.

[2018-09-07 22:12] arikkfir commented on #3049
That's odd, it does work now.

It definitely did not work on Thursday (tried multiple times). Since I actually received a JSON file containing an error from Prebid (see description), I'm guessing some kind of temporary downtime of the JS custom-builds server?

[2018-09-07 23:06] mkendall07 commented on #3049
Yeah we have an issue with the download page. It has to be manually addressed every time we have a release

[2018-09-07 23:06] #3049 closed

[2018-09-10 13:12] florevallatmrf opened #3065 "Secure Creative resize works only in quirks mode"
## Bug

## Description
When using the secure creative flow, the creative resizing works only when the browser is in quirks mode (ie without a `<!DOCTYPE html>` at the beginning of the document).
## Steps to reproduce
1. Setup header bidding for an adslot
2. Serve the target Admanager creative as a safeframe, size 1x1
3. Request the creative from prebid using post message
4. The creative is receive

[2018-09-10 13:30] muuki88 commented on #3065
@florevallatmrf nice to see people using safe frames. Have encountered any other issues with prebid and safe frames so far?

[2018-09-10 18:55] mkendall07 commented on #2242
@bretg
can this be closed?
@JoyceBabu
This isn't applicable to AMP since prebid.js doesn't load. Thanks

[2018-09-10 18:58] #1206 closed

[2018-09-10 19:00] #1486 closed

[2018-09-10 19:00] #1539 closed

[2018-09-10 19:04] #2138 closed

[2018-09-10 19:04] #2176 closed

[2018-09-10 19:06] #2295 closed

[2018-09-10 19:08] #2304 closed

[2018-09-10 19:08] #2341 closed

[2018-09-10 19:13] #2431 closed

[2018-09-11 06:39] florevallatmrf commented on #3065
No, we haven't used them in production yet, for now the resizing has been my biggest pain!

[2018-09-11 14:59] #3059 closed

[2018-09-11 15:16] muuki88 commented on #3065
Thanks for sharing @florevallatmrf :hugs: We haven't rolled out any safe frames as well, because we are very uncertain how advertisers react (especially with cookie syncing, etc.).

[2018-09-11 15:40] haroldpussat commented on #2854
FYI, we built our own Prebid.js including encodeURIComponent on native key (impact on utils.js and targeting.js). So that we can decode them on DFP Native style and use a document.write to render the native ad.
We also update DFP lineItems so that we can receive SendallBids-> false.
Our custom Prebid.js is live on one of our production site with one native position : https://rennes.maville.com/ .

[2018-09-11 21:28] jaiminpanchal27 opened #3072 "getTopWindowLocation, getTopFrameReferrer, getAncestorOrigins will be deprecated soon"
## Type of issue
Feature

## Description
We have added referer detection module #3067 here.
We will be deprecating getTopWindowLocation, getTopFrameReferrer, getAncestorOrigins methods from utils.js

[2018-09-11 23:04] headerbidding commented on #3043
I don't see much enthusiasm about server-side header bidding.
One of my ad networks (District M) suggested it.
Is it worth doing?

[2018-09-12 01:43] ZLester commented on #3055
There are only two occurrences of `.includes` in the build process that break compatibility with v4.0.0 – I'd probably advocate for their replacement with an equivalent `.indexOf` to maintain compatibility with a wider range of Node versions (including lts/argon) rather than bumping up requirements.

[2018-09-12 08:08] RajasekarPR opened #3075 "502 Bad Gateway - prebid.adnx.com"
Getting the below error message.

![image](https://user-images.githubusercontent.com/39621436/45411110-09755e00-b691-11e8-80fd-5cae0432f0f5.png)

Kindly do the needful.

[2018-09-12 09:50] paulm999 opened #3076 "IE11 - Crytpo is undefined"
## Type of issue
Bug

## Description
When using the consent module in prebid on ie11 or earlier, the auction fails to run as it throws a 'crypto' is undefined error.

## Platform details
Prebid.js 1.22 , 1.23

[2018-09-12 10:17] paulm999 commented on #3076
Dropping this into prebid.js appears to fix this:
var crypto = window.crypto || window.msCrypto;

[2018-09-12 10:18] DavideMoney opened #3077 "Question regarding creative on DFP"
## Type of issue

question

## Description

looking at
http://prebid.org/adops/step-by-step.html#step-2-add-a-creative

what is the purpose of the for loop?
`for (i = 0; i < 10; i++) {...`

My guess is that window parent is not always immediately accessible  so it is a sort of retry mechanism.
Am I correct?

Any drawback if instead of 10 i put it at higher value (ex. 1000)?

I have a page with man

[2018-09-12 12:57] jsnellbaker commented on #3075
Hi @RajasekarPR - it seems there was an issue with a PBS release that was rolled out yesterday.  We've rolled back the change a little while ago, so the problem should be clearing up.

Please let me know how it's looking on your end.

[2018-09-12 14:30] jsnellbaker commented on #3076
@paulm999 Do you have a test page available where I can see this error occur?

[2018-09-12 14:38] jsnellbaker commented on #3077
@DavideMoney
The for loop in that code helps it climb any nested friendly iframes in order to find/access the prebid code on the page.  For example, if your ad was nested in 3 levels deep - the loop would likely iterate 3 times looking at the new `parent` window of each successive iframe until it found the prebid code.

In regards to the issue you mentioned, you could try to increase the value but

[2018-09-12 14:51] paulm999 commented on #3076
Yes, not a test page as such, as it's our live site but: https://www.netweather.tv/

[2018-09-12 15:09] GeneGenie opened #3079 "Question - Why targetingSet bids are marked as UsedBids?"
Hello guys.

It's understandable when Rendered bids are filtered during an auction on the same unit, but why targetingSet bids also filtered? Is it made intentionally? What is the logic behind this?
I can imagine following scenario:
targetingSet bid has lost in DFP auction so let's take another ad maybe it wins!?

But if next bid has even less cpm then already targetingSet bid?

Thank you

[2018-09-12 15:41] paulm999 commented on #3076
Actually, I think this is related to another module, not consent. I'll reach out to the authors of that.

[2018-09-12 15:46] jsnellbaker commented on #3076
Hi @paulm999 Thanks for update; please confirm when you can.  I'm continuing to double-check on our end just in case.

[2018-09-12 15:57] GeneGenie commented on #3077
@DavideMoney
The simplest way to check why ad is empty open chrome inspector and network panel, search for /gampad   and look at the response, does ad contain "renderAd" text

[2018-09-12 16:02] GeneGenie commented on #3076
This repo does not contain any crypto usage

[2018-09-12 16:06] smartbidder1 opened #3081 "UnderdogMedia creative ID issue"
## Type of issue
bug

## Description
when requesting an ad from UnderdogMedia bidder the response doesn't contain a unique creative ID.
it looks like all of the creative ID's returned from UnderdogMedia are one of those:
40112,40113,40114,40115,43494,43495,43496,43597,43726,44036,44038,44039

I can see that a lot of your ads are coming from Rhythmone, and they *do* give a unique ad ID when you sen

[2018-09-12 18:46] harquail commented on #3054
Thank you very much @beth92 !

[2018-09-12 21:33] #3006 closed

[2018-09-12 21:56] nodeful commented on #2689
Haven't seen these errors lately. Thanks for looking into it. Closing

[2018-09-12 21:56] #2689 closed

[2018-09-13 01:03] ZLester commented on #3041
Fixed by https://github.com/prebid/Prebid.js/pull/3066/commits/ef801ae348968223784b09e641f79391b9f16e5b, this can be closed

[2018-09-13 01:12] #3041 closed

[2018-09-13 08:04] DavideMoney commented on #3077
@jsnellbaker Now I get the recursion mechanism, i thought at first it was another thing, now reading the snippet it makes perfectly sense.

@GeneGenie  TY for the answer.

I'm using a custom creative based on the standard prebid code and the solution to my issue was a reference to the wrong parent frame.

Anyway thank you

[2018-09-13 08:04] #3077 closed

[2018-09-13 09:55] cwbeck opened #3088 "Node version issue"
What is wrong with v10.4.1? It was working perfectly for Prebid < 1.24

[code]

[2018-09-13 14:43] RajasekarPR opened #3089 "Gourmet Ads Bid adapter name"
Bid adapter adapter name for gourmet ads bidder ?

I am getting unknown module for this.

Kindly do the needful.

[2018-09-13 15:26] RajasekarPR commented on #3089
Thanks .

[2018-09-13 16:10] mkendall07 commented on #3004
it extends the time that bidders have to return a bid after the auction closes. It's used to offset the "time slippage" of the `setTimeout` behavior in browsers.

[2018-09-13 16:16] dugwood opened #3091 "Auction ends prematurely [1.24.0]"
## Type of issue
Bug

## Description
After updating from 1.23.0 to 1.24.0 a drop in revenues occurred.

## Steps to reproduce
Upgrade to 1.24.0 and look for the auction's end. If you have some debug, you'll see that auction ends before some valid bids.
Note that reading the releases' page didn't show any new parameter involved.

## Test page
No test page as I've reverted back to 1.23.0 in producti

[2018-09-13 16:18] jaiminpanchal27 commented on #3091
@dugwood Can you share the url of the page ?

[2018-09-13 16:21] dugwood commented on #3091
@jaiminpanchal27 I've reverted back... I'll try to setup one, I'll let you know.

[2018-09-13 16:33] dugwood commented on #3091
@jaiminpanchal27 for a limited period of time:
https://www.lacoccinelle.net/prebid.html?20190916#debug-ads-for-skyboard-670168053

You should see some debugs, hide the «Zone 17980» and just focus on «Zone 438».

For example I can see:
![image](https://user-images.githubusercontent.com/5517743/45501977-09ee2180-b783-11e8-831b-ffbb53baf538.png)

=> here AppNexus answers within the 2000ms timeout, bu

[2018-09-13 16:45] bretg commented on #2242
Closing - thanks.

[2018-09-13 16:45] #2242 closed

[2018-09-13 17:00] bretg commented on #2851
There's an issue over on Prebid Server -- https://github.com/prebid/prebid-server/issues/657

Suspect that's why the PBJS-based solution was closed

[2018-09-13 17:01] dugwood commented on #3091
Numbers in gray are the time in milliseconds.

To enable Prebid debug, use the following url:
https://www.lacoccinelle.net/prebid.html?20190916#debug-ads-for-skyboard-670168053&pbjs_debug=true
(as GET parameters are forbidden)

[2018-09-13 17:09] jaiminpanchal27 commented on #3091
@dugwood Thanks. Checking now

[2018-09-13 18:59] muuki88 commented on #3013
If there's no interest, I'll close this issue 😥

[2018-09-13 19:50] jsnellbaker commented on #3089
@RajasekarPR  `gourmetads` is one of the aliases for the `appnexusBidAdapter`.

See here:
https://github.com/prebid/Prebid.js/blob/master/modules/appnexusBidAdapter.js#L33

If you include the `appnexusBidAdapter` module when you're building Prebid.js - you should be good to use it.

[2018-09-13 21:10] bretg commented on #2957
I think the instream issue should be cleared up with 1.24 and #3082.

Will check out the outstream issue... don't see why that error should be appearing.

[2018-09-13 21:57] jaiminpanchal27 commented on #3091
@dugwood Found the bug. We will do the patch release tomorrow. Thanks for contribution.

[2018-09-14 04:50] RajasekarPR commented on #3089
@jsnellbaker Thanks. Done .

[2018-09-14 10:21] RajasekarPR opened #3093 "Getting console error messages for Prebid.js (1.22.0)"
![image](https://user-images.githubusercontent.com/39621436/45544780-e932d400-b835-11e8-82ae-af98c86d45b3.png)

I am getting the above error message when debudding the prebid.js in console.

Kindly do the needful.

[2018-09-14 11:18] #3089 closed

[2018-09-14 16:59] ZLester commented on #3088
When installing via `yarn` with no `yarn.lock` I resolve `upath@1.0.5`, which is compatible with Node v10. As Prebid doesn't commit a `yarn.lock`, try rebuilding your local `yarn.lock` and see if that solves the issue. If all else fails, you can use `yarn config set ignore-engines true`.

[2018-09-14 17:03] curlyblueeagle opened #3095 "Question from 33Across: User Sync in Safari"
## Type of issue
Question

## Description
Is user sync not supported for Safari? In our tests and live publisher pages we find no logs related to it in the console, nor when looking at network traffic. Also, this line of code suggests that user sync has been deliberately turned off https://github.com/prebid/Prebid.js/blob/0c4b815542c3b7dc166a8d3f961c8284518d294c/src/userSync.js#L268 If so, can we

[2018-09-14 17:10] jaiminpanchal27 commented on #3093
@RajasekarPR These are not Prebid errors. Prebid core has provided user sync feature to all bidders to drop pixels.

[2018-09-14 17:10] #3093 closed

[2018-09-15 06:45] dugwood commented on #3091
Thanks @jaiminpanchal27, it seems to work much better:
https://www.lacoccinelle.net/prebid.html?20190916#debug-ads-for-skyboard-670168053&pbjs_debug=true

[2018-09-17 13:46] #3091 closed

[2018-09-18 12:00] razorlegacy opened #3101 "Prebid.org download page - Prebid.js 1.24.1 wrong filesize"
## Type of issue
Bug
Prebid.js 1.24.1 filesize is 91 bytes when I click download.

## Description
Prebid.js 1.24.1 filesize is 91 bytes when I click download.

## Steps to reproduce
Selected Fidelity, Openx, Pollux, Sovrn, and Underdog Media. Also selected modules GDPR and Common Publisher ID. I then click download and the file downloaded is only 91 bytes in size.

## Test page
{"error":"Prebid fi

[2018-09-18 13:14] jsnellbaker commented on #3101
@razorlegacy Thanks for reporting this; we're looking into it.

[2018-09-18 14:34] lucop1 opened #3102 "Rubicon Analytics adapter missing from Download Page"
I would like to download the Prebid.js file including the Rubicon Analytics Adapter but the option is not available in the download page.
The module is however present in the modules folder in github.

[2018-09-18 18:00] #3039 closed

[2018-09-18 19:04] bretg commented on #2957
Figured it out.

Rubicon does not return a renderer. The publisher must supply a `renderer` in the adunit. See http://prebid.org/dev-docs/show-outstream-video-ads.html

            var adUnits = [{
                code: 'video1',
                mediaTypes: {
                    video: {
                        playerSize: [640, 480],
                        context: 'outstream'

[2018-09-18 19:04] #2957 closed

[2018-09-18 21:40] #2944 closed

[2018-09-18 22:40] #2820 closed

[2018-09-19 08:46] #3008 closed

[2018-09-19 12:36] jsnellbaker commented on #3101
@razorlegacy The issue with the download page should be fixed at this time.  Please let us know if you're experiencing any further trouble.

[2018-09-19 14:53] #3101 closed

[2018-09-19 18:45] mkendall07 commented on #3088
I believe there was a build issue with node > 10 so that's why we added the engines file. Feel free to use the workaround though if it's working ok for you.

[2018-09-19 18:45] #3088 closed

[2018-09-19 19:44] jarrettabello opened #3105 "Change in Bid result type mix after Prebid version update"
## Type of issue
Question

## Description
Upgrading from Prebid version 0.34 to 1.18 immediately impacted our mix of bid results

![screen shot 2018-09-19 at 3 32 26 pm](https://user-images.githubusercontent.com/2837550/45776832-2a562a00-bc22-11e8-9d66-75dc0174f77f.png)

I have not been able to find any information on the subject and I am wondering if anyone has any insight as to a methodology cha

[2018-09-19 20:28] mkendall07 commented on #2964
We'd also like help! Feel free to comment on the other thread or start development if you'd like :) just let us know what you'd be interested in contributing. Thanks!

[2018-09-19 20:28] #2964 closed

[2018-09-19 20:31] mkendall07 commented on #3079
it's done intentionally so we don't send 2 bids to DFP for the same ad.
For example:
1st auction sets targeting for bids to DFP
DFP takes a long time to respond
meanwhile, the publisher runs a 2nd auction and set's targeting again. If DFP decides to pick the ad from the 1st auction here we will possible try and render it twice.

[2018-09-19 20:31] mkendall07 commented on #3079
at some point (after DFP renders - and the bid didn't win) we should release those bids that are marked as used, but that's not implemented yet.

[2018-09-19 20:33] mkendall07 commented on #3105
@jarrettabello
can you explain how you are measuring the bid results?

[2018-09-19 20:39] mkendall07 commented on #3095
It is turned off for safari yes. Safari has long blocked 3rd party cookies by default and with the latest ITP that is built into Safari any workarounds to store data in a 1st party context is also blocked. You can read more about ITP here if you want: https://webkit.org/blog/8311/intelligent-tracking-prevention-2-0/

So in summary we prevent user syncs because they wouldn't work in Safari anyway.

[2018-09-19 20:39] #3095 closed

[2018-09-19 20:47] mkendall07 commented on #3044
I pinged index on this - they are going to fix.

[2018-09-19 20:49] mkendall07 commented on #2922
Can you dig into the issue a bit more? What's the exact problem?

[2018-09-19 20:51] mkendall07 commented on #2303
closing this out since no one has picked up on the work

[2018-09-19 20:51] #2303 closed

[2018-09-19 20:51] #2421 closed

[2018-09-19 20:51] #2482 closed

[2018-09-19 20:52] #2486 closed

[2018-09-19 20:52] #2515 closed

[2018-09-19 20:54] mkendall07 commented on #2547
@ix-prebid-support
Please see the new referer detection module for support. https://github.com/prebid/Prebid.js/blob/master/src/refererDetection.js#L130

[2018-09-19 20:54] #2547 closed

[2018-09-19 20:58] mkendall07 commented on #2730
@jsnellbaker
Is this still applicable with gulp-cli ? My sense is yes but you're the expert here.

[2018-09-19 21:00] mkendall07 commented on #2746
I'm closing since it doesn't benefit anyone from sitting in the github issue queue and the prebid core team is unable to do anything to fix it.

@smartbidder1  feel free to open an issue directly with Komoona

[2018-09-19 21:00] #2746 closed

[2018-09-19 21:02] mkendall07 commented on #2822
@GLStephen any updates on this?

[2018-09-19 21:04] mkendall07 commented on #3044
closing as duplicate of https://github.com/prebid/Prebid.js/issues/2851

[2018-09-19 21:04] #3044 closed

[2018-09-19 21:06] mkendall07 commented on #2859
closing this in favor of https://github.com/prebid/Prebid.js/issues/3046
Bret I think we should figure out how to put this into a module still.

[2018-09-19 21:18] #2859 closed

[2018-09-20 01:11] jarrettabello commented on #3105
@mkendall07 I figured it out. Prior to 1.x Prebid registered non-bids. Post 1.x non-bids are not registered at all. This change affected my analytics logic. Going to have to re-write with bidderDone event after a long day of research!

[2018-09-20 01:11] #3105 closed

[2018-09-20 08:02] polapi opened #3108 "Automatic detection of placement's size question"
## Type of issue
Question

## Description
A partner I work with uses "smart" way to automatically detect size of ad. So you don't need to create "creatives" of all possible sizes and choose them at specific resolutions. To detect size of current ad slot they use common set of ad unit's sizes and sizesSupported of label. It seems to me that's wrong approach which results in ads of wrong size displa

[2018-09-20 14:34] ReinoutStevens opened #3111 "Pubmatic destroys bid sizes"
## Type of issue
Bug

## Description

Since Prebid 1.18 Pubmatic supports multi-size adslots ( https://github.com/prebid/Prebid.js/pull/2887 ). When passing an adslot without '@widthxheight' the sizes of the `mediatypes.banner.sizes` is used. Pubmatic bid adapter destructively modifies this array, messing up other adapters (in our case `ixBidAdapter`).

The offending line is [L266](https://github.

[2018-09-21 12:54] jsnellbaker commented on #2730
@mkendall07 I tested this out and it's still a problem even with the changes we implemented with `gulp 4` and `gulp-cli`.

The `gulp-cli` is just the command-line interface for gulp.  We still need a 'local' version of `gulp` installed in the project folder in order to process/handle the commands.  However it's not inclusive to just the `gulp` package; it seems we'd need to include all the package

[2018-09-21 12:57] renebaudisch commented on #2730
Hi, isn't it possible to solve this by using peer dependencies? => https://nodejs.org/en/blog/npm/peer-dependencies/

[2018-09-21 13:40] iseriousnoob opened #3114 "`npm run test` is not working after update to version 1.24.1"

[2018-09-21 13:54] GLStephen commented on #2822
@mkendall07 PR is incoming

[2018-09-21 15:18] Slind14 opened #3115 "[Feature] Streamlined Buyer and Brand Id's"
## Feature
From a publisher perspective it would be great to get access to the buyer and brand id's. A couple of major exchanges (AppNexus, Rubicon, Index..) are already exposing this data but do not follow a common syntax.

### Current Situation:

**AppNexus** (1.x pbjs bid object)
![image](https://user-images.githubusercontent.com/3914677/45889592-244a7f80-bdc1-11e8-819e-e8ce9102e8f6.png)
**Rubi

[2018-09-24 18:37] mkendall07 commented on #3115
Probably should rename `domain` to `clickUrl` since that's closer to the industry name.

[2018-09-24 18:40] Slind14 commented on #3115
Does clickUrl always refer to the "landing page" or to the tracking pages in between as well?

[2018-09-24 18:50] mkendall07 commented on #3115
It depends. Some SSPs will use 2 separate URLS and some combine them (daisy chains style).

[2018-09-24 18:57] dbemiller opened #3120 "Send TTL to Prebid Cache"
## Type of issue
Feature request (optimization)

## Description
In Prebid.js, Adapters must return a Bid TTL. Once this elapses, bids are no longer valid.

Prebid.js also [uses Prebid Cache](https://github.com/prebid/Prebid.js/blob/master/src/videoCache.js#L123) to store Video bids temporarily. Prebid Cache provides a URL which returns the VAST XML, so that it can be sent to Video players.

In htt

[2018-09-24 19:33] #2491 closed

[2018-09-24 19:37] jsnellbaker commented on #2730
@renebaudisch Can you elaborate on how peer dependencies would help the situation?  I'm not sure I see the benefit here.

[2018-09-24 20:42] lanceloti commented on #2957
It make sense, but Rubicon's adResponse is completely different from AppNexus, so I'll need to handle this case by case, right?

Thanks.

[2018-09-24 20:42] #2927 closed

[2018-09-25 08:02] renebaudisch commented on #2730
@jsnellbaker I ain't so familiar with this peer dependency stuff but as far as I understood this type exists to install modules mandatory for other included modules. So if I install prebid.js as modul and there are peer dependencies these packages get's installed also, but I'm not sure I understood correctly. I would do a PR if I would be sure about that :)

[2018-09-26 07:22] RajasekarPR opened #3126 "'Promise' is Undefined in IE11"
getting the below error in IE11, because of this no ad's are loading in the page.

'Promise' is undefined.

![image](https://user-images.githubusercontent.com/39621436/46063635-05fece00-c18b-11e8-9850-539e07c435b3.png)

Kindly do the needful as soon as possible.

[2018-09-26 10:16] ddagino opened #3127 "Number of user syncs exceeded for "aol""
## Type of issue
Bug

## Description
After updating Prebid.js to v1.25.0, I'm seeing the following warning message in the console with `pbjs_debug` turned on: `WARNING: Number of user syncs exceeded for "aol"`

I see the aolBidAdapter underwent a refactoring to give it native user syncs support. I'm new to Prebid.js and I don't know really understand what that means and whether this is a bug or a

[2018-09-26 13:09] vi-oder-was opened #3128 "YieldlabBidAdapter is not using bidRequest.params.adSize as customsize in bidResponse"
## Type of issue
Bug

## Description
The customsize is not used within the bidResponse. Instead it uses the primary size of the array bidRequest.sizes.

## Steps to reproduce
see screenshot below

## Test page

### Expected results
The bidResponse should use the bidRequest.params.adSize as width and height for the response.

### Actual results
The bidResponse contains the wrong size and doesn't ma

[2018-09-26 15:04] jsnellbaker commented on #3111
This particular issue has been fixed at the adapter level; I will open a new issue for a fix at the core level to avoid this issue happening again accidentally with other adatpers.

[2018-09-26 15:04] #3111 closed

[2018-09-26 15:15] #3015 closed

[2018-09-26 15:32] jsnellbaker opened #3130 "adapters can indirectly manipulate shared bidRequest object"
## Type of issue
Bug

## Description
The global `bidderRequest` object was being accidentally manipulated by an adapter who spliced the `sizes` array while they were modifying the data for their request.  The splice caused the `sizes` array to drop one of the sizes for other adapters because the change carried through to the original object, which is not ideal.

A temporarily local fix was introdu

[2018-09-26 17:10] kizzard commented on #3127
I don't *think* this is a bug - it's most likely that our bid responses contain more sync pixels than configured as the max in your config (5 default), so the adapter is trying to drop more than allowed (maybe someone from Prebid core can confirm that's what this message means). In theory it shouldn't be a problem, as we detect which pixels did not trigger and try to drop them again later.
cc @vzh

[2018-09-27 13:24] drdmitry opened #3137 "When bidRequests is empty, an error occured: numRequiredCalls must be a positive number. Got 0"
## Type of issue

Bug

## Description

When no sizesSupported are available requestBids throws an exception

## Steps to reproduce

1) sizeConfig = [{
  "mediaQuery": "(min-width: 801px)",
  "sizesSupported": [
    [800, 250],
    [970, 250]
  ],
  "labels": ["label-ad"]
}, {
  "mediaQuery": "(min-width: 0px) and (max-width: 800px)",
  "sizesSupported": [],
  "labels": ["label-ad"]
}]
2) running o

[2018-09-27 14:05] h2652797 commented on #2764
I get this same issue. In short, bids are received, but c82572e commit causes no bids to be sent to the ad server, and getAdserverTargeting() is empty. This happens with the latest version of Prebid (v1.25.0).

[2018-09-27 18:33] mike-chowla commented on #3046
@mkendall07 I think it's worth making the mechanism generic enough to support multiple providers given that's far from clear which id providers publishers will want to use, especially with AppNexus leaving the Advertising ID Consortium

[2018-09-27 18:37] mkendall07 commented on #3046
@mike-chowla  yes Bret updated the proposal to be generic.

[2018-09-27 22:34] #3056 closed

[2018-09-28 13:02] nanek opened #3138 "Appnexus outstream expects the Prebid adUnitCode to match div id"
## Type of issue
Feature request.

## Description
Appnexus outstream expects the Prebid adUnitCode to match the div id of the ad unit. Can we make this a configuration setting instead?

https://github.com/prebid/Prebid.js/blob/master/modules/appnexusBidAdapter.js#L480

## Steps to reproduce

Currently we use our DFP ad unit identifier as our Prebid.js adUnit code and a different id for the div id

[2018-09-28 19:54] jsnellbaker commented on #3130
Fixed with the above PR.

[2018-09-28 19:54] #3130 closed

[2018-09-28 20:16] #3128 closed

[2018-09-28 22:35] harpere commented on #3127
that is correct.  for performance reasons we limit the number of syncs.  But the publisher can configure this as they want.  see http://prebid.org/dev-docs/publisher-api-reference.html#setConfig-Configure-User-Syncing
closing.  please re-open if necessary.

[2018-09-28 22:35] #3127 closed

[2018-10-01 18:16] jaiminpanchal27 commented on #2971
This is done.

[2018-10-01 18:16] #2971 closed

[2018-10-01 20:43] aneuway2 opened #3144 "Gulp - Cannot read property 'apply' of undefined"
## Type of issue
bug

## Description
I've recently updated my forked code with the master code here and i'm having issues getting gulp to run:

[code]

## Steps to reproduce
[code]

### Expected results
Build is inititated through gulp

### Actual results
TypeError

## Platform details
NPM: 3.10.8
OS: Ubuntu 14.04.5 LTS
Node: 6.9.1
Gulp CLI version 3.9.1
Gulp Local version 4.0.0

[2018-10-02 06:38] YOzaz commented on #3144
This needs to be mentioned in the docs.
New build needs `gulp-cli` installed.
[code]
More here: https://github.com/gulpjs/gulp-cli/issues/84.

[2018-10-02 10:10] phtechno commented on #3128
Hello everybody,
we need a posibility to handle different adsizes between the adslots and the response. Like "Sitebars" in our case. We have two adslots for "Sitebars" (responsive) and for "HalfpageAds" (300x600). Both have the slot size 300x600, but we can not differentiate if we have no indicator (like adsize) to do that.
Exactly for this case we need this bug as a feature to give the responsive

[2018-10-02 11:51] vi-oder-was commented on #3044
@mkendall07 We're currently facing the same issue and need a solution for this. Please can you clearify what's the solution on this?

[2018-10-02 13:15] jsnellbaker commented on #2730
Hi @renebaudisch

Sorry for the delay here.  From my understanding - peer dependency is mainly used to ensure that the needed packages (eg gulp) are at the same version level as used in your main project.  If you main project needed gulp 3.9.1 and Prebid.js needed gulp 4 as a peer dependency - when the install process happens, it'll try to check/enforce the same version and (in this case) it'll co

[2018-10-02 15:13] aneuway2 commented on #3144
Thanks @YOzaz -- I ran into issues running that on the existing code i had.

Was able to blow it away and then git clone and run this successfully:
```npm install && npm i -g gulp-cli```

[2018-10-02 15:13] #3144 closed

[2018-10-02 16:18] #3065 closed

[2018-10-03 12:44] spormeon commented on #1039
where do you have to change the height and width to auto to get this to work?

[2018-10-03 16:35] nanek opened #3155 "Native ad key-value pairs passed to DFP contain values with characters that are not supported by DFP"
## Type of issue
Bug

## Description
Native ad key-value pairs passed to DFP contain values with characters that are not supported by DFP.
https://support.google.com/admanager/answer/1697712?hl=en under `Rules and limitations around key-values in GPT ad tags` indicates `The values of key-values cannot contain any of the following special characters: " ' , = ! + # * ~ ; ^ ( ) < > [ ] `

This mostly

[2018-10-04 16:51] wqi1972 commented on #3155
We got the same problem about 2 months ago when setup native ad. And the problem is more than just ```=```, ```;``` is also an issue if you want to use DCM url as landing page url.
Current workaround we use is: enter encoded values inside APN console (for url, you need keep the domain as it is, and only encode the query string part, otherwise it won't pass APN validation), and inside the dpf nativ